[2019-05-16 18:52] StefH commented on #275
You have **Microsoft.AspNetCore** version 2.2.0 ?

[2019-05-16 18:54] StefH commented on #275
I did a quick test with Microsoft.AspNetCore version 2.2.0 (added to https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.Console.NETCoreApp2) and it works ok.

[2019-05-21 11:33] ElSiipo commented on #275
I hope it's fine that I piggyback on this thread.

I have a issue with getting the server to start (on _.NET Framework 4.7.2_), which started to occur while migrating from EntityFramework to EntityFramework Core.
I'm constantly getting the following exception when trying to run `httpClient.PostAsync(...)`

We had no problems with this before starting to migrating to EF Core.
When inspecting the se

[2019-05-21 14:56] StefH commented on #275
Can you provide a example project ?

[2019-06-03 06:39] codeplayer14 opened #276 "No server response in Postman and Receive Failure in Fiddler"
I'm using the following code

[code]

On hitting this with Postman or Fiddler I get no response. The server is started as mentioned below. I also face the same issue when I start it with Admin interface and try to access one of the admin routes.
From the Immediate Window, this is the status of the fms variable
[code]

[2019-06-03 06:55] StefH commented on #276
After your start code, can you try to add this code?
[code]

[2019-06-03 07:01] codeplayer14 commented on #276
I tried. Same result. I was using a while(true) loop before to block the thread. Switched it with your code. But the result is still the same.

[2019-06-03 07:29] StefH commented on #276
Note that when you start the server like this, a random port is used.
If you want to fix the port, use:
[code]

[2019-06-03 07:33] codeplayer14 commented on #276
Yeah.  But that's not the issue I'm facing. I've been getting the port from fms.Ports and using it in the request. However, I don't get a response.

[2019-06-03 08:00] StefH commented on #276
You are sending a POST request ?

(Can you also export the Postman request so that I can re-play this on my machine?)

[2019-06-03 08:05] codeplayer14 commented on #276
Yes I'm using a POST request. Attaching the Postman request.

[Wiremock.net Test.postman_collection.zip](https://github.com/WireMock-Net/WireMock.Net/files/3246465/Wiremock.net.Test.postman_collection.zip)

[2019-06-03 08:24] StefH commented on #276
I'm using this code (tested in Linqpad):
[code]
![image](https://user-images.githubusercontent.com/249938/58787227-a85c3480-85e9-11e9-90eb-76403a4fde83.png)

And Postman works fine:
![image](https://user-images.githubusercontent.com/249938/58787258-bc079b00-85e9-11e9-860b-ad744638356c.png)

[2019-06-03 09:30] codeplayer14 commented on #276
Okay. Thanks. Turns out I was missing one of the dependencies! :/

[2019-06-03 09:30] #276 closed

[2019-06-06 19:01] AlexanderDorofeev opened #279 "How to simulate disconnect?"
Hi!
I'm trying to figure out how to close connection in the middle of a request.
[code]
Request with such configuration will be successful. Am I missing something that will cause a connection to terminate?
Thank you

[2019-06-07 15:59] StefH commented on #279
You could maybe also throw an exception?

[code]

[2019-06-10 06:07] victorherrerocazurro opened #280 "Static Mapping Not work"
Hello, my name is Victor, I am trying to put the Wiremock.net library in a project, and I am following the documentation and the examples, but I can not make the static maps work, for example I focused on the WireMock.Net example. Console.NETCoreApp2 of the github repository, I have tried to access the resource

http: // localhost: 9091 / static / mapping

what is mapped in the file

__admin / map

[2019-06-10 15:33] ashby-bowles opened #281 "Wiremock not compatible with Newtonsoft.Json ver 11.0.2"
In our project we are using Xamarin UI tests which locks us to Newtonsoft ver 11.0.2 and we are running into an error when the MockServer is started. The exception is below. We have attempted to use an explicit reference to a newer reference of Newtonsoft but this does not help. Any guidance would be greatly appreciated.

[code]

[2019-06-11 09:03] megha222 commented on #275
I get a file not found error deep within kestrel server start. It is a also a silent fail so although the mock server starts, it doesnt respond to any requests on the port.

[2019-06-14 15:08] AlexanderDorofeev commented on #279
Thank you. This worked. But I've discovered, that some retries are done by-default in HttpClient. So, if sombody like me, is testing against custom retry policies, then there should be a delay to exhaust standard retry. This delay works for my case
[code]

[2019-06-14 15:08] #279 closed

[2019-06-15 08:34] StefH opened #283 "Support equal-sign in query"
https://stackoverflow.com/questions/55580722/wiremock-net-query-parameter-with-soql-query

[2019-06-15 08:34] StefH commented on #283
https://github.com/WireMock-Net/WireMock.Net/commit/f7648816220fa340c75c783a2e3d885a9dfbb23a

[2019-06-15 08:35] StefH commented on #283
https://github.com/WireMock-Net/WireMock.Net/commit/fdc433f0ce6b3e11e09f40ff60b71975bd7f2470#diff-4bb7b0422d34056d29ebc9af1d9bac08

[2019-06-15 08:35] #283 closed

[2019-06-16 18:52] muzammilkm opened #285 "Need ability to add custom ResponseMessageTransformers"
Version: 1.0.19.

There is no way to add custom Response Message Transforms apart from using built in HandleBars which is also limited, I am trying generate response based on current datetime and also need to do some calculation via mapping file.

So could you please add way to extend Response Message Transforms like wiremock does [Extending WireMock](http://wiremock.org/docs/extending-wiremock/)

[2019-06-17 05:19] StefH commented on #285
1. You are correct, extending handlebars is not yet supported, I'll take a look.

2. If you just want custom C# code, this is also possible using:
[code]

[2019-06-17 17:35] muzammilkm commented on #285
Yes, Right now, i am using inline style along json mapping till a new version is available.

[2019-06-18 12:15] StefH commented on #285
Settings class will be extended with:
[code]

Is this enough?

[2019-06-18 20:56] muzammilkm commented on #285
Thanks that work.

[2019-06-19 05:47] StefH commented on #285
You can try the preview version:
- WireMock.Net 1.0.21-ci-11460
- WireMock.Net.StandAlone 1.0.21-ci-11460

Also, if you think your Handlebars extension is useful for common usage, please share the code.

[2019-06-19 09:27] megha222 commented on #275
This was a mistake in our application reference assembly bindings. Sorry its a non-issue. It works with Kestrel 2.2.0 as well. Closing this issue. Thanks

[2019-06-19 09:27] #275 closed

[2019-06-19 15:30] guerital opened #287 "Error with parameter that contains a "=" character"
I have created a small sample to report the error I'm facing with:

[code]

Running this test that has three test case I have obtained the following result:
* case "value": No error
* case "va?ue": No error
* case "val=e":
[code]

[2019-06-20 10:18] muzammilkm commented on #285
Thanks you quick turn around. Sure, if some thing is generic nature, will certainly share it.

[2019-06-20 12:13] muzammilkm opened #288 "Allow setting root folder in LocalFileSystemHandler"
Exapnding LocalFileSystemHandler by taking root path for admin mapping, can help reuse LocalFileSystemHandler.

A constructor taking root path & we can set overloaded to settings.FileSystemHandler
[code]
Changes in GetMappingFolder
[code]

[2019-06-20 13:46] StefH commented on #288
You can try preview:
WireMock.Net.1.0.21-ci-11468

[2019-06-20 15:15] StefH commented on #288
BTW I see that you have added a NuGet `WireMock`, this is done because of above request ?

[2019-06-20 17:29] muzammilkm commented on #288
No, that's not mine, but one of my colleague who published without consulting me & i would ask him to drop that package and this is not an appropriate way.

[2019-06-20 17:55] StefH commented on #288
OK, if you can ask him to unlist the package, that would be great. Else users can be confused.

Did you have time to test latest WireMock.Net.1.0.21-ci-11468 ? Is it working for you?

[2019-06-20 18:42] muzammilkm opened #289 "Bug: When WatchStaticMappings=true throws exceptions on updating the mapping files"
When WatchStaticMappings = true in settings throws exceptions & application abnormally gets aborted on updating the mapping files while Mock Server is running.

**Exception:**
[code]
This happens due to editor lock duration while writing to disk(saving). I tried capturing the duration for various editors

VS Code: ~400 ms - ~100 ms
Sublime: ~250ms - ~100 ms
Notepad: ~50ms - ~10ms.

Finding the loc

[2019-06-20 18:45] muzammilkm commented on #288
Thanks,
Verified in (1.0.21-ci-11471)

[2019-06-20 19:39] StefH commented on #288
Ok. Thanks. Closing this one.

[2019-06-20 19:39] #288 closed

[2019-06-20 19:42] StefH commented on #289
I noticed this also in another scenario. I will check the code...

[2019-06-20 19:46] StefH commented on #285
Also closing this one.

[2019-06-20 19:46] #285 closed

[2019-06-20 20:33] StefH commented on #289
Should be solved in next preview version at MyGet...

[2019-06-22 09:47] StefH commented on #289
@muzammilkm Can you verify if this works?

[2019-06-22 20:02] eli-darkly opened #290 "Request body is dropped if verb is REPORT"
The current implementation of `OwinRequestMapper` only calls `BodyParser.Parse` if `BodyParser.ShouldParseBody(method)` returns true. `ShouldParseBody` only returns true if the method is PUT, POST, OPTIONS, or PATCH.

This makes it impossible to fully test code that makes a REPORT request with a body: on receiving the request, WireMock.Net will simply discard the body and you can't verify its cont

[2019-06-23 13:25] StefH commented on #290
Currently I follow this:
[code]

I can add more support, or just allow all, but this break current functionality. So the best I can do is add a configuration setting which extends this list.

[2019-06-24 00:22] eli-darkly commented on #290
I guess it depends on what you mean by breaking current functionality.

To me, the current behavior is not functionality, it's a bug: WireMock is not matching or recording the actual content of the request, but a transformation of the request. I can't think of any reason why someone would've written a test that _depends_ on this behavior; as I described in the last paragraph of my last comment, I

[2019-06-25 09:36] dnovhorodov opened #291 "Define multiple scenarios for the same url path and switch to it at run-time?"
Hello guys,

In **WireMock.NET** there is a possibility to define scenarios which acts as a state machine for requests. Very nice :+1:

Is there possibility at run-time (hosted by Azure/IIS) route requests to specific pre-loaded scenarios based on some request attribute like header, param, etc.?
Or at least switch mock server to use specific scenario for specific url path (in case of N scenarios f

[2019-06-25 12:07] StefH commented on #290
Thanks for explanation. I did a quick test and only 3 unit tests fail when for all http methods the body is retrieved.
For a get request, the body is an empty string, I'm not sure if thats correct.

I need to do some more tests / thinking on this.

Or you can alsp think about a PR?

[2019-06-25 19:00] eli-darkly commented on #290
I'd be glad to put together a PR - just wanted to open this issue first to see if there was any agreement on the general idea.

[2019-06-26 06:56] muzammilkm commented on #289
Verified.
When can we expect nuget package ?

[2019-06-26 20:38] StefH commented on #289
Next week Wednesday.

[2019-06-28 20:20] eli-darkly opened #292 "Can't start server in Xamarin Android"
There's an issue with Xamarin Android's support for ASP.NET Core that currently makes WireMock.Net unusable. I don't think there is currently a workaround, but I think that would be easy to change.

Trying to create a FluentMockServer causes this exception:

[code]

Here's the issue. If you use `WebHostBuilder` and you don't specify a `ContextRootPath` in the host builder options, `WebHostBuilder`

[2019-07-02 16:18] dnovhorodov commented on #291
Hey mates,

Still didn't get any answers, but I found how to inject custom Owin middleware if you need to have custom behavior. In my case I do it like this:

`// Add access to IFluentMockServerSettings
            var settings = configuration.GetSection("FluentMockServerSettings").Get<FluentMockServerSettings>();
            settings.PreWireMockMiddlewareInit = app =>
            {

[2019-07-02 17:43] StefH commented on #291
This is indeed also an option to introduce custom logic. I'll add this to the wiki.

[2019-07-03 16:23] StefH commented on #289
https://github.com/WireMock-Net/WireMock.Net/pull/286

[2019-07-03 16:23] #289 closed

[2019-07-03 16:24] #290 closed

[2019-07-03 16:24] #292 closed

[2019-07-03 16:25] #291 closed

[2019-07-03 16:27] StefH commented on #281
Can you provide an example project ?

[2019-07-03 16:32] StefH commented on #280
I've updated the example code, please get latest.

[2019-07-03 16:32] #280 closed

[2019-07-03 16:37] StefH commented on #288
https://github.com/WireMock-Net/WireMock.Net/pull/286

[2019-07-08 11:15] zidad opened #295 "NullRef in 1.0.21"
Upgrading my tests to WireMock 1.0.21 starting giving me a NullReferenceException, I haven't figured out why exactly:

"ClassName":"System.NullReferenceException","Message":"Object reference not set to an instance of an object.","Data":null,"InnerException":null,"HelpURL":null,"StackTraceString":"   at WireMock.ResponseBuilders.Response.ProvideResponseAsync(RequestMessage requestMessage, IFluentMo

[2019-07-08 11:41] zidad commented on #295
Looks like it could be related to this commit, probably the settings or filesystemhandler is null:

https://github.com/WireMock-Net/WireMock.Net/commit/93682c9bbffa9a1e18dac6fa06c31d396eafb9bd#diff-9c7a467190fbb513b80085bfc57d18faR421

[2019-07-08 12:23] StefH commented on #295
Can you please provide your unit test example code?

[2019-07-08 12:56] zidad commented on #295
Something as simple as this fails with me with 1.0.21:
[code]

System.Net.Http.HttpRequestException : Response status code does not indicate success: 500 (Internal Server Error).
   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at System.Net.Http.HttpClient.GetStringAsyncCore(Task`1 getTask)
   at Rtl.Watchlist.Compatibility.Api.Test.FluentMockServerTest.ReproduceIssue() in C

[2019-07-08 18:41] StefH commented on #295
Thanks, I'll look into this.

[2019-07-08 19:29] StefH commented on #295
@zidad Can you try 1.0.22 preview version from MyGet ? (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

`WireMock.Net.1.0.22-ci-11507`

// btw : don't use a hard-coded port in your unit-tests

[2019-07-11 18:07] gregoks opened #296 "url param - how to accept either of multiple values"
Hi,

I'm trying to create mapping to accept both of the following GET requests:

http://localhost:5566/test?abc=123
http://localhost:5566/test?abc=456

I have tried several options but none of them accept them both:

1. Set 2 mappings for both of the values:

[code]

2. Set 1 mapping with the values as array:

`requestMatcher.WithParam("abc" , "123", "456" );`

this option will only accept request

[2019-07-11 19:35] StefH commented on #296
Good point.

The best option would be to use a RegexMatcher (https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#regular-expression-matching).
However this is not supported yet by `WithParam(...)`.

I'll take a look if this can be supported.

[2019-07-11 19:44] StefH commented on #296
As temporary solution, you could use this:

https://github.com/WireMock-Net/WireMock.Net/blob/1392119f9dc7207daf56a52d23f7034d3f3e1b57/src/WireMock.Net/RequestBuilders/IParamsRequestBuilder.cs#L108

[2019-07-11 19:48] #296 closed

[2019-07-12 06:15] gregoks commented on #296
Thanks I will try!

[2019-07-12 11:00] StefH commented on #178
Closing

[2019-07-12 11:00] #178 closed

[2019-07-15 07:33] gregoks commented on #12
Hi,

I was wondering if this is implemented? Because I see now that RequestMatchers in RequestMessageCompositeMatcher class is private. So is there a way we can get the instance of all registered mappings like we see them in the admin API?

Thx,

Greg

[2019-07-15 13:54] zidad commented on #295
Hi @StefH, it works, and thanks for the tip about the ports! :)

[2019-07-15 13:54] #295 closed

[2019-07-15 15:12] StefH commented on #12
Hello Greg; you can just access `Mappings` ?

Like
https://github.com/WireMock-Net/WireMock.Net/blob/12444cc11e0c806a2436e2a823227dc757781b29/test/WireMock.Net.Tests/FluentMockServerTests.Settings.cs#L102

[2019-07-15 16:08] gregoks commented on #12
Yeah but its an interface of IMapping, I want to be able to serialize it and send it as an object over http. Thats why I need the mapping info like path, request matchers, response etc as properties.

[2019-07-15 16:12] StefH commented on #12
You know you can just do a GET request to the `/__admin/mappings` to get all mappings?

[2019-07-15 16:50] gregoks commented on #12
Yeah I know but since I have the server object in memory, I was wondering if I could get the mappings the same way as I can get LogEntries without the need of extra http call

[2019-07-15 17:23] StefH commented on #12
I see, can you create a new issue?

[2019-07-16 13:21] StefH commented on #12
https://github.com/WireMock-Net/WireMock.Net/pull/298

[2019-07-16 17:09] gregoks commented on #12
Thanks @StefH for the quick response! I'll create an issue now.

[2019-07-16 17:11] gregoks opened #299 "Get Mappings models instead of just IMapping interface"
Hi,

I want to be able to serialize existing mappings andd send them as an object over http. Thats why I need the mapping model information like path, request matchers, response etc as properties, IMapping isnt enough.

Thanks!

Greg

[2019-07-16 17:59] StefH commented on #299
https://github.com/WireMock-Net/WireMock.Net/pull/298

Can you check the code changes in that PR if this is what you need.

[2019-07-16 19:47] gregoks commented on #299
Yes exactly! Thanks!

[2019-07-16 20:06] StefH commented on #299
Version 1.0.23 will be available on NuGet in some time.

[2019-07-16 20:06] #299 closed

[2019-07-19 10:20] dannycrone opened #300 "Integration with Azure Function"
Hi all, this is a question to see if anyone had thoughts on this before I start investigating in more detail. Has anyone considered whether it would be possible to deploy WireMock as an Azure Function?

[2019-07-19 10:58] dannycrone commented on #300
Okay, thanks for that, I will look into it further

[2019-07-19 10:58] #300 closed

[2019-07-22 06:26] rwwilden opened #301 "Error thrown when calling mocked endpoint second time when using file-based response body"
When you use a setup as follows:

    server
      .Given(
          Request
              .Create()....)
      .RespondWith(
          Response
              .Create().....
              .WithBodyFromFile(fileName));

the mocked endpoint can only be called successfully the first time. Second time it will throw an error.

This is caused by the fact that the property `BodyData.BodyAsFile` is set to

[2019-07-22 08:58] PkAIR opened #303 "Question: WithBody can't be used with multiple matching rules?"
Stuck with a question: is it possible to use several matching rules for request body?

**WithParam(...)** from **IParamsRequestBuilder** as well as **WithHeader(...)** from **IHeadersAndCookiesRequestBuilder** support smth like:

[code]

since it intakes **key**.

But for **WithBody(...)** from **IRequestBuilder** can't do smth similar.

How can I deal with several matching rules for request body?

[2019-07-22 09:15] StefH commented on #303
Good point.
I don't even know if multiple matchers is now supported in the interface?
Like:
[code]

I'll have to check the code...

[2019-07-22 16:35] StefH commented on #301
Dankjewel.

[2019-07-22 16:35] #301 closed

[2019-07-22 18:14] StefH commented on #303
I've updated the code, can you take a look at the latest version at MyGet?
` WireMock.Net.1.0.25-ci-11541.nupkg`?

[2019-07-22 19:00] PkAIR commented on #303
@StefH Sorry for late notice. Yeah, will do tomorrow. I'm off for now.

Thank you for such a quick response though!

[2019-07-22 19:52] PkAIR commented on #303
Hi @StefH

Nah, couldn't wait till tmr.

At a first glance I was able to get it working. I succeeded in building a valid mocking template with array of **BodyMatchers**:

`[
    {
        "Guid": "9af78b09-28b5-465a-80d0-c0b3261b2c64",
        "Scenario": "Test For EnterOrder",
        "SetStateTo": "1",
        "Request": {
            "Path": {
                "Matchers": [
                    {

[2019-07-23 05:59] StefH commented on #303
Currently the logic is for all (~almost all) matchers is that the matchers are used as an `OR`.
So the best matching score from multiple matchers is used.

If required in future,m I can also implement an `AND`, but for that I need to change the API and the JSON.

[2019-07-23 08:56] PkAIR commented on #303
Got it, thanks. For now I don't see any reason for doing it.

Anyway, I'm happy with this change.

Do you have eta when it will be available  in stable?

[2019-07-23 11:41] StefH commented on #303
In some hours.

[2019-07-23 16:02] #303 closed

[2019-07-23 19:45] ashby-bowles commented on #281
@StefH here it is. let me know if you need any more info.

[BugRepro.zip](https://github.com/WireMock-Net/WireMock.Net/files/3423824/BugRepro.zip)

[2019-07-24 05:58] StefH commented on #281
I cannot open the iOS project on my system, can you maybe also create an android version?

[2019-07-24 12:41] ashby-bowles commented on #281
@StefH here you go
[BugReproAndroid.zip](https://github.com/WireMock-Net/WireMock.Net/files/3426820/BugReproAndroid.zip)

Here are the repro steps:
1. Build the solution
2. Make sure you use an up to date Android emulator (ie: Pixel 2 or similar)
3. Run the unit test

[2019-07-26 13:00] StefH commented on #281
I'm sorry.

I cannot get Xamarin + Android working in my VM
Memory is not enough it seems, and I get an error:
[code]

Closing this issue.

[2019-07-26 13:07] APIWT commented on #281
What operating system are you running? Would it help if we were to provide a solution created in Windows first with a video of repro steps?

[2019-07-26 13:15] StefH commented on #281
windows 10
vs2017 with android 27 and xamarin installed
android 8.1 oreo used

A video could help.

Questions:

- When you include WireMock.Net in the test project, which framework is chosen?
- What version from json.net can you include with no issues in your projects?

[2019-07-26 13:18] APIWT commented on #281
So it turns out that JSON.NET might have nothing to do with the issue since the test project only includes NUnit 3 and WireMock.Net

I believe that by default .NET Framework 4.7 is chosen when making UI test projects, but I'll report back when I have a project created in your environment. Fair warning: I will probably have to use Visual Studio 2019 unless there is a community version of 2017 avail

[2019-07-28 22:27] sangwei opened #305 "Allow Custom SSL Certification?"
When we enable ssl support, it would use a hard coded certification, which causes warnings in browsers, like "Your connection is not private" in chrome.

It would be nice to support using a custom properly signed certification.

[2019-07-29 11:07] StefH commented on #305
See https://github.com/WireMock-Net/WireMock.Net/wiki/Using-HTTPS-(SSL)

You can use it like:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Settings/ProxyAndRecordSettings.cs#L24

[2019-07-29 19:22] gregoks opened #306 "Writing to the response body is invalid for responses with status code 204"
Hi,

Many times I see the following error when I use wiremock:

"HttpStatusCode set to 500 System.InvalidOperationException: Writing to the response body is invalid for responses with status code 204.    at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol.ThrowWritingToResponseBodyNotSupported()    at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol.WriteAsync

[2019-07-30 07:22] StefH commented on #306
If possible, please provide the mappings you use.

[2019-07-30 12:04] mapjaha opened #307 "JsonPathMatcher always convert to JArray before matching"

[2019-07-30 12:07] mapjaha commented on #307
I have query with this body   { "x": "42" }
To check with JsonPathMatcher if x property exist i need this pattern: "$[0].x".
According to your documentation it should be "$.x".
this is my configuration for Wiremock:
  server
                .Given(
                    Request.Create().WithPath("/jmespath_example").UsingPost()
                        .WithBody(new JsonPathMatcher("$[0].x"))

[2019-07-31 11:29] gregoks opened #308 "__admin/requests - "Collection was modified" exception"
Hi,

When I accesed /__admin/requests I got the following exception:

{"Status":"{\"ClassName\":\"System.InvalidOperationException\",\"Message\":\"Collection was modified; enumeration operation may not execute.\",\"Data\":null,\"InnerException\":null,\"HelpURL\":null,\"StackTraceString\":\"   at System.Collections.Generic.List`1.Enumerator.MoveNextRare()\\r\\n   at System.Linq.Enumerable.WhereSele

[2019-07-31 11:52] gregoks commented on #306
Thats the thing, I dont see that it's related to a mapping that I have added. is it possible?
I'll try to increase the log level to see if I can add more information.

[2019-07-31 11:56] StefH commented on #306
Or provide a demo project ?

[2019-07-31 11:57] StefH commented on #308
I'll take a look, probably I need to deep clone this collection when it's requested, so that you get a copy and not a reference.

[2019-07-31 12:43] gregoks commented on #308
thanks @StefH !

[2019-07-31 17:23] StefH commented on #308
Can you try new version from MyGet?
WireMock.Net.1.0.26-ci-11549

[2019-08-01 11:02] gregoks commented on #308
Sure, I'll run it for few days and see if it happens again since it doesnt happen always..

[2019-08-02 08:08] jorgeolive opened #310 "DevOps build - Test execution hangs"
Hello,

I know this issue is similar to #234, but anyway.

In an Azure DevOps pipeline apparently there's some issue when raising a mocked server in the remote agent. I have multiple XUnit tests where a WireMock server is used. When executing a test library, once first WireMock test is hit, test execution stops and no trace of exception is given. I have to stop the build process manually, otherwis

[2019-08-02 09:25] StefH commented on #310
1. Use `WithPath("/api")`
2. Did try to replace your code `fakedContext.ExecuteCodeActivity` with a simple call like `new HttpClient().PostAsync(uri, form).GetAwaiter().GetResult();`  ?

[2019-08-02 09:58] jorgeolive commented on #310
Well. I found that the problem is reproducible when I have multiple test classes using a WireMockServer. Seems that it's a problem of concurrency.

[2019-08-02 10:35] StefH commented on #310
The unit-tests for this project are also using xUnit.
Did you take a look at my unit-tests? Maybe there is a fundamental difference?

Or maybe it's related to sync - async ? (You need to define your unit-test as async in case you run async code...)

Is your project a public project ?

[2019-08-02 19:22] StefH commented on #307
https://github.com/WireMock-Net/WireMock.Net/pull/311

[2019-08-02 19:34] StefH commented on #307
I think I fixed it, can you try this WireMock.Net.1.0.26-ci-11553 from MyGet , https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2019-08-05 07:19] mapjaha commented on #307
Maybe yes, but as far as i can see your PR is open.
When it will be released?

[2019-08-05 09:05] StefH commented on #307
You can try the preview version which is available at MyGet:

WireMock.Net.1.0.26-ci-11553 from MyGet , https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2019-08-07 19:02] gregoks commented on #306
@StefH  just to update, I have tried to make my logs to be "Debug". still havent really figured out the issue, but I saw this error one time:

- HttpStatusCode set to 500 Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate. at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException

[2019-08-07 19:41] gregoks commented on #306
Just to clarify, Im using wiremock as an mocking infra in a company I work for. Currently I have around 20 mocks set up on different ports and automation nightlies are running at the same time, adding miltiple mappings and sometimes the errors that Ive mentioned happen so without the logging, its hard to understand which mapping causes the error.

[2019-08-07 20:17] StefH commented on #306
You mean this line?

https://github.com/WireMock-Net/WireMock.Net/blob/83457c160152863e57104a4e9d9d62a11d20b57e/src/WireMock.Net/Owin/WireMockMiddleware.cs#L132

[2019-08-07 20:39] StefH commented on #306
Can you install `WireMock.Net.1.0.27-ci-11567.nupkg`?

This version contains more logging. https://github.com/WireMock-Net/WireMock.Net/pull/309/commits/e423a995f4835fe261e8869ce04c95ea58969eee

[2019-08-08 06:31] gregoks commented on #306
yes exactly. It would be great if you could add the exception to the error message or perhaps even the mapping that caused it..

[2019-08-08 11:23] StefH commented on #306
Can you install and try WireMock.Net.1.0.27-ci-11567.nupkg from MyGet?

[2019-08-08 11:51] gregoks commented on #306
sure, ill try and let you know.

[2019-08-08 18:09] gregoks commented on #306
I have tried WireMock.Net.1.0.27-ci-11567 and the logs that you have added help! I saw the reason for the error, it was a mapping that led to service that took really long time to respond.

[2019-08-08 20:37] StefH commented on #306
Good to hear.

Also check if https://github.com/WireMock-Net/WireMock.Net/issues/308 is still happening, or maybe this is also fixed.

[2019-08-08 22:29] #305 closed

[2019-08-09 06:23] gregoks commented on #308
Havent seen this error since the fix.

[2019-08-09 18:06] #252 closed

[2019-08-10 14:46] StefH commented on #308
I'll merge that PR to master and create a new NuGet.

In case this happens again, please open a new issue.

[2019-08-10 14:46] #308 closed

[2019-08-11 17:03] gregoks opened #313 "RequestLogExpirationDuration - bug"
Hi,

In OwinRequestMapper (line 55) you are setting RequestMessage.DateTime to DateTime.UtcNow:

`return new RequestMessage(urldetails, method, clientIP, body, headers, cookies) { DateTime = DateTime.UtcNow };`

Then in WireMockMiddleWare (line 175) when you are checking for expiration of that time, you are using DateTime.Now instead of DateTime.UtcNow:

 `var checkTime = DateTime.Now.AddHours(-_o

[2019-08-11 17:47] StefH commented on #313
Good catch, I've fixed this with PR #314

But you are also allowed to create a PR for other issues you find.   ;-)

[2019-08-11 17:47] #313 closed

[2019-08-11 17:51] gregoks commented on #313
Thanks @StefH! Perhaps check if there are any other DateTime.Now <> DateTime.UtcNow shenanigans :)

[2019-08-11 17:55] StefH commented on #313
I could not find any other inconsistencies.

[2019-08-12 07:04] Aorimn opened #315 "Wiki - Proxying: AtPriority() example not set on right object"
Hi,

On the [Proxying](https://github.com/WireMock-Net/WireMock.Net/wiki/Proxying) wiki page, the example with `AtPriority()` doesn't work out-of-the-box due to this function not being on the right object.

The first configuration is a copy/paste of the example, the second one is the fixed example:
![image](https://user-images.githubusercontent.com/1292923/62849452-f2dfe880-bcdf-11e9-8d68-b38ff92b

[2019-08-12 09:09] StefH commented on #315
Thanks for this notice. It's fixed.

[2019-08-12 09:09] #315 closed

[2019-08-13 13:58] lobsteropteryx commented on #287
I've submitted a PR which I believe will fix this problem; in our case, we were trying to send a parameter with a double equals `==`, and we found that we could match properly on the same querystring with a single equals `=` in our test code.

For example, our production code would send `?key=value==something`, and our test code would match on `?key=value=something`.  Don't know if that helps, but

[2019-08-14 20:06] StefH commented on #287
@lobsteropteryx  Thank you.

@guerital A new version will be uploaded to NuGet shortly. Please test, and if the issue is still there, please create a new issue.

[2019-08-14 20:06] #287 closed

[2019-08-15 15:29] ColinM9991 opened #318 "Documentation: Add valid CLI parameters"
I am currently looking at using the `StandAloneApp` API with command line parameters passed in, and have had to trawl through code just to find what parameters I should pass in.

There should instead be some documentation on these parameters to describe what's valid and what the expected parameters are.

[2019-08-15 16:14] StefH commented on #318
Yes good point. I thought I did add this to https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process but nothing is there. I will add this.

[2019-08-15 16:16] StefH commented on #318
Some info can be found here https://github.com/WireMock-Net/WireMock.Net-docker/wiki/Commandline-arguments however als that page needs an update.

[2019-08-15 18:50] StefH commented on #318
Updated wiki.

[2019-08-15 18:50] #318 closed

[2019-08-15 19:41] ColinM9991 commented on #318
Thank you,for the quick work

[2019-08-16 06:17] StefH commented on #310
@jorgeolive Any update on your question?

[2019-08-16 19:26] muzammilkm opened #321 "New Feature: Load & Register Custom IHandlebars Transformers from any assembly (dll)"
WireMock StandAlone could accept dll paths to load & register custom IHandlebars Transformer from them. So that response template transformed output can easily tested out in browser without a lots for debugging.

[2019-08-16 21:01] StefH commented on #321
Why would you need IHandlebars transformers? The whole idea from Handlebars is that you can define the transformation in plain text.

[2019-08-17 12:49] muzammilkm commented on #321
Ahh.. sorry for confusion.

What i meant was, right now we have Register Transformation Helper via Settings & can only be used while running unit tests or Create a copy of "Standalone" & then copy these helpers. Working with multiple project would be difficult.

[code]

If you could provide an interface that we can implement once & provide away for these libraries to be loaded in "Standalone", so

[2019-08-17 14:11] StefH commented on #321
The `StandAloneApp` is just a simple library which converts/parses commandline arguments into settings, and then just starts the Mock Server.

You always need a console app (.net framework or .net core) to really start and run the server.

I think I makes more sense to create a WireMock.CommandLineParser NuGet which just converts arguments into a settings file.

And then you can just add the handl

[2019-08-20 09:18] guerital commented on #287
@lobsteropteryx @StefH Thanks, the fix has worked

[2019-08-20 11:41] andi0b opened #325 "Admin API: PUT Mapping, FormatException because of wrong parsing of the Query"
It sounds a bit crazy, but if you PUT a new Mapping through the Admin API you get an Exception if the GUID starts with `a` or `d`. This happens because of this line of code:

https://github.com/WireMock-Net/WireMock.Net/blob/12444cc11e0c806a2436e2a823227dc757781b29/src/WireMock.Net/Server/FluentMockServer.Admin.cs#L362

It trims away characters from the beginning, including `a` and `d`. We had fla

[2019-08-20 16:45] StefH commented on #325
Good catch !
https://github.com/WireMock-Net/WireMock.Net/pull/326

[2019-08-20 19:22] StefH commented on #325
solved

[2019-08-20 19:22] #325 closed

[2019-08-21 09:27] gregoks opened #327 "Index must be within the bounds of the List - Bug"
hi,

I'm getting the following error when using the MyGet version - 1.0.27-11567

I'm using it with the following properties:

MaxRequestLogCount = 100
RequestLogExpirationDuration = 6

Can you please check?

Thanks :)

Greg

[2019-08-21 13:33] StefH commented on #327
Please try `1.0.28-ci-11744`

[2019-08-22 05:34] StefH opened #329 "Feature: Add support for CSharpCodeMatcher"
https://github.com/WireMock-Net/WireMock.Net/pull/324

[2019-08-22 05:35] StefH opened #330 "Feature: Add support for CSharpCode Transformer"

[2019-08-22 06:34] gregoks commented on #327
I have tried using version 1.0.28 and its still happening, 1.0.28 was deployed later than 1.0.28-ci-11744?

[2019-08-22 06:36] StefH commented on #327
A possible fix for your problem is only present in preview version : 1.0.28-ci-11744

[2019-08-22 10:31] viktorpeacock opened #332 "Case sensitive true is ignored for JsonMatcher"
The JSON matcher is doing a deep compare on JSON string and it looks like it's case sensitive. When creating a matcher, I specify CaseSensitive = false, but this is not used by the matcher. Should it be possible to configure JSON matcher to be case insensitive?

https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Matchers/JsonMatcher.cs

[2019-08-22 11:19] StefH commented on #332
This can be implemented, however only for strings.

[2019-08-22 11:30] viktorpeacock commented on #332
This would help a lot. Can try doing PR myself with a bit of direction on how you'd like this to be implemented.

[2019-08-22 11:30] StefH commented on #332
I'm looking into this.

[2019-08-22 11:33] StefH commented on #332
And would it be required to also match the property-names CaseIgnore? Or only the string-values?

[2019-08-22 12:46] StefH commented on #332
@viktorpeacock If you want to test this. see preview NuGet : `WireMock.Net.1.0.28-ci-11761`

[2019-08-22 14:00] viktorpeacock commented on #332
Hi, it would help if we could ignore case on both values and property names. Potentially have two properties: IgnoreCaseOnProperties and IgnoreCaseOnPropertyValues?

[2019-08-22 18:16] StefH commented on #332
Just a single `IgnoreCase` is easier to build and use I think.

[2019-08-22 19:39] StefH commented on #332
Please test `WireMock.Net.1.0.28-ci-11769` , this version renames the property name + value.

[2019-08-23 08:58] viktorpeacock commented on #332
Any chance you can post a docker image please as we host wiremock in k8s?

Agree RE: IgnoreCase :-) Thank you so much for very fast response!

[2019-08-23 10:38] StefH commented on #332
I can merge this logic to the master and create a new Docker because (as far I see) the original logic is still the same.
So tonight or tomorrow I will create new Docker.

[2019-08-23 19:51] #332 closed

[2019-08-24 07:25] StefH commented on #332
@viktorpeacock docker is created

[2019-08-24 09:47] muzammilkm commented on #321
Yes, i have built CommandLine dotnet tool which read arguments like mapping folder and port. This tool can be installed from nuget & run via commad line. I made this tool generic so, that any team can install start writing json mapping files for their own testing.

I work well, but few teams will have there own Custom Handlebars part of the json mapping files which they want to see how it is rende

[2019-08-24 10:57] StefH commented on #321
There is a **HandlebarsRegistrationCallback** method defined in the settings interface: https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Settings/IFluentMockServerSettings.cs#L121

[code]

With this callback you could load your own dll's and register the Custom Handlebars from the teams.

Would this help you?

[2019-08-24 18:56] muzammilkm commented on #321
I guess you are asking to impl "IFluentMockServerSettings" in multiple application & load those dll in cmd,

Below what i am thinking  should be & this sort of interface should be in Wiremock where any one can implement.
[code]

This is Impl within any ones test suit.
[code]

Usage:
[code]

With this sort of setup, Now i can load given dll, Dynamically instantiate "IHandleBarTransformer" type with

[2019-08-25 09:01] StefH commented on #321
The *HandlebarsRegistrationCallback* can be used by anyone who wants to register it's own Handlebars helpers.

So in your case this should be enough for your requirements, see code sample below:

[code]

[2019-08-25 13:48] muzammilkm commented on #321
Yes, that correct. But for i would need an `IHandleBarTransformer` first in 'WireMock.Net'.

[2019-08-25 16:42] StefH commented on #321
I still don't see why you would need the interface to be defined in WireMock.

See this examplehttps://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L56

Where I just did define the interface in my console app.

[2019-08-25 17:26] muzammilkm commented on #321
We have different teams who would be using WireMock.Net in there Test Projects and each team would have there own custom Handlebar transformer within there project.

If they want to create many mapping files & see how it renders for preview in browser, the only option they have is each team create another separate "console" project and run the console project to preview while working on json files

[2019-08-27 10:41] PkAIR opened #336 "ExactMatcher doesn't respect special characters"
For a pattern with regex special character (e.g. brackets) **ExactMather** works unexpectedly.

I'm having this simple mapping:
[code]

And with simple post request http://localhost:9999/Transactions(123)/ChangePortfolio having 'No matching mapping found' message.

When I try to escape '(' symbol using \  preceding symbol I receive this mapping:

[code]

Same for

[code]

and http://localhost:9999

[2019-08-27 16:02] StefH commented on #336
1. No need to escape these characters.

2. I see you are using Path and Url matchers, it's best to just use one. And make sure the http://localhost:9999 is the location where WireMock.Net is running.

3. If you want more details, you can call `http://{{wm_hostname}}/__admin/requests` to see all requests + the **RequestMatchResult** which shows you which items do match. Maybe in your case the body

[2019-08-27 16:12] PkAIR commented on #336
1. Well, I got it that I don't need to escape character.

2. Not sure what the issue using both of them. I know that it's sort of overkill but nevertheless. And yeah, http://localhost:9999 is the hostname for my wiremock.

3. I'll check but in my case body matcher is a wildcaard one with * as value. Additionally when I use url without brackets smth like http://localhost:9999/Transactions123/Change

[2019-08-27 16:16] StefH commented on #336
3. If you can, please post the **RequestMatchResult ** here.

And which application do you sue to post the request ? (I did test using Postman)

![image](https://user-images.githubusercontent.com/249938/63788972-aeb33180-c8f6-11e9-8174-83cefc47cbe5.png)

And the match result is like:
[code]

It seems that only the PathMatcher is used, this could be business logic from WireMock...

[2019-08-27 16:30] PkAIR commented on #336
Well,

Firstly I tried /__admin/requests for url without brackets (and yes, I've use Postman also for tests):

![image](https://user-images.githubusercontent.com/30795278/63789821-cd1e2a80-c900-11e9-9cfc-9a0dd1927c38.png)

![image](https://user-images.githubusercontent.com/30795278/63789834-d3aca200-c900-11e9-902e-ba471f8bf65a.png)

[code]

After that tried with brackets and result of /__admin/req

[2019-08-28 06:31] StefH commented on #336
Which .NET version do you use? Because on .NET Core 2.x, I see another detail in the request:
**"Url": "http://localhost:9091/Transactions(123)/ChangePortfolio",** (no `%28` and `%29`)?

[code]

What you also can do is allow-partial mapping, then the best match will be returned, so when looking at the requests you can maybe see more why a mapping doe snot match 100%

[2019-08-28 07:52] PkAIR commented on #336
Ah, my bad. I was using 4.5.2.

Sounds fair for partial mapping to be used. Will try.

Thank you @StefH for your input btw.

[2019-08-28 08:45] viktorpeacock commented on #332
Thank you. Will try this out today!

[2019-08-28 09:49] StefH commented on #336
I need to debug some more, but if .net 4.5.2 and .net core behave different on the `Url` property, I have to fix this.

[2019-08-29 19:16] gregoks opened #337 "Proxy Missing header Content-Type - tried with Recording"
Hi,

I'm having an issue when using proxy, the content-type header disappears.
Though I saw that this issue was resolved - (https://github.com/WireMock-Net/WireMock.Net/issues/210)

But it still doesnt work for me.
I'm trying to send a request with "Content-Type" header with the following value:

`application/soap+xml;charset=UTF-8;action="http://myCompany.Customer.Contract/ICustomerService/GetSom

[2019-08-29 20:56] StefH commented on #337
See the example project `WireMock.Net.Console.NETCoreApp2`, with maping:
[code]

When posting a message like this:
![image](https://user-images.githubusercontent.com/249938/63975724-f29d6680-caaf-11e9-9421-81bfe1f14aac.png)

You see that all headers are correctly sent and returned by by postman echo service.

[2019-08-30 18:49] gregoks commented on #337
Hi @StefH,

Ive made similar test to what you showed me and it looks like the "action" part of the Content-Type header isnt being sent, so the test that I've made is:

![image](https://user-images.githubusercontent.com/15245808/64044603-e2e55700-cb6f-11e9-9df0-fb4ba959160c.png)

[2019-08-30 20:06] StefH commented on #337
I see. This is a bug. I'll check the code.

[2019-08-30 21:22] StefH commented on #337
You can try version WireMock.Net.1.0.30-ci-11848 from MyGet

[2019-08-31 05:40] gregoks commented on #337
Thanks for the quick fix as usual!
Ill give it a go and let you know :)

[2019-08-31 06:33] StefH commented on #337
I think it works as expected:
![image](https://user-images.githubusercontent.com/249938/64060228-f02f2f80-cbc9-11e9-9c50-5b2471da8442.png)

[2019-08-31 10:50] gregoks commented on #337
yep just tested it. thanks a lot!

[2019-09-01 07:49] #337 closed

[2019-09-01 07:49] StefH commented on #337
New NuGet is uploaded

[2019-09-01 09:59] StefH commented on #307
@mapjaha Did you have time to test this?

[2019-09-01 12:23] mapjaha commented on #307
Hi Stef,
sorry i have no time to test it. But when i do i will let you know my
feedback.

Best regards,
Maryana

niedz., 1 wrz 2019 o 11:59 Stef Heyenrath <notifications@github.com>
napisał(a):

[2019-09-04 07:17] gregoks commented on #327
hi @StefH , this issue still happens in version 1.0.31-ci-11865. can you please check?

[2019-09-06 03:45] davidshen84 opened #341 "Improve matcher for BodyType.MultiPart"
ref: https://github.com/WireMock-Net/WireMock.Net/blob/2f406029c983cfefab920a7f5b10f29b9ad337cc/src/WireMock.Net/Matchers/Request/RequestMessageBodyMatcher.cs#L130

Based on the above code, a body which is detected as BodyType.MultiPart will not be tested by an  `IStringMatcher`.

Because all HTTP bodies are plain text, I think it is quite safe to use an `IStringMatcher` to test the content of a *

[2019-09-06 06:01] davidshen84 commented on #341
Not working if there are binary data :(

[2019-09-06 06:01] #341 closed

[2019-09-06 09:07] vitaliydavydiak opened #342 "Unable to use REST client with .Net Framework due to strong naming"
Hi,

The proiblem seems to be due to this [changes](https://github.com/WireMock-Net/WireMock.Net/issues/160).
The **WireMock.Net** assembly has strong name while **RestEase** still not. The [StrongNamer](https://github.com/dsplaisted/strongnamer) workaround does not seem to work anymore.
It means that even own WireMock.Net tests (FluentMockServerAdminRestClientTests) for **net452** target would fa

[2019-09-06 09:49] StefH commented on #342
I noticed the same issue for .net 452 tests indeed.

For the next major version 1.1.0 I'll remove the dependency on RestEase and move this to a new project, you can already take a look here:
https://github.com/WireMock-Net/WireMock.Net/pull/312

[2019-09-06 10:18] StefH commented on #342
https://github.com/canton7/RestEase/issues/50

[2019-09-06 14:42] vitaliydavydiak commented on #342
Thanks for information. Looking forward to the new version. It does not seem that RestEase is going to have strong name in nearest future.

[2019-09-06 17:27] StefH commented on #342
@vitaliydavydiak
If you want, you can try preview 1.1.x on MyGet:
WireMock.Net.1.1.0-preview-01-ci-11870

[2019-09-10 19:23] grzegorz-wolszczak opened #343 "Feature: Please provide support for Bad responses."
Hi.
I can see that WireMock-Net already supports delayed responses, but
it would be even more cool if WireMock-Net supported simulating bad responses as in
[http://wiremock.org/docs/simulating-faults/](http://wiremock.org/docs/simulating-faults/)

[2019-09-15 18:55] gregoks opened #344 "Mapping adding order matters for multiple mappings?"
hi,

I have a weird behavior for these 2 mappings that I'm adding.

I'm sending the following request:

body:

`<xml>555</xml>`

headers:

[code]

I'm creating 2 mappings (dont mind the mapping guids):

[code]

The thing that it seems that if I add the first mapping first then its get caught and the other way around then the 2nd mapping gets caught:

example of the admin/requests when first mappin

[2019-09-15 19:51] StefH commented on #344
The first doesn't have a match on body. Is that intended?

[2019-09-15 20:17] gregoks commented on #344
Yes. I want to have 2 mappings where one more strict with specific body and the other more general for requests without such body

[2019-09-16 05:59] StefH commented on #344
I see.

The code does just take the first available match:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Owin/MappingMatcher.cs#L48

Maybe it a good idea to also take into account the number of successful matches.

[2019-09-16 06:45] gregoks commented on #344
Oh so it does not matter the total score of the matchings? I would assume that it should return the best matching available and not the first one..

[2019-09-16 15:39] StefH commented on #344
@gregoks
Can you try version `WireMock.Net.1.0.30-ci-11883` on MyGet?

[2019-09-16 17:50] StefH commented on #343
What kind of bad responses do you need?

[2019-09-16 21:22] gregoks commented on #344
Ill try. Does it include the other bug fixes? Because I already use the WireMock.Net.1.0.31-ci-11865 version.

[2019-09-17 05:29] StefH commented on #344
No, this one is only this fix.

The https://github.com/WireMock-Net/WireMock.Net/pull/339 is not included here.

[2019-09-17 11:34] gregoks commented on #344
I've tested and its working in WireMock.Net.1.0.30-ci-11883 version. Thanks!!

Do you have an ETA for version that will include all of the current open bug fixes?

Thanks,

Greg

[2019-09-17 12:50] StefH commented on #344
No ETA, yet.

Please keep a watch on this project + Nuget.

[2019-09-17 12:50] #344 closed

[2019-09-18 06:45] grzegorz-wolszczak commented on #343
I was referring to the bad responses described as:

EMPTY_RESPONSE: Return a completely empty response.
MALFORMED_RESPONSE_CHUNK: Send an OK status header, then garbage, then close the connection.
RANDOM_DATA_THEN_CLOSE: Send garbage then close the connection.
CONNECTION_RESET_BY_PEER:

[2019-09-19 14:43] viktorpeacock opened #347 "Query string match on DateTimeOffset is not working"
Hi,

I am sending two values via a query string and I am trying to configure wiremock to respond when these two values come through. First is an int and it works fine. Second is a DateTimeOffset in the following format:

`"yyyy-MM-ddTHH\\:mm\\:ss.fffzzz"`

I have tried using the ExactValue matcher as so:

[code]
This does not work and the following is returned from the wiremock:

[Error] : HttpSta

[2019-09-19 16:11] StefH commented on #347
The issue is that when you post a mapping like this:
[code]

The string value `2019-09-19T18:02:31.7039950+02:00` is actually converted to real DateTime, this means that some code fails.

I'll investigate if this can be solved.

[2019-09-19 16:16] viktorpeacock commented on #347
Thank you. I was looking through code myself but it's difficult to get up to speed with it as I don't know how it all fits together. Maybe in future you could give a high level overview of the solution so that others can get up and running and contribute :-) thank you!

[2019-09-19 17:58] StefH commented on #347
I've made a fix.

Can you please try MyGet version : WireMock.Net.1.0.32-ci-11907

Can be tested with request like:
`http://xxx/param2?dateTime=2019-09-19T18:02:31.7039950%2B02:00`

[2019-09-20 08:43] viktorpeacock commented on #347
Thank you for such a fast turnaround! Can you please update a Docker image as we use this in K8s to simulate our dependencies?

[2019-09-20 09:30] StefH commented on #347
I'll create a new official version tonight and also a new docker.

[2019-09-20 09:30] StefH commented on #347
@viktorpeacock : do double check : did you test it ?

[2019-09-20 11:06] viktorpeacock commented on #347
Hi Stef,

Yes. The following configuration and request worked for me:

[code]

Request: http://localhost:9092/test?dateTime=2019-09-20T11%3A03%3A17.221%2B00%3A00

Response: `{ "result": "2019-09-20T11:03:17.221+00:00}`

[2019-09-20 11:36] StefH commented on #347
I'll create a new official version tonight and also a new docker.

[2019-09-20 11:36] #347 closed

[2019-09-20 15:58] viktorpeacock commented on #347
You are a star! Thank you very much :-)

[2019-09-23 13:52] StefH commented on #343
Something like:
[code]

This will return an empty response 1 on 10 times.

This code will always return an empty response...
[code]

Is this an idea?

[2019-09-23 13:56] grzegorz-wolszczak commented on #343
Yea, that would be cool.
But the feature I would like the most (and might be most difficult to create) is to have response
CONNECTION_RESET_BY_PEER.

[2019-09-23 15:19] Head-Strong opened #349 "How to mock wcf service response ?"

[2019-09-23 15:20] #349 closed

[2019-09-23 18:07] StefH commented on #310
@jorgeolive Closing this issue.

If you still have a question, comment here or open a new one.

[2019-09-23 18:07] #310 closed

[2019-09-23 18:08] StefH commented on #307
@mapjaha Did you have time to test?

[2019-09-23 18:09] StefH commented on #306
Closing

[2019-09-23 18:09] #306 closed

[2019-09-24 05:27] StefH commented on #343
About :
`MALFORMED_RESPONSE_CHUNK: Send an OK status header, then garbage, then close the connection.`

- Sending 200 OK = easy
- Garbage; just send random bytes = easy
-  then close the connection ; what should this do ? Is sending a 200 OK not enough to close a connection?

[2019-09-25 07:11] grzegorz-wolszczak commented on #343
I agree with you that sending 200 OK and closing connection is enough.

[2019-09-28 15:55] #329 closed

[2019-09-30 17:00] paulroub opened #350 "Admin requests fail when content type includes a charset"
When POSTing a mapping request from C#, by default a "charset=utf-8" parameter is added to the Content-Type header. This causes the request to fail with

Remove the charset and the request succeeds.

Easily reproducible with curl. This succeeds:

[code]

whereas this fails:

[code]

[2019-10-01 04:03] AlexGhiondea opened #352 "DELETE request drops the body"
It looks like for a DELETE request the body is not parsed.

I looked at the history but couldn't figure out if there was a reason why for a DELETE the body is not parsed/matched?

I am writing tests that depend on the DELETE request sending a body and this makes it tricky to test.

The fix can be as easy as flipping this to `true`, however I am not sure what the side effects could be.
https://gith

[2019-10-01 06:10] StefH commented on #352
I see your point.
For mocking and testing purposes, it would be better to just allow all, or make this configurable with settings.

[2019-10-02 20:18] StefH commented on #350
You can try MyGet version:
WireMock.Net.1.0.32-ci-11942.nupkg

[2019-10-02 20:34] StefH commented on #352
I've added a `AllowBodyForAllHttpMethods` property in the settings.

Please test MyGet version:
WireMock.Net.1.0.32-ci-11945.nupkg

[2019-10-05 07:53] StefH commented on #350
@paulroub did you have time to test?

[2019-10-05 07:53] StefH commented on #352
@AlexGhiondea ; did you have time to test?

[2019-10-05 14:47] paulroub commented on #350
Yes, sorry - all good!

On Sat, Oct 5, 2019 at 3:53 AM Stef Heyenrath <notifications@github.com>
wrote:

[2019-10-05 15:19] #350 closed

[2019-10-08 16:02] JoshKeegan opened #356 "JsonMatcher not working when JSON contains a DateTimeOffset"
Hi,
I'm trying to match wiremock match on the body of an incoming POST, and am having trouble with DateTimeOffsets.

If we start with the example from the wiki: https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#json-jsonmatcher
everything works as expected. A request to `/jsonmatcher1` with the body:
[code]
works as expected and gives the response.

When I delete that mapping and

[2019-10-08 16:10] StefH commented on #356
This looks a lot like https://github.com/WireMock-Net/WireMock.Net/issues/347

I'll investigate the JsonMatcher code...

[2019-10-08 19:15] StefH commented on #356
#358

[2019-10-08 19:16] StefH commented on #356
@JoshKeegan
Can you please try preview version on MyGet?

`WireMock.Net.1.0.32-ci-11968.nupkg`

[2019-10-08 21:01] JoshKeegan commented on #356
Will take a look, thanks!
I don’t suppose you have it available as a docker image? That’s how I’m using it currently.

[2019-10-09 06:32] StefH commented on #356
I don't have any automatic previews for docker available.
Maybe I could just merge the code to master, or add some more tests.

Can you maybe also take a look at the PR -> #358

[2019-10-09 08:20] JoshKeegan commented on #356
Alright, no problem, I'll try and use the nuget package or create a docker image myself.
For me, auto-publishing docker images would be really useful to have (just publish to the container registry tagged with the build ID and not tagged as latest unless it's on master).
We're using wiremock within docker and kubernetes, so having access to feature/bug fix builds like this in docker would be reall

[2019-10-09 09:01] StefH commented on #356
Currently I've two builds : a build to build WireMock code and do tests and publish to MyGet.

And I've a separate build to only create (latest + versioned) docker images and publish these.

So I've to modify the the first build, however I dont want to buidl a docker always, takes too much time... I've to think on that.

[2019-10-09 09:04] StefH commented on #352
@AlexGhiondea ; did you have time to test this preview version?

[2019-10-09 09:32] JoshKeegan commented on #356
Fair enough, I didn't expect it to take very long to make the image.
Perhaps I'll take a look at a build & see what's time consuming, maybe we could make it faster.

[2019-10-09 09:40] StefH commented on #356
Building docker Linux takes ~3 minutes.
Building docker Windows takes ~7 minutes.

[2019-10-09 09:55] mapjaha commented on #307
@StefH
Hi Steff,
sorry for no reply so long.
I have checked changes from this PR https://github.com/WireMock-Net/WireMock.Net/pull/311 and it works.
I can confirm that changes solve my issue.

[2019-10-09 11:07] StefH commented on #307
Thank you for testing.

A new NuGet will be released in few days.

[2019-10-09 11:07] #307 closed

[2019-10-09 13:04] JoshKeegan commented on #356
Taken a quick look at the build code for the linux container (I can't see the actual pipeline linked anywhere?) & I'd imagine the biggest slow down will be pulling the nuget packages. As it's running on a hosted agent there isn't a whole lot we could do about this though :(

Only thing of note is that it looks like the code might be being built twice. It's using a multi-stage dockerfile and the fi

[2019-10-09 13:33] JoshKeegan commented on #356
I can confirm that your fix has worked for me!
I've run the standalone app locally after upgrading to the CI nuget packages & everything works for me.
Let me know when the docker image is released :)

[2019-10-09 13:41] StefH commented on #356
"Build StandAlone.NETCoreApp" is probably there to quickly check if the code can build.

Cool that it works, I will close this issue and a new official NuGet + docker will be released in few days. Just keep watching this project or dockerhub.

[2019-10-09 13:41] #356 closed

[2019-10-09 14:40] AlexGhiondea commented on #352
Hey
 I apologize for the delay.I just saw your messages.

Thanks for adding that!

I will give it a try later today!!

Thanks,
Alex

[2019-10-10 17:20] gregoks opened #359 "Wrong mapping is matched with different value for same url param"
Hi again! :)

Can you please check if its a bug for case when I have 2 mappings with the same url param but with different values:

first mapping:

[code]

second mapping:

[code]

For these 2 API calls:
[code]

I get the same following response:

hello ar

Obviously I expect to get "hello ru" for the first one.
I have also noticed that if you change the values of the param to numbers it works cor

[2019-10-10 17:50] StefH commented on #359
A regex like [ar] will match any the character `a` and `r`.

If you need exact match you need:
`^ar$`
and
`^ru$`

[2019-10-11 07:59] StefH commented on #343
@grzegorz-wolszczak
A preview NuGet (from MygGet) --> `WireMock.Net.1.0.32-ci-12002.nupkg` can be tested.

[2019-10-14 06:38] StefH commented on #281
Closing...

[2019-10-14 06:38] #281 closed

[2019-10-14 09:56] mikrj opened #361 "Classes are marked as obsolute before new ones are available"
Hi,

It seems that several classes were marked as obsolete before any alternative is available.
As a consumer of the package that means that we get several "unfixable" warnings on the current version.

I firmly believe that you should not obsolete classes prior to making the new ones available, as it forces a massive amount of warnings on all of our projects.

Referenced commit: https://github.com

[2019-10-14 10:51] StefH commented on #361
Hello @mikrj , thanks for your comments.

My idea is that I mark some classes + interfaces as obsolete, in order to replace/remove these in the next version.
Most things are namespace changes, or do you see that differently?

About the `WireMock.Net.StandAlone` : my idea was to make this obsolete, but if this causes troubles, I can re-introduce it again.

[2019-10-15 12:17] mikrj commented on #361
Hi StefH,

I was mostly referencing e.g. `WireMock.Net.FluentMockServer`, not personally using `WireMock.Net.StandAlone` so I am not sure what the use case is there.

I believe that you should not obsolete the classes (e.g. FluentMockServer) until there is an alternative available, as it forces warnings/errors onto the consumers of the current version; which for some projects may give red builds.

[2019-10-15 14:12] gregoks commented on #359
my bad! Thanks @StefH

[2019-10-15 15:11] Mies75 opened #362 "WithCallback leads to empty response"
When I use `.WithBody(@"<soapenv:Envelope ` etc. I get a response that is can be handled well by our applications.

However when we use a callback, the response message is empty :
[code]

[code]

Leads to:
[code]

Am I doing something wrong?

Regards,

Michel

[2019-10-15 16:01] StefH commented on #359
closing

[2019-10-15 16:01] #359 closed

[2019-10-15 16:13] StefH commented on #362
You need to provide `DetectedBodyType = BodyType.String`

See
https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/ResponseBuilders/ResponseWithCallbackTests.cs#L21

[2019-10-16 05:32] Mies75 commented on #362
Great, that works!
I also had to add:
`responseMsg.Headers.Add("Content-Type", new WireMock.Util.WireMockList<string>() { "text/xml; charset=utf-8" } );`

It seems that one has to set all message properties in the callback. Would it be possible to still take the headers and status code from `.RespondWith` instead of arranging it in the callback?

[2019-10-16 06:02] StefH commented on #362
If you only want to manipulate the body, then you can use:

`WithBody([NotNull] Func<RequestMessage, string> bodyFactory, .....`

See example line 193 in https://github.com/WireMock-Net/WireMock.Net/blob/93682c9bbffa9a1e18dac6fa06c31d396eafb9bd/test/WireMock.Net.Tests/ResponseBuilders/ResponseWithBodyTests.cs#L189-L193

[2019-10-16 06:27] Mies75 commented on #362
Cool, that works. I rather have my transform functions return strings instead of `ResponseMessages`.
Thanks!

[2019-10-16 06:29] StefH commented on #362
OK. Good to hear.

Closing...

[2019-10-16 06:29] #362 closed

[2019-10-16 15:55] StefH commented on #352
@AlexGhiondea Did you have time to test this?

[2019-10-18 12:37] marcinbudny commented on #361
Hi StefH,

The proposition by mikrj is very reasonable and it is the way most libraries make apis obsolete. I would also like to suggest bumping the major version when doing breaking changes, so that the library is compliant with [SemVer](https://semver.org/).

[2019-10-18 13:01] StefH commented on #361
Hello @marcinbudny and @mikrj,
Thanks for your suggestions.

What I can do is:
**1**
When some pending PR's are merged to master, I will also already add the new WireMockServer class and make sure the old/obsolete FluentMockServer can still be used
The version will be like in the old range, so something like `1.0.34`

**2**
The obsolete classes will be kept for some time (~ 3 or 5 releases) in the

[2019-10-21 16:02] APIWT commented on #361
I think this suggestion is very important. If you make breaking API changes, bumping the major version number (ie: bump from `1.0.34` to `2.0.0`) is very helpful for someone upgrading packages in their project.

[2019-10-22 01:35] huchong482 opened #364 "Question: how Wiremock.net handle concurrent requests/responses"
Thanks a lot for this awesome tool.

Just a quick question, how does Wiremock.net handle parallel requests?
For example, is there any setting regarding the threads or concurrency when starting the wiremock server?

If I deployed the Wiremock as a standalone or IIS/Azure, how many requests usually it can handle at the same time before it becomes responsiveless….

Thanks.

[2019-10-22 06:00] StefH commented on #364
WireMock is build for functionality, not really for speed.

However, it uses normal Owin (for net framework) and WebHostBuilder (for .NET Core), so it should be able to handle some load.

[2019-10-22 06:00] #364 closed

[2019-10-22 06:01] StefH commented on #352
@AlexGhiondea Can you please test and report your findings?

[2019-10-22 06:01] StefH commented on #343
@grzegorz-wolszczak Can you please test this preview and report back your findings?

[2019-10-22 15:45] AlexGhiondea commented on #352
@StefH I didn’t get around to test this yet. I will give it a try at lunch today!

[2019-10-22 18:15] grzegorz-wolszczak commented on #343
Hi Stef
Sorry for not responding sooner.
I really couldn't find time for testing.
I will try to do as soon as possible.

[2019-10-22 18:33] AlexGhiondea commented on #352
@StefH I wasn't able to get the package from the feed, so I cloned and built locally your PR. With that, the tests that require a body for a DELETE operation work if you specify that setting!

Thanks for making the change! I will update my version once you release!!

[2019-10-22 18:53] StefH commented on #352
Thank you for testing this. I will merge this PR to master, keep a watch on the official NuGet packages.

[2019-10-22 18:53] #352 closed

[2019-10-23 13:24] grzegorz-wolszczak commented on #343
How should I test new library ? What new Api was introduced to handle cases like:
MALFORMED_RESPONSE_CHUNK
RANDOM_DATA_THEN_CLOSE
CONNECTION_RESET_BY_PEER

I was trying to find some methods on IResponseBuilder interface but I did not see anything that would map to the responses I've described in my feature request. I tried to grep your git commit history by the issue number (#343) but also could n

[2019-10-23 13:29] StefH commented on #343
1]
This NuGet package on the MyGet feed should implement this fix:
https://www.myget.org/feed/wiremock-net/package/nuget/WireMock.Net/1.0.32-ci-12002

2]
Or you can clone this project and switch to branch https://github.com/WireMock-Net/WireMock.Net/tree/WithFault

3a]
New API is like:
https://github.com/WireMock-Net/WireMock.Net/blob/WithFault/test/WireMock.Net.Tests/ResponseBuilders/ResponseWith

[2019-10-23 13:43] grzegorz-wolszczak commented on #343
Ok, now i See what the problem was, I have chosen wrong nuget version.

So I've tested
EMPTY_RESPONSE, and RANDOM_DATA_THEN_CLOSE and it works good (tested with 'curl')

but for FaultType.MALFORMED_RESPONSE_CHUNK

when request GET

I got:
Status code: 500Internal Server Error

and body

[code]

I guess this is intended ?

Also what about 'most interesting' fault type , which is CONNECTION_RESET_BY

[2019-10-23 16:20] StefH commented on #343
About malformed response , this should not throw a 500.
Can you provide your code or mapping json?

[2019-10-24 06:48] StefH commented on #343
I found the issue. Please try MyGet : WireMock.Net.1.0.32-ci-12060

[2019-10-24 08:21] grzegorz-wolszczak commented on #343
The code I used was (simplified version I found on your's project wiki):

[code]

I've used nuget version: WireMock.Net.1.0.32-ci-12002.nupkg

[2019-10-24 08:28] StefH commented on #343
Thanks.
Can you retry WireMock.Net.1.0.32-ci-12060?

[2019-10-24 09:38] grzegorz-wolszczak commented on #343
WireMock.Net.1.0.32-ci-12060 works.
Although I could not  spot the difference between MALFORMED_RESPONSE_CHUNK and RANDOM_DATA_THEN_CLOSE.
Both respond with 200 OK and some random body.

From what I can understand in http://wiremock.org/docs/simulating-faults/ in 'Bad responses' section.
RANDOM_DATA_THEN_CLOSE does not send 200 OK header (it does not send any header at all)

[2019-10-25 06:40] StefH commented on #343
@grzegorz-wolszczak Does my comment make sense?

[2019-10-25 06:48] StefH commented on #361
Hello @marcinbudny @mikrj @APIWT @prestonj,
Thanks for your suggestions.

What I will do is:

- For the next version (1.0.35) , I will remove these Obsolete annotations.

- The version 1.1.x will introduce the new classes (e.g. WireMockServer) and the old classes will _proxy_ to these new classes (e.g. FluentMockServer).

- The version 1.1.x will continue for some releases (~5)

- In version 1.2.x

[2019-10-25 07:50] mikrj commented on #361
Hi @StefH,

The above will work fine for me, thanks a lot.

[2019-10-25 07:52] mikrj commented on #361
@StefH can you close issue when obsolete annotations are removed?

[2019-10-25 08:06] grzegorz-wolszczak commented on #343
With MALFORMED_RESPONSE_CHUNK it makes sense.
But when it comes to RANDOM_DATA_THEN_CLOSE i believe that the sole purpose of it was exactly that, 'random data' which means that response does not conform to any valid HTTP response from the protocol standpoint. So it is more a random TCP packet than HTTP message (with valid headers, status line and so on).

[2019-10-25 08:42] StefH commented on #343
With the current code and setup, I don't think I can really generate random data (TCP packet) instead of an HTTP message. But I will investigate.

[2019-10-25 09:13] marcinbudny commented on #361
Hi @StefH ,
Sounds great. Thanks.

[2019-10-25 17:26] grzegorz-wolszczak commented on #343
I understand that this might be very difficult or event impossible. Probably Kestrel does not allow of such low-level packet manipulation. If so I would remove the RANDOM_DATA_THEN_CLOSE  from the solution utill you figure out how to achieve it. Apart from that , the rest of your code brings new value to WireMock library so I would merge it.

[2019-10-26 06:03] StefH commented on #343
Merged to master and a new NuGet will be released shortly.

[2019-10-26 06:03] #343 closed

[2019-10-29 07:06] Benny1007 opened #369 "Question: Is there a way to provide a corporate proxy configuration?"
for all other requests i'd like to just forward onto someother.server.internal but i get hit by my corporate proxy, how do I provide a corporate proxy for all other requests?

[code]

[2019-10-29 08:15] StefH commented on #369
Good question. This is not yet supported. I think the best place to add this is with:
`public IResponseBuilder WithProxy(IProxyAndRecordSettings settings)`

So adding a WebProxySettings property to IProxyAndRecordSettings which supports the URL, username and password would be a good start.

[2019-10-30 08:02] Solaflex opened #371 "Wiki Typo"
Hi,

Small issue in your Wiki doku regarding JsonMatcher, C# option 2:
https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#c-option-2

There is a `new` missing in the constructor call. Correctly it should be:

[code]

[2019-10-30 10:10] StefH commented on #369
Hello @Benny1007,
Can you please try the NuGet version WireMock.Net.1.0.36-ci-12100.nupkg from MyGet ?

[2019-10-30 10:12] StefH commented on #371
The start is a public static method, which will create a new instance. No need for new.

[2019-10-30 10:26] Solaflex commented on #371
The typo is in the `.WithBody` call:

Your wiki:
`.WithBody(new JsonMatcher({ x = 42, s = "s" }))`

Above line throws a syntax error. It should be:
`.WithBody(new JsonMatcher(new { x = 42, s = "s" }))`

![2019-10-30 11_23_54-SpotMoney CoreBackend - Microsoft Visual Studio](https://user-images.githubusercontent.com/5030549/67850181-27598880-fb08-11e9-965c-fae8162e51df.png)

[2019-10-30 11:09] StefH commented on #371
yes, thanks a lot. Wiki has been updated.

[2019-10-30 11:09] #371 closed

[2019-10-30 14:47] beloquintana opened #372 "Reset in WireMock admin API not working fine."
Reset service should reset all mappings, but it delete all stub mappings.

How could I reset mappings via web API ?

[2019-10-30 17:36] beloquintana commented on #372
When I reset the mappings, I expect that every change in the stub mappings will be applied.

For example to add a new stub mapping, I create the mappings file, then I have to reset my wiremock service to have these changes.

I think that is better to use the Admin API to reset mappings changes that reset the wiremock service.

[2019-10-30 17:50] StefH commented on #372
Not quite sure if I follow, could it be that you want to:

- create some static mapping json files
- start wiremock
- add some more mappings
- do a reset
- only the new mappings are deleted. The static mappings which were present during start of wiremock should still be there

?

[2019-10-30 18:33] beloquintana commented on #372
I want to:
- create some static mapping json files
- start wiremock
- add some more mappings in my folder (new mappings are not added in wiremock server)
- do a reset using Admin API to update wiremock server with the new mappings
- new mappings and old mapping should be there

The new mappings are not added to wiremock If I do not reset my wiremock service (without using Admin API).

My mapping f

[2019-10-30 19:21] StefH commented on #372
Ah I see. I am not sure if the mapping json files are found if these are present in sub folders. Did you try to copy the files directly in the mapping a folder?

[2019-10-31 01:40] Benny1007 commented on #369
Hi, how do I do that from within VisualStudio? I have ticked 'pre-release' but it doesn't show up.

[2019-10-31 04:49] StefH commented on #369
You need to add the nuget feed.
See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2019-10-31 12:03] beloquintana commented on #372
The mapping mapping json files are found when I reset the Wiremock server, but not when I call reset from Admin API.

[2019-10-31 12:52] StefH commented on #372
`when I reset the Wiremock server,` --> do you mean you just restart the WireMock server?

[2019-10-31 13:19] beloquintana commented on #372
Yes, I also implemented a custom IFileSystemHandler, but the point is how to update the mappings with the new changes without restart the WireMock server.

[2019-10-31 17:19] StefH commented on #372
- the EnhancedFileSystemWatcher which is used to detect changes, can only read from the `FileSystemHandler.GetMappingFolder()` folder. Adding a configuration setting to also read recursive folders could be a solution for your problem

- Adding a Admin API call like "Refresh" / "RefreshStaticMappings" which calls the `FileSystemHandler.EnumerateFiles(...)` would also be a solution for your question

[2019-10-31 17:34] beloquintana commented on #372
Great!!, I think that both solution will be very useful.

[2019-10-31 18:13] StefH commented on #372
I keep getting this issue open until it's fixed.

[2019-10-31 19:57] StefH commented on #372
You can try new package from MyGet:
WireMock.Net.**1.0.37-ci-12144.**nupkg

[2019-11-01 14:10] beloquintana commented on #372
I tested WireMock.Net.1.0.37-ci-12144.nupkg and I find this bug:

New mappings are added, but It never delete the old changes until I restart WireMock server.

Steps to reproduce:

1. create a static mapping json files with name map1.json
2. start wiremock
3. add a mapping in sub folders with name map2.json
    (map2.json is added correctly to wiremock)
5. edit map2.json

Actual Result:
Wiremock s

[2019-11-01 14:33] StefH commented on #372
Question, for step 4; how do you _edit map2.json_ ? Via an editor directly? Or via a PUT on the admin interface?

[2019-11-01 14:35] beloquintana commented on #372
Via a text editor directly

[2019-11-01 17:24] StefH commented on #372
This is a different thing.

If you just have a mapping file named `map1.json`, and this file does not define the Guid property, a new mapping is added when you edit this file in an editor.

There are 2 solutions for this:
1. Rename the file to `791a3f31-6946-4ce7-8e6f-0237c7443275.json`
2. Define the Guid in the mapping json like: https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/W

[2019-11-01 17:35] StefH commented on #372
https://github.com/WireMock-Net/WireMock.Net/pull/374

[2019-11-01 18:18] beloquintana commented on #372
Thanks for the WatchStaticMappingsInSubdirectories.

I think that define a Guid in a text editor is tricky and it is not intuitive.
If we could define an Id without any restriccion (Example: string id) would be easy to add and edit mapping json files via text editor.

Would it be possible to do?

[2019-11-01 21:15] StefH commented on #372
Sorry. The internal logic is using these guids.

Normally when adding a mapping via the admin API, the guid is assigned and stored in the mapping file when it's saved. Also when proxying, the guide is defined.

[2019-11-02 08:24] StefH commented on #372
I've also added an extra parameter to the `Reset` API method:
[code]

Which will reload the static mappings after a reset (=delete) from the mappings.

A preview NuGet can be found at MyGet --> WireMock.Net.1.0.37-ci-12153.nupkg

[2019-11-05 19:59] StefH commented on #372
Is this ok?

[2019-11-05 20:00] StefH commented on #369
Can you test this?

[2019-11-06 19:26] beloquintana commented on #372
This change is only for WireMock.Net.StandAlone?

WireMock.Net.1.0.37-ci-12153.nupkg is the StandAlone

[2019-11-06 19:42] StefH commented on #372
Both nuget packages should be there with that 1.0.37-ci-12153 identifier.

In your case, for testing you can use either package.

[2019-11-07 07:49] StefH opened #375 "Proxying does not follow redirects : make this configurable"

[2019-11-07 13:31] beloquintana commented on #372
It is work very well! I will use this functionality a lot.
Thanks you!!!

[2019-11-07 14:32] #372 closed

[2019-11-17 08:03] gregoks commented on #327
hi @StefH ,

I'm using version 1.0.37 and still getting the following error:

HttpStatusCode set to 500 System.ArgumentOutOfRangeException: Index must be within the bounds of the List. Parameter name: index at System.Collections.Generic.List`1.Insert(Int32 index, T item) at System.Collections.ObjectModel.ObservableCollection`1.InsertItem(Int32 index, T item) at WireMock.Util.ConcurrentObservableCo

[2019-11-17 09:25] StefH commented on #327
It maybe has to do with a lot of (fast) requests. Or maybe the logic for MaxRequestLogCount and RequestLogExpirationDuration is wrongly implemented. I need to make a sample where your settings are used and where I use HttpClient to send 100+ requests.

[2019-11-18 10:41] StefH commented on #369
@Benny1007 Can you please test ?

[2019-11-18 12:13] Benny1007 commented on #369
Hi, sorry I thought I had responded already. Unfortunately I can't connect to the repository this test package resides in. At work we use a Nexus hosted repository that we don't have administrative control over. Any package that we as developers use has to be pulled through this corporate Nexus from nuget.org or other proxies the administrators see fit to set up.

[2019-11-18 13:33] StefH commented on #369
OK. I've uploaded that package also to the normal nuget.org, please get this one.

[2019-11-20 14:07] gregoks commented on #327
@StefH looks ok. did the error recreated when you ran your code?

[2019-11-20 14:17] StefH commented on #327
I had no errors when running this example code, but you can try yourself and maybe use your own logger?

[2019-11-21 10:02] ipatalas commented on #361
I think the change is already available in the most recent version so the issue can be closed.

It misled me at the beginning, had to check CHANGELOG to figure it out.

[2019-11-21 10:46] StefH commented on #361
@ipatalas I'm not sure I understand what you mean?

[2019-11-21 13:12] ipatalas commented on #361
What I mean is that this issue is no longer valid - the [Obsolete] attribute has been removed in the latest version so this issue can be closed.
Otherwise it can mislead more people in thinking that this has not been solved yet and they need to wait.

[2019-11-21 13:26] mikrj commented on #361
Resolving it

[2019-11-21 13:26] #361 closed

[2019-11-22 09:26] StefH commented on #369
@Benny1007 Can you test that package?

[2019-11-25 13:20] thewholuver94 opened #377 "Unable to build against .NET 4.5.1 because of Handlebars"
Hi,

I'm unable to build against 4.5.1 with the following errors:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(2110,5): warning MSB3275: The primary reference "WireMock.Net, Version=1.0.37.0, Culture=neutral, PublicKeyToken=c8d65537854e1f03, processorArchitecture=MSIL" could not be resolved because it has an indirect de

[2019-11-25 14:46] StefH commented on #377
What happens if you use Handlebars 1.9.0 ?

[2019-11-25 17:56] #377 closed

[2019-11-27 12:32] alastairtree opened #379 "Trusting the self signed certificate to enable SSL on dotnet core"
In the following code (tested running on dotnet core 3.0/2.2/2.1) I want to start a stub server with SSL enabled and then call it, and for that https call to be trusted and allowed. However, the self signed cert issued by wiremock is not trusted and the call fails with `AuthenticationException: The remote certificate is invalid according to the validation procedure`.

I assumed that running on por

[2019-11-27 13:48] StefH commented on #379
Do you only have this issue in .net core 3?

[2019-11-27 15:03] alastairtree commented on #379
No it appears in core 2.1/2.2 also.

I think it because you are passing in a hardcoded cert `PublicCertificateHelper.GetX509Certificate2()`  in `AspNetCoreSelfHost` to kestral. If you leave the certificate blank and run on 5001 then kestral should load with the default development certificate if you have already installed it (installed with `dotnet dev-certs https --trust`). That way it would work

[2019-11-28 06:47] StefH commented on #379
I see your point.

Currently I'm using a self-signed certificate in WireMock when using netstandard or net core.

But, I can't remember why I created an own self-signed, and not just use the default development certificate like https://www.hanselman.com/blog/DevelopingLocallyWithASPNETCoreUnderHTTPSSSLAndSelfSignedCerts.aspx.

So I think I need to update the current code to make it an option:
1. U

[2019-11-28 11:07] alastairtree commented on #379
My preference would be to follow the same defaults as kestral, as that is what developers are most likely to be familiar with. This means the default should be to leave the cert blank and pick up the dev cert, and to host on 5001 by default if SSL is enabled and no port is specified. That way most users will find SSL just works and follows the idioms of regular aspnet development. Then I suggest w

[2019-11-29 06:34] StefH commented on #379
I'll follow default development certificate for .NET Core 2.x for now.

Preview version from MyGet is `WireMock.Net.1.0.37-ci-12243` and I'll create a new NuGet this weekend.

[2019-11-29 11:09] hsnsalhi opened #380 "StatusCode is defined as integer (string is not possible)"
Hello,
I want to extract the status code from url but the mapping json is skipped because StatusCode can't be as string.
This is an example of what I want to do:

[code]

[2019-11-29 11:55] StefH commented on #380
According to HTTP specification, I think it's only allowed to use a number between 100 and 599 as status code.

[2019-11-29 13:04] hsnsalhi commented on #380
Yes, in fact my use case respects this spec (the example was just to show what I need)
But the problem is in the string to number conversion. the Response object does not accept StatusCode to be string, neither the method WithStatusCode in C# code.

[2019-11-29 13:09] StefH commented on #380
Correct. The reason that you cannot use a string because it should always be an integer. So what issue do you have with this?

[2019-11-29 13:11] hsnsalhi commented on #380
In this case, is there a way to extract the status code from the url ?
example:
I send http://localhost/test/statuscode401
And the response should be with status code 401

[2019-11-29 13:48] StefH commented on #380
If you send something like `http://localhost/test/statuscode/401`, then you can get the 401 using:
`request.PathSegments.[2]`.

However, at this moment, you cannot set this to the StatusCode because only integer is allowed.

This could be implemented with a new cast extension on Handlebars. I can investigate this.
Also allowing a the code to be converted from string to integer could be an option.

[2019-11-29 14:08] StefH commented on #380
BTW just posting a new mapping to the __admin is possible with a string as StatusCode:
[code]

[2019-11-29 14:27] hsnsalhi commented on #380
Actually it's the workaround I'm working with.
I create a mapping for every possible status code returned by the mocked API
Thank you for your help

[2019-11-29 14:35] hsnsalhi opened #382 "Return same request body"
Hello,
In the response.body I want to return the same request.body
For that I use the transformer but it transforms quotes too.
Here is an example:

[code]

When I test with
[code]

I get

[code]

[2019-11-29 15:00] StefH commented on #382
Can you try BodyAsJson?

[2019-11-29 15:07] hsnsalhi commented on #382
I get an exception

[2019-11-30 07:58] StefH commented on #380
@hsnsalhi
Can you try `WireMock.Net.1.0.37-ci-12253.nupkg` from MyGet ? (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2019-11-30 09:41] StefH commented on #382
1]
Use the triple-stash syntax: `{{{request.body}}}`   --> https://github.com/rexm/Handlebars.Net/issues/55

2]
Try new preview NuGet: `WireMock.Net.1.0.38-ci-12259.nupkg`

[2019-12-01 23:16] yankeepenky opened #383 "ExactMatcher does not accept ISO8601 DateTime?"
Hi, I am trying to respond to the following sample request:

[GET] http://localhost/api/update?since=2019-12-01T22:10:25.000Z

using this mapping in a json file:
[code]

I am receiving a 404 response.
The mapping does not even get registered. The otuput log says:

Have you got any ideas why this won't work as expected??
thank you! (ps: great project I love it!)

[2019-12-02 06:43] StefH commented on #383
The error message `REST\mappings\update_1.json` is a different one, not related to ExactMatcher.

When I post your mapping and test it using a GET, it works fine:
![image](https://user-images.githubusercontent.com/249938/69936200-626c2480-14d7-11ea-9045-2567b0a3963d.png)

[2019-12-02 07:16] thewholuver94 commented on #243
I still have this issue. Logs show a perfect match but the file content is not being returned by the proxy.

I've tried setting absolute and relatives paths already.. neither worked.

[2019-12-02 07:26] StefH commented on #243
@thewholuver94 Please create a full example project to show this error.

[2019-12-02 07:56] thewholuver94 commented on #243
I'm neck deep in work right now, using Body as a workaround.
I'll be happy to update when I get the chance.

[2019-12-02 08:08] thewholuver94 commented on #243
Just reading through some of the other issues -- specifically #179 -- I'm using the ReadStaticMappings and WatchStaticMappings features, but in the JSON I want to define BodyAsFile... is that allowed? Thanks

[2019-12-02 08:39] thewholuver94 commented on #243
The issue was local... The xml format that I saved in added extra white space and the service I was proxying refused the entire response with the extra white space. Everything is working as it should. Thanks.

[2019-12-03 16:22] hsnsalhi opened #384 "json from open api yaml"
Hello,
Is there a way to create json mapping from existing yaml OpenApi ?
Thank you

[2019-12-03 17:11] StefH commented on #384
No sorry, this is not yet possible. I had this idea before, but not yet implemented.

Maybe you can also think about this?

What needs to be done is just parsing the YML and generating an JSON with mappings.

[2019-12-03 17:11] StefH commented on #383
@yankeepenky Do you still need support on this issue?

[2019-12-03 17:12] StefH commented on #382
@hsnsalhi Can you try if this version solves your issue?

[2019-12-03 17:13] StefH commented on #380
@hsnsalhi Can you try if this version solves your issue?

[2019-12-03 18:14] StefH commented on #384
A possible option could be to use https://github.com/microsoft/OpenAPI.NET to deserialize the yml to an object (OpenApiDocument) and convert that to a MappingModel object

[2019-12-03 23:29] dileepsam opened #386 "Is transforming contents of XML file supported.?"
Hi,

I am trying to use this as a standalone app to mock the server,
when configured an XML file as a response,

how to transform the contents of the file.?

Thanks,

[2019-12-04 06:26] StefH commented on #386
An XML response is just plain text, so you can transform all things you like.

[2019-12-04 10:37] hsnsalhi commented on #384
How can I convert a OpenApiDocument to a MappingModel object ? is this possible with a WireMock helper or should I do it myself ?

[2019-12-04 11:54] StefH commented on #384
I'm working on some proto type code, I keep you informed.

[2019-12-04 13:13] hsnsalhi commented on #384
Ok thank you

[2019-12-04 16:35] StefH commented on #384
Should this code be added to WireMock?
Or a separate commandline application, or just a NuGet with a library?

[2019-12-04 20:19] yankeepenky commented on #383
sorry for my late reply!
first, the strange issue occured when using `"Matchers": [ {"Name": "...", "Pattern": "..."}]`. As soon as I changed that to "Patterns": [ "..." ] the file was read in successfully.

Now the _value of the matcher was still empty...
![matcher](https://user-images.githubusercontent.com/35534941/69963867-69b02400-1511-11ea-8c42-4c41933b6cd3.png)

-----------------------------

[2019-12-04 21:05] dileepsamala commented on #386
I have configured response like below

[code]

Success.xml contains Handlebar transformation which does not seem to work.

Am I missing something.?

[2019-12-05 10:44] StefH commented on #386
Currently the transformation is only done for the filename, not yet for the file contents.

I'll take a look.

[2019-12-05 13:47] mhartigh opened #387 "Query string parameter value which contains %26 does not work with ExactMatcher"
Hi,

I am trying to get a mapping matched with the ExactMatcher but I can't succeed to make it work.

The input value on the form is escaped with Uri.EscapeDataString before the GET request is fired but every GET request results in a "_404 - No matching mapping found_".

It does look like wiremock cannot deal with querystring values containing a & (%26) because this will result in a separate param

[2019-12-05 15:43] hsnsalhi commented on #384
I think the best way is to add it as a feature in WireMock
I've started a try but this needs to be improved
[code]

[2019-12-05 16:32] StefH commented on #387
Related to  https://github.com/WireMock-Net/WireMock.Net/issues/336  ?

[2019-12-05 16:41] StefH commented on #384
See this project:
https://github.com/WireMock-Net/WireMock.Net.OpenApiParser/tree/master/example/YamlDotNetConsoleApp/YamlDotNetConsoleApp

It currently supports reading a schema and creating dummy data. Or it also supports examples.

Some improvements need to be made like better dummy data for objects and more support for other types.

But it's a start.

[2019-12-05 17:02] StefH commented on #386
A preview NuGet is available on MyGet:
``

You need to provide an extra property (`"UseTransformerForBodyAsFile": true`)in the mapping:
[code]

[2019-12-05 17:51] StefH commented on #387
@mhartigh
It should be fixed, can you please test version `WireMock.Net.1.0.38-ci-12272.nupkg` from MyGet?

[2019-12-05 17:54] StefH commented on #383
Just using `Pattern` should also work fine.

[2019-12-05 18:12] StefH commented on #380
@hsnsalhi Can you please test if that version solves your problem?

[2019-12-05 23:50] dileepsamala commented on #386
Thank you, Stef.
It works.

[2019-12-06 05:51] StefH commented on #386
https://github.com/WireMock-Net/WireMock.Net/pull/388

[2019-12-06 05:51] #386 closed

[2019-12-06 11:38] StefH commented on #382
@hsnsalhi Did you time to test this one?

[2019-12-07 07:35] StefH commented on #375
https://github.com/WireMock-Net/WireMock.Net/pull/370

[2019-12-07 07:35] #375 closed

[2019-12-07 07:35] StefH commented on #369
https://github.com/WireMock-Net/WireMock.Net/pull/370

[2019-12-07 07:35] #369 closed

[2019-12-07 09:45] StefH commented on #336
@PkAIR

Maybe fixed, can you please test version `WireMock.Net.1.0.38-ci-12272.nupkg` from MyGet?

[2019-12-09 06:57] mhartigh commented on #387
@StefH Yes this package has the correct behavior. Thank you very much!,

What do you suggest. To stick with this package for a while or will the fix be included in a release version very soon?

[2019-12-09 07:26] StefH commented on #387
I can plan to release a new official version tonight. Just keep an eye on this issue, when it's closed then you can switch to the official NuGet.

[2019-12-09 16:20] #387 closed

[2019-12-09 16:30] #336 closed

[2019-12-10 10:49] StefH commented on #382
@hsnsalhi Can you please test?

[2019-12-10 10:49] StefH commented on #380
@hsnsalhi Can you please test if that version solves your problem?

[2019-12-12 12:57] mhartigh opened #390 "JsonMatcher does not match a body containing an array of strings"
Hi,

This scenario did work on version 1.32 but since 1.33 the mapping does not match anymore. I have also tried version 1.40 but no difference. Am I supposed to apply a different approach?

We have the following mapping:

[code]

The following request does not match:

[code]

Thanks for your help!

[2019-12-12 16:05] StefH commented on #390
This behavior was changed since 1.0.33 and I did not test this specific scenario.
I will take a look at the code.

[2019-12-12 21:11] StefH commented on #390
@mhartigh Can you please try this version (`WireMock.Net.1.0.40-ci-12333`) from MyGet.

[2019-12-13 01:01] yankeepenky commented on #383
@StefH I checked the issue again, now while debugging your code:

This is the json file:
`"Request": {
    "Path": {
      "Matchers": [
        {
          "Name": "ExactMatcher",
          "Pattern": "/api/update"
        }
      ]
    },
    "Params": [
      {
        "Name": "since",
        "Matchers": [
          {
            "Name": "ExactMatcher",
            "Pattern": "2019-12-01T22:10

[2019-12-13 08:59] StefH commented on #383
@yankeepenky I understand your issue.
I fixed it, can you try version `WireMock.Net.1.0.40-ci-12334` from MyGet?

[2019-12-13 11:40] mhartigh commented on #390
HI Steff,

Thank you! This version does work properly!

Regards

[2019-12-13 12:20] StefH commented on #390
OK, I'll create a new official NuGet tomorrow.

[2019-12-13 12:20] #390 closed

[2019-12-14 19:26] yankeepenky commented on #383
@StefH Great news! all my tests succeeded! thank you for your fix...
I am waiting now for the next release - this issue was solved.

[2019-12-14 19:26] #383 closed

[2019-12-17 08:24] StefH commented on #382
@hsnsalhi Can you please test?

[2019-12-17 08:25] StefH commented on #380
@hsnsalhi Can you please test?

[2019-12-18 05:46] peitschie opened #393 "WireMock server fails to respond when run from VS test process"
TL;DR: WireMock for net641 (i.e., AspNetCore) hangs when executed from some Visual Studio test runners. The solution is to upgrade to Microsoft.AspNetCore v2.1.7. This can be done simply by referencing the Microsoft.AspNetCore v2.1.7 nuget package directly in the same library/console app that is referencing the WireMock nuget package.

This isn't a WireMock bug per se, but I wanted to log it here

[2019-12-18 09:42] StefH commented on #393
I'll upgrade NuGet in PR https://github.com/WireMock-Net/WireMock.Net/pull/363

[2019-12-18 13:31] RajnishChhn opened #394 "API to record stub while proxying"
I have been searching for long as to how to record stubs while proxying. I understand that there is one method in which we can pass ProxyAndRecordSettings and tell the server which url needs to be proxied and recorded while starting the FluentMockServer.
Is there any admin api or any other method using which i can give a url to be proxied and recorded?
Something like (from wireMock):
POST /__admin

[2019-12-18 13:41] gregoks opened #395 "Mappings with scenario"
Hi,

I have the following mappings defined on my wiremock machine:

[code]

When I send the following request using POST: `http://wiremock.qa.com:10012/reports`

for some reason its gets routed to the mapping with guid - 51223398-e68e-492a-ba05-0f32c2bc0d45 (mapping with priority 2147483647) and I expect it to be routed to mapping with guid 8ca5daaa-a9c4-4bef-9d6b-62e5b4d16eb5 because its has Prio

[2019-12-18 13:45] StefH commented on #394
It's only possible to enable proxing for all requests via ProxyAndRecordSettings when starting.

Or via a single mapping:
[code]

It's not possible to enable/configure the global proxy - mode via the admin interface.

[2019-12-18 14:17] RajnishChhn commented on #394
I have trying the mapping approach, but somehow it's not recording anything, neither is it creating a mapping file. The first approach however works fine for me.

[2019-12-23 21:09] dalmuti509 opened #396 "WireMock Server does not appear to function correctly with Microsoft.Extensions v3.1"
If project nuget packages are updated to include Microsoft.Extensions v3.1 nuget libraries, the WireMock server seems to stop correctly responding to requests as all responses result in an invalid format status code 0 when responses are received from HttpClient.

Simple repro which returns 0 after an extended timeout:
[code]
This can be run on line 14 at: WireMock.Net/examples/WireMock.Net.StandAl

[2019-12-24 13:48] StefH commented on #395
Could it be related to the `WildcardMatcher` you define? (The IgnoreCase differs?)

Can you just try:
[code]
For all 3 mappings?

[2019-12-26 12:58] #380 closed

[2019-12-26 12:58] StefH commented on #382
PR merged to master.

[2019-12-26 12:58] #382 closed

[2019-12-26 12:59] StefH commented on #379
@alastairtree Did this work for you?

[2019-12-26 22:59] alastairtree commented on #379
Yes it did, Thanks!

[2020-01-08 08:52] kashifsoofi opened #397 "Question/Feature: Add support for selecting XPath in response template"
Hi,
I am looking to transform soap response. And it would be good if i can use the XPath to select values from request. I believe it can be done using regex but XPath would be a natural fit for this use case.

Question: Is it already supported?

If not happy to do a PR. It would be similar to how json template work.
"{{XPath.Select request.body \"/todo-list/todo-item[1]/text()\"}}") to return text

[2020-01-08 09:00] StefH commented on #397
This is not yet supported, this could be a valuable addition.
Suggested 2 methods:
- `XPath.SelectSingleNode`
- `XPath.SelectNodes`

I'll take a look at the code how to implement this.

[2020-01-08 09:15] kashifsoofi commented on #397
I am happy to do a PR for this if okay.

[2020-01-08 10:15] StefH commented on #397
You can make a PR. For reference see the https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Transformers/HandleBarsJsonPath.cs file.

Also make sure to add unit-tests for this new transformer. For reference, see https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/ResponseBuilders/ResponseWithHandlebarsJsonPathTests.cs

[2020-01-09 16:51] #397 closed

[2020-01-09 18:47] MikeZuber opened #400 "StatusCode not built correctly when loaded from mapping file."
**Scenario:**
Using WireMock.Net v1.1.0.0

All requests that match the attached mapping ([Returns500Response.txt](https://github.com/WireMock-Net/WireMock.Net/files/4041996/Returns500Response.txt)) get a response whose StatusCode is 200.

**Expectation:**
The response should have the StatusCode that is specified in the mapping file. (500)

**Analysis:**
The problem appears to be here: (WireMockSer

[2020-01-09 19:09] StefH commented on #400
Thanks a lot for finding this issue!

[2020-01-09 19:15] StefH commented on #400
PR was already created, merged to master.

[2020-01-09 19:15] #400 closed

[2020-01-17 15:58] BosNetDeveloper opened #401 "Authentication for url called via proxy"
This might be already answered but I couldn't find any documentation or examples

The url I call via proxy requires authentication. I have the token from auth server for this. Is there any way I can pass the token with the request header?

[2020-01-17 17:13] StefH commented on #401
Do you have a Bearer token? You can just add this to the headers as normally.

If you really need username/password, see this article: https://github.com/WireMock-Net/WireMock.Net/wiki/Settings#proxyandrecordsettings

[2020-01-21 18:09] kashifsoofi opened #402 "Invalid Cast Exception"
I am getting
[code]
When running `StandAloneApp` with following method
[code]

The error is on line 41 of `StandAloneApp.cs`
[code]

[2020-01-22 05:53] StefH commented on #402
Thanks.

I'll make a new NuGet + Docker image later today.

[2020-01-22 05:53] #402 closed

[2020-01-22 13:11] arnonax opened #404 "Port is left open after process terminates"
I started using WireMock.net in my tests, but occasionally when I run the test I get an exception:
[code]
Clearly the fault is in the previous run which didn't close the port. Using TCPView from SysInternals, I see that the process which holds that port is "<non-existent>" and I cannot kill it, nor find the PID in Task Manager nor able to kill it using `taskkill`. **The only solution I found is to

[2020-01-22 13:31] StefH commented on #404
It probably has to do with **tcp port exhaustion**
See this page https://docs.microsoft.com/en-us/windows/client-management/troubleshoot-tcpip-port-exhaust and you can find many like this.

When using WireMock in unit-tests, it's adviced to not define a port by yourself, but just let WireMock find a free port. (I'm not sure if you alreay are doing this?)

[2020-01-22 13:40] arnonax commented on #404
@StefH , I don't think so, because I use a fixed port (I also tried to let WireMock choose a port, but the result was the same). Also, both from the error message and from TCPView it's pretty clear that problem is that the previously run process didn't close the port.

[2020-01-22 13:49] StefH commented on #404
If you use a fixed port, the only thing you can do it wait 30 seconds / 60 seconds.
Else if WireMock determines the port, this should work almost always ok, (It's not 100% I think)

[2020-01-22 13:57] arnonax commented on #404
Unfortunately it doesn't help either. I tried waiting much longer than that until I had to restart.
However, in the last few minutes I had the issue again, and just closed few applications, including the client process, and it released the port. Next time it will happen, I'll try to terminate only the client process to make sure that this is indeed the culprit. It won't answer all the questions, b

[2020-01-23 22:05] BosNetDeveloper commented on #401
Thanks. I was trying to access the mock server via the browser. That wasn't working but making a rest call from my code worked just fine

[2020-01-23 22:05] #401 closed

[2020-01-28 11:42] arnonax commented on #404
Seems like killing the client process released the port. However it happened to me only once since the last message, so I couldn't verify it. And unfortunately I still cannot find exactly when and why it happens.

[2020-01-29 23:14] davidpene opened #408 "Intermittent threading errors with FindLogEntries"
When running tests in parallel, we intermittently get this exception:
[code]

[2020-01-30 13:19] dirvo opened #410 "Some request attributes not documented in wiki"
I noticed that some request attributes that are available for response templating (https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templating) are not documented.

The following attributes work for me (basically all the properties of the `RequestMessage` class):

- `request.method` - The HTTP method such as GET or POST.
- `request.protocol` - The scheme such as http or https.
- `request

[2020-01-30 16:13] StefH commented on #410
@dirvo Thank you. I've updated WIKI.

If you find more errors or missing things, please raise an issue.

[2020-01-30 16:13] #410 closed

[2020-02-01 22:23] larsbrekken opened #412 "WireMock Standalone - null reference exception since settings.Logger"
Two observations about the documentation at
https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process

1. The page lists the argument `--WireMockConsoleLogger`, however the correct name is `WireMockLogger`. See https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Settings/WireMockServerSettingsParser.cs#L46-L49

2. The page also says that the default l

[2020-02-02 09:44] StefH commented on #412
1. OK: updated

2. This is indeed a bug. If there is no logger, you cannot log.
What would be solution?
- only log that debug statement when a logger is present
- else  use console.writeline ?

[2020-02-02 19:11] larsbrekken commented on #412
Thanks Stef.

For 2, if the default is `WireMockNullLogger` it seems ok not to log at all if the consumer has not specified a logger, at least that would be my expectation. So my vote would be to only log that statement when a logger is present.

[2020-02-05 14:04] StefH commented on #412
https://github.com/WireMock-Net/WireMock.Net/pull/414

[2020-02-05 14:04] #412 closed

[2020-02-06 18:05] BosNetDeveloper opened #415 "Is it possible to have mappings stored somewhere else?"
Say on a network drive as opposed to mapping folder under '__admin'?

[2020-02-07 06:19] StefH commented on #415
This is possible with custom code: create a class like https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Handlers/LocalFileSystemHandler.cs

[2020-02-10 14:20] qq362220083 opened #416 "How to determine non-existent field(s) in cookies and headers?"
I want to judge non-existent fields in cookie (header, param), such as "Authentication".

I found mapping files cannot implement this logic.

How to solve this problem?

thanks!

[2020-02-10 15:05] qq362220083 commented on #416
I tried to solve this problem by creating attributes on the cookie model (header & param model) object, but I found that the change exceeded my expectations, so I hope the author can help me!

[2020-02-10 19:52] StefH commented on #416
What do you mean by **judge** ?

Do you want to match a mapping when a cookie is absent?

[2020-02-10 20:59] qq362220083 commented on #416
Yes, you're right!

i want to match a mapping when a cookie(header or param) is absent.

[2020-02-11 07:05] StefH commented on #416
Take a look at :
https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#reversing-the-match-behaviour-with-matchbehaviourrejectonmatch

[2020-02-11 07:21] qq362220083 commented on #416
I have seen it, but I want to use mapping files to solve it.

[2020-02-11 07:54] StefH commented on #416
This is possible using mappings. See the updated WIKI page.

[2020-02-11 08:34] qq362220083 commented on #416
Sorry, I tested it according to the wiki and found that it still doesn't work.

take a look at:
[https://github.com/WireMock-Net/WireMock.Net/blob/83866f57192fa54125595592cc09210fbc5bbfdd/src/WireMock.Net/Matchers/Request/RequestMessageHeaderMatcher.cs#L122-L125](https://github.com/WireMock-Net/WireMock.Net/blob/83866f57192fa54125595592cc09210fbc5bbfdd/src/WireMock.Net/Matchers/Request/RequestMess

[2020-02-11 10:13] notclive commented on #404
I recently upgraded a project from WireMock.Net 1.0.37 to 1.1.7 and tests have started failing randomly with:
`WireMock.Exceptions.WireMockException: Service start failed with error: One or more errors occurred. (Failed to bind to address http://0.0.0.0:41570: address already in use.) ---> System.AggregateException: One or more errors occurred. (Failed to bind to address http://0.0.0.0:41570: addr

[2020-02-12 16:14] notclive commented on #404
After downgrading we're still seeing this, it may have been introduced by an update to .NET Core 3.1 from .NET Core 3.0.

[2020-02-12 17:43] StefH commented on #116
closing...

[2020-02-12 17:43] #116 closed

[2020-02-12 17:44] StefH commented on #404
Do you use Linux or Windows?

[2020-02-13 06:23] StefH commented on #404
https://github.com/WireMock-Net/WireMock.Net/pull/417

[2020-02-13 06:24] StefH commented on #404
@notclive I've update the code, can you test MyGet preview version : `WireMock.Net.1.1.7-ci-12712.nupkg` ?

[2020-02-13 09:28] notclive commented on #404
These failures are happening on Linux, specifically Docker image `mcr.microsoft.com/dotnet/core/sdk:3.1`. I'll try out that package today.

[2020-02-13 11:57] thewholuver94 opened #418 "Body matching fails if body has newline"
When using `WildcardMatcher`, even if using the following config in json mapping file:
`"Body": {
      "Matcher": {
        "Name": "WildcardMatcher",
        "Pattern": "*"
      }
`
the mapping is never triggered if I have a newline in the request body. After removing the newline, the mapping is always triggered.

[2020-02-13 19:06] #418 closed

[2020-02-14 07:43] StefH commented on #321
Hello @muzammilkm is this still an issue for you or your team?

[2020-02-14 17:04] muzammilkm commented on #321
closing this.

[2020-02-14 17:04] #321 closed

[2020-02-15 01:28] eli-darkly opened #420 "Updating to 1.1.6+ breaks tests because new AllowAnyHttpStatusCodeInResponse option defaults to false"
I have some tests that validate my client code's handling of various server error conditions. After updating WireMock.Net to the latest version, I found that these tests were broken because the server appeared to be returning 200 instead of the configured error status.

It looks like [this change](https://github.com/WireMock-Net/WireMock.Net/pull/407) added a new setting, `AllowAnyHttpStatusCodeIn

[2020-02-15 07:51] StefH commented on #420
Hello @eli-darkly,

Thank you for your comments. I thought this changed behaviour did not break any backwards compatible logic.

I think it's a better idea to rename the property to `AllowOnlyDefinedHttpStatusCodeInResponse` which will be default set to false. So this means that all is allowed, except when you set this property to true.

I'll fix the code and a new NuGet will be released automatic

[2020-02-15 08:14] StefH commented on #420
See https://github.com/WireMock-Net/WireMock.Net/pull/422

[2020-02-15 15:19] #246 closed

[2020-02-15 20:21] StefH commented on #416
Can you try MyGet version:
`WireMock.Net.1.1.7-ci-12734.nupkg`?

It should be used like:
[code]

[2020-02-17 06:05] StefH commented on #420
See MyGet  - `WireMock.Net.1.2.0-ci-12730.nupkg`

[2020-02-20 00:44] ezarko opened #425 "Allow 64 bit numbers in JSON"
I noticed in testing that if I add a key to a JSON body with an integer value greater than the maxint for a 32 bit integer, then a LinqMarcher on the body will fail, even if it is not checking that field. I would guess that it is no longer parsing the body correctly.

[2020-02-20 12:19] jlobec commented on #396
Should an "await" be used instead of ."Result" when getting the HttpClient response on this snippet? AFAIK the .Result is only correct if you're absolutely sure that the task is already completed (which I'm afraid is not the case) and could cause deadlocks
Maybe not directly related with the issue topic but will save time in the future :)

[2020-02-20 12:55] qq362220083 commented on #416
Wow, this code is great!

i want to pull request #423 to master branche

[2020-02-20 22:06] StefH commented on #396
Could be.
Better code should be '.GetAwaiter().GetResult()' I think.

[2020-02-20 22:07] StefH commented on #416
I will merge this code in 2days and also create new NuGet

[2020-02-20 22:08] StefH commented on #425
Thank you for reporting. I will take a look.

[2020-02-20 23:14] ezarko opened #426 "Add support for compressed requests, such as GZIP or DEFLATE"
I did a quick search in the code and see an HttpClient with these settings, but I am assuming that is used by the proxy.  Can the server itself handle an incoming request with has been GZIP'd?

[2020-02-22 10:08] #416 closed

[2020-02-22 11:31] StefH commented on #425
@ezarko Can you please test `WireMock.Net.1.1.8-ci-12754.nupkg` version from MyGet (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2020-02-22 20:11] thewholuver94 commented on #396
Looks to me like best practice is using `async await` as apposed to `GetAwaiter`. Microsoft documentation indicates that `GetAwaiter` is not intended to be used in application code.

[2020-02-23 08:17] StefH commented on #420
@eli-darkly : Did you have time to check that specific NuGet version which should solve your issue?

[2020-02-23 09:00] StefH commented on #404
Hello @notclive did you have time to check this?

[2020-02-23 16:27] thewholuver94 opened #428 "Can't update the wiki"
Hey Stef, I can't seem to update the wiki anymore. Just wanted to make a couple corrections regarding the `DELETE` with body feature that we added several weeks ago.

[2020-02-23 20:54] thewholuver94 commented on #428
Hm strange. Even though I'm part of the WireMock.Net organization & have collaborator access, I still don't have the Edit / New Page buttons described [here](https://help.github.com/en/github/building-a-strong-community/adding-or-editing-wiki-pages).

I guess you do see these buttons?

[2020-02-23 21:07] StefH commented on #428
I've given you write permissions. Please be careful.

[2020-02-23 21:07] #428 closed

[2020-02-24 05:50] thewholuver94 commented on #428
Thanks that did it. I finished updating the docs so if you want to remove write permissions you can.

Nevertheless I will be careful.

[2020-02-24 06:05] StefH commented on #415
@BosNetDeveloper Does this answer your question?

[2020-02-25 17:28] TheLordDrake opened #429 "Cannot create instance of FluentMockServer without running .Start()"
When attempting to new up an instance of `FluentMockServer` and passing a `FluentMockServerSettings` instance it encounter the following error:
![image](https://user-images.githubusercontent.com/24683014/75269833-8e8dfd80-57c7-11ea-84e6-f3371189b80a.png)
_(Argument type 'WireMock.Settings.FluentMockServerSettings' is not assignable to parameter type 'WireMock.Settings.IFluentMockServerSettings')_

[2020-02-25 18:30] ezarko commented on #426
So an issue which we were having was resolved when we stopped sending it GZIP'd, so I guess that is the answer.  Can we add support for GZIP/Deflate to the server?

[2020-02-25 18:51] StefH commented on #429
Just use `WireMockServer.Start`
[code]

The **FluentMockServer** is obsolete (however it should more or less still work...)

[2020-02-25 18:54] StefH commented on #426
1. HttpClient  is only used for Proxying
2. You can create a PR to support GZIP/Deflate ? (I'm not sure if this functionality is out-of-the box for Owin/Kestrel and net452 / net46 / net core). Or that some helper code is needed like https://github.com/mikegore1000/SqueezeMe

[2020-02-25 19:01] StefH commented on #395
@gregoks Can this issue be closed?

[2020-02-25 19:15] TheLordDrake commented on #429
I was trying to avoid that, but I've since moved on from that approach, so `.Start()` does bypass this issue.
Would a more appropriate resolution be to remove `FluentMockServer` and `IFluentMockServer` or at least mark them as deprecated?

[2020-02-25 20:06] ezarko commented on #425
Would it be possible for you to provide a test docker image for https://github.com/WireMock-Net/WireMock.Net-docker?  Or at least a Dockerfile I could use to build the same?  I tried to spin one up myself, but it is taking me longer than I have to devote to this today.

[2020-02-25 20:29] ezarko commented on #426
I took a swing at it and created https://github.com/WireMock-Net/WireMock.Net/pull/430. I decided to let CI build it for me.  Let's see what we get.

[2020-02-25 21:04] StefH commented on #425
I will just merge this fix into master and make a new Docker. Keep a watch on dockerhub

[2020-02-25 21:04] #425 closed

[2020-02-27 09:00] raghu-romp opened #432 "Question: Random port number"
The MockServer for unit test says...

How does my underlying HTTP caller know which port number to connect to?

[2020-02-27 09:35] StefH commented on #432
You can get the ports with `server.Ports` or you can get the urls `server.Urls`, example:
https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/WireMockServerTests.cs#L50

[2020-02-27 09:35] #432 closed

[2020-02-27 20:09] NoahLerner commented on #408
I'm trying to understand the root cause of this issue but could use some more information.
Are you running tests in parallel using the same `WireMockServer` instance? Or does each test create a new instance?

Additionally,
[code]
does not point to a line of code in my version of the repo. Are you running the latest nuget package?

[2020-02-27 22:55] davidpene commented on #408
We're running tests in parallel and using a static wiremock server to mock a single "api". We're using version `1.0.7`. I'll bump to the latest `1.1.9.0` and let you know if the issue continues.

[2020-03-02 08:46] jantanis opened #433 "HandlebarsRegistrationCallback not fired"
[WireMock.Handlebars.zip](https://github.com/WireMock-Net/WireMock.Net/files/4274322/WireMock.Handlebars.zip)

See attached reproduction project. Start and go to http://localhost:5001/datasets

HandlebarsRegistrationCallback is not fired, so I can't  register custom handlebar extensions.

[2020-03-02 09:55] StefH commented on #433
This is because you already use the `WithCallback()` in the response, and this means that the "UseTransformer" is not called anymore, and also the HandlebarsRegistrationCallback is not done anymore. (This is current behavior in de the code.)

[2020-03-02 10:06] jantanis commented on #433
Does this mean that you cannot use Handlebars if you use WithCallback()? If so I would really like this as a feature.

[2020-03-02 10:28] StefH commented on #433
I see your point.

You want to use code like this?
[code]

[2020-03-02 11:58] jantanis commented on #433
Yes. Now I've implemented Handlebars myself in the callback function, but I'm missing the Wiremock handlebar extensions. If only I have access to the handlebars context (IHandebars) of Wiremock I'm good to go. Right now there is no way for me to achieve this.

[2020-03-02 13:38] StefH commented on #433
I've made a preview fix (can be found via MyGet) : `WireMock.Net.1.1.9-ci-12788`. This one should fire the HandlebarsRegistrationCallback.

[2020-03-03 09:23] jantanis commented on #433
Yes, that works. But is it not possible to expose the IHandlebars on the WireMockServer? I require that context somewhere else too. As I see it every request registers the handlebars again, that isn't really necessary right?

[2020-03-03 12:44] StefH commented on #433
Correct, the factory only needs to be created once, no need to create that for every response. I'll check if that's easy to change.

And where do you need that IHandlebars ? Would it help if this was maybe available in callback?

[2020-03-03 19:06] jantanis commented on #433
I managed to complete what I wanted by assigning the IHandlebars in the callback to a static property. I can now use this property wherever I want. I think the best way to do this is to init IHandlebars using the factory on startup and then expose it for everything to use. Now you have to await 1 transform cycle to have it working.

[2020-03-04 08:54] StefH commented on #433
I'm looking into the code to do some changes, but the HandlebarsRegistrationCallback is still fired with each response because every response gets a fresh handlebars-context. I'm not sure if I can change this.

For now, I'll just fix your bug that the HandlebarsRegistrationCallback was never fired when using `WithCallback`

You can create a new issue with the specific issue, or try to make PR your

[2020-03-05 05:57] StefH commented on #429
I'll mark FluentMockServer + FluentMockServerSettings obsolete in one of the next releases.

[2020-03-05 05:57] #429 closed

[2020-03-05 05:58] StefH commented on #404
@notclive Did you have time to check that new Linux Image?
(Note that my linux image does not yet use sdk3.1, but still 2,x)

[2020-03-05 07:48] NoahLerner commented on #408
Hey David, did updating the nuget package resolve your issue?

[2020-03-05 07:49] davidpene commented on #408
Hey @NoahLerner the issue was intermittent and it hasn't shown up again, so it _may_ have been solved. Happy to close this issue and I'll reopen if I see it again.
Cheers

[2020-03-05 07:49] #408 closed

[2020-03-05 17:00] StefH commented on #433
closing...

[2020-03-05 17:00] #433 closed

[2020-03-06 15:20] #393 closed

[2020-03-06 15:21] StefH commented on #420
@eli-darkly : Did you have time to check that specific NuGet version which should solve your issue?

[2020-03-06 19:06] eli-darkly commented on #420
It hadn't been a priority because there was a clear workaround (setting the option to true), and because I've never used MyGet and don't actually know how to.

[2020-03-06 19:14] StefH commented on #420
No worries. I just want to verify if my fix can be approved by you before I merge the code into master.

You can see this page for information on MyGet https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-03-09 05:55] StefH commented on #141
@alastairtree Any status on this one?

[2020-03-09 18:12] bellorap opened #436 "Issue with matching when client uses Host header"
I'd like to integration test an application that uses the `Host` header in calls to its dependencies. I'm trying to use WireMock to stub these API dependencies, but the existence of the `Host` header is causing the mapping not to match. Here's an example of the problem using NUnit and Flurl:

[code]

`Test_WithoutHostHeader` succeeds while `Test_WithHostHeader` throws the following:
[code]

Likewi

[2020-03-09 19:20] StefH commented on #436
You can just use `WithHeader` ?
Like
[code]

[2020-03-09 20:11] bellorap commented on #436
Hi @StefH, thanks for the quick response. No, unfortunately adding `WithHeader("Host", "*")` still results in the 404 from the test case with the Host header.

[2020-03-09 20:22] bellorap commented on #436
Hi @StefH, thanks to your example I believe I narrowed down the problem to `WithUrl`

For example, this solution works:
[code]

While this doesn't:
[code]

Am I using `WithUrl` correctly? In practice, I think I need it to match requests to different ports with different mappings.

[2020-03-09 20:52] StefH commented on #436
WithUrl can be used. However in your case I think that removing WithUrl and/or replacing with WithPath would be better.

Take a look at the Wiki or unit tests for more examples.

[2020-03-09 21:05] bellorap commented on #436
@StefH I'm not sure I understand your answer. Is the last snipped posted above expected to work? If not, can you please explain why? Otherwise, would it make sense to open a bug for this behavior?

[2020-03-10 01:23] eli-darkly commented on #420
@StefH Thanks - I've retested with that prerelease version, and it now works without me having to set AllowAnyHttpStatusCodeInResponse.

[2020-03-10 06:45] StefH commented on #436
The `WithUrl` works as expected. However, because you overwrite the **host**, the url in WireMock is changed to that one.
So you need code like this:
[code]

Note that adding the console logger and setting AllowPartialMapping = true can help you detect why a mapping is not 100% matching.

[2020-03-10 06:46] StefH commented on #420
@eli-darkly Thank you for testing, I will release a new version, probably 1.2.x.x in the next days.

[2020-03-10 06:46] #420 closed

[2020-03-10 23:42] eli-darkly opened #437 "funny versions of System.IO.Pipelines and System.Runtime.CompilerServices.Unsafe are being loaded at runtime"
This may not really be a WireMock.Net issue, but I'm hoping that maybe someone can shed some light on what's going on.

I'm trying to use WireMock.Net inside some .NET test code that's being run with the Xamarin runtime in iOS. The target framework is `netstandard2.0`. I have no problem building or deploying the app. But at runtime, I get this error from the FluentMockServer constructor:

[code]

[2020-03-11 13:38] awcoats commented on #162
I am having the same problem. I am able to 'record' without a problem. My problem is 'playing' back to the results.

For my example, I'm using http://example.mocklab.io/recordables/123

[code]

How do I configure to try and match with a recorded file and return that?

[2020-03-11 15:43] bellorap commented on #436
@StefH That makes sense, thanks for explaining! I also didn't notice `AllowPartialMapping` - that's helpful!

[2020-03-11 15:43] #436 closed

[2020-03-11 15:45] StefH commented on #162
When 'playing' back, you just need to start WireMock in a different way, like:
[code]

Also see this example project : https://github.com/richie676/wiremock

[2020-03-11 17:05] awcoats commented on #162
That example worked for me. Thank you for quick response.

[2020-03-11 17:39] StefH commented on #162
Closing...

[2020-03-11 17:39] #162 closed

[2020-03-12 07:25] StefH commented on #379
Closing issue

[2020-03-12 07:25] #379 closed

[2020-03-12 20:25] ezarko commented on #425
I have verified this in 1.1.10.  Works great.  Thanks!

[2020-03-12 21:55] ezarko commented on #426
So I tried this in https://github.com/WireMock-Net/WireMock.Net/pull/430 ... The issue that I ran into has to do with framework version compatibility.  I have the more or less correct approach, but it needs a little dedicated hand holding.

[2020-03-13 07:20] StefH commented on #425
Thanks for checking.

[2020-03-13 08:31] StefH commented on #404
@notclive Did you have time to verify that new linux image.

[2020-03-13 08:56] adatanasov commented on #342
I have the same issue with WireMock.Net.RestClient 1.1.10 and .NET 4.7.2.

Please follow the steps to reproduce:
1. Create a new .NET framework console app targeting .NET 4.7.2
2. Install WireMock.Net.RestClient nuget 1.1.10 (latest)
3. Add this line in your Program.cs:
var api = RestClient.For<IWireMockAdminApi>("https://example.com");
4. Add usings:
using RestEase;
using WireMock.Client;

The pr

[2020-03-13 09:50] StefH commented on #342
This has been discussed with RestEase (https://github.com/canton7/RestEase/issues/50)

Maybe a workaround like https://github.com/dsplaisted/strongnamer can help you?

[2020-03-13 11:07] adatanasov commented on #342
StrongNamer doesn't help, nothing changes.

[2020-03-13 13:04] StefH commented on #426
I think it's easier to just view the `Content-Encoding` header and decide to automatically decompress this bytes in the BodyParser.cs file.

I'll take a look.

[2020-03-14 07:50] StefH commented on #426
@ezarko Can you try preview version on MyGet : `WireMock.Net.1.1.10-ci-12887` ? This version should support gzip and deflate in the request

[2020-03-15 10:19] StefH commented on #342
You could use `Brutal.Dev.StrongNameSigner`, see : https://github.com/WireMock-Net/WireMock.Net/wiki/Could-not-load-file-or-assembly-RestEase

[2020-03-15 10:19] #342 closed

[2020-03-15 10:58] adatanasov commented on #342
Thanks, that worked!
Just a note if somebody struggles with this too - I had to remove and add again the reference to the WireMock.RestClient.dll in the project after I install the Brutal.Dev.StrongNameSigner nuget.

[2020-03-15 11:24] StefH commented on #342
Thanks I did add this to wiki.

BTW you can also create a dotnet core console app and change the framework to net472 ; this will also work and no need to use strongnamer

[2020-03-16 15:05] LevYas opened #441 "Handlebars helpers are not registered"
Hi!
Thank you for the very useful project!

I tried to use a helper from the example on the wiki https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templating#handlebars-helpers :
{{capitalize request.body}}
but this gives me an error:

Am I missing something?

[2020-03-17 08:38] StefH commented on #441
Sorry, these default string helpers are not available for the .NET Handlebars implementation. I've asked a question here about that: https://github.com/rexm/Handlebars.Net/issues/343

For now I did update my wiki.

[2020-03-17 08:38] #441 closed

[2020-03-19 10:22] StefH commented on #426
@ezarko Did you have time to test this new version?
See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-03-22 10:30] shockliang opened #443 "Is it possible using post method with query parameters request matching?"
[code]

I'm implementing create group for gitlab server [[doc](https://docs.gitlab.com/ee/api/groups.html#new-group)] and trying write tests to verify some cases.
Above simple code that doesn't work when using `WithParam` as request matching .
So... Any way to verify post with query parameters?

[2020-03-22 11:05] StefH commented on #443
This should be possible, see https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L496

Result:
![image](https://user-images.githubusercontent.com/249938/77247840-32d35a80-6c35-11ea-85c1-2460cb19fc9c.png)

[2020-03-22 12:50] shockliang commented on #443
My environment:
OS: mac os 10.14.6
dotnet version: dotnet core 3.0.

I got the response with `Not Found` and content `{"Status":"No matching mapping found"}`

[2020-03-22 13:02] StefH commented on #443
What you can do to debug, is set `AllowPartialMapping` to true in the WireMockServerSettings
https://github.com/WireMock-Net/WireMock.Net/wiki/Settings#allowpartialmapping

When you look at the logging from the running application, you can see which elements have a match from 1.0 (=100%)
![image](https://user-images.githubusercontent.com/249938/77250074-b5fcac80-6c45-11ea-8830-6903e0ff79ad.png)

(

[2020-03-22 16:00] shockliang commented on #443
It's work after setting `AllowPartialMapping` to be true.
But the request matching doesn't work. The match details show me the score of `RequestMessageParamMatcher` still zero.
Is is normally when setting `AllowPartialMapping` to be true?

<img width="775" alt="MatchDetails" src="https://user-images.githubusercontent.com/4479699/77254005-2c76ca00-6c99-11ea-8811-4b3b2fd27586.png">

[2020-03-22 16:29] StefH commented on #443
Can you please provide details on the complete request you send? Because from the logging it seems you provide multiple parameters?

[2020-03-23 05:09] shockliang commented on #443
Yes, the actual code I'm using 4 parameters. I'm sorry about that.
I'm using [RestSharp](https://github.com/restsharp/RestSharp) as http client.
This is my actual code.

[code]

[2020-03-23 07:58] StefH commented on #443
When using 4 params (see updated code https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L496)
And using postman, this works fine:
![image](https://user-images.githubusercontent.com/249938/77294331-628d6b80-6ce4-11ea-9fc9-33915d39b423.png)

[2020-03-24 07:52] shockliang commented on #443
OK! I will keeping investigate my cases. Thank for your helping! 👍

[2020-03-25 07:14] StefH commented on #426
@ezarko Can you please test if this works for you?

[2020-03-25 13:57] paolopiaggio opened #445 "Port where WireMockServer listens to - v1.2x"
Hello, since version 1.2.0 it looks like the WireMockServer starts listening on a random port instead of the one specified in the settings.

it seems the issue happens with all the different .Start overload methods.

[2020-03-25 14:22] StefH commented on #445
Do you use .NET Framework version ? Or .NET Core ?

And can you provide the start command you use?

[2020-03-25 14:29] StefH commented on #445
This seems a bug, I've to investigate more.

As a workaround you can provide the `url`, that works.

[2020-03-25 14:39] paolopiaggio commented on #445
I am using .NET Core 2.2

I tried these 2 methods:

[code]

[2020-03-25 14:47] StefH commented on #445
You can try preview NuGet : WireMock.Net.1.2.1-ci-13017

[2020-03-25 15:04] paolopiaggio commented on #445
Hi @StefH , thanks for the prompt replies : )

I still don't see the WireMock.Net.1.2.1-ci-13017 prerelease package available.

I confirm that specifying the URL including the port does work.

[2020-03-25 15:16] StefH commented on #445
It's on MyGet ; https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-03-25 15:57] paolopiaggio commented on #445
uh sorry...I missed that.

Yup, the issue looks fixed in here: WireMock.Net.1.2.1-ci-13017 👍

[2020-03-25 16:00] StefH commented on #445
OK. Closing issue, a new 1.2.2 version will be uploaded to normal NuGet in some time...

[2020-03-25 16:00] #445 closed

[2020-03-27 11:10] mc0re opened #447 "Add support for .NET Standard 2.1 / .NET Core 3.1"
The biggest problem integrating WireMock with the new .NET is JSON parsers and ASP.NET - in particular, CodeAnalysis.CSharp package.

[2020-03-27 11:17] StefH commented on #447
I can make a specific .NET Standard 2.1 package, a .NET Core 3.x is not needed in that case.

Will this solve your issue?

About JSON : I currently use NewtonSoft and I think moving to new .NET Core JSON has too many code changes.

[2020-03-27 17:21] mc0re commented on #447
Yes it will, I suppose 😊

As a side note, people often switch to a newer .NET version starting from a certain release and never go back.

From: Stef Heyenrath<mailto:notifications@github.com>
Sent: 27 March 2020 12:17
To: WireMock-Net/WireMock.Net<mailto:WireMock.Net@noreply.github.com>
Cc: mc0re<mailto:mnikitin@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [WireMock-Net/Wire

[2020-03-28 09:52] StefH commented on #447
A preview version has been created (`WireMock.Net.1.2.2-ci-13032`) which targets netstandard2.1 , can you test?

See also https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-03-28 12:24] mc0re commented on #447
On Monday...

________________________________
From: Stef Heyenrath <notifications@github.com>
Sent: Saturday, March 28, 2020 10:52:14 AM
To: WireMock-Net/WireMock.Net <WireMock.Net@noreply.github.com>
Cc: mc0re <mnikitin@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [WireMock-Net/WireMock.Net] Add support for .NET Standard 2.1 / .NET Core 3.1 (#447)

A preview version has been cre

[2020-03-30 18:26] igorquintaes opened #448 "WireMock.Net is not compatible with Microsoft.VisualStudio.Web.CodeGeneration.Design 3.1.1"
While building or trying to install WireMock package, throws a conflict error on "Microsoft.CodeAnalysis.CSharp" dependency.

WireMock.Net expects 2.10.0 version exactly on "Microsoft.CodeAnalysis.CSharp".
Microsoft.VisualStudio.Web.CodeGeneration.Design 3.1.1 refers version 3.3.1 of "Microsoft.CodeAnalysis.CSharp" package.

[2020-03-30 18:41] StefH commented on #448
Which framework do you use?

[2020-03-30 19:15] igorquintaes commented on #448
.NET Core 3.1

Tried also with preview version of WireMock, based on other issue similar problem, but same error.

[2020-03-30 19:45] StefH commented on #448
There is no direct reference to `Microsoft.CodeAnalysis.CSharp`

However, I use `CS-Script.Core`, but that one does not have fixed version:
![image](https://user-images.githubusercontent.com/249938/77954903-a4fc0d00-72cf-11ea-8577-eda496bf1268.png)

The version from Microsoft.CodeAnalysis.CSharp is greater or equal to 2.10.0

[2020-03-30 19:48] StefH commented on #448
You mean this issue ? https://github.com/WireMock-Net/WireMock.Net/issues/447 ?

[2020-03-30 19:49] StefH commented on #448
OK, I see your error:
![image](https://user-images.githubusercontent.com/249938/77955378-5ef37900-72d0-11ea-96fa-a7b3944a1edb.png)

[2020-03-30 20:06] StefH commented on #448
https://github.com/oleg-shilo/cs-script.core/issues/7

[2020-03-30 20:06] StefH commented on #447
https://github.com/oleg-shilo/cs-script.core/issues/7

[2020-03-30 20:39] StefH commented on #447
@mc0re & @igorquintaes
Can you please try new version from MyGet : `WireMock.Net.1.2.2-ci-13091` ?

Maybe you still have to reference some library manually in your main project, I did not have time to test.

[2020-03-30 20:40] StefH commented on #448
@mc0re & @igorquintaes
Can you please try new version from MyGet : `WireMock.Net.1.2.2-ci-13091` ?

Maybe you still have to reference some library manually in your main project, I did not have time to test.

[2020-03-30 21:06] mc0re commented on #448
I will as soon as it gets through to our nuget mirror...

[2020-03-30 21:29] igorquintaes commented on #448
Now there is another conflict detected:
Microsoft.VisualStudio.Web.CodeGeneration.Design 3.1.1: Microsoft.CodeAnalysis.Common (= 3.3.1)
CS-Script.Core 1.3.1: Microsoft.CodeAnalysis.Common (= 3.4.0)

There is no need to solve my problem in urgency, since CodeGeneration is not a required package to my team; but i am glad for your fast response and to try helping us. Is possible that mc0re issue is a

[2020-03-31 11:24] StefH commented on #448
@igorquintaes : Do you really need that `Microsoft.VisualStudio.Web.CodeGeneration.Design` ?

Because this answer suggest to remove it : https://stackoverflow.com/questions/50689098/how-can-i-upgrade-from-net-core-2-1-rc1-to-the-stable-version-of-net-core-2-1/50788326#50788326

[2020-03-31 13:25] igorquintaes commented on #448
For now I don't, as I told that the package is not required to my team. Before open this issue, I removed it from project and worked fine, so and now i am working without that package. But in case of someone faces the same error, i decided to open a issue here.

[2020-03-31 13:56] StefH commented on #448
This issue is actually unsolvable because a fixed version is always needed.
I did ask a question here: https://github.com/dotnet/roslyn/issues/42935

[2020-03-31 14:57] StefH commented on #448
I just got the answer, see https://github.com/dotnet/roslyn/issues/42935.

So in your case, search for the last dependency which uses a fixed version, and update that version to the same as CS-Script.Core uses.

[2020-03-31 15:05] StefH commented on #448
https://github.com/WireMock-Net/WireMock.Net/wiki/Conflict-on-Microsoft.CodeAnalysis.CSharp

[2020-03-31 15:05] StefH commented on #447
https://github.com/WireMock-Net/WireMock.Net/wiki/Conflict-on-Microsoft.CodeAnalysis.CSharp

[2020-03-31 15:09] igorquintaes commented on #448
Got it, looks nice. Would not be the case that CS-Script.Core add `Microsoft.CodeAnalysis.CSharp.Workspaces` on its dependencies, using the same version that themselves use? I don't know if you are a contributor in that lib too, but looks more a lib limitation than a problem that the final developer should be handle

[2020-03-31 16:04] StefH commented on #448
There are probably more libraries which use a fixed version. It's not possible for cs-script.core to include all these...

[2020-03-31 19:43] mc0re commented on #447
Great, thanks!

[2020-03-31 19:43] #447 closed

[2020-04-01 07:43] StefH commented on #448
I will close this issue with PR https://github.com/WireMock-Net/WireMock.Net/pull/449

OK ?

[2020-04-01 15:03] igorquintaes commented on #448
It is OK. Thanks.

[2020-04-01 15:10] #448 closed

[2020-04-01 20:35] StefH commented on #443
Closing this issue.
If you still have problems, just reply here or create a new issue.

[2020-04-01 20:35] #443 closed

[2020-04-01 20:35] StefH commented on #426
@ezarko Can you please test if this works for you?

[2020-04-03 13:50] StefH commented on #396
closing..

[2020-04-03 13:50] #396 closed

[2020-04-08 05:51] StefH commented on #426
Hello @ezarko , did you have time yet to test this ?

[2020-04-10 15:06] sergioprates opened #450 "How to use HTTP2 - for grpc"
Hi,
In wiremock, since release 2.25.0 has support to make http2 request, but I don't found instructions to do it with WireMock.net. Bellow is the link from release. Is it supported by WireMock.NET? Would be nice if does.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!searchin/wiremock-user/http$2F2%7Csort:date/wiremock-user/bxG2-yb-u-Y/YlRq94niBQAJ

[2020-04-10 16:21] StefH commented on #450
I did not add any code specific for http2, so I don't know if this works. I need to check.

[2020-04-10 16:22] ezarko commented on #426
@StefH sorry for taking so long to get back to you. If you can provide a Docker image, or give me instructions on how to build one myself using the preview version, I can get this tested next week.

Alternatively I can see about creating a test for it, if that helps. It should be as simple as:

echo ‘{“foo”:”bar”}’ | gzip -c | curl -H’Content-Type: application/json’ -H’Content-Encoding: Gzip’ --da

[2020-04-10 17:04] StefH commented on #426
I've already build a test like this:
[code]

So I think we are good to go.

I will merge the PR and create a new Docker image this weekend and close this PR.

Just test it when you have time, and if you still find an problem, just create an issue.

[2020-04-10 17:05] StefH commented on #426
https://github.com/WireMock-Net/WireMock.Net/pull/439

[2020-04-10 17:05] #426 closed

[2020-04-13 15:01] notclive commented on #404
I tried and failed to verify the new build. I set the WireMock.Net version to 1.1.7-ci-12712, but I later discovered I was actually building with 1.1.7.

`... depends on WireMock.Net (>= 1.1.7-ci-12712) but WireMock.Net 1.1.7-ci-12712 was not found. An approximate best match of WireMock.Net 1.1.7 was resolved. `

I now understand that the CI builds are on MyGet not NuGet.

The funny thing is that

[2020-04-13 15:22] StefH commented on #404
Hello @notclive , Thank you for spending time to test this.

How to use MyGet builds is described here:
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

Please review that wiki-page, and tell me if something could be described different or more clearer if you see it.

**But**
If you want to just test the WireMock Linux docker image, that's not 100% possible because I don't

[2020-04-13 15:47] notclive commented on #404
It looks like build 1.1.7-ci-12712 no longer exists on MyGet.

[2020-04-13 15:52] StefH commented on #404
OK. There is indeed a limit defined.

Just try official latest then.

[2020-04-13 15:59] notclive commented on #404
My project's tests, running on Docker image `mcr.microsoft.com/dotnet/core/sdk:3.1`, are consistently passing using WireMock.Net 1.2.4.

Like I say I can't confirm that the port issue is fixed as I can no longer reproduce the issue, updating to .net core 3.1 probably wasn't the actual cause.

Thanks for all your work.

[2020-04-13 17:03] StefH commented on #404
OK. I'll close this issue now. In case you still encounter a problem, just raise a new one.

[2020-04-13 17:03] #404 closed

[2020-04-13 17:04] StefH commented on #415
@BosNetDeveloper Closing this issue now. In case you still have a question, just reply here or open a new issue.

[2020-04-13 17:04] #415 closed

[2020-04-13 19:17] StefH commented on #441
@LevYas
I'm building a new library which has some string and math helpers, see this project:
https://github.com/StefH/Handlebars.Net.Helpers
It's not yet integrated in WireMock.Net, but I plan to do that.

Please review and tell me if you need more helpers.

[2020-04-15 07:21] mbraint commented on #34
Hi! Can you revise this section please
https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing#verify-interactions
There is 'SearchLogsFor' method still instead 'FindLogEntries'

[2020-04-15 07:28] StefH commented on #34
@mbraint Thank you for noticing. I've updated wiki.

[2020-04-16 14:15] Rutenioh opened #453 "MockServer not starting"
Hello
I am trying to use WireMock but I am having a problem and I don´t know why. My project is .NET Framework 4.52 and I installed the last version of WireMock.Net.

When I Start the server with .Start() method this is the error:

`Initialization method Tests.TestShould.OnTestInitialize threw exception. WireMock.Exceptions.WireMockException: Service start failed with error: Se produjo una excepci

[2020-04-16 14:30] StefH commented on #453
Can you provide the C# code, or maybe a full example project?

[2020-04-17 07:34] Rutenioh commented on #453
Yes, of course.
This is the most simple, one project in 4.5.2 .Net Framework with a test calling the Start() method.

[TestWiremock.zip](https://github.com/WireMock-Net/WireMock.Net/files/4491579/TestWiremock.zip)

[2020-04-17 08:21] StefH commented on #453
Yes I can confirm your issue:
[code]

[2020-04-17 09:08] StefH commented on #453
I did fix it.

If you would like, you can test a preview version: `WireMock.Net.1.2.4-ci-13183`.

See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions for information.

[2020-04-17 09:48] Rutenioh commented on #453
Yes, it works @StefH !!
Thanks for the fix.

[2020-04-17 10:19] StefH commented on #453
https://github.com/WireMock-Net/WireMock.Net/pull/454

[2020-04-17 10:19] StefH commented on #453
A new official nuget will be released shortly.

[2020-04-17 10:19] #453 closed

[2020-04-21 10:33] StefH commented on #441
@LevYas Can you please review https://github.com/StefH/Handlebars.Net.Helpers and read the Wiki and tell me if you are missing some helpers?

[2020-04-22 08:45] LevYas opened #455 "There is no option to increase body size while proxying"
I had a task to proxy API which, as part of a pipeline, receives big (60MB) zip-file. The WireMock's kestrel said that the entity is too big. I looked for options to increase it, and only found an option to set action `PreWireMockMiddlewareInit` to this:

      private static void init(object builderObj)
      {
         IApplicationBuilder app = (IApplicationBuilder)builderObj;
         app.Serve

[2020-04-22 08:50] LevYas commented on #394
I would try to make a very simple asp net core API, which receives the URL and dynamically forms proxy settings and starts the WireMock instance.

[2020-04-22 09:09] LevYas commented on #441
@StefH I think it would be great to have these helpers integrated into WireMock.Net! They'll give a lot of power to response templating. I think already existing there helpers will fully cover my needs and 90% of response templating needs. I would suggest you integrate it here so people could start to use it, test it, and give you feedback.

[2020-04-22 18:08] StefH commented on #441
I've uploaded version 1.0.0 from Handlebars.Net.Helpers which is included in the this preview version from WireMock.Net : `WireMock.Net.1.2.4-ci-13218.nupkg`

[2020-04-22 18:15] StefH commented on #394
@LevYas
Solution would be like :
- make sure wiremock is running somewhere
- create a simple web-api
- this simple api takes a url and uses the WireMock.Net.RestClient (https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference) to change some mappings on the running wiremock server

[2020-04-22 18:16] StefH commented on #455
On which framework do you run?

[2020-04-22 19:27] LevYas commented on #455
Sorry, it's Net Core 2.1

[2020-04-23 10:28] StefH commented on #455
For proxying, a normal HttpClient is used. And the response from this call is forwarded to wiremock server.

Can you provide the full stacktrace error? Or better, create a working example?

[2020-04-23 14:10] LevYas commented on #455
I can provide the full stack trace right now:

      Response status code does not indicate success: 500 (Internal Server Error).

    " Message ": " Request body too large.",
    " Data ": {},
    " InnerException ": null,
    " StackTrace ": " at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Throw(RequestRejectionReason reason)
    at Microsoft.AspNetCore.Server.Kestrel.Core.I

[2020-04-24 07:04] StefH commented on #455
@LevYas
It's probably related to https://stackoverflow.com/questions/46738364/increase-upload-request-length-limit-in-kestrel

I've updated the code and a new preview MyGet package can be tested : `WireMock.Net.1.2.5-ci-13227.nupkg`.

[2020-04-24 07:14] LevYas commented on #455
Yes, it is. And you pointed to a very simple solution, which can be applied in the source code. I tried to increase the limit after the Kestrel initialization using `IHttpMaxRequestBodySizeFeature`, but with no success.
You are very fast, thank you! I will try to check it but don't know when :)
I can't see any changes in the repo code, did you remove the limit altogether, or provide an option to r

[2020-04-24 07:21] StefH commented on #455
See this PR:
https://github.com/WireMock-Net/WireMock.Net/pull/457

[2020-04-26 10:33] StefH commented on #395
Closing...

[2020-04-26 10:33] #395 closed

[2020-04-28 12:55] coxstl opened #458 "Response BodyAsString loses BodyData.Encoding when UseTransformer = true"
I am mocking WCF soap messages with WireMock. I am also using Unicode encoding. When I set UseTransformer to true, I get "The encoding in the declaration 'utf-16' does not match the encoding of the document 'utf-8'." When I set the  Encoding = original.BodyData.Encoding in the ResponseMessageTransformer.TransformBodyAsString, the error goes away. Can you add that line to that file? It would help o

[2020-04-28 14:31] StefH commented on #458
Can you try MyGet version WireMock.Net.1.2.5-ci-13242.nupkg?

[2020-04-28 17:19] adatanasov opened #459 "When respond with proxy requestMessage.Url is used, not AbsoluteUrl"
Hello,

I have the following working local setup in IIS:
website - wwwdev.company.com
web application - wwwdev.company.com/account
API - wwwdev.company.com/account/api

The web application calls the API with relative URL "/api/...".

I want to add tests for the web app which should call a mocked API and return the responses I want. All unmatched requests should be proxied to the 'real' API.

So, I

[2020-04-28 20:22] StefH commented on #459
I would expect that using this code:
[code]

Any any request, like
`https://wwwmock.company.com/anything/other/a/b/c`

Would call the proxy as:
`https://wwwdev.company.com/anything/other/a/b/c`
?

[2020-04-29 05:51] coxstl commented on #458
That worked like a charm. Thank you.

[2020-04-29 05:51] #458 closed

[2020-04-29 07:03] adatanasov commented on #459
Thank you for the quick response!
I've tried that, but it's the same. This is info from the logger:
[code]
I believe it's because my WireMock service is hosted under '/account/api' and that part is omitted later from the Url.

[2020-04-29 07:18] StefH commented on #458
Official version 1.2.6 is released

[2020-04-29 09:05] StefH commented on #459
Just an analyze how the code currently works.

The setup is like:
[code]

1. Post request to `http://{{wm_hostname}}/post`
![image](https://user-images.githubusercontent.com/249938/80573555-74a7ab80-8a00-11ea-931b-6a695b9b24fb.png)

2. Post request to `http://{{wm_hostname}}/post/x/y/z`
![image](https://user-images.githubusercontent.com/249938/80573614-8e48f300-8a00-11ea-81da-2dbac98ea959.png)

3.

[2020-04-29 09:20] adatanasov commented on #459
Yep, this should solve my issue.
Also, it shouldn't break any existing apps/logic as you can set a base URL if you need to.

[2020-04-29 09:27] StefH commented on #459
Yes it should be backwards compatible.

Proposal:
1. proxyUrl = `http://postman-echo.com/post`,  request = `http://{{wm_hostname}}/post` ==> proxyUriWithRequestPathAndQuery = `http://postman-echo.com/post`

2. proxyUrl = `http://postman-echo.com/post`,  request = `http://{{wm_hostname}}/post/x/y/z` ==> proxyUriWithRequestPathAndQuery = `http://postman-echo.com/post/x/y/z`

3. proxyUrl = `http://po

[2020-04-29 09:38] adatanasov commented on #459
I agree.

[2020-04-29 15:10] StefH commented on #459
Can you try MyGet version : WireMock.Net.1.2.6-ci-13251.nupkg

[2020-04-29 15:21] StefH commented on #459
https://github.com/WireMock-Net/WireMock.Net/pull/461

[2020-04-29 15:33] adatanasov commented on #459
It works as agreed.
Thanks again for the quick reaction :)

[2020-04-29 16:01] StefH commented on #459
I'll make a new official release tomorrow.

[2020-04-29 16:01] #459 closed

[2020-04-30 07:14] StefH commented on #455
@LevYas did you already have time to verify this one and the handlebars.net.helpers PR?

[2020-05-01 16:22] arturohernandez10 opened #462 "Unexpected state API behaviour around unset state"
The following code would appear to leave the state unchanged. But after this is matched in runtime. The state will be reset to "nothing" like it had never been set.
[code]

Leading to the following code that is unnecessarily verbose. Particularly with a fluent API. Where the intention seems to underspecify a mock API. And leave the tool to make educated choices.

[code]

[2020-05-03 21:19] gitfool commented on #161
SourceLink isn't working.

[2020-05-10 11:04] StefH commented on #455
@LevYas did you already have time to verify this one and the handlebars.net.helpers PR's?

[2020-05-10 17:30] LevYas commented on #455
Oh, sorry, it was a hard time for me. I'll try to check it in a few days, it will not be so easy, because I don't have access to code that used this functionality anymore.

[2020-05-11 19:44] StefH commented on #455
No problem, I was just curious if these two fixes are now working as expected.
No rush needed !

If you can test it, that would be great. Else within some time, I'll just merge to master and release a new version.

[2020-05-11 19:45] StefH commented on #462
Can you take a look at the Wiki : https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States and check if this is working for you?

[2020-05-13 21:11] DuncanKennedy opened #464 "RestClient Admin API Metadata Base Path Duplication"
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net.RestClient/IWireMockAdminApi.cs

ResetMappingsAsync method contains the base path (__admin) in its metadata attribute unlike the other methods in this interface. This causes the incorrect path to get used for example when using the interface definition with RestEase. Ex. _mockServerAdminApi = RestClient.For<IWireMockAdminApi

[2020-05-14 06:01] StefH commented on #464
New NuGet will be released shortly

[2020-05-14 06:01] #464 closed

[2020-05-14 14:55] DuncanKennedy commented on #464
Thank you

[2020-05-14 15:11] StefH commented on #464
@DuncanKennedy Thank you for finding this, the bug has been there for some time!

And if you have more issues or ideas, please share.

[2020-05-15 22:00] yunj opened #466 "docker image netstandard2.0 failed to start due to unable to configure HTTPS endpoint"
[Here](https://github.com/WireMock-Net/WireMock.Net/wiki/Using-HTTPS-%28SSL%29#http-ssl) documents that when using netstandard, WireMock.Net uses a self signed certificate to host https urls. But when docker run `sheyenrath/wiremock.net:1.2.6` with `--Urls http://localhost:9091 https://localhost:9443`, it failed to start due to the error **Unable to configure HTTPS endpoint. No server certificate

[2020-05-16 06:37] StefH commented on #466
What I normally do is just run and start the container in Azure with no additional port or url settings.
Only these parameters `--StartAdminInterface true --AdminUsername xxx--AdminPassword xxx --UseSSL true --WireMockLogger WireMockConsoleLogger`

When running in Azure I can access the service at http and https.

[2020-05-16 08:19] yunj commented on #466
Hi @StefH , thanks very much for your reply.

I can only run the Wiremock.Net container on a normal computer. I tried `--UseSSL` but seems not working and the server settings show `UseSSL:null`.

[code]

[2020-05-16 10:08] StefH commented on #466
What you need to do is provide the URLs as you did before (`--Urls http://localhost:9091 https://localhost:9443`)

And then take a look at this article: https://www.vivienfabing.com/docker/2019/10/03/docker-aspnetcore-container-and-https.html
I think this describes how to solve your issue. However, I did not yet test this myself.

[2020-05-17 15:05] LevYas opened #467 "Proxy mode: Unhandled exception when target is not working"
WireMock returns stack trace instead of a meaningful message, it is very misleading.
Repro: https://github.com/LevYas/WireMockNetRepro
![2020-05-17 17_08_29-WireMockRepro (Debugging) - Microsoft Visual Studio](https://user-images.githubusercontent.com/36070899/82152309-e6894d00-9868-11ea-85d3-52774ce1eb77.png)

It would be very nice to return a message, saying that the target is not available.

[2020-05-17 15:11] LevYas opened #468 "Proxy mode: Incorrect handling of multipart requests"
I have an ASP.Net Core API method with the following signature
[code]
I call this method from Postman or curl or from my front-end with a small picture file. It's ok without proxy, but with proxy file is always null.

It looks like WireMock.Net treats multipart requests as a single part request with raw data, but I can be wrong. I added reading the `Form` field and it contains the right content:
!

[2020-05-17 17:10] LevYas commented on #455
I checked it, yeah, there is progress - I receive 400 from my API instead of 500 from WireMock 😁
I created another issue about it, and it seems to me that we can merge the changes and then close this issue.

[2020-05-17 17:54] StefH commented on #455
OK. Thank.
I'll merge and create new NuGet.

[2020-05-17 17:54] #455 closed

[2020-05-18 09:45] StefH commented on #467
Preview version `WireMock.Net.1.2.10-ci-13352` on MyGet should fix this 500 error, please test.

[2020-05-18 10:03] LevYas commented on #467
Tested. For me, it doesn't return "No such host is known.", but "No connection could be made because the target machine actively refused it.":

[code]

Anyway, it's much better than a stack trace :D
But I think the test in your PR might not be stable.

[2020-05-18 10:09] StefH commented on #467
I run the tests for netcore 3.1 and I noticed a difference there, so I just check on `known`.

[2020-05-18 10:11] LevYas commented on #467
I also used netcore 3.1, but on Windows, maybe that's the reason

[2020-05-18 10:15] StefH commented on #467
OK, the difference is maybe that I try to connect to a non-existing hostname.
And you try to connect to localhost (which exists) but nothing listens at port 5000.

[2020-05-18 10:27] LevYas commented on #467
Ah, sure, you are right.

[2020-05-18 11:19] StefH commented on #467
I'll merge to master. New NuGet will be released soon.

[2020-05-18 11:19] #467 closed

[2020-05-18 11:41] LevYas commented on #437
@eli-darkly
1. You can use dependency walkers such as IlSpy or many others to see all the dependencies
2. This version notation means relation to major versions. You can see this kind of references everywhere, i.e. see the screenshot in this answer https://stackoverflow.com/a/36404201/3087417

Also, there is information about other dependency walkers in other answers.
About your error, it looks li

[2020-05-18 11:47] LevYas commented on #441
Works well now, thanks!

[2020-05-18 17:48] eli-darkly commented on #437
That would be true if this were a build-time dependency that is defined in the usual way. But as I said, this appears to be coming from something that's dynamically loaded, possibly by using `System.Reflection.Assembly`. The implementation types that make up Kestrel do not appear if you walk the dependency tree of WireMock.Net; the transitive dependencies stop at `Owin` and `Microsoft.Owin`, leadi

[2020-05-18 18:22] LevYas commented on #437
@eli-darkly

Usually, I see only .0.0-versions. `4.0.4` is strange, I think it means specific version when it matters.

if I were you I would try to diagnose the problem further using tools for runtime assembly bindings checks like mentioned here: https://stackoverflow.com/a/54011223/3087417 It could provide some useful insights.

[2020-05-18 20:48] eli-darkly commented on #437
@LevYas As I mentioned in the original description, my code is running in an iOS environment via Xamarin. It's not possible to use a tool like fuslogvw.exe there.

[2020-05-19 08:05] LevYas commented on #437
@eli-darkly but there should be some iOS-specific tools, I think. Maybe some extended verbose logging or so on. Because this doesn't look like a general problem, so more information is needed.

[2020-05-19 11:15] LevYas commented on #437
Do you use Mono? If so, maybe this could be helpful https://www.mono-project.com/docs/advanced/runtime/logging-runtime-events/

[2020-05-19 17:50] eli-darkly commented on #437
@LevYas

Of course it's not a general problem. I made prominent disclaimers in my original post saying that I knew this was weird and probably only tangentially related to WireMock, but that I was posting it in the long-shot hope that Stef, due to having worked with the ASP.NET Core web frameworks, might know something relevant about their dependencies. That's all. Please don't feel compelled to t

[2020-05-19 18:03] LevYas commented on #437
Ok, sorry for bothering :)

[2020-05-21 11:04] EthanM11122 opened #470 "Wiremock server fails to respond in framework 4.8 NUnit V3 test project class library"
I'm trying to use wiremock to stub an endpoint in unit tests and I'm struggling to identify why it isn't working. I'm using Nunit in a .net framework 4.8 class library. When running the test normally it sits for 1 minute and then fails as the request's response status equals 0 not the expected 200.
If debugging the test it fails much faster for the same reason. I don't see any errors thrown but th

[2020-05-21 12:36] yunj commented on #466
Thanks @StefH for your reply. For the container in Azure, what are the values for `ASPNETCORE_URLS`, `ASPNETCORE_HTTPS_PORT`, `ASPNETCORE_Kestrel__Certificates__Default__Path`?

[2020-05-21 12:50] StefH commented on #470
No Sorry, I cannot see any problems.

I did create a new NUnit project with this csproj:
[code]

And the test class looks like:
[code]

[2020-05-21 12:59] StefH commented on #466
When deploying WireMock.Net to Azure, I just use this deployment:

![image](https://user-images.githubusercontent.com/249938/82561291-6a964a00-9b73-11ea-8ff2-7782cb3eab8b.png)

[code]

And the only things I provide are:
`--StartAdminInterface true --AdminUsername xxx --AdminPassword xxx --UseSSL true --WireMockLogger WireMockConsoleLogger`

Now I can access wiremock via https
Example:
https://wire

[2020-05-21 16:00] EthanM11122 commented on #470
Thanks @StefH, I was using a toolset generated project file when i moved to the SDK generated format it is now working.

[2020-05-21 16:23] StefH commented on #470
Ok

[2020-05-21 16:23] #470 closed

[2020-05-22 08:54] pbeny opened #471 "Assembly version conflict .NET Core 3.1 on Microsoft.CodeAnalysis.CSharp"
Hello, I am writing tests and need to mock external API. My project is written for .NET Core 3.1 due to I try to use preview version of WireMock.Net 1.2.11-ci-13373 but I am unable to add preview version of nuget package to my project because of problem described bellow.
[code]

[2020-05-22 11:37] StefH commented on #468
Bug is confirmed, thanks for analyzing.

However fixing will take some time...

[2020-05-22 11:39] LevYas commented on #468
You are welcome. Yeah, fix will not be trivial, especially bearing in mind different target frameworks.

[2020-05-22 11:42] StefH commented on #471
This is a known issue (however not related to a preview version from WireMock.Net, this happens for the normal versions also):
- https://github.com/WireMock-Net/WireMock.Net/issues/448

Can you try this solution:
https://github.com/WireMock-Net/WireMock.Net/wiki/Conflict-on-Microsoft.CodeAnalysis.CSharp

[2020-05-22 12:50] pbeny commented on #471
Thanks.

[2020-05-22 12:50] #471 closed

[2020-05-23 13:36] StefH commented on #468
https://github.com/WireMock-Net/WireMock.Net/pull/473

[2020-05-23 13:41] StefH commented on #468
@LevYas Can you try version `WireMock.Net.1.2.11-ci-13392` ?

[2020-05-23 13:52] LevYas commented on #468
@StefH  - you are incredibly fast. I've just tested - it works!

[2020-05-23 13:54] StefH commented on #468
You are a very good tester!

I will make new official version today.

[2020-05-23 14:48] #468 closed

[2020-05-24 10:48] tully2003 opened #474 "Performance issue with multiple httpclients (since version 1.2.10)"
I am experiencing a performance issue following an upgrade from 1.2.9 and the issue affects all subsequent versions.

There appears to be a startup cost ~2 seconds for the first request to a mocked endpoint per HttpClient used, in version 1.2.9 this cost only occurred once but in >1.2.9 this cost is there per request.

You can use the following code to replicate the issue

[code]

output 1.2.9
[co

[2020-05-24 11:19] StefH commented on #474
Thanks for the analysis.

Can you please make a GitHub project where you have 2 projects:
- one includes WireMock 1.2.9
- one includes WireMock latests

The performance issue could maybe be related to "Handlebars.Net.Helpers", I need to check.

[2020-05-24 11:24] StefH commented on #474
I did quick test for just Handlebars.Net.Helpers:
[code]

[code]

That does not seem to be the issue.

[2020-05-24 13:19] tully2003 commented on #474
sure added a repo here => https://github.com/tully2003/issues-wiremock-474.perf

[2020-05-24 19:54] StefH commented on #474
I can see the delay from 2 second in your test program.
When running on WSL Ubuntu, there's no delay.

The difference in the code which is the cause of the error is:
[code]

I've fixed it, and a new version will be uploaded to NuGet.

Thank you.

[2020-05-24 19:57] StefH commented on #474
https://github.com/WireMock-Net/WireMock.Net/pull/475

[2020-05-24 19:57] #474 closed

[2020-05-25 07:51] tully2003 commented on #474
Awesome, thanks for fixing so quickly 😀

[2020-06-02 21:46] MissaouiChedy opened #476 "Assembly loading issue with WireMock.Net.RestClient on .NET 4.7.2"
I created a .NET 4.7.2 Console application in which I installed with nuget `WireMock.Net.RestClient` version `1.2.12`

I have the following code in my `Main` method:
[code]
The first call that creates an instance of the API fails with the following exception:
`System.IO.FileLoadException: 'Could not load file or assembly 'RestEase, Version=1.4.10.0, Culture=neutral, PublicKeyToken=null' or one of

[2020-06-03 07:58] StefH commented on #476
Can you take a look at https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.Client.Net472 and check the differences?

[2020-06-14 19:17] MissaouiChedy commented on #476
@StefH Thank you for pointing out the .NET 4.7.2 example.

It seems that I was missing the [`Brutal.Dev.StrongNameSigner`](https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/) package.

Adding it solves the strong name issue.

[2020-06-15 06:23] StefH commented on #476
Ok. Good to hear.
There was also a WIKI page about this:
https://github.com/WireMock-Net/WireMock.Net/wiki/Could-not-load-file-or-assembly-RestEase

[2020-06-15 06:23] #476 closed

[2020-06-15 06:29] erzki opened #478 "Sometimes returns status code 0 in unit tests with xunit test fixture (flaky test)"
### Describe the bug
The problems is that sometimes our some unit tests that uses our WireMockServer fails by getting status code `0` in response from the mock server.
This happens in less then 1% of the test runs.

Here is from our log: `System.Exception : Call /item/public_token/exchange failed with content  and status code 0`

We are spinning up a WireMock server in xUnit tests. We are doing it

[2020-06-15 07:02] StefH commented on #478
@erzki
If possible, can you please create a project which uses the same fixture setup and maybe 1 unit-test which has a TestCaseSource which uses a for-loop to run the test 100 or 500 times?

[2020-06-23 10:22] drauch opened #480 "Fail after half of the body has been sent"
Hi!

We want to simulate in a test that sending the response fails after half of the body has already been sent to the client. The best we could come up with has been:

_server.Given(Request.Create().UsingGet())
  .RespondWith(Response.Create().WithStatusCode(HttpStatusCode.OK).WithBody(rm => throw new Exception()));
However, this already returns InternalServerError instead of OK to the client. Th

[2020-06-23 12:28] StefH commented on #480
It's not really possible yet to read half of data and return an error.

What you can do is use Faults?
https://github.com/WireMock-Net/WireMock.Net/wiki/Faults

[2020-06-23 13:52] drauch commented on #480
Thanks, that should hopefully work for me. Will report back if I run into troubles.

[2020-06-23 13:52] #480 closed

[2020-06-24 00:57] ssamparn commented on #240
Duplicate of https://github.com/tomakehurst/wiremock/issues/987

[2020-06-30 18:50] jamoore5 opened #481 "Can static mappings be used in xunit tests?"
Can static mappings be used in xunit tests?

I tried creating a mapping under __admin/mappings in the test directory but the server does not seem to be finding the definitions.

Is it something that is supported?

[2020-06-30 18:57] StefH commented on #481
Yes, this is possible.
I use the same logic:
https://github.com/WireMock-Net/WireMock.Net/tree/master/test/WireMock.Net.Tests/__admin/mappings

Note that `CopyToOutputDirectory` should be set correctly : https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/WireMock.Net.Tests.csproj#L89

And when running in XUnit, use the correct c# code to get the folder + files:
https:

[2020-06-30 20:12] jamoore5 commented on #481
Thanks that was very helpful. I may try to write something to add to the Wiki as the only example is hard coding the mapping in the tests.

Is there a way to Backlist Header when stubbing request.

[2020-07-01 00:32] jamoore5 commented on #481
Thanks, @StefH that was very helpful.

I am seeing the mapping when the server starts, but none of them are matching the request. Any recommendations on how to debug why the mapping is not a match?

[2020-07-01 00:35] jamoore5 commented on #481
[code]

[2020-07-01 00:49] jamoore5 commented on #481
Loging the request and the response
[code]

the mapping
[code]

I do not see why these are not matching?

[2020-07-01 07:47] StefH commented on #481
When using postman, it works fine?
![image](https://user-images.githubusercontent.com/249938/86217337-a0b9e700-bb7f-11ea-848b-15ea7f9c4d47.png)

[2020-07-01 09:52] jamoore5 commented on #481
Yes it seem to work fine when I call in with the standalone server, it is only failing when it is setup in the unit test. I tested the same call and mapping with a stand-alone server and it passes. I confirmed that the static mapping is loaded in the test, it just does not match.

[2020-07-01 10:03] StefH commented on #481
https://github.com/WireMock-Net/WireMock.Net/pull/482

[2020-07-01 10:07] StefH commented on #481
I've created a new preview version (NuGet : WireMock.Net.1.2.13-ci-13536) --> https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

This one includes in the LogEntry a Partial which shows which things can match or don't match.
--> https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Server/WireMockServer.LogEntries.cs#L42

[2020-07-04 08:33] StefH commented on #481
@jamoore5
See this wiki page to help you finding your matching issue when you use the specified preview version.

(https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching-Tips)

[2020-07-07 05:55] StefH commented on #466
@yunj
Does this answer your question?

[2020-07-07 05:57] StefH commented on #384
@hsnsalhi

I started a new project : https://github.com/WireMock-Net/WireMock.Net/tree/master/src/WireMock.Net.OpenApiParser

And you can try the console-app: https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.OpenApiParser.ConsoleApp

In case you need more functionality, just create an issue.

[2020-07-07 05:57] #384 closed

[2020-07-07 06:36] StefH commented on #327
@gregoks
Did you have any luck solving this issue yet ?

[2020-07-08 16:11] jamoore5 commented on #481
Thank, the directions were very helpful. The problem looks to be that the body is not being included in the `WireMock.RequestMessage`. I added a logger to the HttpClient handler and do see the body is being passed.

[code]

Is there an easy way to print the LogEntry to console?

[2020-07-08 16:15] jamoore5 commented on #481
<img width="1009" alt="Screen Shot 2020-07-08 at 1 14 05 PM" src="https://user-images.githubusercontent.com/14077644/86943584-01679780-c11d-11ea-824a-280657bb3e24.png">

[2020-07-08 16:38] StefH commented on #481
Can you post your full unit test code?

[2020-07-08 16:53] jamoore5 commented on #481
[code]

[2020-07-08 16:54] jamoore5 commented on #481
[code]

[code]

[2020-07-08 18:35] StefH commented on #481
Can you please post the c# code for "Fetch_User_By_Id_66" ? Because that's the one which gives issues.

And indeed, just use `new HttpClient()` instead of the WebApplicationFactory.

[2020-07-08 18:41] jamoore5 commented on #481
I am trying to integration test my applications api that makes external calls to another api. That is why I am using WebApplicationFactory.

Maybe it is the wrong approach to integration tests?

[code]

`await Client.GetAsync("/api/v1.0/entities/6/User/2");` call my web app, which then makes an external call to the mock server.

[2020-07-08 18:58] StefH commented on #481
You want to test `a client --> web app --> external API = WireMock`

Are you sure the web-app does a POST request to /interactionapi/SystemService.svc/User/search ?

And how does **BodyData** look?
![image](https://user-images.githubusercontent.com/249938/86959213-b28e2200-c15d-11ea-8423-55f4364ad210.png)

[2020-07-08 19:56] jamoore5 commented on #481
I added this handler on the HttpClient
[code]
and it is outputing
[code]
So I am confident that there is a body and some bug is causing the mock server not to see it.

But so far I cannot simplify the code and still reproduce the error. However I am still trying to make a simpler project that reproduces the bug.

[2020-07-08 20:50] jamoore5 commented on #481
I finally reproduced the issue
[code]

The cause of the problem `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`

[2020-07-09 05:31] StefH commented on #481
Do you use windows operating system for running the tests + WireMock?

[2020-07-09 10:14] jamoore5 commented on #481
MacOS

it seems that we need to turn off SocketsHttpHandler because it does

[2020-07-09 12:57] yunj commented on #466
@StefH thanks very much. We decided to use http.

[2020-07-09 12:57] #466 closed

[2020-07-09 13:14] yunj opened #486 "Admin API fails to create a mapping with Request Body matching"
### Describe the bug
Admin API is used to create a mapping which has some sort of request body match, but other matches get created except body.

### Expected behavior:
Body match should appear when querying `GET __admin/mappings`.

### Test to reproduce
Admin API is used to create the following mapping.
[code]
The response from `GET __admin/mappings`
[code]

[2020-07-09 13:51] StefH commented on #486
Thank you.
I'll investigate.

[2020-07-09 18:19] StefH commented on #486
@yunj
The root cause is that you don't provide the Methods on you wish to match. The current code does not return the bodymatcher if there are no Methods defined or if the methods have a 'get'.

I'll investigate why I did add this check in the code.

For your solution now: set the Methods.

[2020-07-09 19:37] StefH commented on #486
https://github.com/WireMock-Net/WireMock.Net/pull/487

[2020-07-09 19:38] StefH commented on #486
Fixed.
New NuGet and Docker will be released soon.

[2020-07-09 19:38] #486 closed

[2020-07-09 20:08] yunj commented on #486
@StefH thanks very much for your quick fix.

[2020-07-10 06:59] gregoks commented on #327
Sorry, havent got around to handle it. Im not sure it still happens though

[2020-07-11 11:27] StefH commented on #481
Can this issue be closed?

[2020-07-12 23:16] jamoore5 commented on #481
I figured out the cause of the issue, but am not sure what to do to fix that mapping do not with my project. I guess if the configuration we are using is not supported, this can be closed.

[2020-07-12 23:41] aslezak opened #488 "Unexpected behavior on multiple params matching"
What is the expected purpose of
[code]

I expected that this setup would match on any of the provided values, but it rejects all of the requests with any of those values?
I know I can get this to match by providing linq or c# matcher as alternative, but just wanted to clarify purpose of the params?
Cheers

[2020-07-13 18:01] StefH commented on #481
Yes sorry, it seems that using the `SocketsHttpHandler` as you do is not supported by WireMock.Net

So I will close this issue now.

[2020-07-13 18:01] #481 closed

[2020-07-13 18:23] StefH commented on #488
Hello @aslezak,

The current intended behaviour from this logic is that you define that the `limit` parameter should be defined 3 times and have the values `0`, `1` and `2`. So it's basically an **AND**.

See this unit test which should explain it:
https://github.com/WireMock-Net/WireMock.Net/blob/d971144426bbf1761dcc4c24da5e3d9870267dd5/test/WireMock.Net.Tests/RequestTests.cs#L126

If you want to

[2020-07-13 18:28] StefH commented on #488
A structural change could be to add another parameter which defines if the match result should be calculated using an *AND* or an *OR*. I'll think about this....

[2020-07-13 19:55] aslezak commented on #488
Thanks for the unit test and regex idea.
One thing I am curious about is in what cases does one want in url to have query param multiple times with different values. I know that some languages process multiple query string  keys differently. PHP takes only the first one unless it is array, c# does array and so on.

ps. if match operator option is something that can be done, happy to make a PR for

[2020-07-13 20:18] StefH commented on #488
Multiple times the same param or single param with multiple values is the same.

So
?limit=1,2

Is same as
?limit=1&limit=2

You can try to make PR however this involves a lot if API changes and internal changes.

[2020-07-13 20:23] aslezak commented on #488
Thanks for the head up, haven't looked much into internals yet.

[2020-07-14 05:45] StefH commented on #488
I'll keep this open for now and see if I can add this somewhere in the documentation.
And I'll check the changes needed.

[2020-07-18 21:00] akamud opened #489 "Change "blacklist" and "whitelist" terms"
**Is your feature request related to a problem? Please describe.**
These terms have proven not to be inclusive to all people in IT. A lot of big projects are already moving away from them. There are better terms that describe the intention of these lists more clearly too.

**Describe the solution you'd like**
A lot of repos are changing the "blacklist" term to "denylist" or "blocklist", and "white

[2020-07-19 00:04] vermapraveen opened #490 "Calling and Stubbing Multiple Services"
First of all, thanks for this very useful lib. Planning to use in LoadTests, IntegrationTests.
I have started experiment with this, got question:

how to achieve multiple service call, as **_mockServer.Urls gives only 1 url**
My application makes multiple http calls to diff endpoints. currently I am able to stub 1 api call like below. I want to stub all of them so that I can test my app in isolati

[2020-07-19 07:52] StefH commented on #490
@vermapraveen
You can just use multiple URL's if you use the settings, see example:
https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L49

[2020-07-19 08:31] StefH commented on #489
In WireMock.Net, I have only used the following:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Settings/IProxyAndRecordSettings.cs#L41

[code]

So I guess renaming it to:
`ExcludedHeaders` and `ExcludedCookies` would be fine.

[2020-07-19 15:36] akamud commented on #489
Seems fine to me, the new names are more explicit too. Other than that, I just found some references for Whitelist and Blacklist in `infura.yaml`, not sure what are those.

[2020-07-19 16:02] StefH commented on #489
Infura.yaml is just an third party example openapi yaml specification file.

However I can just do also a rename there.

[2020-07-20 10:48] Ppiwow opened #491 "Why WireMock.net is not compatible with stubs from WireMock.org"
Hi,

We wanted to use stubs generated for WireMock.org (spirng contract testing). It seems that they are incompatible or we are using it in wrong way.

Example from WireMock.net: https://github.com/bredah/csharp-wiremock/blob/master/NetCore.2.2/Mock/__admin/mappings/example.json

Example of stub for WireMock.org:
[code]
Do you have any converter?

[2020-07-20 11:09] StefH commented on #491
Hello @Ppiwow,

I'm sorry for the confusion, this project does indeed use a different JSON mapping file. The mappings are similar as idea, but the content differs.

See this youtube for some info:
https://youtu.be/IJa6DyJOxzk?t=436

[2020-07-27 15:24] #489 closed

[2020-07-29 09:04] anjoiype opened #493 "While stubbing the request with same path, responses are not getting overwritten."
I have a requirement that on calling same path, each time I have to get separate response. It is not related to stateful behavior.  When I try to set the response 2nd time, its not overwriting the first and hence getting the old response. If I reset the mappings, it will reset the whole mappings which I don't need. How to overwrite the response for same request?

[2020-07-29 12:07] StefH commented on #493
Hello @anjoiype
How to you set the new mapping? Via C# code or by posting to __admin endpoint?

[2020-07-29 13:04] anjoiype commented on #493
I set the new mapping via C# code.
` _testContext.MockServer
    .Given(Request.Create()
                    .WithPath($"/foo/bar"))
                .RespondWith(Response.Create()
                    .WithStatusCode(200)
                    .WithBodyFromFile(fooPath));`
Here _testContext is injected through DI and it contains `WireMockServer.Start()`

[2020-07-29 13:15] StefH commented on #493
When using that code, a new mapping is added. So you end up with 2 mappings.

If you want to **replace it**, add a GUID when adding the first mapping.

And use the same GUID when adding the new one.
See
https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L169

[2020-07-29 13:39] anjoiype commented on #493
It works now. Thanks a lot for wonderful support.

[2020-07-29 13:39] #493 closed

[2020-07-30 04:24] shoaibshakeel381 opened #494 "Stay in Current State for specified number of requests"
Hey guy,s I need to write mocks such that a request keeps faulting for a given number of time before it can succeed. I know that I can use Scenarios for this.

But there's a problem. Let's suppose I want to fault my request 2 times before succeeding on 3rd attempt. So I have to write three mocks where flow would be like this:

[code]
We can see that first 2 states are just doing same thing. So my

[2020-07-30 06:16] StefH commented on #494
@shoaibshakeel381

Probably the interface can look like:
[code]

or

[code]
[code]

[2020-07-30 08:06] shoaibshakeel381 commented on #494
@StefH I would suggest second approach. Here's why:

- This count is highly related to `WillSetStateTo()`  so it would make sense to keep both values in one atomic operation
- `WhenMatchingCountEquals()` can be misplaced like this:

[code]
which is not very readable. It can even be used like this:

[code]
which doesn't make sense.

[2020-08-01 08:46] StefH commented on #494
@shoaibshakeel381
Can you try preview version `WireMock.Net.1.2.16-ci-13650.nupkg` from MyGet ? (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2020-08-01 09:12] StefH commented on #478
@erzki
- what framework (.net core or?) do you use for your unittests?

- A possible solution in WireMock could be to make the request handling forced synchronous (via a settings property), what do you think?

[2020-08-01 14:55] StefH commented on #462
@arturohernandez10

Does the wiki help you using Scenarios and States? Or do you still have some questions?

[2020-08-01 14:55] StefH commented on #490
@vermapraveen
Does this answer your question?

[2020-08-01 15:00] erzki commented on #478
Do you have any documentation om how to rum requests synchronously?

We are running the tests on .Net Framework still.

Den lör 1 aug. 2020 11:13Stef Heyenrath <notifications@github.com> skrev:

[2020-08-01 15:55] StefH commented on #478
@erzki
Running WireMock.net synchronously is not yet possible, but I think this could be a solution for your issue. I'll take a look at the code and see if it can be changed.

[2020-08-01 16:28] shoaibshakeel381 commented on #494
I tested this preview version on my tests and it worked flawlessly. Great job.

[2020-08-01 16:40] StefH commented on #494
I'll create an official version within some time.

https://github.com/WireMock-Net/WireMock.Net/pull/495

[2020-08-01 16:40] #494 closed

[2020-08-01 17:14] StefH commented on #478
@erzki
I've added a property to the settings: `HandleRequestsSynchronously`.
You can try setting this to true.

You need a preview version from MyGet to test this:
- WireMock.Net.1.2.17-ci-13663.nupkg
- https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-08-04 11:03] duychuongvn opened #497 "Add Header Response by using interceptor"
Hello,
I'm deploying API based on .NetCore 3.0, I would like to use WireMock on .NetCore too.

I have an issue:

Some 3rd API require Signature to verify client request and ask client to verify their responses.
It means that to integrate with 3rd party, we have to add Siguature to Request Header and verify Signature in the Response Header from 3rd party too.

We are using admin mock interface (rea

[2020-08-04 16:15] StefH commented on #497
@duychuongvn
There are several options ; however I'm not sure if you use these.

1. Run the WireMock.Net as standalone (console) app and add some hardcoded c# code to get and set the signature.
Like https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L77

2. If the Signature is not that complex, maybe you can use some response templating

[2020-08-06 09:42] duychuongvn commented on #497
Hi @StefH ,

Thank you very much for your help.
I'll follow you direction.

[2020-08-06 10:35] Tragedian opened #498 "Running WireMock.Net without starting a server"
Is there a way to run WireMock.Net without starting a server instance running on a physical port? It would be great to be able to create a server-less instance that exposes an `HttpMessageHandler` or `HttpClient` in a similar fashion to ASP.NET's `TestServer`. It would be easy to inject these properties into a system-under-test to avoid having to go over a physical network link.

[2020-08-06 12:26] StefH commented on #498
@Tragedian
I see your point, however WireMock.Net is created specifically (at this moment) to mock the _wire_ and the requests and responses and can be used to mock 3rd party services.

[2020-08-06 12:28] StefH commented on #497
Please let me know if this works for you, so I can close this issue.

[2020-08-06 16:59] lobsteropteryx opened #499 "Why does JsonMatcher accept an invalid JSON string?"
It appears that the `JsonMatcher` constructor accepts an invalid JSON string, and [swallows](https://github.com/WireMock-Net/WireMock.Net/blob/8ae0abb023537605107c154dfebe8be3338df0bd/src/WireMock.Net/Matchers/JsonMatcher.cs#L114) the parsing exception.

Is there a valid use case for this behavior?  As far as I can tell, it still won't properly match an invalid JSON string.  For me, the preferred

[2020-08-06 18:18] StefH commented on #478
@erzki did you have time to check this?

[2020-08-06 19:19] erzki commented on #478
Not really. I will try to test it but we have another approach in the plan.
To not use Wiremock in the unit tests. Instead some Http faker that doesn't
do real http requests.

Den tors 6 aug. 2020 20:18Stef Heyenrath <notifications@github.com> skrev:

[2020-08-06 21:18] Tragedian commented on #498
I can see that the implementation is currently built around middleware configured using `WebHostBuilder`. That makes it a relatively simple job to add the middleware to a `TestServer` instance. Perhaps `WireMockServer` could be extended in some fashion to support any server capable of hosting the middleware?

[2020-08-07 06:08] StefH commented on #478
@erzki
That's also an possibility.

For now I'll close this issue, and merge the code to master (https://github.com/WireMock-Net/WireMock.Net/pull/496).

In case you have questions in the future, just raise a new question.

[2020-08-07 06:08] #478 closed

[2020-08-07 12:06] StefH commented on #499
@lobsteropteryx
Thanks for the question.

I think that more places in the code do a try-catch-swallow. So it's best approach to detect all these places and use a new configuration setting `bool? ThrowOnException`.

What do you think?

[2020-08-07 12:07] StefH commented on #498
Maybe making `WireMockMiddleware` public will already solve your question?

[2020-08-07 12:34] lobsteropteryx commented on #499
I will have to dig a little deeper to see where else that might happen, but a boolean setting would be fine.

Another possibility might be to try to parse the string immediately when constructing the `JsonMatcher`.  That would limit the blast radius, since I believe it's only created two places internally.

Is this something you would like help with?

[2020-08-07 12:54] StefH commented on #499
I see your point.

This code https://github.com/WireMock-Net/WireMock.Net/blob/8ae0abb023537605107c154dfebe8be3338df0bd/src/WireMock.Net/Matchers/JsonMatcher.cs#L91 uses the `Value`, but if indeed the conversion from that `object Value` to `JToken jtokenValue` is done in the constructor, any errors are found earlier.

And if  this code fails:
[code]

For exception I can use that _configuration set

[2020-08-07 13:04] Tragedian commented on #498
It would be a fantastic step in that direction, certainly. The only challenge then would be configuring the middleware options, as those methods all exist on the server, not the options themselves. It probably wouldn't be hard to move some logic around to achieve that though.

[2020-08-07 14:00] StefH commented on #499
Parsing the code in the constructor : you can try this in preview MyGet : `WireMock.Net.1.2.17-ci-13680.nupkg`

[2020-08-08 07:55] StefH commented on #499
Hello @lobsteropteryx,

A new preview version can be found on MyGet: `WireMock.Net.1.2.17-ci-13684`. Can you please test?

Set the `ThrowExceptionWhenMatcherFails` in the `WireMockServerSettings` to true.

https://github.com/WireMock-Net/WireMock.Net/pull/500

[2020-08-09 14:48] StefH commented on #172
@seanamosw
Did you continue on the code in the `develop`-branch from the https://github.com/WireMock-Net/WireMock.Net.ModelBuilders/tree/develop/ project?

[2020-08-11 02:57] vermapraveen commented on #490
yes, thanks

On Sat, Aug 1, 2020 at 9:55 AM Stef Heyenrath <notifications@github.com>
wrote:

--
Regards,
Praveen Verma

[2020-08-11 06:56] #490 closed

[2020-08-12 00:47] duychuongvn commented on #497
Hi  @StefH ,

It works. This is my solution:

`         var responseMappings = Server.Mappings.Where(x => x.Provider is Response);
            foreach (var mapping in responseMappings)
            {
                Response responseProvider = (Response)mapping.Provider;
                var responseMessage = responseProvider.ResponseMessage;
                    responseProvider.WithCallback(request

[2020-08-12 07:35] StefH commented on #497
Ok.

[2020-08-12 07:55] StefH commented on #497
@duychuongvn

In your case : I would not loop the mappings and update the response, but just register that `WithCallback` mapping directly:

[code]
Example: https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L524

Or is this not possible in your scenario?

[2020-08-12 07:56] StefH commented on #499
@lobsteropteryx Did you have time to test this new setting?

[2020-08-12 10:08] duychuongvn commented on #497
Hi @StefH
In my case, I would like to static  json file  instead of hard code
I want to add dynamic singature  with response text, content-type, timestamp,... into  the response header for static mapping files then I have to loop and create the other response from the file.

[2020-08-12 10:12] StefH commented on #497
Ah I see.
In that case your solution is the best one.

[2020-08-12 10:12] #497 closed

[2020-08-12 10:22] lobsteropteryx commented on #499
Hi @StefH!

I've done some testing, and I like the new behavior--parsing the string immediately, and raising an exception for invalid JSON.

You might have an issue with the `ThrowException` parameter; as it stands right now, you'll still get the same exception raised whether `ThrowException` is true or false, since you're calling `ConvertValueToJToken` here: https://github.com/WireMock-Net/WireMo

[2020-08-12 10:38] StefH commented on #499
I also think that throwing exception in constructor is correct. You get this exception immediately when adding a invalid mapping.

Later today I will merge PR and create new official release.

[2020-08-12 10:38] #499 closed

[2020-08-13 08:15] StefH commented on #498
The middle ware depends on:

- IWireMockMiddlewareOptions options
- IOwinRequestMapper requestMapper
- IOwinResponseMapper responseMapper
- IMappingMatcher mappingMatcher

However code to add/configure mappings is not working because these methods are defined on the WireMock server code.

[2020-08-13 22:40] ilia-cy opened #501 "Body matching can cause "The response ended prematurely" errors"
I'm using the mock server for some time now, and I recently started to encounter this strange issue.
All mocked responses work properly, except for ones that are attempting to respond to POST requests that contain something in the body.
These mocked responses fail our CI once in a while, as when the client performs the POST request it receives the following `HttpRequestException` :

[code]

The wa

[2020-08-14 16:59] StefH commented on #501
Is your application running on Linux or Windows?

And could it be that the HttpClient you are using is not used optimally? (there are several StackOverflow articles when you search : https://www.google.com/search?client=firefox-b-d&q=System.IO.IOException%3A+The+response+ended+prematurely.%5Cn+++at+System.Net.Http.HttpConnection.FillAsync%28%29%5C)

[2020-08-14 17:17] StefH commented on #501
And can you upgrade to latest version? Maybe your bug is related to https://github.com/WireMock-Net/WireMock.Net/issues/474 ?

[2020-08-14 19:38] ilia-cy commented on #501
Running on Linux.
Nothing special regarding the HttpClient.
It is the standard .Net Core client, with no special tweaks or settings.

I'll try upgrading to the latest version to see whether it solves it.
Thanks!

[2020-08-20 14:22] ilia-cy commented on #501
Upgrading the version to 1.2.18 solved the issue.
Thanks a lot!

[2020-08-20 14:32] StefH commented on #501
Hello @ilia-cy, I'm glad your issue is solved.

Closing this one now...

[2020-08-20 14:32] #501 closed

[2020-08-25 07:56] StefH commented on #462
@arturohernandez10

Did you find a solution in the WIKI?

[2020-08-28 00:22] arturohernandez10 commented on #462
The wiki is not very explicit. No. the issue is: you __have to__ specify the next state. Otherwise the state is cleared. The example agrees with not_set -> A , A -> B,  B -> not_set. But in many state driven definitions, it is perfectly valid to specify behavior on a given state.  Following you wiki example, if a delete was not valid when the to-do list was just started. You might want to do this:

[2020-08-30 08:26] StefH commented on #462
@arturohernandez10
Now I understand your question.

Actually, your question looks a lot like this issue : https://github.com/WireMock-Net/WireMock.Net/issues/494

Which was solved by adding an **times** parameter to the **WillSetStateTo** method:
`IRespondWithAProvider WillSetStateTo(string state, int? times = 1);`

In your case, you can set the value for the **times** to `Int32.MaxValue`.

I thin

[2020-09-03 22:44] arturohernandez10 commented on #462
@StefH

Awesome!! I like this library, that comment may have spared me from some confusion. It may help someone else. Next time I use this tool, I'll create an extension method as a shortcut for `.WhenStateIs("x").WillSetStateTo("x")` and I'll post it here if anyone prefers to use it.

Thanks!

[2020-09-03 22:44] #462 closed

[2020-09-06 12:05] StefH commented on #491
@Ppiwow Does this answer your question, or do you need more help?

[2020-09-06 12:08] StefH commented on #327
Hello @gregoks

I'm closing this issue for now. It could be that this is related to https://github.com/WireMock-Net/WireMock.Net/issues/478, so please take a look at that issue + solution.

In case you encounter this again, please raise a new issue.

[2020-09-06 12:08] #327 closed

[2020-09-06 12:13] StefH commented on #437
@eli-darkly
I think I cannot really help you on this question.

Does maybe upgrading your unit-test project to .NET Core 3.x help?

[2020-09-06 12:40] Ppiwow commented on #491
yes, but decission is really strange. standarization... specially if you were copying idea you could decide to make it compatible... this is json so easy to be compatible

[2020-09-10 06:26] rangerranger opened #502 "System.TypeLoadException: Could not load type 'RandomDataGenerator.FieldOptions.FieldOptionsBytes"
Trying to integrate Wiremock into a larger project. I have tackled most of the needed packages / dependencies. But I'm currently blocked on this error:
[code]
I have the RandomDataGenerator.Net package installed and reference it in the csproj. I have the Fare package installled and also reference in csproj (not sure if this is necessary, but read on the RandomDataGenerator.Net wiki that Fare is on

[2020-09-11 05:34] cezarypiatekGC opened #503 "Consistent API for defining expectations."
Hi,

I would like to use WireMock.Net in my project but I need to handle the following scenario. When we run tests locally (in VisualStudio) then we want to run WireMock in memory using WireMockServer.Start. When we run tests in CI then we want to use docker container with WireMock and connect to it from the test code and from the tested application. Besides that difference, we would like to have