[2022-03-10 08:36] PrzemekScott commented on #735
Thanks @StefH. Started yesterday with that ^ approach and will see today how it will go.

[2022-03-10 08:37] PrzemekScott commented on #735
Thanks @StefH. Will give it a try.

[2022-03-10 11:49] PrzemekScott commented on #735
@StefH ,
Thanks for that change. It works well, starting server with all settings from the appsettings.json file"

![image](https://user-images.githubusercontent.com/88881374/157655323-f2b7369c-08a5-49e3-af89-347cf4248cd4.png)

Yet, there is one thing which I do not understand.
When I Run the App - I'm using JB Rider as my IDE - in next several seconds the browser is opened with this url as below:

[2022-03-10 16:10] StefH commented on #735
Can you provide your full project?

[2022-03-10 20:02] StefH commented on #735
Can you share your appsettings.json and the startup code?

From that I can try to reproduce it

[2022-03-11 09:22] StefH commented on #735
When running as:
![image](https://user-images.githubusercontent.com/249938/157838943-7ef72905-e985-40cf-9785-8c63f0cbb734.png)

It just works fine?
![image](https://user-images.githubusercontent.com/249938/157838908-c6e77aea-7df6-4bcd-8e54-8c15cb795dcb.png)

[2022-03-11 11:21] PrzemekScott commented on #735
So as it also did for my colleagues using Visual Studio. I will try to contact Jet Brain and as for some support. Maybe, just an assumption, that when JB Rider is Run(ning) web app type App, it opens it on some predefined port. But I couldn't find it in settings.

Anyway, thank you StefH for help and changing interface to class in appsettings. I think we can consider this Question as closed.

[2022-03-11 11:25] PrzemekScott commented on #735
;) actually I've just found it:

![image](https://user-images.githubusercontent.com/88881374/157858145-49c42ad1-0deb-4de7-9635-2046cc36e521.png)

![image](https://user-images.githubusercontent.com/88881374/157858228-4a7b42da-3f54-4f82-85f4-0b04de4557dd.png)

[2022-03-11 13:44] #735 closed

[2022-03-15 10:44] RomanPoschl commented on #734
@StefH oh that's a method? A used little dirty way.

I created my own FileHandler, where I changed the path.
[code]

[2022-03-15 16:06] PrzemekScott opened #738 "How best to manage/switch remote configuration for proxying(recording) versus matching(mocking) ?"
After some local experiments with WM, now I started some with WM running as a Kubernetes pod.
When in local, each time I wanted to use WM for proxying or for matching I was simply restarting it with configuration changed appropriately. Mappings were kept on local folder so sucha a restart wasn’t a problem - mappings were not lost.

Yet now, when WM running as a pod its space for keeping folders/fi

[2022-03-15 18:53] StefH commented on #738
@PrzemekScott
In case of proxy mode; I could ignore all calls made to `/__admin/***`.

Would that help you?

[2022-03-16 08:11] PrzemekScott commented on #738
@StefH
hm... not sure

your context = thorough knowledge of WM
my context = still very basic knowledge of WM

so can you please elaborate more on your idea?
You mean "ignore all calls made to /__admin/*** " from being saved to mappings?

P.S. I've tried to change settings on the fly - when WM is running as a pod - with POST /__admin/settings.
WM is running with "AllowPartialMapping": false,
so I'v

[2022-03-18 07:41] StefH commented on #738
What I mean is that when WireMock.Net is running in proxy mode, it should still allow you to change the configuration by allowing calls to `/__admin/settings`. (This requires a change in the code.)

[2022-03-18 11:35] PrzemekScott commented on #738
Ok, yes, that would be great.

Maybe I missconcept something, so please @StefH  correct me.
But I understand that the best way to work with WM when testing is to create mappings (less often usage) during proxying/recording, and then to switch WM to matching mode (most of the time usage).

So I can configure it to work as proxy for recording (example below) - less often:  "WireMockServerSettings":

[2022-03-19 17:18] xamadev commented on #567
@StefH Just tested with version 1.4.38 - it's working! Thanks a lot for your effort :)

[2022-03-24 08:33] PrzemekScott commented on #738
Hey @StefH  have you had a chance to work on this ^, or if not when do you think you could? thanks

[2022-03-28 11:00] StefH opened #741 "Integrate with Pact"
@mefellows

When I follow your documentation on https://bitbucket.org/atlassian/pact-json-schema/src/master/schemas/v2/schema.json it seems that there is only version 1 and 2 available.

But when I look at this page:
https://github.com/pact-foundation/pact-specification

There is also version 3 and 4 available?

[2022-03-28 11:04] StefH commented on #741
@mefellows

When I follow your documentation on https://bitbucket.org/atlassian/pact-json-schema/src/master/schemas/v2/schema.json it seems that there is only version 1 and 2 available.

But when I look at this page:
https://github.com/pact-foundation/pact-specification

There is also version 3 and 4 available?

[2022-03-28 12:06] mefellows commented on #741
Hi @StefH! I don't believe a JSON schema exists for them, no.

The recommendation is to serialise a v2 pact for now (we also support use of v3 for this feature so you could also do that).

Most of the features in v3 and v4 of Pact are not going to be use to this use case - such as Matchers and Generators - because they can't be inferred by the examples.

[2022-03-29 07:56] PrzemekScott commented on #738
Hey @StefH . We went with solution of deploying WM with different settings each time its needed.

[2022-03-29 08:39] PrzemekScott opened #742 "WM is matching during proxy (recording) mode - why?"
Hey @StefH we have some issue with a working flow for WM. As you may remember from my previous messages, we want to use WM in proxy mode for recording only, so then we could run our tests against that mappings created when the WM is run only in matching mode.

But what we experienced is that when we are trying to prepare mappings, WM running on proxy mode, the WM is also doing matching with mappin

[2022-03-30 07:53] PrzemekScott commented on #742
I think, our needs are partially similar to this previous question https://github.com/WireMock-Net/WireMock.Net/issues/632

[2022-03-30 08:48] StefH commented on #742
I understand your question.

I'll try to investigate the issue.

But please keep in mind that I'm also working on other issues and other projects.

[2022-03-30 12:39] PrzemekScott commented on #742
Sure! Thanks for giving the sign :)

[2022-03-31 07:58] redwolf2 opened #743 "Stubbing wiki page outdated"
### Describe the bug

https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing#verify-interactions

states that `var allRequests = server.RequestLogs;` is available. But not in the current API implementation.

It should state that `var logEntries = server.LogEntries;` are available.

[2022-03-31 08:59] #743 closed

[2022-04-03 10:47] StefH commented on #742
@PrzemekScott
About this specific question, I tested this code:
[code]

And when I do a call to WireMock.Net (using postman to post a body), everytime the proxied endpoint (http://postman-echo.com/post) is hit.

The internal saved mapping  is not used it seems?

Can you tell me your setup ?
Or provide an example program?

[2022-04-03 13:58] PrzemekScott commented on #742
@StefH

This is how the settings looks like:

[code]

And this is how we handel WireMock and a web app:

[code]

I will ask my team mate, Jatin, to comment here, cause he was specifically doing this experiment/testing when he noticed 'matching' happening when proxy settings were ON too. @jatin-prusty-travelport

[2022-04-03 16:49] StefH commented on #738
I noticed that when running WM in Proxy, you can GET and UPDATE the settings via the admin interface (WM still responds to calls to the `_admin` endpoint).

However, I found a small bug that not all settings were retrieved.

And there is no way yet to GET or SET the **ProxyAndRecordSettings**, I'll need to update the code to support these settings also.

[2022-04-04 04:09] jatin-prusty-travelport commented on #742
@StefH I believe everytime you make a request to http://postman-echo.com/post, some header (like requestId or some other token) always changes and hence you are able to capture all the mappings. This can be verified by checking the generated mappings. But if you blacklist those headers then you can see that it first tries to serve the response from the captured mappings, and it goes to the proxy U

[2022-04-04 14:26] #394 closed

[2022-04-05 10:28] jatin-prusty-travelport commented on #742
Thanks @StefH! I have checked the preview version and it works exactly as we wanted. So in proxy mode it is not serving from the mapping.
But For wiremock to be more dynamic, I would really like to have a appsetting to define whether we want to enable this feature or not. In some cases people might want it to switch to mock mode when a mapping is captured.
Will leave it upto you to decide. Can you

[2022-04-05 10:47] StefH commented on #742
@jatin-prusty-travelport
For enabling / disabling proxy behaviour (by using settings), is described in my last comment here:
https://github.com/WireMock-Net/WireMock.Net/issues/738

[2022-04-06 18:58] StefH commented on #742
@jatin-prusty-travelport
I think I get your last question...

My current solution is to make sure that the priority is used --> the priority from the Proxy mapping is defined in such a way that this get preference over the just created mapping.

I need to think on a good way to change the code to make it switch to mock mode when a mapping is captured...

[2022-04-07 15:48] xzxzxc opened #744 "System.ArgumentOutOfRangeException when Timeout.InfiniteTimeSpan used as an argument for IResponseBuilder.WithDelay()"
### Describe the bug
Next code fails with
`System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'delay')`

[code]

### Expected behavior:
Method `WithDelay` should allow infinite timeout.

### Other related info
WireMock.Net version 1.4.40

[2022-04-07 22:47] devmariodiaz opened #745 "Swagger implementation"
Hello Stef,

Long time no see you :D, hoping you are doing well,

I have a question for you:

Is there any way to implement Swagger into a WireMock.Net project? It's not for Admin, is for mocked apis.

[2022-04-11 10:00] StefH commented on #744
InfiniteTimeSpan is a long time ;-)

[2022-04-11 10:04] StefH commented on #745
A Swagger API contains two things:
1. UI
2. a download from a json file which describes the swagger for an API

All calls can be mocked by WireMock.Net, however for option 1 you probably need to capture some data using the Proxy mode because you need css, html and so on.

Option 2 is just easy : return a json as body.

[2022-04-12 12:35] jatin-prusty-travelport commented on #738
@StefH I was checking the preview version and found taht post was able to update the proxy settings correctly. But after that when I try to mock a call I get error. So here is the sequence of steps:
1) Ran the mock server with proxy mode enabled (with ProxyAndRecordSettings)
2) Captured one mappings by calling the proxy URL
3) Used the API to update settings and got rid of ProxyAndRecordSettings
4

[2022-04-14 13:09] davemasters1984 commented on #564
I noticed you've re-opened this, which I'm grateful for. Don't suppose you have any insights on where I'm going wrong?

[2022-04-14 19:25] StefH commented on #738
Please check preview version 1.4.40-ci-16018

[2022-04-16 08:10] StefH commented on #738
@jatin-prusty-travelport
@PrzemekScott

I think the functionality works fine now:

1. Ran the mock server with proxy mode enabled (with ProxyAndRecordSettings)
2. Captured one mappings by calling the proxy URL
3. Used the API to update settings and got rid of ProxyAndRecordSettings
4. Made the same call again and it's served from the mapping

Please try version `1.4.40-ci-16022`.

[2022-04-18 15:23] devmariodiaz commented on #745
Hello Stef,

Hoping you are doing well,

We really need is that for example, WireMock be able to read all mocked endpoints and expose those endpoints in his user interface to be shown to the users.

[2022-04-18 18:55] #744 closed

[2022-04-19 06:44] StefH commented on #745
Hello @devmariodiaz,

I understand your question now. I'll take a look, however this will take some time to implement.

[2022-04-21 09:04] StefH commented on #738
@jatin-prusty-travelport
@PrzemekScott

Did you have time to test ?

[2022-04-21 11:26] jatin-prusty-travelport commented on #738
@StefH I tested the versions today. It works fine in 1.4.40-ci-16018 but it's broken in 1.4.40-ci-16022.
cc: @PrzemekScott

[2022-04-21 11:41] StefH commented on #738
Broken means incorrect behavior?
Or 'Object reference not set to an instance of an object.'?

[2022-04-21 11:43] jatin-prusty-travelport commented on #738
In 1.4.40-ci-16022 I see again the error - 'Object reference not set to an instance of an object.'.

[2022-04-21 12:01] StefH commented on #738
Cool.

I'll merge this branch today and create a new official version.

[2022-04-21 12:01] #738 closed

[2022-04-21 15:04] PrzemekScott commented on #738
Thanks @StefH !

[2022-04-21 16:05] StefH commented on #742
Closing this...

[2022-04-21 16:05] #742 closed

[2022-04-22 10:38] davemasters1984 commented on #564
@waqaskhan540 I don't suppose you could share what you changed to get it working? As far as I can tell I have exactly the same as the sample application apart from I'm running dotnet 6 not dotnet core 3.1

[2022-04-22 14:08] waqaskhan540 commented on #564
@davemasters1984 it was a while ago I was working with WireMock, but as far as I remember I didn't change anything, I just published the sample and worked fine for me.

[2022-04-22 14:18] #741 closed

[2022-04-22 14:20] #734 closed

[2022-04-22 14:29] davemasters1984 commented on #564
Thanks for replying! Do you remember whether you specified 80/443 in the config? The sample app doesn't have any port config, but for me this just causes Wiremock to listen on a random port, but specifying 80 in config gives the error: "An attempt was made to access a socket in a way forbidden by its access permissions"

It's driving me nuts 😭

[2022-04-22 14:51] suszi88 commented on #693
Hi @StefH , thank you for your reply, sorry I didn't reply earlier, I had to miss your comment as was on holidays. I saw the page and I set it up before but this is not what I asked for. What I asked is:
I have api which need to send request to https url, let say my api is creating request and senting it to https://SomeValidUrl.com. Now I cannot change this url, what I wanted to do is to have prox

[2022-04-23 10:36] StefH commented on #745
@devmariodiaz
I've created an initial version which returns a 3.0 swagger file at `/_admin/mappings/swagger`.

Please test preview version `1.4.41-ci-16049` and let me know if you find any bugs or issues.

[2022-04-23 22:35] devmariodiaz commented on #745
Great to hear from you that, great news, I’ll test ASAP and I’ll get back
to you

Thanks a lot stef

On Sat, 23 Apr 2022 at 5:36 AM Stef Heyenrath ***@***.***>
wrote:

[2022-04-28 21:26] StefH commented on #564
Hello @davemasters1984,

I did use the https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.WebApplication.NETCore3 as an example.

And I published this application via VS 2022 via right click to a Windows App Service plan.
![image](https://user-images.githubusercontent.com/249938/165847522-0b9a24c3-dea3-4ae2-a926-5561cd2c2fe3.png)

And it runs fine at https://wiremocknet

[2022-04-29 19:53] leolplex commented on #745
@StefH I've been testing this feature and I found a issue.

I ran the next code:

[code]

**testopenapifile.json:**

[code]

**__admin/mappings:**
[code]

**__admin/mappings/swagger:**
[code]

The issue here is the request body it is not mapped in the swagger output.

[2022-04-29 20:41] mattisking opened #752 "Help converting a slightly more complex Wiremock.org template"
I'm experimenting using this instead of wiremock.org and am doing some POC stuff. I've hit a couple of problems with Body matching using XPath, and I could use some guidance on how to accomplish the response request->response items and dynamically created response parts. I have a template here (cnp.json
[config.zip](https://github.com/WireMock-Net/WireMock.Net/files/8594601/config.zip)
)
and a par

[2022-04-30 09:09] StefH commented on #745
@leolplex
Can you try version `1.4.41-ci-16094`?

(Also not that converting openapi -> mappings -> openapi will probably lose some information during the process, so don't expect full 100% correct.

[2022-04-30 09:14] StefH commented on #752
@mattisking
So in your case, this mapping should only match if **both** Matchers are matching.

And currently WireMock.Net works like : **any** are matching.

Correct?

[2022-04-30 14:03] mattisking commented on #752
That’s correct. It’s doing an OR match and I need an AND match.

some test cases I’ll need to set 5 or more AND matches.

I also started on building the response. Using one of the examples I was looking at the random data generator which seems to work when using BodyAsJson, but there’s no BodyAsXml option and just using Body doesn’t seem to work?

[2022-04-30 18:06] StefH commented on #752
1. Sometimes the logic in WireMock.Net uses an `or`, sometimes it uses an `average`. I guess I need to verify the logic from all matchers so that these behave the same. What would be the best default behavior? Using an `or` or `and` or `average`?

2. I think you can use templating for that, also for a body as a string or xml. See https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templatin

[2022-04-30 18:17] mattisking commented on #752
As long as there is a way to change it between OR and AND (or average) I’m not sure that it matters. But from a logical perspective, if each item in the config is a “Matcher” of some sort I would personally expect it must follow all the matches to match. That’s my personal belief. If this is the way it works today, however, changing it might break it for others if they update in the future… that m

[2022-05-01 18:04] leolplex commented on #745
@StefH yes I use::
[code]
I don't expect full 100% correct but I expect get the same that mapped __admin/mappings:

For the example a changed the ReadStaticMappings to false and it worked better but yet I didn't find the request body:

[code]
In this try the __admin/mappings shown better information but yet request body is lose, I hope to make myself understood.

__admin/mappings, look that the're

[2022-05-01 19:20] StefH commented on #745
Please try `16113`.

the request should be present

[2022-05-03 06:13] StefH commented on #674
Dear @emygg84, is this issue still valid?

[2022-05-03 06:13] StefH commented on #655
@bettyybei
Did you have time to verify this? Else I will close this question.

[2022-05-03 06:15] StefH commented on #653
Hello @devmariodiaz, is this still a problem for you? Else I'll close this issue.

[2022-05-03 06:15] StefH commented on #437
Hello @eli-darkly,

Is this issue still relevant, or can it be closed?

[2022-05-03 14:02] devmariodiaz commented on #653
Hello Stef, I'll close this issue because this is already solved.

Thanks for all 💯

[2022-05-03 14:02] #653 closed

[2022-05-03 16:24] StefH commented on #745
@leolplex
With the very latest Preview NuGet (will be available in max 30 minutes), the generated swagger looks like:
[code]

(Ignore the `x` path, that's just my other example mapping.)

[2022-05-03 17:12] StefH commented on #745
So I can merge this and create a new official version?

[2022-05-03 17:19] leolplex commented on #745
No wait, I need to run a couple a complex cases.

[2022-05-03 17:20] StefH commented on #745
Ok.

[2022-05-03 21:20] leolplex commented on #745
@StefH it looks as an issue:

[code]

__admin/mappings:

[code]
__admin/mappings/swagger:

[code]

In this case the BodyAsJson mapped in __admin_/mappings is an array but in the swagger it is mapped as an array but the string property is missing.

I use version 1.4.41-ci-16113.

[2022-05-03 21:52] leolplex commented on #745
I found what looks like another issue:

After of run the next code:

[code]

testopenapifile.json:

[code]

The output in the __admin/mappings was:

[code]

And the __admin/mappings/swagger output was:
[code]
At first glance it looks good but when passing it through the swagger editor there are a lot of structure errors related with $ref :

![swaggererrors](https://user-images.githubusercontent.co

[2022-05-04 09:15] StefH commented on #745
@leolplex

1. Issue with array should be fixed
2. references --> I also saw this, therefore I decided to write my own logic to convert an JObject/JArray/object to a Swagger Schema.

Please try latest preview `16129`.

[2022-05-05 06:51] StefH commented on #745
@leolplex

The very latest version (`16135`) fixes all issues with array.

[2022-05-10 03:13] mefellows commented on #741
This is Awesome!! One thing I noticed is that the JSON serialisation is different to the spec: https://github.com/WireMock-Net/WireMock.Net/pull/748/files#diff-bd3932495781a219fda99eb55b250d4f0ce81b829887c94f311e5d68b2c106c6

(UpperCamelCase instead of lowerCamelCase). I haven't tested, but if it's producing a pact file this way it's possible it will cause issues.

I also note that you are capturi

[2022-05-10 05:53] StefH commented on #745
@leolplex
Did you have time to test this?

[2022-05-10 16:01] leolplex commented on #745
@StefH
I'm going to test it asap, I'll let you know when news

[2022-05-10 16:33] leolplex commented on #745
@StefH array is woking fine.

I've found what looks like an issue:

Code:

[code]

file_error.yaml:

[code]

__admin/mappings:
[code]

__admin/mappings/swagger:

[code]

Track log:

[code]

[2022-05-10 19:45] MeuLee opened #753 "FluentAssertions - assert the server has not received a call"
**Is your feature request related to a problem? Please describe.**
Using `HaveReceived(0).Calls()` throws an exception if no calls have been made.
"Expected StubServer to have been called at address matching the absolute url "https://localhost:62040/path/to/the/resource", but no calls were made."

**Describe the solution you'd like**
`HaveReceived(0).Calls()` should validate that no calls have bee

[2022-05-10 20:18] leolplex commented on #745
@StefH yep solved on this version.

A last think:
<img width="1434" alt="Screen Shot 2022-05-10 at 2 59 22 PM" src="https://user-images.githubusercontent.com/11394398/167711925-2489776d-2fd2-4676-a4d6-395f2838cdb6.png">

Looks like when a param is defined is missing the type and it should be into a label schema:

[code]
Code:
[code]

pet.json:
[code]

__admin/mappings:
[code]

__admin/mappings/swa

[2022-05-11 06:56] StefH commented on #745
@leolplex

Latest version `16147`:

1. schema:            type: string is included always

2. and "required = true" is also added when it's a normal matcher (so "not" RejectOnMatch)

[2022-05-11 18:44] StefH commented on #753
@MeuLee
Good point. I'll take a look.

[2022-05-11 19:22] leolplex commented on #745
@StefH
That's working, great.

On the same scenario above I received other structural error: "additionalProperty: pattern" I'm wondering if this property could be removed?

![Screen Shot 2022-05-11 at 2 20 39 PM](https://user-images.githubusercontent.com/11394398/167929134-7cae4ab6-ef13-47a0-b09f-7e61091944eb.png)

![Screen Shot 2022-05-11 at 2 20 32 PM](https://user-images.githubusercontent.com/1

[2022-05-12 00:45] mefellows commented on #741
Matching rules are used by Pact during _provider verification testing_, to make tests less brittle (see https://docs.pact.io/getting_started/matching). They allow you to say "I want this shape object to be returned, but I don't care if the value is different. Just check that the keys exist and the value matches a type/regex/etc.".

The issue arises during replay, where Pact sends a request per int

[2022-05-12 06:33] StefH commented on #745
For some reason it seems that `pattern` is not allowed for "Header parameters", but it's fine for query and cookie?
I can not find any clear documentation why and how `pattern` is valid.
For now I'll remove pattern everywhere. Unless you can find some documentation on this.

Swagger UI: maybe there is a simple NuGet from Swagger to do that, but this will be for the future.

[2022-05-12 15:02] leolplex commented on #745
@StefH

You can put pattern at the schema level:

[code]

(Swagger UI will be awesome)

[2022-05-12 18:30] StefH commented on #745
@leolplex
See `16158`

[2022-05-12 20:16] leolplex commented on #745
It's working.

I've found other structural error:

c# code:

[code]

refs.yaml:

[code]

__admin/mappings:

[code]
__admin/mappings/swagger:
[code]

Structural errors:

1. should NOT have additional properties additionalProperty: definitions
2. Could not resolve reference: #/paths//v2/user/createWithList/POST/requestBody/content/application/json/schema/definitions/Anonymous
3. $refs must reference

[2022-05-12 20:55] StefH commented on #745
Test version 16160

[2022-05-13 16:20] leolplex commented on #745
@StefH all issues was resolver, I think it's a stable version to release.

I open other thread if I'll found any thing in the future.

Thanks a lot, I appreciate it.

[2022-05-13 17:58] leolplex commented on #745
@StefH wait, please.

I've found a new issues, let me a couple of minutes, I'll document the scenario.

[2022-05-13 19:29] leolplex commented on #745
@StefH
This time is related with files put in __admin/mappings with PatternAsFile and BodyAsFile.

Code:
[code]

Folder: __admin/mappings/test.json:

[code]

Folder: __admin/mappings/test_request.xml:

[code]

Folder: __admin/mappings/data/test_response.xml:

[code]

Http Get: __admin/mappings:

[code]

Http Get: __admin/mappings/swagger:

[code]

The request and response are not mapped in the swa

[2022-05-13 19:32] StefH commented on #745
Yes.

However if this file is dynamic, so the content can change, which means that the swagger will change.

So this will be something for a next version.

Agree?

[2022-05-13 19:49] leolplex commented on #745
@StefH I agree. Then this version is ready for release. Thanks.

[2022-05-13 20:02] #745 closed

[2022-05-13 20:03] StefH commented on #753
Will be fixed in new version.

[2022-05-13 20:03] #753 closed

[2022-05-13 23:26] jimiscott opened #754 "Is there an equivalent of withChunkedDribbleDelay?"
Hello, is there an equivalent of the above (from wiremock.org)?

[2022-05-14 07:21] StefH commented on #754
@jimiscott
Not yet.

Maybe you can take a look at the source code and make a PR?

[2022-05-14 09:13] jimiscott commented on #754
@StefH Thanks for the reply.

A cursory glance means that I would probably need to change WireMock.Owin.Mappers.ResponseMapper and ResponseMessage.

To do this properly a possible introduction some sort of ResponseDelegate handler pattern....which would remove all that conditional logic.

[2022-05-14 11:37] StefH commented on #752
@mattisking
I'll take a look on how to correctly implement the OR and AND matching. I keep you posted here.

[2022-05-17 09:35] StefH commented on #752
https://github.com/WireMock-Net/WireMock.Net/pull/755

[2022-05-19 20:58] siewers opened #756 "WireMockConsoleLogger aggregate exception handling bug?"
It seems like the handling of the aggregate exception is wrong.

https://github.com/WireMock-Net/WireMock.Net/blob/d7173d34a3da7f828a0aa706c5283badf2d43da0/src/WireMock.Net/Logging/WireMockConsoleLogger.cs#L50-L57

Shouldn't it be like this?
[code]

[2022-05-19 21:00] StefH commented on #756
@siewers
I think you are correct. Can you make a PR?

[2022-05-20 14:15] siewers opened #758 "Add support for logging to an xUnit ITestOutputHelper"
**Is your feature request related to a problem? Please describe.**
When using xUnit, it would be nice to be able to log the output from WireMock to the test output helper.

**Describe the solution you'd like**
Introduce a new `WireMock.Net.XUnit` project and create a TestOutputHelperWireMockLogger class, for logging to an `ITestOutputHelper`.

**Describe alternatives you've considered**
Keeping th

[2022-05-20 14:16] #756 closed

[2022-05-20 14:19] StefH commented on #752
@mattisking
Did you have to test this new functionality?

[2022-05-20 15:01] StefH commented on #758
@siewers
How to use this in the xunit test ?
Or is just referencing the new project enough?

[2022-05-20 15:27] mattisking commented on #752
I will be testing it this weekend. Overwhelmed with a large release the past few days. Thanks a lot for looking into this.

[2022-05-20 15:56] StefH commented on #752
@mattisking Thank your very much.

[2022-05-20 17:52] siewers commented on #758
It should be sufficient to reference the project.
Normally you already have a reference to xUnit, but since it can't write to the console, you need to use the `ITestOutputHelper`.

[2022-05-21 07:00] #758 closed

[2022-05-21 14:11] StefH commented on #724
@ZenwalkerD
Actually there is simple solution.

You can just implement your own logger, like:
https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Service/WireMockLog4NetLogger.cs
And you use the `public void DebugRequestResponse(LogEntryModel logEntryModel, bool isAdminRequest)` to write the requests / responses.

[2022-05-21 14:11] #724 closed

[2022-05-23 20:22] mattisking commented on #752
So far this is working well. I've tried out a couple of scenarios and I'll go ahead and bang out a few more from our scripts.

[2022-05-24 07:01] StefH commented on #752
I'll just keep this open for now, in case you encounter other issues.
If there are no problems for a week, I'll merge and create a new version.

[2022-06-01 15:00] gourdua opened #760 "Timeouts with WireMock.Net server started in Specflow"
Hi

We use Specflow 3 with mstest in a .NET Framework 4.7.2 project for our CI tests. Im' trying to user Wiremock.net version 1.4.43 to mock restApi Calls. So far, only Wiremock started in a separate console application is working. If i copy the same startup code directly in my stepdefinition or specflowhook, result in a timeout...

	_wmserver = WireMockServer.Start(new WireMock.Settings.WireMockS

[2022-06-02 15:48] StefH commented on #752
@mattisking
Did you encounter any issues?

[2022-06-02 19:12] gourdua commented on #760
Hi,
Trying to create a working example starting a new specflow project in Visual studio 2019 kinda clean specflow, i cannot reproduce the problem.

We are working with legacy specflow project file on my team(created years ago, maybe with VS 2012), and cannot pinpoint what exactly is causing this...

[2022-06-02 19:19] gourdua commented on #760
Hi again!

Just found out we were missing 4 bindings redirects.

But somehow, that was causing the hang instead of throwing exception. I found out debuging and activating full Exception Break Logging on CLR Exception.

<dependentAssembly>
	<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersio

[2022-06-04 00:31] mattisking commented on #752
Not so far. I appreciate the effort. I like wiremock and in this case you’ve really added some nice additions. Now we should build on wiremock studio 😉

[2022-06-09 19:31] StefH commented on #752
@mattisking I'll merge the PR and create a new version (1.5.0)

wiremock studio ? You mean a version for this WireMock.NET ?

[2022-06-09 19:31] #752 closed

[2022-06-09 19:38] #760 closed

[2022-06-09 19:41] StefH commented on #693
@suszi88
Did you view these pages?
- https://github.com/WireMock-Net/WireMock.Net/wiki/Using-HTTPS-(SSL)
- https://github.com/WireMock-Net/WireMock.Net/wiki/Settings#certificatesettings

[2022-06-09 19:41] StefH commented on #564
Hello @davemasters1984, did you manage to get it running on Azure using the above details?

[2022-06-09 19:42] #510 closed

[2022-06-09 22:14] bhargavjulaganti opened #761 "While stubbing with same request uri, with different response codes, how to call the endpoints"
I have a requirement, where my request url is same, but I need to respond back with different http response codes.

Here is the sample code

[code]

[2022-06-10 06:14] StefH commented on #761
That `guid` is just an identification for the mapping. So that you can delete/update that specific mapping via the admin interface.

This guid is not used when matching the request.

You need to make sure that call your request application makes is different, else WireMock.Net cannot know which one to return. (Example : you can add an extra query or header parameter to make the difference)

An oth

[2022-06-10 13:26] bhargavjulaganti commented on #761
Thanks for the update.

[2022-06-10 13:26] #761 closed

[2022-06-11 03:06] mattisking commented on #752
Yes I just mean that the open source wiremock studio isn’t bad and is a decent editor. One of the things I’m working to accomplish is to empower our QA people with tools to build their own mocks for their test cases. That’s a stretch goal. I’m more than capable of editing template files.

[2022-06-11 07:28] StefH commented on #752
Maybe a good use case to build this in .net Maui 😀

[2022-07-06 12:57] marspox opened #764 "Wrong mapping of method GetAdminMappingsAsync from IWireMockOrgApi"
### Describe the bug
After executing  `await RestClient.For<IWireMockOrgApi>("http://127.0.0.1:8080").GetAdminMappingsAsync(default, default);`
I'm getting exception  "Method 'GetAdminMappingsByStubMappingIdAsync': unable to find a [Path(\"stubMappingId\")] property or parameter for the path placeholder '{stubMappingId}'"

### Expected behavior:
It should be executed GetAdminMappingsAsync

### Oth

[2022-07-06 18:00] StefH commented on #764
#765

[2022-07-07 05:27] StefH commented on #764
@marspox
You can try preview version `WireMock.Org.RestClient.1.5.0-ci-16263`.

[2022-07-08 09:02] #764 closed

[2022-07-08 14:40] FredCni opened #768 "JsonMatcher should serialize enum as text if such attribute is defined"
### Describe the bug
The JsonMatcher does not respect the enum serialization attributes

### Expected behavior:
The matcher should match on a json containing the enum as a string instead of a number

### Test to reproduce
[code]

In the WireMock Given definition:
[code]

The request won't be matched because the json matcher (see its private _valueAsJToken) tries to match on MyEnum = 0, instead of

[2022-07-08 15:45] StefH commented on #768
@FredCni
Can you make a full working example project, or a PullRequest with a new unit-test which demonstrates this error?

[2022-07-09 13:17] StefH commented on #768
#770

[2022-07-09 13:17] StefH commented on #768
@FredCni
The attribute is wrongly placed. Use this:

[code]

[2022-07-09 13:17] #768 closed

[2022-07-11 00:46] FredCni commented on #768
Thank you, that fixed it!

[2022-07-11 16:04] StefH commented on #725
@robertmircea
I can fix this by allowing a regular expression:

So in your case:
[code]

[2022-07-12 09:47] marspox opened #772 "How to get matched mapping by HttpRequest or HttpRequestMessage"
Hello,
I would like to know wheather is it possible to get mapping by HttpRequest or HttpRequestMessage.
Let's say that I have HttpRequest/HttpRequestMessage object then based on its values I would like to find out which mapping will be matched for that request.

[2022-07-12 10:22] StefH commented on #772
@marspox
It's not possible yet to analyze a HttpRequest or HttpRequestMessage to see which mapping will be matched.

The only way now it is to send the HttpRequest or HttpRequestMessage to WireMock.Net and see if the response is valid and you can verify the matched mappings.

[2022-07-12 10:51] marspox commented on #772
I see, but after sending HttpRequest I still don't know which mapping has been applied to get response.
I'm writing a tool which uses WireMock.Net with proxy recording. After sending a request, mapping is automatically created if missing, I would like to get  mapping or its guid in order to cache new mappings.
It would be great to have such metod in `public partial class WireMockServer : IWireMock

[2022-07-13 09:19] marspox commented on #592
Hello,

Is it possible to have that functionality or maybe it has been already added?

BR

[2022-07-14 17:15] balalnx16 opened #773 "Does bodyWithFile work for webhook responses ?"
when I try to generate a webhook response using the following mapping, the body is not delivered to the receiving service, Is this a bug
[code]

[2022-07-14 18:31] StefH commented on #773
The example json you defined, is from WireMock.Org, not this project.

See this page how to use webhooks:
https://github.com/WireMock-Net/WireMock.Net/wiki/Webhook

[2022-07-14 18:31] #773 closed

[2022-07-18 20:21] StefH commented on #725
@robertmircea : Can you please test that preview version to see if this works for you?

[2022-07-24 13:55] #725 closed

[2022-07-24 14:06] StefH commented on #725
Merged to main and a new version is released to NuGet.

[2022-07-27 04:32] FredCni opened #774 "Using WireMock in integration tests does not pick up the SerializerSettings defined in the StartUp"
In the Startup:
[code]

The integration test custom WebApplicationFactory (which is then used with the Startup of course):

[code]

The issue is then that the WireMockServer does not pick up the json settings (null ignore) set in the startup (I see null fields in the wireMockServer.MappingModels, whereas my API does not serialize nulls, as expected from startup settings)

I've found a way around i

[2022-07-27 08:22] marspox opened #775 "When "StartAdminInterface" is true then each time is generated new mapping from the proxy"
### Describe the bug
Hi StefH
I have noticed that when the Admin Interface is enabled the wiremock.net ignores local mappings and creates each time new ones.
But when Admin Interface is off then maping from the proxy is created only when local mapping is missing.

### Expected behavior:
When Admin interface is enabled wiremock should create a new mapping from the proxy only if local is missing.

#

[2022-07-27 15:20] MychellSantos commented on #772
I have the same difficulty, I wanted to compare the map described with the map that was actually registered to locate the error but nothing is possible.
I analyze the "LogEntries" but nothing.

[2022-07-28 06:53] StefH commented on #774
Hello @FredCni.

Please note that WireMockServer.Start does not pick up any dependency injection defined like `AddNewtonsoftJson`.

The only possible solution for you issue is that I update the settings to include a new setting `JsonSerializerSettings` which you can override as you like.

[2022-07-29 10:15] dmytro-pryvedeniuk opened #776 "Update Scriban.Signed to support more functions, e.g math.random"
**Is your feature request related to a problem? Please describe.**
I need to generate a random value in the response. The Scriban function _{{math.random 1 1000}}_ results in the error "The function `math.random` was not found". WireMock.Net 1.5.2 uses Scriban.Signed 3.3.2, but referencing Scriban.Signed 5.5.0 helps to resolve it.

**Describe the solution you'd like**
I would like WireMock.Net (an

[2022-07-29 10:57] StefH commented on #776
https://github.com/WireMock-Net/WireMock.Net/pull/777

[2022-07-29 11:18] StefH commented on #776
@dmytro-pryvedeniuk
A new NuGet + docker will be released soon.

[2022-07-29 11:18] #776 closed

[2022-07-30 08:16] StefH commented on #775
https://github.com/WireMock-Net/WireMock.Net/pull/778

[2022-07-30 08:39] StefH commented on #775
@marspox
Can you please test preview version `1.5.3-ci-16322` ?

[2022-08-01 10:34] StefH commented on #775
@marspox Can you please test this?

[2022-08-01 10:35] StefH commented on #774
Hello @FredCni,

Did you have time to reflect on this idea?

[2022-08-01 13:22] FredCni commented on #774
Thanks for your reply, much appreciated.

It would be nicer to have this parameter in the init settings, because it would be more explicit than the current way
(`JsonConvert.DefaultSettings`)

Whether you add it or not, the doc should stress that WireMock serializing settings should be aligned on the serializer settings of the mocked system.
If you don't add it: the doc should point to `JsonConver

[2022-08-01 16:10] StefH commented on #774
Can you elaborate what you mean by `this parameter in the init settings`? Which **init-settings** you mean?

[2022-08-02 00:36] FredCni commented on #774
Oh, I meant do as you suggested:

[2022-08-03 08:09] robertmircea commented on #725
For me, I confirm that this release allows me to match numbers using regex expression. Thank you for support.

[2022-08-03 12:39] 3mv3 opened #779 "Iterative Responses Based on Number of Requests Received"
Hello!

I am in the process of mocking our existing integration tests using a proxy. It works great, but I was wondering if there is a way to return a different response depending on the number of same requests that have been received? For example, our test gets a list of data to process, processes some of it, then calls the same service again to re-get the list, which will now be missing what was

[2022-08-03 12:46] StefH commented on #779
@3mv3
I think you are looking for [Scenarios and States](https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States).

[2022-08-03 12:59] 3mv3 commented on #779
Exactly what I needed! Thank you so much!

[2022-08-03 13:05] 3mv3 commented on #779
One last question on this topic, is there a way to automatically record Scenarios / States during proxy recording? Or is it a case of manually updating the files once they have been recorded? Going back to my original set of calls:

GET [https://U-B709GK3-MV.com/latest/shipmentLines?q=org='001](https://u-b709gk3-mv.com/latest/shipmentLines?q=org=%27001)' (returns 2 lines) - Records a new mock, wit

[2022-08-03 13:21] StefH commented on #779
No, this is not possible. You just need to capture all all requests first, and then manually change these into scenario and states.

[2022-08-03 13:21] #779 closed

[2022-08-03 13:37] StefH commented on #779
@3mv3

Maybe in someone can make a UI with drag/drop support to build scenarios and states from existing mappings...

[2022-08-06 06:31] StefH commented on #775
@marspox Can you please test this? If it works correct, I'll release a new official NuGet.

[2022-08-07 03:24] nilimamoh opened #780 "generate randow value alphanumeric string of length to be picked up from request.body parameter"
My requirement is to make length accept the parameter i supplied from request body for the json path & generate a random alphanumeric string of the given length
but below is not working getting exception : is there a synax issue ? can this be done

{{{randomValue (length jsonPath request.body '$.otpParams.length') type='ALPHANUMERIC'}}}

	<title>Error 500 wiremock.com.google.common.util.concurrent

[2022-08-07 03:25] nilimamoh commented on #780
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
	<title>Error 500 wiremock.com.google.common.util.concurrent.UncheckedExecutionException:
		wiremock.com.github.jknack.handlebars.HandlebarsException: inline@6e008506:1:100: could not find helper:
		&apos;length&apos;
		{{randomValue type=&apos;UUID&apos;}}&quot;,&quot;callerTransactionId&quot;:&quot;caller32

[2022-08-07 07:44] StefH commented on #780
@nilimamoh
This issue should be listed for https://wiremock.org/

(This repository is for the .NET version)

[2022-08-07 07:44] #780 closed

[2022-08-09 17:42] StefH commented on #775
PR is merged to main.

In some time a new official version will be released.

[2022-08-09 17:42] #775 closed

[2022-08-09 18:39] KyryloAntoshyn opened #782 "Matching for x-www-form-urlencoded request body"
Hi!

I need to mock POST request with `x-www-form-urlencoded` body: `param1=value1&param2=value2&param3=value3&param4=value4`. I've been reading wiki pages regarding request matching but haven't found any option for matching URL encoded body. Is it possible to achieve with `WireMock.Net`. If yes, how can I implement it?

Thanks in advance!

[2022-08-09 20:44] StefH commented on #774
@FredCni
Just to clarify : when do you want that your custom JsonSerializerSettings are used?

[2022-08-10 06:22] StefH commented on #782
@KyryloAntoshyn
Did you just try this:

For the body:
[code]

And for the header:
[code]

[2022-08-10 08:02] shack05 opened #784 "Response body is missing in generated pact file when IBodyResponseBuilder.WithBody is used"
### Describe the bug
If I use the `IBodyResponseBuilder.WithBody` method to specify a response based on a string and then generate a pact file then the pact file will not include the response body.
If I use `WithBodyAsJson` the response body is defined as expected in the pact file.

### Expected behavior:
The response body is defined in the pact file.

### Test to reproduce
[code]

Expected pact:

[2022-08-10 08:53] KyryloAntoshyn commented on #782
Thanks, it works fine for me!

[2022-08-10 08:53] #782 closed

[2022-08-10 09:45] StefH commented on #784
Hello @shack05

I'll take a look at the code.

---
For this question:

--> This looks a nit like this one? https://github.com/WireMock-Net/WireMock.Net/issues/774

[2022-08-10 11:43] StefH commented on #784
@shack05
Can you try preview version `1.5.3-ci-16331` from MyGet?

https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-08-11 07:19] kriebb opened #785 "Support for PEM certificates when using ssl"
**Is your feature request related to a problem? Please describe.**
When running dotnet test on a builderserver using systemtests with Wiremock ssl custom certificates, a pfx can be specified, but gives problems when loading the pfx on a build server:

[code]

I can replay this on a buildserver creating a test just running this code

[code]

However when using the PEM format, this works.

**Describ

[2022-08-11 08:04] shack05 commented on #784
Hi,
Thanks for the quick response.

Yes, although with the change you've made in the preview version I no longer have a use case for a separate serializer.

Thanks, I can confirm the response is as expected for that preview version.
I did notice however that the request body is not defined in the pact file if I create a body.
I was using a JsonPartialMatcher to define the constraints for the body.

[2022-08-11 08:29] LadislavPataki opened #786 "Exchange json serializer"
Is there a possibility to exchange the json serializer from Json.NET to System.Text.Json? I would like to use BodyAsJson method to create response or at least extend it somehow. Could you help me with that? Thanks.

[2022-08-11 08:56] StefH commented on #784
@shack05

Can you open a new issue for this:
[code]

I'll merge the PR. For now just keep using the preview version, in some time a new official version will be released.

[2022-08-11 08:56] #784 closed

[2022-08-11 10:40] StefH commented on #785
The easiest is to use `If(filepath.Endswith(pem)`.

Please note that this is only supported for netcoreapp3.1  ; .NET 5.0 and higher.

You can try preview version
1.5.3-ci-16350

[2022-08-11 11:42] kriebb commented on #785
Thx for your fast response!

tried it, but somehow got this message:

[code]

[2022-08-11 12:21] StefH commented on #785
Can you try
1.5.3-ci-16353

[2022-08-11 12:48] kriebb commented on #785
Yes,

Same result:

[code]

settings are used like this:

[code]

other stacktraces that be usefull

[code]

I did see you, you didnt do the "trick" with the line `certificate.Export(X509ContentType.Pfx, pass), pass` wich I can understand. I guess it will also try to have some rights again for accessing the cert store. But I didnt try it out yet.

[2022-08-11 13:16] StefH commented on #785
Code updated with:
return new X509Certificate2(certificate.Export(X509ContentType.Pfx, pass), pass);

New preview will be available within few minutes.

[2022-08-11 15:08] kriebb commented on #785
*blush* what is the preview? cant seem to find it on actions ?

will try it tomorrow :)

[2022-08-11 15:30] StefH commented on #785
@kriebb
See this wiki:
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

Also if you can send me test PEM = password (or tell me how to generate it), I can also test on my machine.

[2022-08-11 16:45] StefH commented on #785
Latest preview (1.5.3-ci-16357) should work fine.

I based my example + logic on https://www.scottbrady91.com/c-sharp/pem-loading-in-dotnet-core-and-dotnet

See https://github.com/WireMock-Net/WireMock.Net/pull/787/files#diff-721297a29d1cb2c8d0ca5463eea9738306dd5416115e04711d2c7bf20576d71b

[2022-08-11 22:18] shack05 opened #788 "Request body is missing in generated pact file for requests that include matching on request body"
### Describe the bug
The request body is missing in generated pact file for requests that include matching on request body.
More specifically, I am using the JsonPartialMatcher.

### Expected behavior:
The generated pact file includes the expectations of the request body as specified by the matchers used in the wiremock scenario.

### Test to reproduce

[code]

I'm not sure what the expected pact

[2022-08-12 06:21] StefH commented on #786
This will be difficult because Newtonsoft is also used for replacing values in json using templating.

But it depends on how exactly you want to use `BodyAsJson` and  what you expect from it. Maybe adding a optional parameter to that method to indicate that you want to use System.Text.Json?

[2022-08-12 06:57] StefH commented on #788
The only possible solution would be that I deserialize the value from the matcher (`@"{ ""name"": ""john"" }"`), so that the pact could be:

[code]

Another option would be that you can add an example body like:
[code]

[2022-08-12 09:05] StefH commented on #788
@shack05
Can you try preview version 1.5.3-ci-16359 ?

[2022-08-12 11:54] LadislavPataki commented on #786
That would be sufficient. But this way I would have to pass the serializer options every time. For now I'm using an extension method. I was just wondering if it's even possible. Thanks for your reply.

[2022-08-12 11:56] StefH commented on #786
Can you provide that extension method?

[2022-08-12 12:10] LadislavPataki commented on #786
The extension method.
`public static class JsonSerializerExtensions
{
    private static readonly JsonSerializerOptions SerializerOptions = new()
    {
        Converters = { new JsonStringEnumConverter(JsonNamingPolicy.CamelCase) },
        PropertyNameCaseInsensitive = true
    };

    public static T? Deserialize<T>(this string json) => JsonSerializer.Deserialize<T>(json, SerializerOptions);

[2022-08-12 13:02] kriebb commented on #785
Sorry, the same behavior occurs.

[code]
[code]

However, intresting read that you mention.

When I read at the end:

So you cant pass an x509Certificate to Kestrel, because it fucks something up in windows when opening an SSLStream ( as designed it seems)

[code]
The CI pipeline at the company dont give any access to the system keyset. So the current solution that is built in ( works fine on my m

[2022-08-12 13:37] StefH commented on #785
1
BTW : Yesterday I did quickly test creating an RSA Certificate using that website, however I found that only a EC Certificate did work in my example app.
So can you also try that?

2
The Kestrel options you mention:
[code]

This is already supported by WireMock.Net, see https://github.com/WireMock-Net/WireMock.Net/wiki/KestrelServerOptions

[2022-08-12 14:39] StefH commented on #785
@kriebb RSA does also work when I follow https://www.scottbrady91.com/openssl/creating-rsa-keys-using-openssl

See my PR for details.

[2022-08-14 11:22] StefH commented on #786
I see. I'll check if this can be added.

Note that I also started a new project https://github.com/StefH/JsonConverter which could maybe solve these issues.

[2022-08-14 22:07] shack05 commented on #788
Hi @StefH, thank you, preview 1.5.3-ci-16359 works like a charm.

[2022-08-15 07:29] StefH commented on #788
@shack05 Thanks for testing.
For now use the preview, in some time I'll release a new official.

[2022-08-15 07:29] #788 closed

[2022-08-15 19:47] StefH commented on #774
@FredCni

See this preview version (`1.5.3-ci-16370`) where you can provide a different JsonConverter when using `WithBody`:
[code]

For implementations for **IJsonConverter**, see https://github.com/StefH/JsonConverter.

(how to install preview version: see https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-08-15 19:47] StefH commented on #786
@LadislavPataki

See this preview version (`1.5.3-ci-16370`) where you can provide a different JsonConverter when using `WithBody`:
[code]

For implementations for **IJsonConverter**, see https://github.com/StefH/JsonConverter.

(how to install preview version: see https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-08-16 11:20] kriebb commented on #785
Seems to work  👍

What also a good way of having a valid certificate (if you work with local host is using the dotnet dev-certs https -v -ep $(HOME)\.aspnet\https --format pem"

[2022-08-16 11:25] StefH commented on #785
OK, I'll merge the code to master and close this issue.

[2022-08-16 11:25] #785 closed

[2022-08-16 11:28] StefH commented on #437
Closing,,,

[2022-08-16 11:28] #437 closed

[2022-08-16 23:06] rosemaryehlers opened #791 "How to specify response headers using json file?"
https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing
The wiki section on Stubbing shows how to specify headers for a response using code, but not how to specify them if using a json file for configuration. Could that be added? Seems like an oversight in documentation.

[2022-08-17 06:04] StefH commented on #791
@rosemaryehlers
I've updated that page.

Please note that when you use the C# mapping, you can always generate the json mappings using the SaveStaticMappings method:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Server/WireMockServer.Admin.cs#L112

See also here: [Admin-API-Reference](https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference)

[2022-08-17 06:04] #791 closed

[2022-08-17 09:04] emilpeder opened #792 "Why does Dispose not wait for HttpServer to actually stop?"
In the WireMockServer class:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Server/WireMockServer.cs

The Dispose method calls `_httpServer?.StopAsync();` must does not wait for this operation to complete. Is there any reason for that?

On the contrary, the Stop method does wait.

If we want to make sure the WireMockServer is fully stopped and disposed we therefore need

[2022-08-17 09:14] StefH commented on #792
@emilpeder
There's no specific reason for that, other that dispose normally only cleans the resources.

But I could call Stop first.

For now you indeed need to call Stop and then Dispose it.

[2022-08-17 09:41] emilpeder commented on #792
All right. For us this was a source of confusion, since we ended up with race conditions where sometimes tests failed because the HttpServer inside WireMock was still serving requests although we had disposed the WireMockServer instance.
Thanks for the clarification.

[2022-08-17 16:28] StefH commented on #786
@LadislavPataki
Did you have time to test this?

[2022-08-18 09:26] LadislavPataki commented on #786
Hi @StefH , I'm sorry I didn't have time for this. I'll give it a try at the weekend.

[2022-08-18 23:34] rosemaryehlers commented on #791
Thank you!

[2022-08-19 00:31] rosemaryehlers opened #793 "How do I mock an endpoint to return an error given a specific parameter, otherwise return success?"
I am mocking an endpoint /mark-item, which takes a numeric id. when id=666, I want the endpoint to return 500, otherwise all other requests to that endpoint should return 200.

This is what my static mapping file currently looks like:
[code]

When I remove the success stub, a request to http://localhost:49223/mark-item?id=66 returns 404 and a request to http://localhost:49223/mark-item?id=666 retu

[2022-08-19 09:54] StefH commented on #793
I think you should switch the priority.

-> `The priority. (A low value means higher priority.)`

Can you try that?

[2022-08-21 23:37] rosemaryehlers commented on #793
I've tried the priority values flipped, and it does not appear to affect anything.

Further testing shows that the WildcardMatcher for * for the id param actually fails requests with 404 no mapping, so I removed that clause entirely. New file is as follows:
[code]

Hitting the following urls in my web browser give the following:
http://localhost:49159/mark-item?id=666 -> Return 200 (Want it to ret

[2022-08-21 23:39] rosemaryehlers commented on #793
Oh god I'm an idiot. The guids are matching, so the last configuration is overriding the first one. Sorry about that!

[2022-08-21 23:39] #793 closed

[2022-08-22 01:18] rosemaryehlers opened #794 "JsonPartialMatcher example 1 results in an error on server startup"
I copied example 1 from the JsonPartialMatcher wiki into a `test.json` static mapping file. When I start my wiremock docker container, I get the following error:
[code]
Only thing I've changed is the Guid. For reference, here is the copied file:
[code]
And here is a link to the wiki I copied it from: [Json mapping option 1](https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching-JsonPar

[2022-08-22 04:15] StefH commented on #793
Ah. I also missed duplicate GUID.

Maybe WireMock.Net should throw exception when duplicate GUiD is detected ..

[2022-08-22 15:46] StefH commented on #794
@rosemaryehlers
The example was wrong.
For path, you can only use a `string` or matcher which implements `IStringMatcher` (which is fine for e.g. WildcardMatcher)

For the body, you can use a JsonPartialMatcher

[code]

[2022-08-22 15:46] #794 closed

[2022-08-22 21:42] flts opened #796 "RequestMessageHeaderMatcher with MatchBehaviour.RejectOnMatch reverses match results twice"
### Describe the bug
Following the [Reversing the match behaviour with MatchBehaviour.RejectOnMatch
](https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#reversing-the-match-behaviour-with-matchbehaviourrejectonmatch) example the reponse will always be `Unauthorized` even if a correct header is added on the request.

I believe the following line shouldn't call `MatchBehaviourHelper.

[2022-08-23 05:52] #796 closed

[2022-08-23 09:14] StefH commented on #786
@LadislavPataki
Did you already have time to test it?

[2022-08-23 11:40] LadislavPataki commented on #786
Hi @StefH, I'm not able to find version (1.5.3-ci-16370). Am I doing something wrong?

![image](https://user-images.githubusercontent.com/12115874/186148764-a5e86864-2b6e-4f59-9d65-66d2991b6d5d.png)

[2022-08-23 12:58] StefH commented on #786
That version is already deleted I think.

Please try this one:
1.5.3-ci-16393

[2022-08-23 13:49] StefH commented on #786
Yes

For all implementations, see https://github.com/StefH/JsonConverter

I'll close it this and release a new official NuGet soon.

[2022-08-23 13:49] #786 closed

[2022-08-24 06:27] StefH commented on #774
Solved with
https://github.com/WireMock-Net/WireMock.Net/issues/786

A new NuGet will be released soon.

[2022-08-24 06:27] #774 closed

[2022-08-24 11:19] FredCni commented on #774
Was caught with things, so did not take the time to follow up, but you did 👍
Thank you very much.
I'll try the new nuget as soon as released.

[2022-08-25 06:49] StefH commented on #674
Hello @emygg84.

I'll close this issue for now, in case you still need support, reply to this comment, or create a new issue with some more details.

[2022-08-25 06:49] #674 closed

[2022-08-25 06:50] StefH commented on #655
Hello @bettyybei,

I'll close this issue for now, in case you still have questions, please reply to this comment.

[2022-08-25 06:50] #655 closed

[2022-08-25 06:52] StefH commented on #564
Hello @davemasters1984, did you manage to get it running on Azure using the above details?

[2022-08-25 06:59] StefH commented on #772
@marspox & @MychellSantos

A possible solution would be that you can use response templating to return the GUID from the matched mapping as a header for example.

So

[code]

Would that be ok?

[2022-08-25 07:35] Elangopalakrishnan commented on #564
@StefH  @waqaskhan540  Thanks for sharing knowledge in this thread,

I have followed the same https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.WebApplication.NETCore3

My launch settings JSON same as an above sample project,
My web. config same as an above sample project.

I deployed on Azure and tried hitting the endpoint but it's getting timed out,.

Then I tried to

[2022-08-25 09:17] StefH commented on #772
@marspox & @MychellSantos

A preview version `1.5.4-ci-16400` supports this. Can you please test?

(how to use preview : https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-08-25 09:31] marspox commented on #772
Hi StefH,
thanks, for adding this feature

[2022-08-27 07:16] StefH commented on #772
@MychellSantos
Did you also have time to review / test ?

[2022-08-31 07:47] kiquenet opened #799 "Unit testing for external API"
How-to do unit testing for external API (like Fake API ) api.chucknorris.io ?

 **[simple-example-of-calling-rest-api-with-httpclient-in-net5.0](https://adamstorr.azurewebsites.net/blog/simple-example-of-calling-rest-api-with-httpclient-in-net5.0)**

[2022-08-31 09:54] StefH commented on #799
Please see https://github.com/WireMock-Net/WireMock.Net/wiki/Using-WireMock-in-UnitTests

In your case
[code]

[2022-09-01 05:42] StefH commented on #799
@kiquenet is this clear?

[2022-09-01 05:43] #792 closed

[2022-09-01 05:43] StefH commented on #772
@marspox and @MychellSantos
Did you also have time to review / test ?

[2022-09-01 06:42] kiquenet commented on #799
Only useful references:

HttpClient and testing
https://adamstorr.azurewebsites.net/blog/test-your-dotnet-httpclient-based-strongly-typed-clients-like-a-boss

IHttpClientFactory vs HttpClient
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

[YOU'RE USING HTTPCLIENT WRONG AND IT IS DESTABI

[2022-09-01 11:25] StefH commented on #799
Thanks for these references, I know these, but this is not really applicable to WireMock.Net, it;s more applicable to the client code which calls the external api / calls WireMock.Net

[2022-09-02 02:08] mattisking opened #801 "Webhook Delays"
The current mocking set I’m working on requires lots of callbacks rather than traditional responses, but I need to be able to set delays on each callback and they may differ. We can set delays on the major response but not on the webhooks.

here’s the functionality in Wiremock.org:
https://wiremock.org/docs/webhooks-and-callbacks/

Additionally, we’d like the webhook responses to be fire and forge

[2022-09-03 06:52] StefH commented on #772
@marspox and @MychellSantos : The PR is merged to master, a new NuGet will be released soon.

[2022-09-03 06:52] #772 closed

[2022-09-05 18:49] mattisking commented on #801
ok, I've built in the most basic support for this locally. Will take more time to look at the code to figure out the random delay bits. Also, "fire and forget" works as well but I admit it's not pretty at the moment.

[2022-09-05 19:25] StefH commented on #801
Ah.
I missed your question here...
Sorry.

I'll also take a look for
- fire and forget
- setting delay

[2022-09-05 20:05] mattisking commented on #801
One of the reasons for the need for fire and forget is that let’s say I define 3 callbacks (webhooks). Currently the code as it is today won’t return from the call until all webhooks have completed…. But webhooks are supposed to be totally asynchronous. The call in shouldn’t be blocked at all by waiting on what should be disconnected webhooks.

[2022-09-05 20:16] StefH commented on #801
Fire and Forget : see preview version 1.5.5-ci-16422

[2022-09-05 20:29] StefH commented on #801
Do you need the delay before or after the webhook is called?

[2022-09-05 20:39] mattisking commented on #801
Before. I had something like this in mind:

[code]

and in WebhookSender:
79:
[code]

Here's the trick, though... In order to make the delays non-additive, the fire and forget needs to be used and all the webhooks should get blasted off about the same time, each with it's own delay. To accomplish that, I had something like this:

WireMockMiddleware:

[code]

[2022-09-05 20:43] mattisking commented on #801
Not gotten the hang of this editor. Above I'm spinning out all the webhooks at about the same time as tasks I can await (or not). This allows each of the Delays to be independent of each other.

[2022-09-05 21:17] StefH commented on #801
@mattisking
I used a different approach.
See PR:
https://github.com/WireMock-Net/WireMock.Net/pull/803

And comment/review the PR.

A preview version will be available in some time (just take the latest)

[2022-09-06 16:51] mattisking commented on #801
The goal here is to wait x amount before firing each webhook. The actual mocked API request should return immediately (unless a global delay is used or a configured delay on the mapping), regardless of the webhooks. Then the webhooks should fire after the configured delay for each webhook, independent of each other.

Example:
Let's say I'm calling a service that will take a significant time, perha

[2022-09-06 17:15] StefH commented on #801
@mattisking
I think I understand.

I've modified the code according to your proposal. Please see the updated PR.

[2022-09-07 02:38] mattisking commented on #801
I've branched off yours with my suggested change. Basically it boils down to:
1. Remove the bit from WebhookSender.cs at line 105 and the added function FireAndForget.
2. Add to WebhookRequest/IWebhookRequest:     public bool? UseFireAndForget { get; set; }
3. WireMockMiddleware: line 226:
[code]

4. IMapping/Mapping/MappingModel:
   public bool? UseWebhooksFireAndForget { get; set; }
(Add to Mapp

[2022-09-07 15:27] mattisking commented on #801
I created a PR but I targeted your existing branch. If you approve of it, merge it into your own stef-webhooks branch and then  you can merge yours. Or I can redo the PR against master. Wasn't sure so just based mine on your work.

[2022-09-08 17:25] leozin opened #807 ".net6 version"
Hi, I have come from Java background and now that I moved to another company, I'm using loads of .NET.

I always loved WireMock and I wanted to use in one project, however it seems it is not supported by .net6.

Are there any plans to create a version which would be compatible with .net6?

Thanks

[2022-09-08 17:35] StefH commented on #807
.NET 6 is supported:

![image](https://user-images.githubusercontent.com/249938/189188946-33bb4bcb-3c1b-4061-8441-ed6798b95206.png)

[2022-09-08 17:35] #807 closed

[2022-09-08 17:36] StefH commented on #807
But I will create also a .NET 6 version.

[2022-09-08 17:47] leozin commented on #807
Thanks for that Stef!
See, I'm trying to download it via VS2022 and I can see only this version:
<img width="939" alt="image" src="https://user-images.githubusercontent.com/1276142/189191106-7e6c074e-3a0e-418a-8dae-fc50be192bec.png">
Maybe I'm using the wrong source?

[2022-09-08 17:52] StefH commented on #807
Indeed, that's a very old version. Maybe try refreshing?

[2022-09-08 17:54] leozin commented on #807
It worked now :) I've added nuget.org as a source and I've changed the source when browsing the package, then it found the latest one with the nice icon etc.

Thanks for the help sir :)

[2022-09-09 09:17] mikebgrep opened #808 "Implementing WireMock.NET with appium for mobile automation testing"
I search over the internet, but I didn't find a good tutorial how to set up WireMock.NET to work with appium to mock API request from mobile app backend. I think first I need to set up an SSL certificate local on my machine and after this to use the ProxySettings to mock the response of the mobile app API. Any help are  welcomed or if any know some article online how can I configure the library.

[2022-09-12 18:39] StefH commented on #801
New NuGet will be released soon.

[2022-09-12 18:39] #801 closed

[2022-09-12 18:45] StefH commented on #808
The purpose of WireMock.Net is to replace the real backend.

1. Configure / create SSL (if needed)
2. Start WireMock.Net
3. Add mappings
4. Configure your app to connect to the url where wiremock.net is running

General idea:

**Go from this:**
![image](https://user-images.githubusercontent.com/249938/189731604-6efdda0e-0186-407a-8e94-78a14d6830f2.png)

**To this:**
![image](https://user-images.gi

[2022-09-15 09:28] mikebgrep commented on #808
Thank you for the answer. So I need first to set SSL certificate to can connect to https:
1. https://github.com/WireMock-Net/WireMock.Net/wiki/Using-HTTPS-(SSL)
I need to add mapping like so:
2.https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process#option-3--coding-yourself
And finally, I need to configure connection to the app:
3. https://github.com/WireMock-Net/WireMo

[2022-09-15 19:04] mattisking opened #809 "Can ExactMatcher (on Request) include IgnoreCase?"
I've got an API I've mocked, a nice and simple one, which is nothing but a kind of lookup service so just simple restful gets. An example might look like:
[HttpGet]
/lookup/{id}

The Request part of my mapping:
    "Request": {
            "Path": {
                "Matchers": [
                    {
                        "Name": "ExactMatcher",
                        "Pattern": "/lookup/12345"

[2022-09-15 19:26] StefH commented on #809
Can't you just use a `WildcardMatcher` with `/lookup/12345` and ignorecase = true?

[2022-09-15 19:29] mattisking commented on #809
If I do that, then my WildCard one I setup now catches everything if the path case is different.

Example:
ExactMatcher:
/lookup/12345
return: { "id": 1 }

WildcardMatcher:
/lookup/*
IgnoreCase: true
return: { "id": 2 }

Test cases:
/lookup/12345
will return { "id": 1 }

/Lookup/12345
will return { "id": 2 }

[2022-09-15 19:46] StefH commented on #809
Ah.

In that case I think regexmatcher will be the best choice for you:
https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#regular-expression-matching-regexmatcher

Which is powerfull because it's regex, and also supports ignore case.

[2022-09-15 20:53] mattisking commented on #809
It’s not ideal for my use case but I can make it work in conjunction with Priority.

[2022-09-16 16:09] khdevnet opened #810 "WithBody(Func) executes for all requests, ignore path matching"
Hello,
Thank you for this great NuGet package! It is awesome!!

During using the package I was faced with following issue:

I start a single WireMockServer and then create two mappings one for /api/Customer/add and another for /api/Customer/update,
also, I use `    .WithBody((body) => VerifyCrmRequestBody(TestCustomers.Customer1, body)))` for both requests mapping.

When no matter what request sen

[2022-09-16 18:07] StefH commented on #810
@khdevnet

When WireMock.Net receives a http request, all mappings are processed in order to find the best match.

So in your case, because the `VerifyCrmRequestBody` method is used in both mappings, this method is also executed twice because in total you have two mappings.

[2022-09-16 19:03] khdevnet commented on #810
Thank you for fast reply,

How does it choose the best match?
Is it uses some kind of score?

Case 1
POST  /api/Customer/add
{ some body}
.UsingPost() +1
.WithPath("/api/Customer/add") +1
.WithBody("{ some body}") +1
.RespondWith({ some response body})

Score = 3

Case 2
PUT  /api/Customer/update
{ some body}
.UsingPut() +0
.WithPath("/api/Customer/update") +0
.WithBody("{ some body}") +1
.Respond

[2022-09-16 19:08] StefH commented on #810
In your case when you have 2 mappings, the best matching will be returned.

And indeed, the scoring looks like you defined, not 100% correct, but close.

If you want to know the details on the match, see the logging.
See this wiki page:
https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching-Tips

[2022-09-16 19:11] mattisking commented on #810
You can also assign a Priority for each mapping to allow you to prioritize one mapping over another when you match multiple times.

[2022-09-16 19:18] khdevnet commented on #810
yes, I used logging to verify that request was sent, great feature!!
@mattisking @StefH  thank you guys,
you saved tons of my time.
have nice weekend!!

[2022-09-17 08:34] StefH commented on #809
@mattisking
I did update the ExactMather to support IgnoreCase.

please test preview version `1.5.6-ci-16453`

[2022-09-17 13:30] #810 closed

[2022-09-17 13:32] StefH commented on #808
I think that should be it indeed, however I don't know exactly how your setup is.

[2022-09-19 05:51] StefH commented on #808
https://github.com/WireMock-Net/WireMock.Net/issues/645

[2022-09-19 05:53] StefH commented on #808
I'm closing this issue for now.

If there are any Appium specific steps to take, I can create a new WIKI page, but I think that the general idea on how to use WireMock.Net is the same for all integrations.

Else, please create a new issue with a wiki-page proposal on this topic.

[2022-09-19 05:53] #808 closed

[2022-09-19 05:53] StefH commented on #645
I'm closing this issue for now.

If there are any Appium specific steps to take, I can create a new WIKI page, but I think that the general idea on how to use WireMock.Net is the same for all integrations.

Else, please create a new issue with a wiki-page proposal on this topic.

[2022-09-19 05:53] #645 closed

[2022-09-19 05:54] StefH commented on #693
@suszi88
Did you have time to read the wiki pages mentioned in my last comment?

[2022-09-19 05:56] StefH commented on #564
@Elangopalakrishnan

What kind of App Service Plan are you using?

BTW: I'm using a `S1: 1` - `Windows` plan.

[2022-09-19 13:38] zidad opened #811 "Is it possible to start a WireMockServer with http and https without specifying a port?"
This only starts 1 the HTTPS url:
`var server1 = WireMockServer.Start(port: null, ssl: true);
`
And this requires me to specify ports:
[code]
so something like this?
[code]

[2022-09-19 22:32] mattisking commented on #564
Try not setting the ports in the config. That’s what worked for us.

[2022-09-20 09:15] mikebgrep opened #812 "Wiki page for using WireMock.Net with appium for mobile automation testing"
**Is your feature request related to a problem? Please describe.**
Lack of examples and articles how to use WireMock.Net with appium for mocking mobile backend.

**Describe the solution you'd like**
Good written wiki page for using WireMock.Net for mocking BE data on mobile applications with appium

**Describe alternatives you've considered**
Examples of steps how to set up the tool.

**Additional

[2022-09-21 12:12] StefH commented on #809
@mattisking Can you test this?

[2022-09-21 12:38] StefH commented on #811
@zidad
This is not yet possible, I'll look into this.

[2022-09-21 13:00] StefH commented on #811
@zidad
You can try preview version `1.5.6-ci-16455` (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

And use it like:
[code]

[2022-09-21 13:02] mattisking commented on #809
I will test it today. Sorry, Business travel.

[2022-09-21 22:22] Elangopalakrishnan commented on #564
@StefH

Thanks for replying!

I've created an Azure web app with S1: 1 - Windows app service plan,

I deployed the web app and got startup error
I didn't create any custom domain and TSL/SSL certs in Azure. (doubt that this is causing the issue)

And I'm getting below error

[code]

Could you pls have a look 🥲?  Thanks!

[2022-09-22 06:51] t0mmili opened #813 "Integration test with Wiremock on Gitlab CI"
Hi, I was recently refactoring integration tests, which are currently running as a single docker-compose in the following way:
* 1st service: localstack image - for running S3, DynamoDB locally.
* 2nd service: terraform image - for creating S3 bucket and DynamoDB table.
* 3rd service: dotnet image - for testing application with Wiremock as a mock server.

Everything is running just fine. But this

[2022-09-22 13:09] StefH commented on #813
You can call the /requests endpoint from the wiremock Docker to get more details.

https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference#__adminrequests

Btw normally when WireMock docker throws an exception, this will be logged in the console log?

Are you sure that WireMock throws exception?

[2022-09-23 10:45] adeel41 commented on #564
I am glad that I have solved this for myself. I am using a B1 App service plan with Linux. Not sure if this will be relevent to the solution but just fyi.

It was quite simple to fix. I just had to use port `8080` for WireMockServerSettings Port setting. No SSL or any urls to set.

I've found this by looking at the docker container logs which you can find in App Service `Advanced Tools`. You can d

[2022-09-23 20:46] robvangeloven opened #814 "WithHeader cannot handle multiple requests with the same header key values"
When using the assertion "WithHeader" it will fail if there are multiple requests with the same header value (e.g. "Accept"):

[code]
This is because there is a ToDictionary in the WithHeader function that doesn't take into account that multiple calls might have been made before the assert fires.

[2022-09-25 01:04] Elangopalakrishnan commented on #564
@adeel41  Thank you for reply!

Yes, It got worked for me as well 😇

I'm using the B1: Windows app service plan.

![image](https://user-images.githubusercontent.com/26897289/192123846-c2b15363-3ff5-44bd-8a42-acaef64979b8.png)

Thank you for your guidance @StefH @adeel41 and @mattisking 😊

[2022-09-26 07:13] t0mmili commented on #813
Thanks, it turned out it wasn't issue with WireMock, but rather with Localstack. I have extended WireMock server configure service method with some additional logging and got my answer. I was missing AWS_REGION env variable in pipeline configuration :) Which was obviously set in previous setup, before I switched to Gitlab CI, but during the migration I was copying example code from Localstack docs

[2022-09-26 07:13] #813 closed

[2022-09-26 09:12] robvangeloven opened #815 "Why does UsingMethod check _callscount?"
When making this call:
[code]

My expectation is that this will work, but I get the error:
Expected _wireMockFixture.Server to have been called using method "POST", but didn't find it among the methods {"GET", "POST", "POST"}.

However, I'm trying to check that there was a singular call that matches the specifics of the assert. And there is, but the UsingPost also checks the _callsCount for number

[2022-09-26 11:30] StefH commented on #809
@mattisking
Did you time to test?

[2022-09-26 11:31] StefH commented on #811
@zidad, did you have time to test this?

[2022-09-26 11:33] zidad commented on #811
Hi @StefH, testing it as you typed this comment :)... just a sec

[2022-09-26 12:03] zidad commented on #811
@StefH it works for me, many thanks!

[2022-09-26 12:23] StefH commented on #811
Thanks for testing.

I'll merge this PR.

Note that in the final version, the enum will be named `HostingScheme`/

[2022-09-26 12:23] StefH commented on #811
https://github.com/WireMock-Net/WireMock.Net/pull/818

[2022-09-26 12:23] #811 closed

[2022-09-26 14:00] StefH commented on #815
https://github.com/WireMock-Net/WireMock.Net/pull/816

[2022-09-26 14:10] StefH commented on #814
@robvangeloven

I think I've fixed both issues (this & _callscount).

Can you please test preview version `1.5.6-ci-16474`?

(https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

https://github.com/WireMock-Net/WireMock.Net/pull/816

[2022-09-28 14:56] steven-nelson-olo opened #819 "Can I preserve Mapping title and matchers for proxy response?"
Hello.

I use a third party SOAP service that I've been told I run tests against too often. I was hoping to use WireMock to proxy and record these requests. Then I'd like to use the recorded mappings as stubs going forward. To proxy and record the initial set, I use something like this:
[code]
Because it is a SOAP service, all the requests use the same URL. The request primarily differ on the body

[2022-09-28 15:49] StefH commented on #819
I would expect that all matches would be used to find the correct/best match.

---

So what would be you proposal? Create a mapping-file-title also based on the body matcher?

[2022-09-28 16:35] steven-nelson-olo commented on #819
I'm surprised that the Path and Regex matcher aren't used for the saved mapping. I expect some immaterial changes in the request body, such as timestamps, so I wouldn't want an exact match on the request body saved in the mapping. But that seems to be what is happening.

For the title, I'd also expect it to be used for the mapping file as it was provided in the Given/RespondWith setup.

When I use

[2022-09-28 18:00] StefH commented on #819
Just to clarify how it's currently implemented ->

None of the matchers defined in your `request` are used when the proxy mapping is saved (saved to memory or saved to file).

The `ProxyHelper.cs` gets all the things (path, method, body, headers, ...) and builds a new mapping.
And the title is set to `$"Proxy Mapping for {requestMessage.Method} {requestMessage.Path}"`.

[2022-09-28 18:29] steven-nelson-olo commented on #819
That matches with what I've seen.

Because I'd like to reuse the mappings as stubs after they've been saved to a file, it would be nice if the matchers defined in the `request` are used when the proxy mapping is saved. Does that make sense, or does it run counter to an expected use case?

[2022-09-29 10:07] StefH commented on #819
A possible solution could be to:

- define a property `UseDefinedRequestMatchers` on the ProxyAndRecordSettings.cs
- when this property is set, the ProxyHelper.cs should use these instead the default exact matchers.
- so in your example the `WithBody` should use `"<RequestType>Auth</RequestType"` instead of an default exact matcher.

[2022-09-29 14:12] steven-nelson-olo commented on #819
That sounds like it would work to me. I've started working on a change that seems similar, but uses more of the mapping in the chance that more than the matchers might be wanted. I created a PR so you can see what I meant.

[2022-09-29 17:03] StefH commented on #819
See preview: `1.5.6-ci-16482`

[2022-09-29 18:57] steven-nelson-olo commented on #819
I tested with `1.5.6-ci-16482`

I was able to verify the recorded mappings are saved with the title from the request mapping, and that the request matchers are storing the matchers from the `request`. Looks good to me!

[2022-09-30 09:22] StefH commented on #819
https://github.com/WireMock-Net/WireMock.Net/pull/821

[2022-09-30 09:25] StefH commented on #819
A new official nuget version will be released in some days.

[2022-09-30 09:25] #819 closed

[2022-09-30 13:57] steven-nelson-olo commented on #819
Thanks @StefH I appreciate all of your help!

[2022-09-30 19:29] ouell opened #822 "Webhook with generic url, body and custom header values"
In the java version we have:
[code]

I pass the url with some parts of the request and the body.

In .net i try make something like:
[code]

I don't know how to pass the custom header.
And dosen't transform the fields in url

[2022-09-30 20:08] StefH commented on #822
@ouell

That `"x-origem"` should work, did you test that it doesn't work?

And indeed, only the body and the headers can be transformed for now, however I can add logic to also transform the url.

[2022-10-01 09:30] StefH commented on #822
Preview version `1.5.6-ci-16508` supports transforming the url.

See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

https://github.com/WireMock-Net/WireMock.Net/pull/824

[2022-10-03 17:52] StefH commented on #814
@robvangeloven

Did you have time to validate?

[2022-10-03 17:53] StefH commented on #822
@ouell
Did you have time to test this?

[2022-10-03 17:53] StefH commented on #809
@mattisking , if you have time, can you please test this?

(Then I can merge this to master)

[2022-10-04 21:16] itsoli91 opened #825 "How can I have the latest version of admin api OpenApi (swagger) file ?"
Hi,
How can I have the latest version of admin api OpenApi (swagger) file ?
Currently in Wiremock.net docs you are pointing to a out dated link (https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.4.24)
How can I have the latest version?

[2022-10-04 21:34] paulmctigue opened #826 "Dynamic Body not to be cached when a Func is used to created the body"
I'm using wirenet.net as a standalone process. The response func code below loads an existing file from disk, mutates the string and return it to the user. In my case it mutates all the dates relative to the todays date.

Because it a dynamics response I don't want the response to be cached. Currently (version 1.5.6), I think, the behaviour is caching the response every time its invoked increasing

[2022-10-05 08:45] StefH commented on #825
There is a more updated version : https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.4.7

However, not all 1.5.x changes are defined there.

[2022-10-05 08:55] itsoli91 commented on #825
Thanks
Is there any way that I can generate that myself?
Or it should be created manually?

[2022-10-05 11:53] robvangeloven commented on #814
@StefH  Sorry, only now have time to test. The package version you mention is (no longer) available. Which version should I take for testing?

[2022-10-05 12:04] StefH commented on #814
can you please try `16510`?

[2022-10-05 15:10] robvangeloven commented on #814
Tried it and failed, decompilation seems to show that the code isn't merged into that branch yet. Is that possible?

[2022-10-05 15:36] StefH commented on #814
Sorry, wrong branch.

This id: 16511 should be it.

[2022-10-07 08:23] StefH commented on #814
@robvangeloven
Thanks for testing.

Can you please take a look at this unit test file?
https://github.com/WireMock-Net/WireMock.Net/pull/816/files#diff-e73254164873009a752dfd094e87fa8aae2d0c6c0c0b7ebe3b6d2f2b23b287c8

See line 463.

[2022-10-10 09:19] basdijkstra opened #827 "How can I create a stub that responds only for headers with multiple values?"
So, I've got a request that contains a header with multiple values (in this case, 2), and I want to write a stub that responds only when that header has both these values:
![unnamed](https://user-images.githubusercontent.com/10740451/194833716-d4cabc89-a44f-4254-99c8-869f8ae6a1d9.png)

I've tried
[code]
as well as
[code]
and also
[code]
but none of them work. Could someone please show me how to do

[2022-10-10 10:16] basdijkstra commented on #827
Nevermind, I figured it out. Mistake on my end: I didn't call the code that added the mock response to the stub server.

For those who are interested, once I did that, this response definition worked:

[code]

[2022-10-10 10:16] #827 closed

[2022-10-10 21:21] steven-nelson-olo commented on #819
Hello again @StefH
Is there any update on when we might see an official nuget version?

[2022-10-11 06:43] StefH commented on #819
Later today.

[2022-10-11 16:47] StefH commented on #826
I'm not sure if there is caching when you use a Func to define your response.

Caching can only be enabled for `WithBodyFromFile`.

Can you please double?

[2022-10-12 10:36] StefH commented on #809
@mattisking
Did you have time yet to verify?

[2022-10-12 10:38] StefH commented on #825
It cannot be generated.

It's just a static document which I try to keep in sync with all the functionality in WireMock.Net

Please also take a look at the wiki : https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference

Are all questions resolved, can I close this issue ?

[2022-10-12 17:20] StefH commented on #822
Can you please test?

Preview version = 1.5.7-ci-16520

[2022-10-12 17:24] StefH commented on #693
@suszi88
I'll close this issue.

In case you still have questions, comment here or open a new specific issue.

[2022-10-12 17:24] #693 closed

[2022-10-12 17:24] #564 closed

[2022-10-12 21:00] #825 closed

[2022-10-13 10:10] robvangeloven commented on #814
I've checked the unit test, but that one doesn't actually check any headers?

[2022-10-13 10:31] StefH commented on #814
Correct.

I did combine both your issues into 1 PR.

And I think both issues are solved.

In case you still have an issue, please provide a unit test.

[2022-10-13 17:19] StefH commented on #665
Closing for now.

[2022-10-13 17:19] #665 closed

[2022-10-13 17:30] StefH commented on #826
@paulmctigue
I did add a extra unit test: https://github.com/WireMock-Net/WireMock.Net/pull/828 which shows that it works correct.

[2022-10-14 10:39] paulmctigue commented on #826
@StefH It always return the correct response string for the request. That bit is fine. However memory is increased for each new string that is returned. I'll double check it now

[2022-10-14 12:06] StefH commented on #826
Yes I can understand that the memory is increased because the return value from that Func is a string, and this is saved internally.

However I think that this is only kept in memory for logging the request. So cleaning the logging could help, or I can investigate if in case it's a Func, the response is not saved to the logging.

[2022-10-14 13:25] paulmctigue commented on #826
Yes its the log entries that are consuming the memory - this object WireMock.Util.BodyData.
I didn't see DeleteLogEntry method.

[code]

This solves the issue.

[2022-10-14 14:38] paulmctigue commented on #826
Maybe have a global setting to opt of this type of logging when setting up the server (in WireMockServerSettings).
Is the internal logging separate for the general logging because using WireMockNullLogger wouldn't help in this circumstance?

[2022-10-14 15:34] StefH commented on #826
Yes a good idea.

I'll see if this can be added, however, it will take some time because I first want merge some other PR's.

[2022-10-14 20:57] robvangeloven commented on #814
Yes, retested everything and both issues are fixed!

[2022-10-15 06:21] StefH commented on #814
Thanks for retesting. A new NuGet version will be released this weekend.

[2022-10-15 06:21] StefH commented on #814
https://github.com/WireMock-Net/WireMock.Net/pull/816

[2022-10-15 06:21] #814 closed

[2022-10-15 06:21] #815 closed

[2022-10-15 06:23] StefH commented on #809
https://github.com/WireMock-Net/WireMock.Net/pull/817

PR will be merged. A new NuGet will be released this weekend,

[2022-10-15 06:23] #809 closed

[2022-10-15 06:55] StefH commented on #822
PR is merged to master.
A new official NuGet will be released this weekend.

[2022-10-15 06:55] #822 closed

[2022-10-15 08:05] StefH commented on #826
@paulmctigue
You can now opt-out using `DoNotSaveDynamicResponseInLogEntry` = `true`

Preview version : `1.5.7-ci-16532`

https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-10-17 07:11] THenryT opened #829 "How I can register my own Handlebars Helper"
I am trying to create a dynamic JWT token in response. I know Wiremock.NET does not support it, and if it is possible to that I can create a handlebars helper to generate a jwt token for example {{Jwt iss="localhost:9001"}} and then the response will return a jwt token?

[2022-10-17 13:44] robvangeloven opened #830 "FluentValidation call count behaviour"
Running the following unit tests I expect a different behaviour then I expected:

[code]

Are my assumptions correct or is this correct behaviour?

[2022-10-17 15:58] kelvin-a-law opened #831 "Add to LogEntries before Task completed"
Whilst testing timeout and retry policies I came across an issue where LogEntries were not updated before the test finished. Take this example, not exact code:

[code]

The `WithDelay(1000)` will cause the policy to timeout (within 300ms), eventually throwing a TimeoutRejectedException, the test will end with a printed line of `Calls made: 1` as the other calls are still processing.

Can we add th

[2022-10-17 18:38] StefH commented on #830
[code]

Above tests are valid (I think) and work correctly using the latest preview (1.5.8-ci-16562). Can you test this?

[2022-10-17 19:05] robvangeloven commented on #830
Yup. That version works! 👍🏻

[2022-10-17 19:13] paulmctigue commented on #826
@StefH

Tested this and the memory kept on increasing.

[code]
Are there log entries for request as well as responses?

[2022-10-17 19:34] StefH commented on #826
A log entry defines the request AND the response.

So the memory will increase, but not as much as before (in case you had big xml-strings to return).

If you do not want log entries at all, you can set the `MaxRequestLogCount` to `0` in the settings.

[2022-10-17 19:39] StefH commented on #829
@THenryT
This is indeed possible, you can call your handlebars registration code in the **WireMockServerSettings** : **HandlebarsRegistrationCallback**.

Example:
[code]

[2022-10-17 19:39] #829 closed

[2022-10-17 19:40] StefH commented on #830
https://github.com/WireMock-Net/WireMock.Net/pull/832

[2022-10-17 19:50] #830 closed

[2022-10-18 13:29] StefH commented on #826
@paulmctigue
Is the explanation sufficient?

[2022-10-18 22:34] iparry7979 opened #833 "Reset single scenario using HTTP request"
I am running WireMock as a standalone app.

Regarding resetting scenarios: I am able to reset all scenarios using an empty POST request such as: POST /__admin/scenarios/reset.

However, it fails when I try to reset a single scenario using an empty PUT request for example: PUT /__admin/scenarios/my_scenario/state

According to the documentation [here](https://wiremock.org/docs/stateful-behaviour/)

[2022-10-19 16:31] StefH commented on #833
Hello @iparry7979,

This is not yet implemented in the current version, however you can try a preview version which supports:
- DELETE to `/__admin/scenarios/ABC`
- POST to `/__admin/scenarios/ABC/reset`

Where `ABC` is the name from the scenario.

Preview version = "1.5.8-ci-16566".
Info: https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-10-21 05:18] MychellSantos commented on #772
I do not activate time to test, I will evaluate the next package...

[2022-10-21 12:46] StefH commented on #833
https://github.com/WireMock-Net/WireMock.Net/pull/834

[2022-10-21 12:47] StefH commented on #826
merged

[2022-10-21 12:47] #826 closed

[2022-10-21 15:45] mikebgrep commented on #812
Hello yes I was having an issue before this is closed you advise me to open request for added an documentation

[2022-10-22 08:25] StefH commented on #833
@iparry7979 did you have to time to verify this logic in the preview NuGet ?

[2022-10-24 11:15] loekensgard opened #835 "Creating a request with OData parameters that includes a comma"
Hi, I'm trying to create a wiremock response and request that matches on an OData query.

I'm trying to create a basic request like this:

[code]

I'm then faced with a problem where the response is returned as a partial match because of the request query, and if I inspect the query later on it appears as two queries (separated by the comma I guess).
![image](https://user-images.githubusercontent.

[2022-10-24 19:51] StefH commented on #835
Hello @loekensgard

By default, the application does split on `&`, `;` and `,`.

However I've changed this.

In the settings, set the value `QueryParameterMultipleValueSupport` to a desired value.

This new functionality is in the preview version `1.5.8-ci-16573`.

(https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-10-24 19:51] StefH commented on #835
https://github.com/WireMock-Net/WireMock.Net/pull/836

[2022-10-25 13:19] kamilb-pg commented on #564
Hi,

Sorry to open this again, the .net core example is working for me but since it's reaching end of support I wanted to upgrade to .NET 6.
I set the port to 8080 but am getting
`Unhandled exception. System.IO.IOException: Failed to bind to address http://[::]:8080: address already in use.`
This is a Linux app service and B1 plan.

Thanks

[2022-10-25 14:51] StefH commented on #833
@iparry7979 Did you have time to test this?

[2022-10-25 15:20] StefH commented on #564
@kamilb-pg

I think the settings should be like:
[code]

I've updated example project here:
https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.WebApplication.NET6

And added some images to the wiki
https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-(Azure)-Web-App

[2022-10-25 21:24] iparry7979 commented on #833
@StefH Please disregard the second part of my comment above. I had updated Wiremock.Net.Standalone but not WireMock.Net. When I updated the package the POST to /__admin/scenarios/Scenario1/reset worked as expected in  version 1.5.8-ci-16566.

[2022-10-26 06:43] StefH commented on #833
@iparry7979 Thanks for testing. I'll merge PR to master en close this issue.

[2022-10-26 06:43] #833 closed

[2022-10-28 17:04] StefH commented on #835
@loekensgard Did you have time to test this preview version?

[2022-10-31 15:12] allancascante opened #841 "Support for .net6.0 on nuget package"
I tried creating a new console app using .net6.0 as framework and adding the nuget package for WireMock.Net but the version 202211019.10119.137 that gets installed shows a warning saying .net6.0 might not be compatible. I checked the sources and I see .net6.0 build config is there and I downloaded it and build it and the support for .net6.0 out of the source code seems to be ok. Is it .net6.0 offi

[2022-10-31 15:18] StefH commented on #841
That's a strange version.

Did you download from nuget?

[2022-10-31 15:30] allancascante commented on #841
I did a Package-Install WireMock.Net on the nuget console without any version.

[2022-10-31 15:55] allancascante commented on #841
I tried providing the version and it worked, Installing NuGet package WireMock.Net 1.5.9. NuGet\Install-Package WireMock.Net -Version 1.5.9

[2022-10-31 15:55] #841 closed

[2022-10-31 18:52] StefH commented on #841
Very strange. I wonder where you got that version? Via a different package provider?

[2022-11-05 09:54] StefH commented on #835
@loekensgard Can you please test this?

[2022-11-05 21:15] wolf8196 opened #844 "Disable debug logging in WireMock dotnet tool"
Hi.
Is there a way to set log level in WireMock dotnet tool to disable debug messages?
Or disable logging entirely?
It's useful to see request/response when you are setting everything up, but once that's done, those logs are just spam.

From what I understand the logger currently is created in Program.cs with debug level & passed into StandAloneApp logic.
https://github.com/WireMock-Net/WireMock.N

[2022-11-06 09:22] StefH commented on #844
@wolf8196
I understand your question, and I've added support for WireMockNullLogger in the command line tool.

Please try preview version: `1.5.9-ci-16630`

(https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-11-06 09:33] StefH commented on #844
The reason I've created an own simple logging class in WireMock, is that I cannot use Microsoft.Extensions.Logging.Abstractions because I'm still supporting older frameworks like 4.5.2 & 4.6

I need to think on this....

[2022-11-06 10:32] wolf8196 commented on #844
@StefH
Just checked that version. All looks good to me. Thank you

[2022-11-06 12:27] StefH commented on #844
https://github.com/WireMock-Net/WireMock.Net/pull/845

[2022-11-06 12:27] #844 closed

[2022-11-07 19:21] StefH commented on #831
@kelvin-a-law
This will require some advanced changes in the current logic, I need to think on that if this can be updated, or that';s too much work.

[2022-11-07 19:22] StefH commented on #630
@lillo42
Is this answer clear enough?

[2022-11-08 09:35] loekensgard commented on #835
@StefH
Hi, sorry for my late reply.
I did not get it to work, I tried to specify the QueryParameterMultipleValueSupport but it did not change the output for me. I ended up URL encoding my query params and then it worked without using the preview version. 😄

[2022-11-08 18:28] #835 closed

[2022-11-15 20:40] arihantjain0894 opened #846 "Exception ArgumentOutOfRangeException"
Hi, I am getting the following exception:
[code]
Settings:
"MaxRequestLogCount": 0
"CustomDelay": 5000 ms

Version: 1.5.3

Usage: System stress testing.

When i increase the MaxRequestLogCount to let say 20, this is less frequent.
Also making custom delay to 0 fixes this.

[2022-11-17 10:59] lszlszl opened #847 "How can I correctly find or ignore the ? character from a request url in the RegexMatcher used via postman, not coded."
Latest stable wiremock version was downloaded and configured. I send messages to them via postman.

 I configured a RegexMatcher, what is okay, if I do not send a ? in the url.

**steps**

1. define RegexMatcher
      `"Pattern": "(\/some\/service\/v1\/name)([?]{1})(param.source=SYSTEM){1}([&]{1})(param.id=123457890){1}$"`
2. do POST or PUT and configure a request / response via postman.
3. check

[2022-11-17 16:14] StefH commented on #847
@lszlszl
Please provide the mappping json you send to wiremock.

[2022-11-17 19:02] StefH commented on #846
https://github.com/WireMock-Net/WireMock.Net/pull/848

[2022-11-17 19:27] StefH commented on #846
can you try preview version "1.5.10-ci-16658" ?

(https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-11-17 20:43] lszlszl commented on #847
{
	"Request": {
		"Path": {
			"Matchers": [
				{
					"Name": "RegexMatcher",
					"Pattern": "(\/some\/service\/v3\/name)([?]{1})(param.source=SYSTEM){1}([&]{1})(param.id=123457890){1}$"
				}
			]
		},
		"Methods": [
			"get"
		]
	},
	"Response": {
		"StatusCode": 200,
		"Body": "{\"msg\": \"Hello my world!\"}",
		"Headers": {
			"Content-Type": "application/json; charset=utf-8"
		}
	}
}

[2022-11-18 07:51] arihantjain0894 commented on #846
{
	"Status": "{\"ClassName\":\"System.ArgumentOutOfRangeException\",\"Message\":\"Index must be within the bounds of the List.\",\"Data\":null,\"InnerException\":null,\"HelpURL\":null,\"StackTraceString\":\"   at System.Collections.Generic.List`1.Insert(Int32 index, T item)\\r\\n   at System.Collections.ObjectModel.Collection`1.InsertItem(Int32 index, T item)\\r\\n   at System.Collections.ObjectMo

[2022-11-18 18:02] StefH commented on #846
New preview version:

`16663`

Can you try this?

[2022-11-18 18:18] StefH commented on #847
What I would suggest is:

:one:
Use a RegexMatcher for only the **path** : `(\/some\/service\/v1\/name)`

:two:
Use a RegexMatcher/ExactMatcher or WildcardMatcher for the Query Parameters:

[code]

[2022-11-19 08:03] lszlszl commented on #847
{
     "Request": {
        "Path": {
            "Matchers": [
                {
                    "Name": "ExactMatcher",
                    "Pattern": "/some/service/v3/name",
                    "IgnoreCase": false
                }
            ]
        },
        "Params": [
            {
                "Name": "param.source",
                "Matchers": [
                    {

[2022-11-19 08:03] lszlszl commented on #847
okay, thank you! That"s working fine.

[2022-11-19 08:04] #847 closed

[2022-11-19 09:09] StefH commented on #846
Preview version `16667` does also have extra logic --> do not add an entry at all if the MaxRequestLogCount is set to 0.

@arihantjain0894 can you test this version?

[2022-11-19 09:15] arihantjain0894 commented on #846
Shouldn't we do the same(condition) when removing from the log also?

[2022-11-19 10:00] StefH commented on #846
Ok.
I did add some extra checks

[2022-11-19 12:22] StefH commented on #846
latest version is 16669

[2022-11-21 06:27] arihantjain0894 commented on #846
Worked fine.

[2022-11-21 06:30] StefH commented on #846
https://github.com/WireMock-Net/WireMock.Net/pull/848

[2022-11-21 06:30] #846 closed

[2022-11-21 06:31] StefH commented on #846
New official version will be released shortly.

[2022-11-23 23:09] gigiogodoi opened #849 "ParamMatcher failed when using parameter with comma"
### Describe the bug
I'm working on a system that consumes a 3rd party API which accepts as querystring a SQL statement.
For example, to query some data from any table just build the URI like this:
- `http://host/api/queryservice?query=SELECT id FROM table WHERE id = 1`
While trying to mock this API, I realized that whenever I tried to mock a statement using comma, the ParamMatcher fails.
For exam

[2022-11-23 23:23] stopdropandrew opened #850 "Header matching issues"
### Describe the bug
Header matchers seem to be ignored.

I'm using docker and I've got three json mappings. They each have the same path and method matchers and each have a unique header matcher. The header matching seems to not work.

### Test to reproduce
mappings:
[code]

### Other related info

Something interesting is that the request match results don't seem to include anything about header

[2022-11-23 23:35] stopdropandrew commented on #850
Changed the mapping format and it started working.

[2022-11-23 23:35] #850 closed

[2022-11-24 08:09] StefH commented on #849
What you can try:

:one:
url-escape the comma

:two:
Set https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Settings/WireMockServerSettings.cs#L267 to `QueryParameterMultipleValueSupport.NoComma`

[2022-11-24 19:17] gigiogodoi commented on #849
Thanks for reply,

I've downloaded the latest nuget version (1.5.10) but there isn't this property.

![image](https://user-images.githubusercontent.com/35941336/203852552-14a9a4c5-e735-4ce0-97c9-68d0122e6de8.png)

Am I doing anything wrong?

[2022-11-24 20:37] StefH commented on #849
No. Nothing is wrong on your end

I just realized that I need to release a new version which includes this.

I'll do that now.

[2022-11-24 21:52] gigiogodoi commented on #849
Thanks, @StefH

[2022-11-25 07:14] StefH commented on #849
It could be that Url escaping does indeed nor work.

Then you need to use option 2.

Can this issue be closed?

[2022-11-25 11:16] gigiogodoi commented on #849
I'm still facing the issue.

The API I'm trying to consume is this one:
https://docs.oracle.com/en/cloud/saas/service/18a/cxsvc/op-services-rest-connect-v1.4-queryresults-get.html

It's a public Oracle REST API, to query entities from database.

When I try to mock a return to this request I get an 404 error.

![image](https://user-images.githubusercontent.com/35941336/203974136-12a4861b-56e2-4f36-

[2022-11-25 19:46] mehdihadeli opened #852 "Matching Path withe route parameter ?"
Hi,
I have a get endpoint with a route parameter `id`, how can I setup wiremock for accepting requested ID in my route and send corresponding response based on id?

[code]

[2022-11-26 08:47] StefH commented on #852
In case you use json mapping, use this for the path request matching:

using :
- RegexMatcher (example below)
- Or Wildcard (example :  `/people/*`)

[code]

or

Wildcard matcher example:
[code]

[2022-11-26 11:41] mehdihadeli commented on #852
@StefH Thanks

[2022-11-26 11:41] #852 closed

[2022-11-30 02:51] walidhaidarii commented on #580
Hi @StefH

Any hope WireMock.Net _would_ support the "**Smart Proxy**" functionality

In my case, I needed it to only fall over to the proxy if no mapping is found, which will happen for the first request only, which will save the mapping to disk, so the next call the wire mock server will just read the mapping

I think this case is complex in which the wire mock server needs to keep watching the

[2022-11-30 09:04] StefH commented on #849
https://github.com/WireMock-Net/WireMock.Net/pull/854

[2022-11-30 09:05] StefH commented on #849
@gigiogodoi
Can you please provide a full working c# code example which simulates your issue? Because I cannot reproduce it using unit tests.

[2022-11-30 12:10] gigiogodoi commented on #849
@StefH
Follow an example repository to reproduce the error, using XUnit and .NET6 .

https://github.com/gigiogodoi/UnitTestWithWiremock

Inside it, there are 2 test cases, one failing because it is using a query with comma.

![image](https://user-images.githubusercontent.com/35941336/204792651-b67ed81f-6346-4874-8f36-cb4db0677336.png)

[2022-11-30 14:36] StefH commented on #849
Thanks a lot for this unit test. I did find the issue and it's fixed in preview version `1.5.10-ci-16744`.

[2022-11-30 17:54] StefH commented on #849
Yes.

Works fine.

https://github.com/WireMock-Net/WireMock.Net/blob/stef-849/test/WireMock.Net.Tests/WireMockServerTests.WithParam.cs