[2017-01-17 21:34] StefH opened #1 "Replace WildcardPatternMatcher by RegEx"

[2017-01-18 06:31] StefH opened #2 "Func<string> matching"

[2017-01-18 06:32] StefH opened #3 "WithUrls and WithHeaders and ..."

[2017-01-18 06:32] StefH opened #4 "Handlebar support"
- **request.url - URL path and query**

- **request.path - URL path**

- request.path.[<n>]- URL path segment (zero indexed) e.g. request.path.[2]

- request.query.<key>- First value of a query parameter e.g. request.query.search

- **request.query.<key>.[<n>]- nth value of a query parameter (zero indexed) e.g. request.query.search.[5]**

- **request.headers.<key>- First value of a request header

[2017-01-18 06:33] StefH opened #5 "Xml(2)Path matching"

[2017-01-18 06:34] StefH opened #6 "JsonPath support matching"

[2017-01-18 06:35] StefH opened #7 "Add WithStatusCodeRange matching"

[2017-01-18 06:35] StefH opened #8 "admin rest api"

[2017-01-18 06:35] StefH opened #9 "Cookie matching"

[2017-01-18 06:37] #1 closed

[2017-01-18 06:40] StefH opened #10 "Add usingDelete"

[2017-01-18 07:54] #10 closed

[2017-01-18 19:45] #2 closed

[2017-01-19 06:35] StefH opened #11 "Add response body in binary format"

[2017-01-19 06:38] StefH opened #12 "Getting all currently registered stub mappings"

[2017-01-19 14:13] #11 closed

[2017-01-19 20:52] #5 closed

[2017-01-19 21:23] #6 closed

[2017-01-19 21:23] #4 closed

[2017-01-19 22:26] StefH opened #13 "Handle Exception"

[2017-01-20 07:10] #13 closed

[2017-01-20 10:07] StefH opened #14 "Allow Body as Base64"

[2017-01-20 19:58] #14 closed

[2017-01-23 16:37] #3 closed

[2017-01-23 16:37] #7 closed

[2017-01-23 16:38] StefH opened #15 "New feature: Proxying"

[2017-01-23 16:39] StefH opened #16 "Stub priority"

[2017-01-25 21:01] #9 closed

[2017-01-26 12:30] StefH opened #17 "Add JsonBody to response"

[2017-01-26 14:54] StefH opened #18 "Listen on more ip-address/ports"

[2017-01-30 21:13] #18 closed

[2017-01-30 21:13] #17 closed

[2017-01-30 21:13] #12 closed

[2017-01-31 04:38] phillee007 opened #19 "Is this the same as Mock4Net?"
Hi there,

I was about to start my own project for a .Net version of WireMock when I found your repo. However, I also saw the Mock4Net project which looks much the same. Is yours a newer version of that, or is it just using some of the same code and enhancing it?

Essentially - should I use WireMock.Net or Mock4Net?

Thanks,
Phil

[2017-01-31 06:35] StefH commented on #19
Hello @phillee007 ,

You should use this project.

This project is based on Mock4Net, however a lot of new functionality has been added.

Currently I'm working to on the Admin-Interface, when that's in good shape, I will create a new NuGet.

In the meantime, maybe you can do some testing and help me developing certain features?

[2017-01-31 08:28] #16 closed

[2017-01-31 09:50] phillee007 commented on #19
Thanks for the quick reply. I would be happy to give it a go and see how it performs. Good timing on starting this project - it's a common need I've seen before for .Net projects!

The main thing I envision us using it for (in the short term) is to start the standalone server and use it as part of an automation UI test suite, which would test our ui that relies on canned backend services being pre

[2017-01-31 10:51] StefH commented on #19
This is indeed exactly the way you can use it. With one minor difference, starting the standalone server and stopping it is not needed, it's easier to deploy this standalone server somewhere and keep it running, and just clean the requests / mappings if needed before each test.

[2017-01-31 18:53] phillee007 commented on #19
That sounds reasonable. Perhaps at the beginning of the test run we could
fire a request to verify that the mockserver is running, and only start it
if needed? Or we could just fail that test run and someone could manually
start the mockserver :-)

I agree that cleaning the mock request/response state would be easier  (and
probably faster) than stopping/starting each time.

On 31/01/2017 11:51 PM,

[2017-02-01 13:21] StefH commented on #19
In some time I will release a new NuGet with more supported Admin-Interfaces.

Or do you have any more questions or change requests ? *You are actually the first user, so ll feedback is useful.)

[2017-02-01 19:08] phillee007 commented on #19
I'm not sure we'll use the admin interface straight away unless we need to
debug failing tests (although this may turn out yo be important if there
are issues).

The main use will be stubbing soap responses using url and xpath request
matching, over https. I.might not actually use it properly for a few weeks,
but will let you know how it goes once our first test is up & running :-)

On 2/02/2017 2

[2017-02-01 19:59] StefH commented on #19
Ah ok. You want to start a mock server which hardcodes the responses?

Actually I think that the http rest admin interface really makes the wiremock powerfull anf flexible for testing.

[2017-02-01 20:02] phillee007 commented on #19
Cool.

Stub responses would be uploaded over http during the test execution, so
each test can define the stubs it needs. Is that part of the admin
interface? If so, then yes we'd definitely use it :-)

On 2/02/2017 8:59 AM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-02-01 22:40] StefH commented on #19
Correct. The admin interface is really usefull in automatic test scenarios.

For more detail on the admin interface, take a look at the wiki from this project here. (if you need a bit more, check also the original documentation on the java  wiremock.org website

[2017-02-03 03:45] phillee007 opened #20 "Add client certificate authentication"
Is it possible to add this functionality as well? :-)

[2017-02-03 07:15] StefH commented on #20
I don't know if this is easy. Let me think about this.

[2017-02-03 07:24] phillee007 commented on #20
No problem. We have a number of calls to services that require client certs
for auth, so I figured the stub service might need the same. l I guess we
could turn it off when talking to stub endpoints though?

On 3/02/2017 8:15 PM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-02-05 10:37] StefH commented on #19
Are you currently using the code from this project, or the NuGet ?

[2017-02-05 19:12] phillee007 commented on #19
I downloaded the project from github :-) I had a go at starting the example
console app over http/https & it works well

On 5/02/2017 11:37 PM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-02-09 23:24] phillee007 opened #21 "Admin static json mappings"
Hi there,

I've downloaded the source zip, built the solution, and created an /__admin/mappings/ folder under the bin/debug folder for the WireMock.Net.StandAlone project. In there, I copied the basic json file from http://wiremock.org/docs/stubbing/ (as shown at the end) and named it test.json. I then ran the standalone project from the command line (after adding Newtonsoft.Json reference and res

[2017-02-10 07:26] StefH commented on #21
**WireMock.Net.StandAlone**
There should be no need for Newtonsoft.Json; I did fix the app.config

[2017-02-10 07:27] StefH commented on #21
**Static Mappings** using a json file is not yet implemented. I'll build this in some time using this thread for updates.

[2017-02-10 08:16] StefH commented on #21
Support added.

See example project onhow to use this.

[2017-02-10 09:35] phillee007 commented on #21
Nice :-)

I added a method to do it myself but hadn't tested enough to submit a PR.
Will get the latest when I'm back at work on Monday and try it out

Thanks!

On 10/02/2017 9:16 PM, "Stef Heyenrath" <notifications@github.com> wrote:

Support added.

See example project onhow to use this.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<h

[2017-02-10 17:56] StefH opened #22 "Add basic-authentication for accessing admin-interface"

[2017-02-10 19:04] #22 closed

[2017-02-12 09:14] #8 closed

[2017-02-13 18:35] StefH commented on #21
Did you have time to verify this?

[2017-02-22 14:27] sbebrys opened #23 "Consider port to .Net Core"
Hi, are You consider to port and support only .Net Standard version of this project?
I port it now to .net standard 1.3  [sbebrys/WireMock.Net](https://github.com/sbebrys/WireMock.Net) but You need port XPath2 too.

[2017-02-22 21:01] StefH commented on #23
I did consider this already : https://github.com/StefH/WireMock.Net/blob/master/src/WireMock.Net/netstandard1.3.txt

However XPath / XPath2 are both not supported on netstandard 1.3 or even not on netstandard 1.6 if I remember correctly.

Maybe the new structures in vs2017 can help/support this, but I dont think it will work.

If XPath is the only one which gives troubles, I can remove it and crea

[2017-02-22 21:07] StefH commented on #23
Also Handlebars.Net is still old version on NuGet.

I created a PR which was merged to main, however no new NuGet yet. Maybe you can alsonssk for a new version?

[2017-02-23 08:12] sbebrys commented on #23
Ok, so I asked Handlebars about new release and we could wait for it.

[2017-02-24 23:46] StefH commented on #23
Btw : The http listener is also not present in netstandard 1.3

But we can try to use this one : https://github.com/StefH/NETStandard.HttpListener

[2017-02-25 21:20] sbebrys commented on #23
I saw that, but this version doesn't support yet ContentLength and ContentEncoding, I did workaround this by using [custom headers](https://github.com/sbebrys/WireMock.Net/blob/master/src/WireMock.Net/HttpListenerResponseMapper.cs#L35) but it isn't the best solution. In my project it satisfy me, but I don't think it is ok for everyone.

[2017-03-04 11:08] StefH commented on #21
@phillee007 Is it working fine?

[2017-03-14 23:40] phillee007 commented on #21
finally got a chance to test this!

To answer your question: yes and no...

Yes it can read mappings files that are named using a guid, however, we find it useful to actually use meaningful file names, as we're generating a whole heap of static mappings based on log files from real requests/responses from our external api. E.g. customer_get_123.json vs asdfdsafsaf234324.json

Is it possible for th

[2017-03-15 06:24] StefH commented on #21
Good point.

I will add support for all `.json` files and add a `title` to the mapping which will be used as filename if present.

[2017-03-15 11:36] StefH commented on #21
OK. I've added a "Title" as property. Can you please get the latest code and test if this works for you ?

[2017-04-14 09:51] StefH opened #25 "Upgrade to vs2017"

[2017-04-14 10:08] #25 closed

[2017-04-14 10:08] StefH commented on #21
Were you able to test the latest code?

[2017-04-14 12:25] StefH commented on #23
Can you maybe make a PR on NETStandard.HttpListener and then move this PR into my `https://github.com/StefH/WireMock.Net/tree/_stef_netstandard` branch?

[2017-04-26 19:44] StefH commented on #23
I removed the `HttpListener` and used `Microsoft.AspNetCore`

[2017-04-26 19:44] #23 closed

[2017-04-28 05:48] phillee007 commented on #21
Good news - I got to test this at last and it does work! Will raise another issue regarding the path matching and full urls separately

[2017-04-28 05:48] #21 closed

[2017-04-28 05:58] phillee007 commented on #21
Actually, scratch that comment re raising another issue. I see you've already added in the extra function to convert a relative url to the fully qualified url so that matcher works :-)

E.g. If the request has something like this:
...
Url": {
"Matchers": [
 {
  "Name": "WildcardMatcher",
  "Pattern": "products/123456"
 }
]
},
...

When I was using the earlier version of wiremock.net, it required m

[2017-04-28 07:49] StefH commented on #21
Thanks. Please open new issues in case you encounter something.

[2017-05-05 17:54] StefH opened #27 "New feature: Record and Save"
http://wiremock.org/docs/record-playback/

[2017-05-05 17:54] StefH commented on #15
http://wiremock.org/docs/proxying/

[2017-05-08 06:25] StefH commented on #15
#2c8142b93d387ba1d0ab925b7e7dc12e4b60cd20

[2017-05-10 18:35] pradkhanna opened #28 "Facing issue with WildcardMatcher and '?'"
Hi
I'm building a mock response for the uri...
 /config/api/foundation/economic-regions/search?channel=1&brand=2

though the mock is setup...  I'm getting response for all characters except ? in the uri.
like,
/config/api/foundation/economic-regions/searchachannel=1&brand=2
/config/api/foundation/economic-regions/search.channel=1&brand=2

From the code here, I see the Regex Replace(@"\?", ".")

Ho

[2017-05-10 19:07] StefH commented on #28
I guess you want to match parameters?
Then you can use something like:
[code]

which will match an url like : `http://localhost/foo?bar=1&bar=2`

[2017-05-11 17:20] pradkhanna commented on #28
Thanks StefH.
But, I'm using a .json configured mapping something like this....
{
  "Request": {
    "Path": {
      "Matchers": [
        {
          "Name": "WildcardMatcher",
          "Pattern": "/config/api/foundation/economic-regions/search"
        }
      ]
    },
    "Methods": [
      "get"
    ]
  },
  "Response": {
    "BodyAsJson": _{"Response_Json": "Goes here"}_,
    "Headers": {

[2017-05-11 19:04] StefH commented on #28
Maybe a better option would be to use the RegexMatcher to create a regular expression which matches your url

[2017-05-12 20:30] StefH commented on #27
Hello @phillee007 , if you have time, can you do some testing with **Proxy** and **Record and Save** ?

[2017-05-12 22:42] phillee007 commented on #27
Will have a try, although unfortunately all the real services we call require client certificates, so I'm not sure whether it will be possible. I saw a section on http://wiremock.org/docs/proxying/ about how to setup client certificate forwarding on java, but will have to do some reading to find out the .Net equivalent...

[2017-05-13 11:13] StefH commented on #27
What kind of certificate would you be using ?
Is that a **X509Certificate2** ?

[2017-05-13 11:44] phillee007 commented on #27
Yep that's right

On 13/05/2017 11:13 PM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-05-16 18:21] StefH commented on #27
I've updated the code and added logic to provide `X509Certificate2Filename`.

I'm not sure if this works, I'm unable to test this myself.

[2017-05-16 19:14] phillee007 commented on #27
Thanks Stef. I'll give it a try and submit a PR if I need to change it :-)

On 17/05/2017 6:21 AM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-05-20 02:49] pradkhanna commented on #28
Sorry for the late response.  I've got the response mapped using .withParam();   and got my mapping.json file configured using it.   Thanks again.

[2017-05-20 02:49] #28 closed

[2017-05-20 08:49] StefH commented on #28
Cool !

[2017-05-23 11:59] sergiychernov opened #29 "Support of .Net 4.0"
Hey @StefH, thanks for great library! Wanted to ask if it is planned to support .net 4.0 or there are some reasons or limitations to not support it?
Thanks

[2017-05-23 16:54] StefH commented on #29
Difficulties porting /using

- OwinSelfHost
- Task / Async
- ReadOnlyList

[2017-05-23 16:54] #29 closed

[2017-06-09 21:33] StefH commented on #27
Any luck?

[2017-06-09 21:49] phillee007 commented on #27
Not yet I'm afraid. Our testers took a while to get on board with the whole
concept of what wiremock actually does,  so i had no spare time to test the
client cert stuff. I will in the next two weeks though :-)

On 10/06/2017 9:33 AM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-06-09 21:57] phillee007 opened #30 "[Feature] Disable partial mappings by default in standalone version"
In the standalone code, it has AllowPartialMapping set to true by default. Perhaps this should be set to false by default as it can be very confusing when debugging and seeing results being returned for things that you don't expect?

[code]

[2017-06-09 22:50] StefH commented on #30
done

https://github.com/StefH/WireMock.Net/commit/97c7a153020b3fa468d5b563e5cd5cc411887d32

[2017-06-09 22:50] #30 closed

[2017-06-09 23:11] phillee007 opened #31 "Feature request: Nuget package for standalone version"
Was there an earlier version where the standalone console app was also available via a Nuget package?

I can't see one now, and it would be useful to have one. Yes it's easy to create my own console app and copy/paste the Wiremock.Standalone code into it, but would be even easier to have a nuget package for it :-)

Thanks,
Phil

[2017-06-10 07:01] phillee007 commented on #20
Have had a look & I'm not sure it's modelled quite right. Each request mapping gets its own settings for proxy url/cert filename (plus also needs password if specified), so there would be no need to specify them in the mock server general settings (or as command-line args) as they wouldn't be used.
I've cloned the repo & will try it out locally over the next week or so to see what i can do.

[2017-06-10 07:52] StefH commented on #31
Try https://www.nuget.org/packages/WireMock.Net.StandAlone/1.0.0

[2017-06-14 09:00] Yopt opened #33 "Issue with launching sample code (StandAlone server)"
Dear WireMock team,

there is an issue with launching sample code:
Unhandled Exception: System.TypeLoadException: Could not load type 'WireMock.Settings.FluentMockServerSettings' from assembly 'WireMock.Net, Version=1.0.2.0, Culture=neutral, PublicKeyToken=null'.
   at WireMock.Net.StandAlone.StandAloneApp.Start(String[] args)
   at WireMock.Net.StandAlone.Program.Main(String[] args)

[code]

[2017-06-14 10:04] Yopt commented on #33
@StefH

[2017-06-14 10:55] StefH commented on #33
Thanks for reporting. I'll take a look.

[2017-06-14 11:26] StefH commented on #33
Upgrade WireMock.Net to:
https://www.nuget.org/packages/WireMock.Net/1.0.2.1

[2017-06-15 05:23] Yopt commented on #33
@StefH now it`s ok, thank you

[2017-06-15 05:23] #33 closed

[2017-06-15 06:25] StefH commented on #33
I've also uploaded a new StandAlone NuGet which does reference this fixed WireMock.Net dependency.

[2017-06-16 09:54] #31 closed

[2017-06-16 13:24] mkjeff opened #34 "Where is SearchLogsFor method?"
I saw **SearchLogsFor** sample code in the Wiki page. How can I use this feature?

This project was impressed me a lot. Thank for your work.

[2017-06-16 14:00] StefH commented on #34
I think you mean:

the `FindLogEntries` method
or
the `POST /__admin/requests/find` admininterface call

Both can be used to find requests based on a criteria. (However I need to test and check the documentation on the wiki if all is correctly working...)

[2017-06-16 15:21] mkjeff commented on #34
I got it. thanks

Maybe you should fix these wiki as well.
https://github.com/WireMock-Net/WireMock.Net/search?q=SearchLogsFor&type=Wikis&utf8=%E2%9C%93

[2017-06-17 07:18] #34 closed

[2017-06-17 07:34] #15 closed

[2017-06-20 13:59] Yopt opened #36 "How to implement a request body-dependent response?"
Dear @StefH,

consider request body contains complex data (xml as plain text) in a certain known format.
I have to create corresponding mock response by parsing body and transforming it using known rules.
Is it possible to implement this logic by means of WireMock?

Regards

[2017-06-20 16:14] kailashravuri opened #37 "Wrong Request Match result is returning"
Hi - I downloaded the code and while running the ConsoleApplication Project inthe sulution with some changes i am getting some bizarre results.

In the attached sample code file - when i try to run the run application and accessing the URL from browser - like http://localhost:9091/search/query i am getting the result of path match for url "/testmatch".

 If i register the  url "/search/query" abov

[2017-06-20 18:23] phillee007 commented on #37
Try removing the EnablePartialMapping line and see if that fixes it.

[2017-06-20 18:48] StefH commented on #37
There are some errors:

1. Remove this line : `server.SetBasicAuthentication("a", "b");` // this line means that you want to protect the server with basic authemtication

2. Use `WithPath` instead of `WithUrl`

And `WithBodyAsJson` can be used more easily like:
`WithBodyAsJson(new { value = "test" }`

[2017-06-20 18:55] StefH commented on #36
You can indeed use transformation [wiki - response-templating](https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#response-templating) using **handlebars**.

For example see:
https://github.com/WireMock-Net/WireMock.Net/blob/4fa295edb71e6d3f391190fb37c628872358b413/test/WireMock.Net.Tests.old/ResponseTests.cs#L42

[2017-06-22 05:40] Yopt commented on #36
Fine, thank you

[2017-06-22 05:40] #36 closed

[2017-06-22 07:59] kailashravuri commented on #37
Hi @StefH
I need the authentication and i am passing user ID and password using postman. As you mentioned i removed `AllowPartialMapping` then i am getting result for "/search/query" but "No matching mapping found" for '/testpath'

[2017-06-22 08:12] StefH commented on #37
Did you change your code to use `WithPath` ?

[2017-06-22 08:59] kailashravuri commented on #37
@StefH yaa it looks like `WithPath` is working fine. Sorry for missing that last time. Thanks for helping me out.

[2017-06-22 08:59] #37 closed

[2017-06-22 09:00] StefH commented on #37
Ok. If you have more questions or ideas, please ask.

[2017-06-22 09:00] StefH commented on #37
Ok. If you have more questions or ideas, please ask.

[2017-08-08 20:17] StefH opened #38 "Bug: support also listening on *:{port}"

[2017-08-08 21:09] #38 closed

[2017-08-12 09:19] #20 closed

[2017-08-12 09:19] #19 closed

[2017-08-12 09:28] phillee007 opened #42 "Enhancement - Save/load request logs to/from disk"
Just thinking, in one of the scenarios we have, the Wiremock standalone instance is used as either:
- a fallback when one of our real services goes down in development, or
- we just want to avoid depending on the real service.

Sometimes the service can run for days, or weeks. When this happens and there are multiple developers using the standalone mock service, the request logs can grow very larg

[2017-08-12 19:13] StefH commented on #42
For this scenario I think implementing RequestLogExpirationDuration / MaxRequestLogCount is the easiest.

About memory issues : I dont think that will be a real issue unless you send/receive complete byte[] array blob data like complete files.

Note that I'm currently working on using netstandard/netcore 2.0 preview in relation to docker image.
My goal is to create a docker image based on linux or

[2017-08-14 06:33] StefH opened #43 "Feature: Add RequestLogExpirationDuration and MaxRequestLogCount"
RequestLogExpirationDuration is a (nullable) integer which defines in hours the time
MaxRequestLogCount is a (nullable) integer which defines the maximum number of requests to keep using LIFO design

Both settings should be exposed in the stand-alone console app.

[2017-08-14 07:27] StefH commented on #42
@phillee007 ; another question : are you available for code-reviews in the next weeks? Or do you have holiday planned?

[2017-08-14 08:15] phillee007 commented on #42
I go on holiday to Europe in a few days till October 5, but should be able
to look at some code while on planes/buses etc. Is it for the core 2 stuff?

Phil

On 14/08/2017 7:27 PM, "Stef Heyenrath" <notifications@github.com> wrote:

[2017-08-14 08:21] StefH commented on #42
Hi Phil,

Code reviews are more related to https://github.com/WireMock-Net/WireMock.Net/issues/42 and https://github.com/WireMock-Net/WireMock.Net/issues/43

For the .net preview 2.0 stuff, I don't specifically need your review comments, most code-changes are done now I hope.

[2017-08-14 08:27] phillee007 commented on #42
Ok. Just let me know if/when you need me to have a look. I could write the code too when i get back if you're busy.

Holiday - Greece, Croatia, Italy, Hungary, Serbia :-)

[2017-08-19 04:56] benjamin-bader opened #44 "Bug: Server not listening after Start() returns (on macOS)"
Hi, I just ported a project from .NET 4.5 to .NET Core 2.0 on macOS.  I noticed that a unit test using FluentMockServer started failing with `System.Net.Http.CurlException : Couldn't connect to server`.

When I add `Thread.Sleep(100)` after starting the server, the error goes away.  I'm assuming that, on macOS at least, the underlying server implementation is a bit more asynchronous than that on .

[2017-08-19 08:29] StefH commented on #44
Can you post the full code where you put the Thread.Sleep()?

[2017-08-19 19:58] benjamin-bader commented on #44
I can't post the actual source (proprietary, etc), but here's the essence.  It's an xunit test class:

[code]

[2017-08-20 09:20] #43 closed

[2017-09-06 06:40] StefH opened #46 "Log the ip-address from the client/caller also in the RequestLog"

[2017-09-18 18:02] #46 closed

[2017-09-18 18:03] StefH opened #47 "Feature: add matcher details to Request to see which matchers match/not match"

[2017-09-18 18:52] #47 closed

[2017-09-26 18:04] skunkworks commented on #44
I can confirm that I've had the same issue with WireMock.NET not starting up the server in time on MacOS.

[2017-09-26 21:14] StefH commented on #44
Are you running on netcore 1.x or 2.0 ?

[2017-09-26 21:26] skunkworks commented on #44
@StefH This is on .NET Core 2.0.

[2017-09-27 15:42] StefH commented on #44
@skunkworks OK. Clear.

I was wondering if there is an environment setting to see if I'm running on Linux, Windows or MacOS...  I'll investigate this.

[2017-09-27 17:14] benjamin-bader commented on #44
What do you think about returning a `Task` in the public `FluentMockServer` API?  The inner HTTP server already seems to, but the server doesn't do anything with it.

Alternately, why not block on the task returned by the inner HTTP server?

[2017-09-30 08:06] StefH commented on #44
Should be fixed. Download source or use latest NuGet version `1.0.2.4-preview-02`.

[2017-10-03 10:39] StefH commented on #44
@benjamin-bader and @skunkworks : were you able to test this new source-code / NuGet ?

[2017-10-03 19:24] deeptowncitizen opened #48 "Stateful support"
Is there a plan to support [stateful behavior](http://wiremock.org/docs/stateful-behaviour/) functionality?

[2017-10-03 22:51] skunkworks commented on #44
We'll give it a shot and report back. Thanks for the fix!

[2017-10-04 16:31] StefH commented on #48
No plans, until your question ;-)

I'll take a look at the idea and check if this can be implemented in WireMock.net

[2017-10-04 16:50] deeptowncitizen commented on #48
I have implemented this functionality for in-process solution. but I can't create PR as have no permissions.
Could you give me permissions to push a new branch?

[2017-10-04 17:01] deeptowncitizen commented on #48
Mostly the idea is simply to add such syntax:

[2017-10-04 18:54] StefH commented on #48
What you can do is fork this project, and then build your changes there and then make a PR to this project. Or what you also can do, is zip your changes and provide this code to me.

[2017-10-04 20:27] deeptowncitizen commented on #48
Created a PR #49

[2017-10-04 20:46] StefH commented on #48
I see, currently reviewing and testing.

[2017-10-04 21:25] deeptowncitizen commented on #48
had to add 1 update: in case the next state is not specified - the current will not be changed (will not be set to NULL)

[2017-10-05 06:16] StefH commented on #48
I will look, however I'm also looking to build in support for multiple states or scenarios.

[2017-10-05 13:20] deeptowncitizen commented on #48
what do you mean by multiple states? do you have any examples?

are you talking about something similar to `inScenario("To do list")`?
Do you  want to keep backward compatibility?

[2017-10-05 13:30] StefH commented on #48
Multiple states : Be able to define multiple states which will behave.

Scenarios : I think I like the original idea from wiremock.org I'm building the code based on your PR.

[2017-10-05 13:35] deeptowncitizen commented on #48
I see. something like `WhenState(params object[] states)`?

do you plan to keep backward compatibility?

[2017-10-05 18:16] sdcoffey commented on #44
@StefH looks like this update worked, thanks for the quick fix!

[2017-10-06 13:31] deeptowncitizen commented on #48
in case you decided what is the expected semantic and contract I can update PR

[2017-10-06 13:51] StefH commented on #48
Thanks for the offer, but currently I'm trying to build it according to my idea, I'll let you know if I need help.

Multiple states means ; multiple parallel states should be supported, like unit-test as defined below should be fine:

[code]

[2017-10-06 15:24] deeptowncitizen commented on #48
looks good. will use this syntax meanwhile.
thank you

[2017-10-06 19:44] deeptowncitizen opened #50 "New Feature: Callbacks"
How about to add callback support for in-process server?
Or at least observable logging, etc?

[2017-10-06 20:30] deeptowncitizen commented on #50
Ability to subscribe to `LogEntries` changes: #51

[2017-10-07 11:22] StefH commented on #48
See my code at https://github.com/WireMock-Net/WireMock.Net/tree/stateful-behavior

I'll extend this code to also support the JSON for this...

[2017-10-07 13:28] #50 closed

[2017-10-07 13:29] StefH commented on #48
Code merged to master, still need to add some text to wiki...

[2017-10-07 15:41] StefH commented on #48
WIKI --> https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States

[2017-10-09 11:46] deeptowncitizen commented on #48
looks great!
do you have any plans to update the package on nuget.org?

[2017-10-09 12:39] StefH commented on #48
Yes, I think I can release version **1.0.2.4** on NuGet. I keep you informed here when.

[2017-10-10 16:29] StefH commented on #48
Done

[2017-10-10 16:29] #48 closed

[2017-10-11 09:28] niwrA opened #52 "SimMetrics.NET error when trying to install NuGet Package"
Hi,

I wanted to try this for troubleshooting a development issue, but whatever .NET Framework I choose, installing the package always fails with:

Failed to retrieve information about 'SimMetrics.Net' from remote source 'https://api.nuget.org/v3-flatcontainer/simmetrics.net/index.json'.
Response status code does not indicate success: 504 (Gateway Timeout).			0

Any idea what could be done about t

[2017-10-11 11:52] niwrA commented on #52
I notice it may well be an issue with SimMetricts.Net package. That was recently updated and since then I think it is no longer working. I created an issue here:

https://github.com/StefH/SimMetrics.Net/issues/2

[2017-10-11 15:35] StefH commented on #44
@skunkworks : I close this issue now, if you have more troubles, create a new issue.

[2017-10-11 15:35] #44 closed

[2017-10-12 18:10] deeptowncitizen commented on #48
thanks a lot!

[2017-10-13 08:43] Rmkrs opened #53 "New feature request: Access to Owin pipeline"
Hey Stef,

We are looking into using WireMock.net for UI tests for one of our products. To give it some context, we have a single page Aurelia Frontend application talking to a backend using WebAPI2.

We serve the frontend files (/index, etc) but we also have /api/xxx where our backend responds.
And /api/signalr, where the signalr connection lives.
All on the same url:port.

 We created a POC to p

[2017-10-13 12:42] Rmkrs commented on #53
I did a POC of how this could work by changing some code in WireMock.net and export a new nuget package, but "least intrusive" might not be a correct term.

I had to make WireMockMiddlewareOptions, FluentMockServerSettings and IOwinSelfHost public.
I also had to copy some of the code now being done in the private constructor of the FluentMockServer to the outside where I start the FluentMockServer

[2017-10-13 13:35] StefH commented on #53
1] and without fonts breaking, due to always being sent as string, instead of bytes with encoding, courtesy of the string Body property in ResponseMessage). --- This looks like a bug or a new feature

2] I will take a look at your poc code. And check if this can be build in a more easier way.

[2017-10-13 15:48] Rmkrs commented on #53
Thanks, I appreciate that. If you need any input from me, please don't hesitate.
Have a nice weekend.

[2017-10-14 08:50] StefH commented on #53
1] This issue has been fixed in the code by https://github.com/WireMock-Net/WireMock.Net/commit/07f03997c0046a2f7ddceaeac03318a38166fde5
Do you want a new NuGet for this?

2] I still have to look into this.

3] Does the mocking work with SignalR, I'm surprised that mocking works? Can you maybe provide a POC client or unit-test to test this ?

[2017-10-14 16:59] Rmkrs commented on #53
Nice fix. I do not require a nuget package for this right now. I can wait with that for item 2.

For 3, I am not really "faking" SignalR itself, but rather create a real signalr hub with the same name as the original. Here I can expose the same methods that I have on the real one, but the data these methods will expose will be fake. So instead of faking the mechanism itself, I just expose fake dat

[2017-10-17 06:14] StefH commented on #53
That really unfortunately, get well soon!

[2017-10-17 18:50] StefH commented on #53
Hello @Rmkrs

I did add some code which should make it possible to do additional pre and post setup based on the `IAppBuilder`.

See this code https://github.com/WireMock-Net/WireMock.Net/commit/37244d5c2fe47a808c908147f91c3d08edb0637b#diff-e13c7e694283c3ed3636ff01623747c4R64 at a new branch.

Would this be a solution to your problem ?

[2017-10-18 17:43] Rmkrs commented on #53
@StefH, that would definately solve the challenges we are having with the SignalR wireup.

[2017-10-18 18:20] StefH commented on #53
@Rmkrs I've merged that code into the main branch so you can use it from there.

[2017-10-23 01:26] deeptowncitizen opened #54 "Proxy for AWS: Error unmarshalling response back from AWS"
Proxying requests to AWS DynamoDb with no specific configuration (for any request proxy to DynamoDb).
Getting an error `Error unmarshalling response back from AWS`

Tried the same with original Wiremock proxy - works correctly.

[2017-10-23 07:22] StefH commented on #54
Hello @deeptowncitizen,

Can you please provide the mapping (in code or in JSON) that you are defining?

And if possible also the request / client code.

[2017-10-23 14:13] deeptowncitizen commented on #54
#55 contains the fix the problem.
PR contains steps to reproduce the problem.
There is no mapping (it is proxy all requests)

[code]
And then simply create any Dynamodb request to the proxy

[2017-10-23 18:56] StefH commented on #54
1] Thanks for fixing.

2] Do you also need a new NuGet?

[2017-10-24 13:14] deeptowncitizen commented on #54
do you have any plans when you will release a new version?

[2017-10-24 13:21] StefH commented on #54
Within a few hours. I keep you updated.

[2017-10-24 16:13] StefH commented on #54
NuGets updated.

[2017-10-24 16:13] #54 closed

[2017-10-24 17:18] deeptowncitizen commented on #54
thank you

[2017-10-25 02:22] jrestall opened #56 "WithBodyFromFile Support"
WireMock has support for reading the body content for a stubbed request from a file on disk.

http://wiremock.org/docs/stubbing/#specifying-the-response-body

This is very useful when body content can be very large.

I couldn't find a way to do this in WireMock.Net, I wonder if others would also like to see this support added?

[2017-10-25 06:26] StefH commented on #56
Sounds ok.

Methods will be like:
[code]

and

[code]

[2017-10-25 07:42] raghavendrabankapur opened #57 "ProxyAndRecord does not save query-parameters, headers and body"
When we try to record a request with HttpMethod as post, then we are getting error as below. Can someone please help me if I am missing anything.

I am starting server as below

[code]
Error is as below. But when I create a static mapping for the above serevr with Post as method then it works fine. Seeing the below issue only when we try to record it.
[code]

[2017-10-25 09:14] StefH commented on #57
Which version do you use?

And can you post the client c# code or json?

[2017-10-25 09:23] raghavendrabankapur commented on #57
I am using the latest version. I just created a console app and trying to record the requests. I am able to record the requests for get calls. But not able to do it for post/put/delete calls.

C# code is just a console application with above code in the main method.

[2017-10-25 09:29] StefH commented on #57
Ok. The latest code from yesterday should fix some issues with headers. However I am not sure I ever tested something else then GET...  Will have to check.

[2017-10-25 10:04] raghavendrabankapur commented on #57
I update the binaries. Looks like the issue for me is fixed. Thank you for the prompt response.

[2017-10-25 10:26] StefH commented on #57
Please double check and close this issue if possible.

[2017-10-25 11:01] raghavendrabankapur commented on #57
This has regressed with some other issues. Now the mappings which are made from code are not getting recognized at all.

Example

[code]
With the above code, if I run http://localhost:1111/with/get is returning HttpStatusCode 410 with the response of proxy url. This was working fine. This works fine when we put the same settings in the mapping json file. Also when the recording of the above happen

[2017-10-25 19:07] StefH commented on #57
I used latest code, and used you code example above.

The json file generated looks like:
[code]

And this file can be use fine as a static mapping.

So can you please help me by providing the steps you take?

[2017-10-25 19:35] StefH commented on #56
@jrestall I've added some code, can you maybe do a quick review before I create a new NuGet ?

Changed code found at https://github.com/WireMock-Net/WireMock.Net/commit/cbe6a0a2b411a50db30338321f730baf11f2a8ff

[2017-10-25 21:50] jrestall commented on #56
Thanks for the amazingly quick turn around @StefH.

I have two questions,

1.  Can we also support relative paths where it defaults to a files directory as in WireMock. So passing path/to/myfile.xml could resolve to {some dir path}__admin/files/path/to/myfile.xml or similar?

2.  Would the following JSON configuration work that uses a BodyAsFile property?
`{
  "Guid": "791a3f31-6946-4ce7-8e6f-0237

[2017-10-26 00:37] raghavendrabankapur commented on #57
So now you have the above json, just update the response status code and response body to something else. Then make the same call again, ideally you should get this request matching and the updated response should be returned. Did you give a try for the coded part of mapping??

[2017-10-26 08:03] StefH commented on #56
1] This is possible I think.

2] JSONs could be:
[code]
OR
[code]

3] I'll take a look....

[2017-10-26 17:16] StefH commented on #57
Ah. Maybe I understand you problem:

When WireMock is in **Proxy-mode** (ProxyAndRecordSettings defined), it can only be used for that purpose.

The idea is that when you are done proying & recording, you must start and use WireMock in a normal way.

[2017-10-27 05:47] raghavendrabankapur commented on #57
Got it. But in the post call, when we pass some post data either as plain text/form data, this is not getting recorded. Is there anything I am missing?

You can try this with the above code by calling it as a api with some post body in postman.

[2017-10-27 06:48] StefH commented on #56
3]
My idea is that you would cache small files or files which need to be served very fast.

Other files (big files) could increase the memory from a running WireMock too much, so for these files I would use the non-cached version.

[2017-10-27 07:45] Dreamescaper opened #58 "Multiple headers with same name"
Do I understand correct that currently it's not possible to set multiple headers with same name to ResponseMessage?
In particular, I'm interested in providing multiple Set-Cookie headers.
Is it possible to add such functionality? I could submit PR with changing Headers property from 'IDictionary<string, string>' to something like 'IDictionary<string, string[]>', but not sure how great is that, con

[2017-10-27 09:03] StefH commented on #57
When WireMock is in proxy-mode, only the response from the real service (which is proxied) is recorded in a .json file.

What you want is that in case of a body (POST,PUT,PATCH), the Request matcher is defined so that when you send exactly the same request, WireMock will only then return the recorded response.

This is not yet build. I will take a look.

[2017-10-27 10:09] StefH commented on #58
First change will be:

[code]

Also your idea is possible:

[code]

However, also the json parsing should be updated. I will take a look.

[2017-10-27 10:59] Dreamescaper commented on #58
Added PR with simple implementation for that.

[2017-10-27 19:50] StefH commented on #58
Thanks.

I added the JSON part to your code. Please review.

And if it's ok, I can create a NuGet.

[2017-10-28 15:44] Dreamescaper commented on #58
Great, thanks!

[2017-10-28 15:44] #58 closed

[2017-10-28 17:00] StefH commented on #57
@Dreamescaper maybe you also have a clever idea here?

[2017-10-30 00:30] jrestall commented on #56
Thanks @StefH, that makes sense. Again thank you so much for the quick turn-around on these enhancements.

[2017-10-30 00:30] #56 closed

[2017-10-30 07:52] StefH commented on #56
@jrestall ; the NuGet updated at https://www.nuget.org/packages/WireMock.Net/

[2017-10-30 13:41] StefH commented on #53
New NuGet is added which includes this functionality.

I'm closing this issue for now, if you need more details, please open a new one.

[2017-10-30 13:41] #53 closed

[2017-11-06 07:23] raghavendrabankapur commented on #57
@StefH did you get to see why the post body is not getting recorded in the request?

[2017-11-06 10:06] StefH commented on #57
I have an idea why this fails. However I dont have the solution at this moment.
I will take a look when I have some time.

[2017-11-07 06:28] raghavendrabankapur commented on #57
@StefH even the query string parameters are not getting recorded. Not sure this has been noticed.

[2017-11-07 20:53] StefH commented on #57
Code is fixed. You can take a look here : https://github.com/WireMock-Net/WireMock.Net/commit/e25c873765660e7f22ea793576755ec67ac0197d

If this is correct, I can create a new NuGet.

[2017-11-08 01:36] raghavendrabankapur commented on #57
I will build the solution in my local and let you know if this working fine.

[2017-11-09 09:19] raghavendrabankapur commented on #57
I was able to build the solution and see that body and params are getting saved in the mapping file. But this fix has created few other issues. Every time it checks for an exact match in the headers list. Using C# code we cannot do a check if request header list contains required headers, then match the pattern. The same is applicable for the static mappings too.

[code]

In the above code, when w

[2017-11-11 08:45] StefH commented on #57
1]
It is indeed not possible to use it in c# code with any ***Matcher. I will take a look to add this or change the code to just generate a string pattern based matcher.

2]
I think that proxy functionality is just for getting a basic mapping. When you have the this basis autogenerated mapping, you have to tweak it and change it according to your needs.

[2017-11-11 09:10] StefH commented on #57
1] Code has been changed into `WildcardMatcher`. Please take a look.

[2017-11-13 05:53] raghavendrabankapur commented on #57
@StefH as the header/params/cookie are array of entries, do you think it will make easy if we just have exact match or pattern match for these attributes? Should we not have contains in the array kind of search, where the pattern can be considered as a match when we have that one entry of the header/params/cookies among the list. I guess this will make this tool more flexible.

[2017-11-14 07:48] StefH commented on #57
The generated mapping is like:
[code]

So by default `WildcardMatcher` is used.

If you don't want to match on **User-Agent**, just delete that line.
If you want a different mapping for **StefTest,** change it to:
[code]

[2017-11-16 11:55] alastairtree opened #61 "Partial mapping"
Great library, thanks! I cant see any docs/explanation on the "AllowPartialMapping" option? Have I missed them? What does it do?

[2017-11-16 12:28] alastairtree commented on #61
From the looks of the code partail mapping enabled changes the behavior when a request is received. By default only the first exactly matching request matcher with the highest priority is selected to respond to the request. With partial mapping enabled then a matcher that does not exactly match can still pick up the request based on a 'closest match' type algorithm. Is that the gist of it? If so a

[2017-11-18 11:04] StefH opened #64 "Pull Requests do not trigger test + codecoverage ?"
When a PR is created on this project, the build is triggered, but the codecoverage is not executed?

Maybe  @alastairtree or @vladimir-fed : do you have an idea whats wrong?

[2017-11-18 11:33] StefH commented on #61
See https://github.com/WireMock-Net/WireMock.Net/wiki/Settings

Is this clear?

[2017-11-18 11:34] StefH commented on #27
@phillee007
Closing for now, in case you have more time to investigate on this subject, please open a new issue.

[2017-11-18 11:34] #27 closed

[2017-11-18 11:35] #42 closed

[2017-11-18 11:35] StefH commented on #57
Clear for you @raghavendrabankapur ?

[2017-11-18 11:37] raghavendrabankapur commented on #57
Looks good I guess. Let me check if it's working as the way I was expecting.

[2017-11-18 12:41] alastairtree commented on #61
Perfect thanks.

[2017-11-18 12:41] #61 closed

[2017-11-19 10:44] StefH commented on #64
Fixed with https://github.com/WireMock-Net/WireMock.Net/commit/431e5656ca193233559e4db6efb8d90d35bd45b2

[2017-11-19 10:44] #64 closed

[2017-11-20 11:45] alastairtree opened #66 "Interested in callbacks?"
Hello again.

Having played with the API a bit I was struggling to implement a stub where I needed a tiny bit more logic in creating the response, for example to do string manipulation on the request in a more granular way than handlebars, or in generating new IDs say.

I have experimented with a callback API like this:

      server.Given(Request.Create()
                    .WithPath("/foo")

[2017-11-20 18:45] StefH commented on #66
Hi Alastair. This sounds ok.

However maybe the names should be `WithResponseFunc` and `WithResponseFuncAsync`. (We would also need the async version if possible.)

Some code is already there in `DynamicResponseProvider.cs`, however we cannot reuse those classes.

Would this be an idea?

[2017-11-22 18:48] jvandervelden opened #68 "Full path required in Stub"
Hi,

I am trying to mock out some api that my test is hitting. When I use a relative path in 'Request.Create().WithUrl()' and then try and hit the endpoint, I get a 'Mapping was not found' error and a 404. If I specify the full path 'http://localhost:port/path' it works.

Looking at the documentation, using a relative path should be possible.

Below are 2 methods I created to do a simple request.

[2017-11-22 20:35] StefH commented on #68
Hi.

You need to use a wildcard in the first test.

Like `WithUrl("*/test");`

See also linked unit tests : https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/RequestTests.Url.cs#L12

[2017-11-22 20:35] #68 closed

[2017-11-22 21:06] jvandervelden commented on #68
Thanks, I think I figured out where my confusion came from. On this wiki page (https://github.com/WireMock-Net/WireMock.Net/wiki/Using-WireMock-in-UnitTests) it shows that you are able to use a relative path with the 'WithUrl' function. I then dug into this page (https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching) and glossed over the 'WithPath' function that I should'

[2017-11-23 06:52] StefH commented on #68
I've updated WIKI.

[2017-11-29 00:22] mrjackinc opened #69 "Instructions are incorrect (?)"
Followed instructions to the dot to create a rather simple test for WireMock and continuosly keep getting 'ERR_CONNECTION_REFUSED'

[code]

Will refuse localhost:8080/__admin/settings

Instructions on setting up should be clear and fail proof for new comers.

[2017-11-29 01:17] #69 closed

[2017-12-07 19:34] Curtis004 opened #70 "Proxy/Intercept pattern is throwing a keep alive header error with net461"
Hello!

Trying to get proxying working with the following example:

`
FluentMockServer server = FluentMockServer.StartWithAdminInterface(port: 8088);
server.Given(Request.Create().WithPath("*")).AtPriority(10).RespondWith(Response.Create().WithProxy("http://restcountries.eu/"));`

But its throwing me this:
`
{
    "ClassName": "System.ArgumentException",
    "Message": "The 'Keep-Alive' header mus

[2017-12-07 20:27] StefH commented on #70
I can imagine that **Keep-Alive** is a reserved header.

Are you using netcore or .net 4.x ?

[2017-12-07 20:41] Curtis004 commented on #70
4.6.1, I'm not explicitly setting any headers.

[2017-12-07 21:20] StefH commented on #70
New NuGet is uploaded, please retest.

[2017-12-07 22:16] Curtis004 commented on #70
Great! Amazing turn around time. Will re-test once back in office and let you know. Thanks.

[2017-12-08 08:40] Curtis004 commented on #70
This is working now, thanks for the quick assist!

[2017-12-08 08:40] #70 closed

[2017-12-12 15:22] christamlyn-bridge opened #72 "Matching WithParam on OData End Points"
Our test is making an HTTP call to an OData end point:

`http://localhost:5021/navision/OData/Company('My Company')/School()?$filter=(substringof(Code, 'WA')`

To match to this I have mocked:
[code]

In the tests this is matching on the client request, however if I try and specify the parameter value it fails to match:

[code]

Is there any reason why using the value in the WithParam method would

[2017-12-12 17:21] StefH commented on #72
Problem was related to url-encoding.

See new NuGet : https://www.nuget.org/packages/WireMock.Net/1.0.2.10

[2017-12-13 08:38] christamlyn-bridge commented on #72
interestingly after upgrading to 1.0.2.10, none of my requests are matching now

[2017-12-13 09:32] StefH commented on #72
Can you checkout the example code?

I tried this:
[code]

[2017-12-13 10:14] christamlyn-bridge commented on #72
ah I see the difference, on the previous version I found I had to escape the spaces manually in my WilcardMatcher:

`.WithPath(new WildcardMatcher("/navision/OData/Company('My%20Company')/School*", true))`

But with the new module, you can use:

`.WithPath(new WildcardMatcher("/navision/OData/Company('My Company')/School*", true))`

Definite improvement! Thanks

[2017-12-13 10:39] StefH commented on #72
Yes indeed. Escaping in your strings is not needed.

If all is fine, you can close this issue ?

[2017-12-13 10:41] #72 closed

[2017-12-13 18:30] StefH commented on #72
Thanks for testing. If you have more questions, just ask!

[2017-12-19 05:16] raghavendrabankapur opened #73 "Updated mapping is not being picked and responded with the response"
Start the FluentMockServer with below settings

[code]

Now access /__admin/mappings to get the default mappings in the console application example (having guid 11111110-a633-40e8-a244-5cb80bc0ab66).
Update the pattern to /static/mapping/update
Once the mapping is updated, make a get call to localhost:1111/static/mapping/update, this will return 410 as response.

Possible issue found is  when we t

[2017-12-19 05:48] raghavendrabankapur commented on #73
![image](https://user-images.githubusercontent.com/5006495/34142614-2d4457f6-e4ae-11e7-8c76-95d094d6b80b.png)

The line of code which is commented in the screenshot was causing the problem. I understand this is used to record and proxy the request, but it was failing to map the request and respond accordingly

[2017-12-19 11:20] raghavendrabankapur commented on #73
![image](https://user-images.githubusercontent.com/5006495/34154715-84077130-e4dc-11e7-9b2e-a51358278498.png)

Above highlighted place is where we find the target mapping. In the else loop we order by priority and return the first element which will be matching the pattern /*

[2017-12-20 06:06] raghavendrabankapur commented on #73
@StefH I have found the solution for this. If I could create the pull request, then you can look into the fix and approve.

[2017-12-20 11:10] StefH commented on #73
You can make a PR and check if the unit-tests still work fine and maybe check if more tests are needed to test this scenario.

[2017-12-20 13:03] raghavendrabankapur commented on #73
All the tests are working fine. I do not have permissions to push my code for a PR. Could you please provide me permissions?

[2017-12-20 15:38] StefH commented on #73
You can just fork this project and do your change and create a PR.

[2017-12-20 16:19] raghavendrabankapur commented on #73
@StefH yes done.

[2017-12-20 19:54] StefH commented on #73
Thanks.

See new NuGet.

[2017-12-20 19:54] #73 closed

[2018-01-10 20:53] StefH commented on #53
@Rmkrs
Just a question:
Did you succeed in running WireMock as a webjob in Azure?

[2018-01-16 19:32] StefH opened #76 "Bug: IFluentMockServerAdmin is missing content-type for some POST/PUT calls"

[2018-01-16 19:45] #76 closed

[2018-01-17 13:10] Curtis004 opened #78 "WireMock not working when attempting to access from anything other than localhost."
Hi there,

I've run into an issue when trying to access a wiremock mock instance running on 0.0.0.1 FROM an application running on 0.0.0.2 using http://0.0.0.1/things/other-things.

Can be replicated much simpler by trying to access a wiremock standalone instance on your local machine on your IP rather than localhost.

I'm getting a 400 Invalid Hostname.

Tried this using the java version of wirem

[2018-01-17 13:43] Curtis004 commented on #78
Just seen https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Server/FluentMockServer.cs#L156.

I'm using a dynamic port meaning that it's hardcoding the URL to be localhost.

Will continue digging.

[2018-01-17 13:44] Curtis004 commented on #78
Whoops.

[2018-01-17 16:38] StefH commented on #78
You could use 'http://*:80' for an url? Which makes WireMock listen on all ip?

[2018-01-17 23:36] Curtis004 commented on #78
Yeah basically the second one. I just used PortUtil to get an available port and constructed a Url out of that port and a the host of the wiremock servers IP. Perhaps http://*:port would be more appropriate in the FluentMockServer.

Will close though as I don't think using PortUtil directly is a "bad" thing.

[2018-01-17 23:36] #78 closed

[2018-01-20 15:51] StefH commented on #57
@raghavendrabankapur : closing this one. If you still have issues, just open a new issue.

[2018-01-20 15:51] #57 closed

[2018-01-31 07:41] StefH opened #80 "Feature: When using proxy, in case Content-Type is JSON, use BodyAsJson in Response"
`"Content-Type": "application/json; charset=utf-8"`

[2018-01-31 07:42] StefH opened #81 "Feature: When using proxy, only BodyAsBytes in case of binary data?"

[2018-01-31 10:43] StefH opened #82 "Feature: make it possible to ignore some headers when proxying"

[2018-01-31 11:41] #80 closed

[2018-02-02 09:35] StefH opened #83 "Feature : Add also a method in IProxyResponseBuilder to provide proxy-settings"

[2018-02-02 10:04] StefH opened #84 "Feature : make it possible to replace some headers with wildcardwatcher *"

[2018-02-02 10:17] #82 closed

[2018-02-02 14:42] #81 closed

[2018-02-02 21:51] StefH opened #85 "Bug: https for netstandard does not work ?"

[2018-02-02 21:52] #85 closed

[2018-02-03 14:37] #83 closed

[2018-02-03 14:40] StefH opened #86 "Feature : Add FileSystemWatcher logic for watching static mapping files"

[2018-02-04 09:23] #86 closed

[2018-02-05 18:02] StefH opened #87 "Feature: Add logging"

[2018-02-14 13:50] FSatmar opened #88 "Bug: Standalone server throws 500 error when receiving concurrent requests"
Hi,
I'm trying to use the WireMock Net as a standalone service but when I run multiple tests in parallel which call the admin api to create or delete mappings, the server often fails with a 500 error code. Any chance to to have this fixed?

[2018-02-14 16:13] #87 closed

[2018-02-14 16:18] StefH commented on #88
I will take a look.

[2018-02-14 18:35] StefH commented on #88
Can you please try version 1.0.3.2 ?

[2018-02-14 18:35] #88 closed

[2018-02-15 09:52] FSatmar commented on #88
You are awesome! Thanks!

[2018-02-15 12:15] StefH commented on #88
Ok. Nice to hear.

[2018-02-19 18:00] aledaccas opened #91 "Bug: WireMock.Net is not matching application/json http requests using JSONPathMatcher"
The JSONPathMatcher does not match a json body request. (Using the IRequestBuilder .WithBody())
This is because the RequestMessageBodyMatcher only uses the .Body property and not the .BodyAsJson property.
to get working, either Body and BodyAsJson must be filled with the body string from request.

[2018-02-20 08:52] StefH commented on #91
This was broken during the last changes. I will take a look.

[2018-02-21 10:37] joostvanhassel commented on #66
Hi, looks like a great way to provide access to the request! What can I do to help?

[2018-02-21 17:26] StefH commented on #66
@joostvanhassel Thanks for helping out. I think that the code from @alastairtree is a good start, and maybe already enough to get this issue solved?

[2018-02-21 18:36] StefH commented on #91
Hello @aledaccas

I did fix it, however, can you please take a look at my code https://github.com/WireMock-Net/WireMock.Net/compare/json?expand=1 before I commit and create a new NuGet ?

[2018-02-22 10:08] joostvanhassel commented on #66
@StefH the changes as proposed by @alastairtree do fully cover what I would like to do for now. I think it is good to take these changes in and improve later on if further if needed.

[2018-02-22 10:10] StefH commented on #66
OK.
Currently I'm working on issue https://github.com/WireMock-Net/WireMock.Net/issues/91, this needs to be solved 100% before I continue on this one. So if you have time, you can also review this issue.

[2018-02-22 10:23] joostvanhassel commented on #91
@StefH Is it possible to open a PR, so conversation on the changes is easy?

[2018-02-22 10:43] StefH commented on #91
@joostvanhassel  I did add you as reviewer to a the PR.
https://github.com/WireMock-Net/WireMock.Net/pull/92

[2018-02-22 12:14] aledaccas commented on #91
Hi Stef I’ll take a look today.

Regards,

From: Stef Heyenrath [mailto:notifications@github.com]
Sent: quarta-feira, 21 de fevereiro de 2018 15:37
To: WireMock-Net/WireMock.Net <WireMock.Net@noreply.github.com>
Cc: Alexandre Daccas <daccas@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [WireMock-Net/WireMock.Net] Bug: WireMock.Net is not matching application/json http requests us

[2018-02-22 12:36] aledaccas commented on #91
Stef,
I’d a look and for me It’s ok.

You’ve created more interfaces inheriting from IMatcher passing object as parameter for IsMatch method, adjusted the Matchers and changed the RequestMessage*Matcher classes to adapt to this new matchers. Sweet! ☺

Regards.

Aledaccas

From: Alexandre Daccas Mendonça
Sent: quinta-feira, 22 de fevereiro de 2018 09:14
To: 'WireMock-Net/WireMock.Net' <reply@reply.

[2018-02-23 13:45] #91 closed

[2018-02-27 10:27] alexangas opened #93 "Bug: FluentMockServer IsStarted after calling Start()"
Hello,

I'm calling `FluentMockServer.Start()` and then check the `IsStarted` property to find which port it has bound to.

However what I'm finding is, even after sleeping the thread for 5 seconds, that `IsStarted` is still false. I'm expecting that calling `Start()` will start the server and then set `IsStarted = true`.

It looks like the port is allocated anyway so I guess I don't need to wait

[2018-02-27 10:35] alexangas opened #94 "Issue: Introduced dependency on log4net"
Hello,

It looks like in v1.0.3 a dependency was introduced for log4net. I'm just wondering if it's possible to remove this please, or only include it for the Standalone server?

This doesn't significantly affect my project right now - at worst it is a mild annoyance as we use a different logging framework.

However for a project I worked on a year ago, this dependency would have made it impossibl

[2018-02-27 11:13] StefH commented on #93
This should work actually, I'll double check the code and unit-tests.

[2018-02-27 11:14] StefH commented on #94
I'll refactor the code to use logging interface which will probably look a lot like log4net or nlog.

[2018-02-27 17:18] StefH commented on #94
I've created a PR, and I want to add you as a reviewer, and I sent invite request for this repository.

[2018-02-27 20:52] StefH commented on #93
Are you using net 452 or .net core 1.x / 2.x ?

[2018-02-27 21:33] alexangas commented on #93
This is under .NET Core 2.x

[2018-02-28 04:49] davidshen84 opened #97 "Request matching logic is not practical"
I did not read the code. I did some testing, and I think current request matching logic is:

- AllowPartialMapping = false, **all the properties** in the received request must be tested positive by the matching rules, which means **unspecified properties will be automatically tested negative**. *This is rather restrictive and is hard to satisfy.*

- AllowPartialMapping = true, **at least one* of t

[2018-02-28 04:52] davidshen84 opened #98 "IBodyResponseBuilder.WithBody* should receive the request as a parameter"
Currently, the `IBodyResponseBuilder.WithBody*` methods only allow return fixed response. If we can get the request object as a parameter, it would allow it respond dynamic response.

[2018-02-28 07:01] #94 closed

[2018-02-28 07:01] StefH commented on #98
Is this issue linked to your question?
https://github.com/WireMock-Net/WireMock.Net/issues/66

[2018-02-28 07:35] StefH commented on #93
Solved.

[2018-02-28 07:35] #93 closed

[2018-02-28 08:26] StefH commented on #97
- `AllowPartialMapping = false` ; your description is correct
- `AllowPartialMapping = true` ; the **best** matching request is matched (the request with the highest score)

When you do a GET call to `__admin/requests` you get details about the matching:

[code]

[2018-02-28 08:53] davidshen84 commented on #97
Suppose I have a simple service endpoint that

- path `/getdata`
- accept `GET` only
- requires header `AppId: app-1234`

If I create a mock server with the following code:

[code]

This configuration all accept any GET request. If the client code missed some HTTP request property, this will still allow the client getting the expected response. This can hide some potential bugs that can only be fo

[2018-02-28 08:55] davidshen84 commented on #98
Yes, I think it would serve the same purpose.

[2018-02-28 09:07] StefH commented on #97
This could indeed be a problem for production environment, I can add some more details on the WIKI to explain how `AllowPartialMapping = true` works ?

[2018-03-01 13:51] FSatmar opened #100 "Issue: JsonPathMatcher - not working for rootless jsons?"
Hi,
Could you pls help me with defining a JsonPathMatcher for a json of the type:
[code]

I have tried "$.[?(@.id == 1)]" but it doesn't seem to work.

I tried it with the following test as well:
[code]

[2018-03-01 18:01] StefH commented on #66
Added to the source-code.

[2018-03-01 18:01] #66 closed

[2018-03-01 18:02] StefH commented on #98
Code added, new NuGet will be uploaded.

[2018-03-01 18:02] #98 closed

[2018-03-02 11:53] StefH commented on #100
When testing at http://jsonpath.herokuapp.com/

This works...
![json](https://user-images.githubusercontent.com/249938/36897858-95f904ce-1e18-11e8-8bcb-e5a32ead5b24.png)

So actually, I don't know what's wrong?

Or maybe use `.WithJsonBody` instead of `.WithBody()`

[2018-03-02 12:32] FSatmar commented on #100
I tried it like this:
[code]
But still no luck.

[2018-03-02 13:35] StefH commented on #100
For some reason:

It should be `"$..[?(@.Id == 1)]"`.
See linked unit-test.

Maybe a bit related to https://github.com/JamesNK/Newtonsoft.Json/issues/1256 ?

[2018-03-02 14:36] alastairtree commented on #66
@StefH thanks - this looks pretty good! Been thinking about syntax a bit, it is worth adding an overload on the `WithBody()` response builder method in addition that accepts a func<RequestMessage,string> something like the below. Would probably be a nice productivity gain and makes it easy for the majority case where you just want to build the body string dynamically?

[code]

[2018-03-02 15:04] alastairtree commented on #66
I have added a PR and test to show what i mean, see #102

[2018-03-03 08:45] davidshen84 commented on #97
By my past experience with other rule matching framework, if the user specified a matching rule, only the matching result of the rule affect the final result. Users normally do not concern about the conditions they did not specify. That's just my opinion.

[2018-03-03 08:55] alastairtree commented on #97
In my experience having the mock server be quite forgiving is good as it allows you to have general rules that return a 200 say, and then a particular payload on a certain path. This makes generating the mock fast. However in the assertion parts of my tests I call the admin API to get the request I have made and then assert that my desired behaviours, such as sending headers, have be actioned appr

[2018-03-05 18:41] MiguelAlho opened #103 "Support for Faults"
Are there any plans for implementing the support for faulty responses, as in http://wiremock.org/docs/simulating-faults/ ?

[2018-03-05 18:55] StefH commented on #103
Can you explain which part of the *faults* functionality you would like to see in this project ?

[2018-03-05 19:06] MiguelAlho commented on #103
EMPTY_RESPONSE and MALFORMED_RESPONSE_CHUNK (at the end of the page) are currently interesting to me to create integratoon tests that verify a retry cycle. CONNECTION_RESET_BY_PEER also but that doesn't seem to be supported.

I'm also trying to figure out how to simulate a timeout...

[2018-03-05 19:19] StefH commented on #103
1. EMPTY_RESPONSE - I'll take a look
2. MALFORMED_RESPONSE_CHUNK - I'll take a look
3. Timeout - Would this help you ? https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#simulating-delays

[2018-03-05 19:39] MiguelAlho commented on #103
I've been trying delay (response an extra second more then the amount of time i have for HttpClient timeout), but my instance o HttpClient seems to be receiving a 504 response than actually throwing the exception it's known to throw. I might need o up on the time on the delay to account for other factors.

[2018-03-08 10:43] alexangas opened #104 "Issue: PlatformNotSupportedException"
Hello,

Just tried creating a new console app with WireMock 1.3.4 on .NET Framework 4.6.1 using lowest NuGet dependencies. Unfortunately when running with the following code...

[code]

... this exception occurs:

[code]

I've tried every version of .NET from 4.6.1 to 4.7.1 and they have the same issue. Cannot reproduce with .NET Core. Also have tried updating all of the NuGet packages. Last versi

[2018-03-08 13:34] alexangas opened #105 "Question: URL binding issues"
Hello again! First, apologies that this is an issue that partly asks questions due to my lack of understanding, and/or mentions some bugs. Either way, i'm happy to help with updating documentation and maybe even fixing bugs if I know how. The primary confusion is differences in how the Java implementation works.

Attached is a .NET Core test app that is really simple. It takes parameters of IP to

[2018-03-08 17:29] StefH commented on #104
I cannot reproduce, can you take a look at the new example (WireMock.Net.StandAlone.Net461) which uses the NuGet?

[2018-03-08 17:41] StefH commented on #105
1. The StandAlone only adds commandline argument parsing, so it's easy to use in a console app or a docker app.

2. Can you try to connect to "http://*:8080" ?

3. I don't know. A wild guess ; do you run wiremock as admin ?

4. This is logging from .NET itself, so I don't know how to change that.

[2018-03-08 17:45] alexangas commented on #104
I'm away from a machine right now but noticed browsing the linked commit that it's targeting 4.5.2. I didn’t try below 4.6.1 - maybe it works in that version?

[2018-03-08 17:57] StefH commented on #104
Indeed, I get same error. I'll investigate.

[2018-03-09 07:19] StefH commented on #104
Will be solved in 1.0.3.7

[2018-03-09 07:19] #104 closed

[2018-03-09 09:25] raghavendrabankapur opened #106 "Issue: Params does not work, when there are multiple values for a key"
For a request in the Param's, if we have multiple values for a key, we are not able to match the score for that request and return 410 saying could not find the mapping.

In a request for a query string parameter, we can have only one value. But in the structure, we are allowing an array of values that can be passed. That means for that key, it can be anything among the passed values.

example
[co

[2018-03-09 09:30] alexangas commented on #105
Thanks for getting back to me! A few responses:

1. That's great. Perhaps I was expecting to find a .exe somewhere. Would you like help with updating the wiki with more details?

2 and 3. I've bound to that, run as admin and no luck. I will do more investigation and raise in a new issue if it's still a problem.

4. That's OK and it's a relatively minor thing. I guess I was expecting the `Urls` pro

[2018-03-10 14:49] StefH commented on #106
Thanks for this report.

[2018-03-10 14:49] StefH commented on #106
Will be fixed soon, please watch updates here + NuGet.

[2018-03-10 14:49] #106 closed

[2018-03-10 15:14] raghavendrabankapur commented on #106
I have a fix for the same. I will create a pull request.

On Sat, Mar 10, 2018, 8:19 PM Stef Heyenrath <notifications@github.com>
wrote:

[2018-03-10 15:15] StefH commented on #106
Already fixed, no need for PR.

[2018-03-13 21:04] StefH opened #107 "Feature: increase code coverage"

[2018-03-15 07:38] StefH commented on #103
1. EMPTY_RESPONSE ; That's just returning an empty byte[] or string ? This is already supported I think?
2. MALFORMED_RESPONSE_CHUNK ; that's just returning a byte[] or random length / random data ?
3. I will take a look

[2018-03-15 21:13] StefH opened #108 "Issue: provide correct contentTypeHeader value for the bodyparser"

[2018-03-15 21:17] #108 closed

[2018-03-17 12:17] StefH opened #109 "Issue: When proxying, MimeType is wrong for StringContent"

[2018-03-17 12:17] #109 closed

[2018-03-20 20:00] StefH opened #110 "Fix: remove `Func[]` from MappingModel"

[2018-03-20 20:06] #110 closed

[2018-03-24 17:40] StefH commented on #100
@FSatmar This is now fixed, please check new NuGet 1.0.3.12

[2018-03-24 17:40] #100 closed

[2018-03-26 08:47] FSatmar commented on #100
Great, it's working with the double dots, thank you very much!

[2018-03-27 10:42] raghavendrabankapur opened #111 "Question: Adding wiki documentation on how to use WireMock.Net.WebApplication project"
Hi @StefH , I see there is a web application being added under the examples folder. Could you please update the wiki on how to use this?

[2018-03-27 10:43] StefH commented on #111
It's there:
https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-(Azure)-Web-App

[2018-03-27 16:58] #111 closed

[2018-03-27 19:58] shraj opened #112 "Question: Request.Create().WithBody() not able to match with custom class which implements IMatcher"
[code]

[code]

[code]

[2018-03-28 06:19] StefH commented on #112
`IMatcher` is a base interface.

Use `IStringMatcher` of `IObjectMatcher`

See https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/RequestMatchers/RequestMessageBodyMatcherTests.cs for more details.

[2018-03-28 06:19] #112 closed

[2018-03-28 07:47] StefH opened #113 "Feature: Add BodyAsJsonIndented for response message"

[2018-03-28 07:52] #113 closed

[2018-03-28 12:57] StefH opened #114 "Feature: Add PathSegments in Transform"

[2018-03-29 06:51] #114 closed

[2018-04-02 10:24] raghavendrabankapur opened #115 "Question : Do we have provision to read the Response data from a file?"
@StefH We have a huge data that need to be responded with and also this is been used by other mocks. Can we respond to a matching request with a file content?

[2018-04-04 21:08] evanlwj opened #116 "Question: What's guideline to be project contributor"
Hello project owner
I'm using WireMock in unit test within my internal project, and want to contribute to get it improved, change is ready in my local branch, tried to push the branch but failed with following error

fatal: could not read Username for 'https://github.com': terminal prompts disabled
Pushing to https://github.com/WireMock-Net/WireMock.Net.git

What's guideline for contributing?

Tha

[2018-04-04 23:09] evanlwj commented on #116
I have figured out the contributor workflow at here https://github.com/CoolProp/CoolProp/wiki/Contributing:-git-development-workflow.

The error is resolved by using GitHub desktop client rather than Visual Studio 2017 with GitHub extension installed

[2018-04-05 10:08] StefH commented on #116
Normally I use GitKraken.

BTW that's a nice workflow page, maybe I'll copy this also to my wiki.

[2018-04-05 10:14] StefH commented on #115
Hello @raghavendrabankapur

This is not yet described in the Wiki (maybe I need to restructure the wiki), but you can use

`BodyAsFile` in the JSON mapping
or
in C# code:
[code]

[2018-04-05 10:25] raghavendrabankapur commented on #115
@StefH in that case, the file name should be the full path of the file , or file should be placed somewhere the similar way of __admin/mappings.

[2018-04-05 11:24] StefH commented on #115
As of now, you need to provide the full path. Maybe it's a good idea that the code can support both.

[code]

[2018-04-05 17:18] evanlwj commented on #116
Thanks recommendation of GitKraken, I just installed and it looked good

[2018-04-09 11:56] raghavendrabankapur opened #118 "Not reading the response from a file when mappings are placed in json file"
The server is not ready the response from a file when the mapping is present in a static file.

Ex.
[code]
Here the response body is empty but the headers are getting returned

[2018-04-09 21:57] rangerranger opened #120 "JsonPathMatcher - not matching? Correct syntax?"
Hi - I'm not having my json match with the JsonPathMatcher. For example, I use:
[code]
But it never matches that request. Does the "pattern" to JsonPathMatcher have to be in a specific syntax?
I ended up adding a JsonExactMatcher (that just matches json exactly), since the JsonPathMatcher wasn't working for me. Could you suggest if something is wrong with the above code?

[2018-04-10 01:54] kwucode commented on #120
Please see [JSONPath syntax](http://goessner.net/articles/JsonPath).

[2018-04-10 04:45] rangerranger commented on #120
Thanks Kevin. I guess in terms of json path syntax i need “$..*” - to match all members of my json exactly?
How would i create the request object in the above code?

[2018-04-10 13:37] raheel0452 opened #122 "WireMock.Net not responding in unit tests - same works in console application"
Dear Team,

In a console application, I've below code to start WireMock.Net

// setup
            var server1 = FluentMockServer.Start(new FluentMockServerSettings
            {
                Urls = new[] { "http://localhost:9091" },
                ReadStaticMappings = true,
                StartAdminInterface = true
            });

This works all good.

When i write same in Unit tests, WireMo

[2018-04-10 21:58] rangerranger opened #123 "Fix for DateTime Header causing null value in ResponseBuilder"
Having the below header in a static mapping file as part of the response results in a NULL value being returned to ResponseBuilder in InitResponseBuilder, since it either expects a string or json - but this header value is being read in as a DateTime object.

"Rate-Limit-Reset": "2018-04-09T20:39:46.956Z",

I added a quickfix like so, please let me know if that looks ok?
In src/WireMock.Net/Server

[2018-04-11 06:27] raheel0452 commented on #122
Thank you for response.

Couple of questions from above request
1. can we not specify a port when running mockserver.net within unit tests?
2. can we not read static mappings when running mockserver.net within unit tests?

We've  attempted to start server without specifying any port. However the behavior remained same
- unable to access localhost:<port>
- static mappings are not read
(isStarted st

[2018-04-11 08:03] StefH commented on #123
This quickfix contains two things? JsonExactMatcher code, do you still need that?
And the datetime fix.

Can you make a PR with just the datetime header fix and also add some unittests?

[2018-04-11 12:04] StefH commented on #122
1. It is possible to use a fixed port, but then you have to start wiremock once, else you get conflicts. And when running the tests on a build server you can never be 100% sure that the port is free. Thats the reason that I start the server without a port, so that a free port is chosen. And use that port further.

2. This should work. Please search in my unit tests for the code which uses static m

[2018-04-11 14:56] raheel0452 commented on #122
Thank you. This is working now.

However one last point worth mentioning - when i execute unit test in debug mode, even though isStarted is set to true, i can't access the mockserver through browser until the continue debug. Is that expected ?

[2018-04-11 17:29] cYCL157 opened #124 "Unable to get host to listen on ips other than 127.0.0.1 using StandAloneApp"
In trying to configure the StandAloneApp to listen on all ips, I keep coming up with the issue that it appears to only listen on 127.0.0.1 (localhost/loopback).  I found this line of code that seems like it forces it to loopback:

https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Owin/AspNetCoreSelfHost.cs#L79

I am ultimately trying to implement this in a docker container

[2018-04-11 18:43] rangerranger commented on #123
I will add the unit tests for the DateTime fix and create a separate PR. As to the ExactJsonMatcher - please can you tell me how to correctly use the JsonPathMatcher if we want to just record request/responses via proxy WireMock and then use them to mock? In that case the JsonPathMatcher is not matching the subsequent requests even when they are exact same Json, Does the recording need to be chang

[2018-04-11 18:45] StefH commented on #124
I have a project https://github.com/WireMock-Net/WireMock.Net-docker ,did you already see this?

About docker issues : In my case this seemed to be only the case when running a windows container on a windows machine. To fix this I used a docker port proxy tool. Sadly I forgot the real name for that tool, if I remember it, I will copy this here.

[2018-04-11 19:00] StefH commented on #123
If using WireMock to proxy request, please take a look at this code here:

https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Proxy.Net452/Program.cs

Change this code
[code]

This will save each request and response in a file.

I hope this helps?

[2018-04-11 19:10] rangerranger commented on #123
I think i didnt explain clearly. I am able to proxy and record. But when using the recorded mapping files for mocking, the jsonpathmapper never matches the requests - same requests that were recorded. Thats the reason i created the JsonExactMatcher. Is there something im doing wrong in using JsonPathMapper if i want it to match the complete json in the recorded request exactly?

[2018-04-11 19:46] StefH commented on #123
Ok I see.

When using the saved request, sometimes it's needed to manually adjust the mapping a bit because the matching is too strict because not only the body is matched but also headers, query and others.

Make sure to enable partial mapping and then do a http get request to /__admin/requests to see the matching details from the request you did send. Look for matchings where the match is 0.

[2018-04-11 20:13] rangerranger commented on #123
Right. Still keeping PartialMatching to FALSE, i can match with JsonExactMatcher but not with JsonPathMatcher. Not sure why - couldnt get JsonPathMatcher to work. Therefore wrote the simple JsonExactMatcher. I can send you the mapping file as an example repro if uou want - but JsonPathMatcher returns score 0.

[2018-04-11 21:58] SubjectiveReality commented on #124
What do you think about changing System.Net.IPAddress.LoopBack to System.Net.IPAddress.Any?  I've cloned and tried this on my windows machine & windows container and it works, but I'm not sure what else this might break.  I'm expecting perhaps not much since it is hardcoded currently to listen to LoopBack anyway.

[2018-04-12 07:46] StefH commented on #124
Did you also check this on windows in a linux container? If this also works, you can create a PR.

[2018-04-12 19:43] SubjectiveReality commented on #124
I have now and it also works.  I'll create a PR shortly, thanks!

[2018-04-15 09:25] #118 closed

[2018-04-16 02:24] pmcilreavy opened #126 "Question: UsingHead always returns 0 for Content-Length header even when explicitly specified"
The response to a HEAD request should be the length of the file (without the actual body) so something like this (below) should return 1024 in the Content-Length response header but it always returns 0. Something internally must be overwriting my value of "1024" back to "0".

[code]

[2018-04-16 15:46] SubjectiveReality commented on #124
When do you expect to create a new release with the latest merges included?

On Sun, Apr 15, 2018, 4:23 AM Stef Heyenrath <notifications@github.com>
wrote:

[2018-04-19 10:59] alastairtree commented on #124
Thanks, fixed same issue for me when unable to access the standalone mock externally, despite working fine on localhost.

[2018-04-19 13:56] FSatmar opened #127 "Question: Stub priority - Most recent stub is not always used"
Hi Stef.
It seems that when you have multiple stubs matching the same request, the most recent one is not always used (as expected according to https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#stub-priority).  Happens to me quite often in tests where I create new stub with diffrent version number for example.
Could you pls check it?

[2018-04-19 17:09] StefH commented on #126
@pmcilreavy Does this answer your question?

[2018-04-19 17:12] StefH commented on #127
The stub-priority should work if you set the priority as described in that chapter.

If you add more mappings which match the same request, there is no logic to take to most recent, I guess you get a random one back...

Does this help you?

[2018-04-20 09:03] FSatmar commented on #127
Oh ok, I just read "By default, WireMock.NET will use the most recently added matching stub to satisfy the request." and assumed it's not necessary to use priority if you just always want the latest stub.

[2018-04-20 10:50] StefH commented on #127
Ah, ok. I see.
Probably I did copy this from the wiremock.org website, I'll take a look if it's easy to really implement this functionality in the code.

[2018-04-20 10:52] FSatmar commented on #127
Btw, wouldn't it make sense to simply overwrite the stub when the new one matches the same request pattern?

[2018-04-20 10:56] StefH commented on #127
If you want to overwrite the same, you have to provide the `guid` (in a PUT or POST).

Example:
[code]

[2018-04-20 11:00] FSatmar commented on #127
Hm, that would make my test setup very complicated as I'm creating many different stubs for one test and then i'd have to keep track of the guids when I want to update one of them. For the time being I'll try using the priority as that seems easier to implement.

[2018-04-20 11:13] StefH commented on #127
You only need to provide the `guid` in the mapping which you can just add or update using http POST. So that should not be extra work.

Because if you define the same mapping, but with a different priority, the sever needs to keep all these mappings in memory, and when you want to view the mappings, you get a lot of mapping, and onlt the highest prio is used.

[2018-04-22 14:11] StefH commented on #105
Hello @alexangas

For point 1, yes please that would help me a lot.

For point 2 and 3, does the latest version which includes this fix (https://github.com/WireMock-Net/WireMock.Net/pull/125) work for you ?

[2018-04-24 06:45] StefH commented on #126
Closing

[2018-04-25 17:33] alastairtree opened #128 "Negate a matcher"
Is there any way to negate a matcher, so i could match on the absense of a match. For example what if i want to stub for all requests that do not have an API key header? Or all requests with query param A but missing query param B?

[2018-04-26 06:47] StefH commented on #127
**A]**
I understand this. I'll check if it's possible to compare the mapping, this has to be built for the mappings defined in code (your example) and also has to implemented in the admin mappings via POST Mapping.

**B]**
As a workaround, you can use the same `guid`, so your code could be like:
[code]

[2018-04-26 06:51] StefH commented on #128
Good question. I thought the `RegexMatcher` could be solution, but that can only check/not-check on the value from a header, you cannot define a match where the complete api-header is absent...

[2018-04-26 07:30] StefH commented on #128
Another option could be (in code):

[code]

As mapping, a solution would be:
[code]

or

[code]

or

[code]

[2018-04-26 14:12] alastairtree commented on #128
It would also be nice if we could apply it elsewhere also - for example on query params. I think I prefer something in the matcher that reverses the match, so that every matcher could be inverted if you wanted. But it could be easily confusing. Perhaps an Enum and a sensible default to make it really explicit?

[code]
and then in json perhaps:

[code]

[2018-04-27 08:32] StefH commented on #128
When looking at the original WireMock : http://wiremock.org/docs/request-matching/

I think that this would also be an option:

**code**
[code]

or instead of `Reject(...)`, we could use `RejectMatch(...)` / `RejectOnMatch(...)` / `Not(...)` / `NoMatch(...)`.

**json**

_Your proposal_ (looks good I think)
[code]

or

_option 1_ (add a new list : the `RejectMatchers`)
[code]

or

_option 2_ (looks

[2018-05-01 13:38] alexangas opened #129 "Random test failures between WireMock.Net 1.0.3.1 and 1.0.3.2"
Hello,

I attempted to update the version of WireMock.Net used by our test project, which was previously on 1.0.2._x_. Now when the tests are executed we find some unexpected behaviour. Based on the output from the tests, WireMock sometimes appears to be returning the incorrect response - possibly what has been defined for another test?

A small percentage of tests are affected each time. The test

[2018-05-01 14:15] alastairtree commented on #128
I don't feel that passionately about the syntax, but having reviewed the various options i think i still prefer my proosal of  `.WithHeader("Accept", "text/html*", MatchBehaviour.RejectOnMatch)` and the `"RejectOnMatch": true,` json flavour, but happy to be overruled!

[2018-05-01 16:29] StefH commented on #128
I'll keep your proposal and I will update the code. Probably I'll send a PR review to you when it's ready.

[2018-05-01 21:28] alastairtree commented on #128
Thats very kind! It is a good feature I think, but I am not urgently in need at the moment as I found a work around using priorities, so by all means put other issues ahead of this one. Very happy to code review anything though.

[2018-05-04 18:28] StefH opened #130 "Issue: RegexMatcher is returned in mapping when WildcardMatcher was used"

[2018-05-06 08:41] StefH commented on #128
Hello @alastairtree.

Now I think I've updated and tested all the code, can you now please do a review and if possible also run some real tests to see if the behaviour is correct?

[2018-05-07 16:14] MiguelAlho commented on #103
(sorry for the delayed response). Yes, those seem to help. In the timeout case, I have figured out the problem to my approach, and fixed the setup. The delay setup on the mock server works correctly and is suficiente.

[2018-05-07 16:14] #103 closed

[2018-05-08 09:46] oscarwest opened #131 "Bug: CurlException Couldn't connect to Server when running multiple tests"
Seems to be the same issue as this: https://github.com/WireMock-Net/WireMock.Net/issues/44
[code]

Using
[code]

Tried with/without Thread.Sleep up to 500ms

Sending in to HttpClient as BaseUrl.
`_server.Urls.First();`

Always works when running tests individually.
Tried making NUnit tests non-async.

[code]

[code]

[2018-05-10 23:48] tomwadley opened #132 "LogEntries not being recorded on subsequent tests"
Starting WireMock subsequent times on the same port with the same stubs appears to work, but the LogEntries are not recorded meaning you can't verify what was sent to the server.

[code]
I first noticed this using xunit in a Dotnet Core Web API project. The above is a simple reproduction using a console app.

[2018-05-11 15:50] alastairtree opened #133 "Issue: Wildcard matching a json body does not work?"
Hello @StefH,

I have noticed that if I try to match request bodies containing json, I am restricted to using the JsonPathMatcher. Sometimes it is quicker and easier to use wildcard or regex matchers (say) but these matchers just get ignored if the content type header is set as application/json. This is not exactly intuitive - that a request header affects which of the matchers are applied or sile

[2018-05-11 18:58] StefH commented on #133
It was not a 100% deliberate decision, this seemed logical at the time I built this piece of code.

I'll see if I can extend the matching logic to support this scenario, and not break others ;-)

[2018-05-11 19:31] StefH commented on #128
@alastairtree, can you do a code-review please?

[2018-05-11 19:39] StefH commented on #133
@alastairtree
Please do a code-review on my `stef_133` branch.

See specifically the changes in `RequestMessageBodyMatcher.cs`.

[2018-05-11 23:36] alastairtree commented on #133
@StefH I have reviewed and added a couple more tests. I was wondering if it would be tidier to put the string version of the json in the BodyAsString property rather than adding a third?

[2018-05-12 10:57] StefH commented on #133
Thanks for tour tests, and `[Theory]` is cool option which I should more in my unit-tests in general.

If I remove the `` property, I think I need to switch the code into this:

[code]

Else the logic will not work? Correct ?

[2018-05-13 08:25] alastairtree commented on #133
Yeah that looks good to me, and those tests should make sure the basics are not broken. How should it behave of there are more than one body matcher? Do we have tests covering that?

[2018-05-13 14:17] StefH commented on #133
The `RequestMessageBodyMatcher` do only allow for 1 matcher, as opposed to e.g. `RequestMessageHeaderMatcher` which does allow multiple.

I'll make a PR and add you as reviewer. And when all is fine, I can merge and create a new version.

[2018-05-16 12:28] o7g8 commented on #126
@StefH the documentation https://msdn.microsoft.com/en-us/library/78h415ay(v=vs.110).aspx says
[code]
But in this example the code attempts to set in the _response_
Why shouldn't it be possible for a _mock_ to specify an arbitrary value of `Content-Length`?

[2018-05-16 13:31] o7g8 opened #136 "Question: Does the WireMock send Content-Length response header"
Hello,

I need to make a response mock with a specific value of `Content-Length` header:

[code]

Unfortunately the Assert fails and the `Content-Length` is not part of `response.Content.Headers`.

I suspect problem might be in the fact that the server by default assigns header `Transfer-Encoding: chunked`.

According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding

[2018-05-16 14:04] o7g8 opened #137 "Question: How to specify Transfer-Encoding response header?"
Hello,

I need to specify my own `Transfer-Encoding` response header as it's shown in the example below:

[code]

The last `Assert` fails, because the `Transfer-Encoding` is always `chunked`.
Is it possible to override it?

WireMock.Net  version `1.0.3.16`.

[2018-05-16 19:19] #133 closed

[2018-05-16 19:34] alastairtree commented on #128
All looking good @StefH. I have added a bit of docs to https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#reversing-the-match-behaviour-with-matchbehaviourrejectonmatch

[2018-05-16 20:28] StefH commented on #136
For now I ignore these restricted headers in WireMock.Net:

- Accept
- Connection
- ContentLength
- ContentType
- Date
- Expect
- Host
- IfModifiedSince
- KeepAlive
- Range
- Referer
- TransferEncoding
- UserAgent
- ProxyConnection
- WWWAuthenticate

See also https://msdn.microsoft.com/en-us/library/78h415ay(v=vs.110).aspx

Did you check the original java implementation from WireMock to see if thi

[2018-05-16 20:28] StefH commented on #137
Linked to #136

[2018-05-16 23:37] o7g8 commented on #136
I haven't checked the Java implementation, so I don't know if it's possible there.
Regarding the https://msdn.microsoft.com/en-us/library/78h415ay(v=vs.110).aspx it says:

But in my example, I attempt to set the `Content-Length` for the _response_, while `WebHeaderCollection.IsRestricted` concerns about _requests_.

The purpose of WireMock is to allow people to mock service responses, therefore, i

[2018-05-16 23:43] o7g8 opened #139 "Wiki link https://github.com/StefH/WireMock.Net/wiki/Record-(via-proxy)-and-Save is dead"
The wiki main page https://github.com/WireMock-Net/WireMock.Net/wiki has a wrong link for `Wiki : Record (via proxy) and Save. ` it refers to https://github.com/StefH/WireMock.Net/wiki/Record-(via-proxy)-and-Save which redirects to the main page again.

[2018-05-17 06:00] StefH commented on #139
Fixed

[2018-05-17 06:00] #139 closed

[2018-05-17 06:04] StefH commented on #120
The latest version from WireMock does now also support using a normal WildcardMatcher if you want to match a json message.

So this code should also work like this example:
[code]

[2018-05-17 06:17] StefH commented on #136
You are correct. I think that I switched Request en Response headers in my implementation.

I had some troubles some time ago when setting the `Content-Length` header on the `IOwinResponse`  or `HttpResponse` object.

I will check that code again, and keep you informed.

[2018-05-17 11:01] alastairtree commented on #97
The recent release also includes MatchBehaviour.RejectOnMatch which also make crafting complex matching rules easier to exclude certian requests from matching.

[2018-05-17 15:52] o7g8 opened #140 "Question: Why the Microsoft.Owin.Host.HttpListener is not referenced in the dll, which uses WireMock?"
Hello,

I know it's not WireMock's fault, but maybe someone may shed a light to the weird situation described here https://stackoverflow.com/questions/30050588/system-missingmemberexception-the-server-factory-could-not-be-located-startin

I have faced the issue myself: UTs using the WireMock execute fine in VisualStudio but fail in command line and on the CI server.
The UT project has the full bun

[2018-05-17 20:50] alastairtree opened #141 "CORS headers for the admin API"
I have a requirement to support CORS requests on the admin API. Either I add these extra headers to all admin API responces, or i add a setting to enable them and allow users to switch them on as they wish. Normally I prefer security by default, and so CORS would be an opt-in feature, however in this case I cannot think of any realistic scenario where you would want to disable CORS support on the

[2018-05-17 22:56] alastairtree commented on #141
(Work started over at https://github.com/alastairtree/WireMock.Net/commit/06a7122d6620155b889232ce9c42ed31de61c722)

[2018-05-18 06:58] StefH commented on #140
I noticed this issue also, so for my example `net452` console app, I did add this reference, see https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.ConsoleApplication/packages.config#L4

I think there was a reason why I did not add this library to the `WireMock` and `WireMock.StandAlone` projects. I'll investigate further...

[2018-05-18 07:00] StefH commented on #123
From now on it's also possible to use a simple Wildcard (string-matcher) for JSON messages, will this help you in this case?

[2018-05-18 07:01] StefH commented on #122
Probably expected, maybe not all async code is really listening.

[2018-05-18 07:01] #122 closed

[2018-05-18 11:11] o7g8 commented on #140
Unfortunately the explicit NuGet dependency (neither in projects consuming WireMock nor in WireMock itself) doesn't solve the issue. At least for my project which is `net46`.

[2018-05-19 06:29] StefH commented on #141
CORS support sounds OK to add, at least when it's configurable.

In your code I see that you are adding the CORS header manually, isn't there an settings in OWIN to configure this?

[2018-05-19 06:37] StefH commented on #140
I've added information to the WIKI:
https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process#workaround-for-microsoftowinhosthttplistener-exception

[2018-05-19 06:37] #140 closed

[2018-05-19 06:45] StefH commented on #127
I just reread your comments and I noticed on your examples: operation 1 and operation 2 are different because they use a different status code.
So they **ARE** different, always.

What you want is that if the **Request** is the same, the mapping is overwritten with the latest most recent one.

This requires significant changes in the matching logic, so for now I would suggest to use the `guid` or

[2018-05-19 06:45] #127 closed

[2018-05-19 07:04] StefH commented on #136
I've created a PR : you take a look and review this : https://github.com/WireMock-Net/WireMock.Net/pull/142

[2018-05-21 02:59] #97 closed

[2018-05-21 04:03] rangerranger commented on #123
Hi Stef, apologies for the late response (have been slammed). Yes that
would be a great addition indeed. What I discovered was that while *proxy
recording*, the body (or bodyasjson or bodyasbytes) in the *request* is not
recorded. And hence when we try to match with a specific body difference it
is not available in the mapping.
I can understand why this is the case, as the library wouldnt know wha

[2018-05-21 06:56] StefH opened #143 "Feature: run the admin interface of a different port"

[2018-05-21 12:11] alexangas commented on #129
Just tested again, and yes version 1.0.3.17 has this issue. If you have any theories on what might be happening, please let me know and i'll try to investigate!

[2018-05-21 12:12] alexangas commented on #105
Apologies - I've had very little time over the last few weeks. I will get to it this week however.

[2018-05-21 13:46] StefH commented on #123
Hi Aroon,

1]
The code block you mention is not changed in latest releases. However I think the proxy code works fine.

When you post a string as body, or a json string, the body is added to the request and the exact string is added as pattern and exact matcher is used.

So when I send this using postman:
![post](https://user-images.githubusercontent.com/249938/40310571-802993dc-5d0d-11e8-957c-272

[2018-05-23 21:15] StefH commented on #129
Do you use random ports in each test for the wiremock server?

[2018-05-24 07:52] alexangas commented on #129
Yes - we just make use of whatever WireMock chooses. If nothing stands out as the cause, is there currently an automated load test? If not, perhaps I can help out with that.

[2018-05-25 19:05] StefH commented on #137
Solved, see NuGet 1.0.3.18

[2018-05-25 19:05] #137 closed

[2018-05-25 19:05] StefH commented on #136
Solved, see NuGet 1.0.3.18

[2018-05-25 19:05] #136 closed

[2018-05-25 19:05] StefH commented on #126
Solved, see NuGet 1.0.3.18

[2018-05-25 19:05] #126 closed

[2018-05-26 16:10] StefH commented on #129
There are no automated load tests, just internal unit tests (~200).

1]
Could it be that the `FindFreeTcpPort` function does not work as expected?
I can make a change in that code and maybe you can test the project from that changed branch?
Or maybe add a logging which prints the port?

2]
Do you start a new server in each unit-test ?

3]
Do you do something with mappings?
Because maybe I broke th

[2018-05-27 16:57] alexangas commented on #129
I spent a couple of hours writing some pretty amazing unit tests in a separate project to test load. Unfortunately, I could not reproduce the problem.

However, I did find what appears to be a thread-safe issue (which may fix it). It turns out that [ConcurrentDictionary is not always thread safe](http://blog.i3arnon.com/2018/01/16/concurrent-dictionary-tolist/) if members are [accessed through int

[2018-05-27 19:07] StefH commented on #129
Interesting article!

I've applied the fixed to the code, please see (and review if possible?) https://github.com/WireMock-Net/WireMock.Net/pull/144

[2018-05-28 12:06] paulapaulTW commented on #132
Recently merged pull request addresses this in .NET core; it was not an issue in full framework -  https://github.com/WireMock-Net/WireMock.Net/commit/297743a19ad69984b84abe3e90c21aea15cb1989

[2018-05-28 13:10] StefH commented on #129
Closing

[2018-05-28 13:11] #129 closed

[2018-05-28 13:12] StefH commented on #123
Hello @rangerranger : Is my post above clear ?

[2018-05-28 16:29] rangerranger commented on #123
Hi Stef, does the recording of json in body work when you set content-type header as application/json? I believe it puts the content in bodyAsJson member of the request object and the body is empty in recorded mapping.

With regards to custom matchers and your suggestion of using func: im not sure how it would work for recorded mappings?

Aroon

[2018-05-28 16:38] StefH commented on #123
a] The recording of **any** body should work, you don't need to use that content-type.

b] Correct. You cannot use that directly. There is no possible way yet to convert a recorded mapping (json) into the C# code which defines that mapping. I can investigate if this is easy to build...

[2018-05-28 16:46] rangerranger commented on #123
My testing shows that if the application being mocked(recorded) sets the application/json header then the body is not recorded. If i remember that was because the body content is placed in BodyAsJson and that segment of wiremock code is empty. I could ld be wrong, can test again.

[2018-05-28 16:59] StefH commented on #123
A quick question: you are using a POST or PUT request ?

[2018-05-29 13:45] alexangas opened #146 "Hang possibly due to Windows firewall prompt"
Hello again 😃

Unfortunately after [this change to PortUtil.cs](https://github.com/WireMock-Net/WireMock.Net/blob/a9e6064422dc77bfdd27e813c5bd501dc28eef21/src/WireMock.Net/Http/PortUtil.cs) introduced in WireMock.Net 1.0.3.19, the behaviour has changed which is causing some issues.

When trying to use this version on our build server, unit tests that use WireMock hang as soon as their execution co

[2018-05-29 13:49] StefH commented on #146
Hello Alex,

I'll revert back the code for point 1.

About point 2 ; this was not changed by me I guess in the last checkin?

[2018-05-29 15:07] alexangas commented on #146
Sorry for not being clear - those points 1 and 2 are things I changed to try and fix this issue based off the WireMock 1.0.3.19 release. It seemed to do it, but i'm not sure if it has unintended site effects.

[2018-05-29 19:59] StefH commented on #146
For now I close this one.

[2018-05-29 19:59] #146 closed

[2018-05-30 08:50] josdeweger opened #148 "Question: proxy passthrough when no match?"
Is there a way to configure the proxy so that when there is no match, the request is passed through to the endpoint and passed back via the proxy to the client?

I have the following setup:

[code]
When I hit an exact match, I get the expected response back. But when there is no match, I get nothing back and the request times out. In the `_server.LogEntriesChanged` event handler I see the response

[2018-06-02 10:13] StefH commented on #131
This is still and issue with the latest version?

[2018-06-03 19:57] StefH commented on #148
Your setup looks fine.

What happens if you just define the proxy and send a request ?

[2018-06-03 22:54] rangerranger opened #149 "Question: Transformer and Delay in Static Mappings?"
Hi - Do you know if it is possible to add the WithTransformer and WithDelay to already recorded static mappings? Wanted to check if this was already known before running some tests. Thank you.
Aroon

[2018-06-04 12:02] josdeweger commented on #148
Makes no difference. The url I proxy to is also in my hosts file. Could that be an issue?

[2018-06-04 16:44] rangerranger commented on #149
Thank you Stef.

Aroon

[2018-06-04 16:44] #149 closed

[2018-06-05 05:40] StefH commented on #148
What happens if you just try http://www.google.com ?

[2018-06-05 18:53] josdeweger commented on #148
Using http://www.google.com seems to work just fine.

When using my own url, I'm getting the following response displayed using the LogEntriesChanged event (removed some of the sensitive content and changed the url and path, but the idea is the same):

[code]

But in Postman and SoapUI I still get no response back

[2018-06-05 19:43] StefH commented on #148
The LogRequest seems ok.

Just a quick question: is your wiremock and that my.url.com just running on http or so you want to proxy from https to http, or from http to https? _Maybe_ that could an issue?

[2018-06-05 21:16] josdeweger commented on #148
Before replying, let me say: thanks for your quick reply, love this library and your support. Keep up the good work!

To reply to your question: it's http only, and I tried both Postman and SoapUI. If I have the opportunity I will ask a colleague to pull down my branch and test it on another machine.

[2018-06-06 05:51] StefH commented on #148
You're welcome!

Which framework do you use to run wiremock?

- .net 4.5.2 or higher
- .net core 1.x
- .net core 2.x

[2018-06-13 13:38] oscarwest commented on #131
Test seems to work when updating to 1.0.3.20. Thanks!

[2018-06-13 13:38] #131 closed

[2018-06-21 05:41] StefH opened #150 "Add support for .NET Core 2.1 (.NET Core 2.0 will reach end of life on september 2018)"
https://blogs.msdn.microsoft.com/dotnet/2018/06/20/net-core-2-0-will-reach-end-of-life-on-september-1-2018/

[2018-06-21 09:14] josdeweger commented on #148
Im currently on .net core 2.0, but I also tried .net 4.5.2. Same problem unfortunately

[2018-06-22 08:21] MartijnSips opened #151 "Add logging of incomming request and body for tracability."
When you have enabled the Consolelogger, it would be quite handy to log incomming requests (method, url and body) as well as the returning body if a mapping was found.

[2018-06-25 02:15] DavidKorn opened #153 "Feature: Add JsonMatcher to support Json mapping"
I'm mocking an API that makes heavy use of JSON objects in the request body, and I'm trying to create readable static mapping files for requests with different JSON bodies.

I was hoping to leverage the Reqest's BodyAsJson tag to just define the exact request body I'm wanting to match., rather than create long JsonPathMatcher pattern strings for the Request Body.

This seems to parse ok, but isn't

[2018-06-25 10:56] StefH commented on #153
Correct, the `JsonPathMatcher` can only be used when you want to match a json path pattern.

Solution would be:
- add a new `JsonMatcher` or `JsonExactMatcher` **<-- preferred**
- update the `JsonPathMatcher` to accept a json object as pattern

[2018-06-25 17:56] StefH commented on #153
See NuGet : WireMock.Net.1.0.4.1
And wiki: https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#json-jsonmatcher

[2018-06-25 17:56] #153 closed

[2018-06-25 18:50] DavidKorn commented on #153
I'm happy to work on a contribution to fix improve this.  I think the shortcoming with using the MatcherModelMapper is that the pattern is a string.  A static mapping user would have to escape out all the double-quotes and do the whole JSON on one line, which really hampers readability.

Would you allow a BodyAsJson property on the static mapping Request definition that just took an object (and no

[2018-06-25 18:52] DavidKorn commented on #153
LOL, by the time I got that comment written you'd already implemented JsonMatcher!  WOW!

[2018-06-25 19:09] DavidKorn commented on #153
So this is a nice improvement, thanks so much for the rapid response.  I'm really jazzed about this tool, and I much appreciate your continuing work to enhance it.

I'd still be interested in support for BodyAsJson object definitions in the Request mapping, for the reasons I had outlined above.  If I came up with a PR, would you be open to incorporating that?

[2018-06-25 19:35] StefH commented on #153
_Further, if the proxy recorder came across a serializable JSON body in the request, it could record this as a BodyAsJson property for the static mapping file rather than translate it into an ExactMatcher as it currently does. (The drawback we're seeing for the ExactMatcher is that if the recorded call indented the JSON body but a later caller doesn't, we don't get a match.)_

Good point. Can you

[2018-06-25 21:48] DavidKorn opened #154 "Feature: support BodyAsJson for Request in static mapping files."
Per comment from @StefH  in #153,  I'll work on a PR for this:

I think the shortcoming with using the MatcherModelMapper for JSON body matching is that the Pattern must be a string. A static mapping would have to escape out all the double-quotes and do the whole JSON on one line, which really hampers readability.

Let's support the BodyAsJson property on the static mapping Request definition and

[2018-06-26 01:39] DavidKorn commented on #154
I pushed up a PR for this.  I did not go as far as supporting BodyAsJson having a single JSON value in the Request mapping model, because I wasn't sure if it drifted too far from the existing design.  But I did add a JsonObjectMatcher for JSON body matching without escaped strings, and I set it for use with the proxy recorder when recording a request that has a BodyAsJson.

[2018-06-26 07:05] StefH opened #156 "Feature: when adding / updating a mapping : return more details"
Currently only the string `Mapping added` is returned.

Better would be to return an object:

[code]

[2018-06-26 07:53] StefH commented on #150
mmm?

[2018-06-26 07:53] #150 closed

[2018-06-26 07:57] StefH commented on #154
Thanks a lot for your PR, however I did solve this issue in a different way, I hope you're not offended ;-)

I added code to `JsonMatcher` to support both : **object** and **string**. Please review my branch at https://github.com/WireMock-Net/WireMock.Net/tree/stef_JsonMatcherFix

[2018-06-26 19:10] DavidKorn commented on #154
Haha, that's a much bolder refactor! It seems to add some flexibility, so that's great.  I wasn't sure you'd want to generalize Pattern that much since it seems to be string in all other places, but I happily defer to your vision.

At this point, is IValueMatcher still needed separately from IObjectMatcher?  IStringMatcher already has ```string [] GetPatterns()``` so maybe IObjectMatcher could jus

[2018-06-26 19:20] StefH commented on #154
For now I'll keep the `IValueMatcher`. BTW I did send you invite to join this project.

[2018-06-26 19:22] StefH commented on #154
And maybe join the gitter @ https://gitter.im/wiremock_dotnet/Lobby

[2018-06-26 21:21] #154 closed

[2018-06-27 23:59] DavidKorn opened #158 "Feature: Support running WireMock.Net as a sub-app in IIS"
Is there an easy way to stand up WireMock.Net as a web app hosted on an internal IIS server?  Our build & test pipeline pushes web apps to our various test environments, and it would make life a lot easier to deploy WireMock to those test environments in the same way.  The goal would be to be able to hit ```http://staging.ourCo.com/mock/whatever``` and have WireMock generate the response to the ``

[2018-06-28 03:16] benjamin-bader opened #159 "BUg: IRequestBuilder.WithParam broken for key-only matching"
I just upgraded our wiremock-net from `1.0.2.3` to `1.0.4.2` and noticed that a few tests that were working have broken.  This request matcher no longer works:

[code]

The test issues an HTTP request like `GET /api/incidents/search?q=frank@contoso.com`.  In `1.0.2.3`, this request was matched by the server, but not in `1.0.4.2`.  If I change the builder such that I call `.WithParam("q", "frank@co

[2018-06-28 05:36] StefH commented on #158
You can host WireMock.Net as a web-api, this is described at https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-(Azure)-Web-App.

Does this help you?

[2018-06-28 09:35] StefH commented on #159
This seems like a bug, I'll investigate.

[2018-06-28 18:50] StefH commented on #159
New code can be used like:

[code]

See also linked Pull Request and add comments.

[2018-06-28 22:59] benjamin-bader commented on #159
Cool, thanks.  Looks like the original usage will work in the next release - is that correct?

[2018-06-29 05:38] StefH commented on #159
Correct the C# code will be backwards compatible.

However the mapping JSON be changed and looks like:
[code]

[2018-06-29 05:43] StefH commented on #148
@josdeweger Any update on this issue? Did you get it working? Or still an issue?

Note that if proxying to google.com works, the issue must be in your network or backend server.

[2018-06-29 09:14] josdeweger commented on #148
I recently asked a colleague to try the same setup to rule out the problem only occurs on my machine, but unfortunately the response is also not returned on his machine.

Let me try and see if I can spot differences in request/response using Fiddler comparing with and without Wiremock

[2018-06-29 10:52] icraftsoftware opened #160 "Feature: Sign 'WireMock.Net'"
Hello,

I have no choice, I am working on BizTalk Server integration solutions, and as you know, BTS requires the assemblies to be GACed and a fortiori signed. Because all my projects are signed, I can't use WireMock. Please, provide a signed version of your assembly; on nuget.org as well. It would help all of us that must use signed assemblies, and would not bother anyone else.

Thank you

Franço

[2018-06-29 15:45] StefH opened #161 "Feature: Implement SourceLink"
SourceLink can be added, so users can debug their own logic much more easy. More info on https://github.com/dotnet/sourcelink

[2018-06-29 17:02] benjamin-bader commented on #159
Awesome - thanks for the advice and for the quick fix!

[2018-06-29 17:02] #159 closed

[2018-06-29 22:08] StefH commented on #159
NuGet is created

[2018-06-30 08:02] StefH commented on #160
At this moment WireMock.Net cannot be strong name signed because `RestEase` is not yet signed.

Maybe you can use this project https://github.com/dsplaisted/strongnamer ?

[2018-06-30 10:34] icraftsoftware commented on #160
Never heard of StrongNamer, but unfortunately it did not work. What did the trick was the [following Stack Overflow solution](https://stackoverflow.com/a/46631067/1789441), see the comment I made (incl. 4 other comments that show the command lines to use).

I also had to make sure that no two different versions of a given NuGet package were used; this was the case for Newtonsoft.Json.

The main do

[2018-06-30 17:45] StefH commented on #160
I cannot create a signed version yet because restease does not support strong naming.

See https://github.com/canton7/RestEase/issues/50

[2018-07-01 01:50] DavidKorn commented on #158
@StefH  Thanks for the pointer!  I really appreciate all the samples.  I had had some circumstantial issues early on that led me astray, but that sample works for me in IIS once I got my kinks worked out.

I still have one related kink: I'm hosting WireMock as a sub app on IIS, but the sub app base directory is still prepending to the request and throwing off the matching.  For example, the sub ap

[2018-07-01 07:50] StefH commented on #158
Currently it seems that WireMock.Net does not yet support running in a sub-app in IIS. The easiest solution would be that the sub-app folder name would be configured using the FluentMockServerSettings.

I'll take a look if I can build that.

[2018-07-01 09:08] #156 closed

[2018-07-01 21:18] StefH commented on #158
Hello @DavidKorn ,

You can review branch https://github.com/WireMock-Net/WireMock.Net/tree/iis_fix which includes the fix + updated example.

And I've created a preview NuGet, please test this and give me feedback.
https://www.nuget.org/packages/WireMock.Net.StandAlone/1.0.4.5-preview-01
and
https://www.nuget.org/packages/WireMock.Net/1.0.4.5-preview-01

[2018-07-01 21:48] DavidKorn commented on #158
Thanks @StefH I'll take a look.

I had just been testing that the  ASPNETCORE_APPL_PATH env var works under IIS to pass in this path base at run time.   It seems advantageous to get this value from IIS rather than try to coordinate settings files.  But with your new support it looks like that could probably just be wired up in program.cs.

[2018-07-01 22:32] DavidKorn commented on #158
Nicely done @StefH .  It works perfectly in all my local testing.  I'll work with my devops in the next few days to get the preview rolled out and I'll report back if there's any surprises.  Thanks again for all your work to get make this tool so great.

Minor thing: The readme.md in the sample web project references two publish profiles, but those are missing and probably getting git-ignored in y

[2018-07-02 03:40] DavidKorn commented on #158
It looks like the AbsoluteUrl is wrong now.  It doesn't include the subpath.

[2018-07-02 08:37] StefH commented on #158
Hello David,

1]
I've fixed the minors, see that same branch.

2]
I've fixed the AbsoluteUrl. So the request is now logged like:
[code]

I've also added the AbsolutePath, AbsoluteUrl and AbsolutePathSegments to the request, so they can also be used in the handlebars substitution.

3]
New NuGet is uploaded : 1.0.4.5-preview-02

[2018-07-02 09:02] StefH commented on #120
A new `JsonMatcher` has been added in latest version which enables you to match a json object 1:1.

See also https://github.com/WireMock-Net/WireMock.Net/issues/154

Closing this issue now...

[2018-07-02 09:02] #120 closed

[2018-07-02 09:04] StefH commented on #105
Hello @alexangas I'm closing this issue now. If you need more help, just open a new issue or start a a chat at https://gitter.im/wiremock_dotnet/Lobby.

[2018-07-02 09:04] #105 closed

[2018-07-02 09:06] StefH commented on #123
Latest version support a new matcher : `JsonMatcher` which can be used to match a json body 1:1.

See also https://github.com/WireMock-Net/WireMock.Net/issues/154

I'm closing this issue now, please open a new one with details if you still have issues.

Or start a chat at https://gitter.im/wiremock_dotnet/Lobby

[2018-07-02 09:06] #123 closed

[2018-07-03 22:50] DavidKorn commented on #158
Quick update: We are testing on 1.0.4.5 preview 2, and so far things continue to work well.

You mentioned fixing the minor issues, but I don't think the publish profiles referenced in the readme.md are working.  For me those get git-ignored, maybe that's why.

[2018-07-03 23:03] DavidKorn opened #162 "What's the intended behavior when combining recording proxy with watched mapping folder?"
If I set up a proxy and also the ReadStaticFiles and WatchStaticFiles, and I make the same call twice, should I expect to hit the proxied endpoint the first time, record the mapping, and then use the mapping the second time?  I was playing around with this a bit, and it seemed like sometimes this is what would happen, and other times it would continue to hit the real endpoint.  I am probably doing

[2018-07-04 07:45] StefH commented on #158
I thought that I did override the ignore... I will take a look, but this will be after some time. No access to code right now.

[2018-07-04 19:21] StefH commented on #162
Did you follow this link? https://github.com/WireMock-Net/WireMock.Net/wiki/Proxying

Your issue is probably related that the proxy en the real mapping get the same priority. That would explain your behaviour.

However, if you apply the correct priority, it should work as intended.

[2018-07-05 00:12] DavidKorn commented on #162
Ah makes sense.  I'm just using the ProxyAndRecordSettings of the FluentMockServerSettings to establish a proxy URL when I start the server.  I'm not seeing how to establish a priority for the proxy use that way.
Maybe both the proxy and the generated mappings are getting defaulted to zero and thus contending?
 My assumption was that the proxy would be used as a fallback behavior for when I don't

[2018-07-05 07:46] StefH commented on #162
Priority is defaulted to 0 indeed. You can manually change this in the mapping file.

If you want a sort of fall back scenario, see the bottom example on that wiki link I copied in my previous comment.

[2018-07-05 21:03] benjamin-bader opened #163 "Feature: Expose scenario states"
I'd like to be able to ask the server what the current state is for a given feature, for example to concisely verify that all expected requests were received, e.g.

[code]

One could get the same effect today by groveling through the LogEntries, but this is tedious and duplicates the logical chain set up by the scenario itself.

[2018-07-08 17:44] StefH commented on #163
Good idea.

I need to extend the admin api with some get request to retrieve the state from a certain scenario.

Also add this logic to the fluent interface.

[2018-07-10 00:58] DavidKorn commented on #158
@StefH I think you can close this issue whenever you like.  The main feature here is working great for us now.

[2018-07-10 01:01] DavidKorn commented on #162
Thanks, I'll play around some more as time allows.  I think what I wanted is for the ProxyAndRecordSettings to allow me to set a lower priority when I establish the proxy there.  But maybe I can do it with a fallback mapping like your example, as long as it still triggers the mapping recording.

[2018-07-10 07:11] StefH commented on #158
This weekend I'll see if the ignored files can be added to git. And I will create a official NuGet.

[2018-07-10 07:43] StefH commented on #162
I just realised that I need to explain more on proxying functionality. Because there are 2 ways to proxy.

1. Full proxy mode : Wiremock will only record requests and responses. This is useful if you want to record all traffic from a web app to a backend.  See this code example https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Proxy.NETCoreApp2/Program.cs

2. P

[2018-07-10 19:08] DavidKorn commented on #162
Thanks @StefH .  The use case I was trying to support is this:  Our QA thinks we have all the needed mappings in place to mock a 3rd party API so we can do reliable tests of our code without actually hitting the 3rd party API. But if our client code generates a request not covered by the existing mappings, we'd like to fallback to the proxy record behavior and pass through to the real 3rd party AP

[2018-07-17 06:21] #158 closed

[2018-07-17 19:08] StefH commented on #163
Hello @benjamin-bader,

I've added some functionality in this branch, you can already take a look how it can be used as you proposed here:
https://github.com/WireMock-Net/WireMock.Net/blob/Expose_scenario_states/test/WireMock.Net.Tests/StatefulBehaviorTests.cs#L66

[2018-07-17 19:35] josdeweger commented on #148
Hi @StefH,

I gave it another try, created a new Console application using .net framework 4.7, using WireMock.Net.Standalone 1.0.4.5:

[code]

I get a different error now:
[code]

Looks very similar to #70 ?

[2018-07-17 19:44] benjamin-bader commented on #163
Oh, cool!  I was going to try my hand at this, but you've beaten me to it.  Thank you for taking the effort!

[2018-07-17 20:21] StefH commented on #148
Mmm.

Maybe this link has a solution.
https://stackoverflow.com/questions/239725/cannot-set-some-http-headers-when-using-system-net-webrequest

I will take a look and see if this error can be simulated.

[2018-07-18 03:44] zubinix opened #167 "Feature: Support for JsonPath in the response (with HandleBars)"
Does WireMock.Net have support for the **jsonPath** helper found in the java based WireMock? I want to create a template that inserts in the response items from a JSON request. It seems all I can do with WireMock-Net 'out of the box' is use **{{request.body}}** in the response template which returns the entire JSON body of the request?

[2018-07-18 06:04] StefH commented on #167
Currently it's only supported that you can use a jsonmatcher on the request. See https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#json-jsonmatcher

It's not yet supported that you can use JsonPath in the output, like you can do with handlebars : https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing-and-Request-Matching#response-templating

[2018-07-18 06:11] zubinix commented on #167
Is there a plan to do so? Is there a HandleBar feature I can use instead to extract parts from the request body?

[2018-07-18 13:17] StefH commented on #167
There is no HandleBars functionality out of the box. I can extend the code to support something like this:

[code]

Where **response.body** is the response body in json.
And the **$.Manufacturers[?(@.Name == 'Acme Co')]** is the JSONPath expression (copied from example here: https://www.newtonsoft.com/json/help/html/QueryJsonSelectTokenJsonPath.htm)

Also selecting multiple tokens should be possib

[2018-07-18 13:32] StefH commented on #163
OK, I'll change the code and create a new NuGet in some time...

[2018-07-18 19:30] #163 closed

[2018-07-18 20:15] StefH commented on #148
I can reproduce with NET 4.5.x project, I get same exception. When using a dotnetcore project, it just timeouts so it seems ?

I will investigate a solution.

[2018-07-19 04:59] zubinix commented on #167
That sounds great. When do you think you can add this feature?

[2018-07-19 05:57] StefH commented on #148
See linked changeset https://github.com/WireMock-Net/WireMock.Net/commit/f1896ef73a1fe30f5d3ae1b2642012e2b8918d24 for some details on how this will be fixed.

Please take a look and comment.

[2018-07-19 05:59] StefH commented on #167
Currently I am fixing this issue https://github.com/WireMock-Net/WireMock.Net/issues/148#issuecomment-406163503.

After that I will continue on this one.

If the proposed fix here is enough for you and will comply to all your requirements, I will implement it as is.

[2018-07-19 18:05] StefH commented on #167
Preview NuGet can be found at
https://www.nuget.org/packages/WireMock.Net/1.0.4.7-preview-jsonpath

Note that the syntax has been changed from `JSONPath.SelectToken` to `JsonPath.SelectToken` !

[2018-07-19 19:24] josdeweger commented on #148
Great, thanks for the quick reply! I commented on the commit

[2018-07-19 20:16] StefH commented on #148
Closing.

New NuGet with this solution will be added in some time.

[2018-07-19 20:16] #148 closed

[2018-07-20 06:31] zubinix commented on #167
My request input I'm trying to match is

`{"username": "Zubin"}`

using

[code]

but I get

[code]

What am I doing wrong?

[2018-07-20 06:43] StefH commented on #167
1] You want to use the request I guess
2] Also try **request.bodyAsJson** instead of **request.body**?

So: `{{JsonPath.SelectToken request.bodyAsJson \"@.username\"}}`

See also this code : https://github.com/WireMock-Net/WireMock.Net/blob/SupportJSONPath_in_the_response/test/WireMock.Net.Tests/ResponseBuilderTests/ResponseWithHandlebarsTests.cs#L384

[2018-07-20 07:30] zubinix commented on #167
Yep should have used request.body but still getting

[code]

The input request I'm trying to grab data from is very simple just:

[code]

I'm just trying to make "Zubin" appear the response.

[2018-07-20 09:08] StefH commented on #167
You should use **username** instead of **@.username**.
And the **BodyAsJson** does not (yet) work, so you need to use this solution:

[code]

[2018-07-20 12:54] zubinix commented on #167
That did the trick. Thanks.

[2018-07-20 17:57] StefH commented on #167
I did update the code, so now also **BodyAsJson** is supported, see this mapping:

[code]

New Nuget (1.0.4.8-preview-01) is available.

Please test

[2018-07-23 08:47] zubinix commented on #167
Trying the above. What could be causing this error?

[code]

For input
[code]

[2018-07-23 10:12] StefH commented on #167
When you send a request, do you also provide the `Content-Type` header with value `application/json`?

Like:
![header](https://user-images.githubusercontent.com/249938/43070996-a5ae0d78-8e71-11e8-86c1-7b273a1b19b5.png)

[2018-07-23 11:20] zubinix commented on #167
Oh yes, I was missing the header in the request. Works now but interesting if I delete the header it still works! So the header is required the first time only? I'm using fiddler and postman as follows:

1. Add mapping (using postman).
2. Send request without application/json header using postman -> error above received. Verified in fiddler.
3. Edit request in fiddler and add application/json head

[2018-07-23 11:36] zubinix commented on #167
Yes. Please close and create the NuGet. Thanks! I might create another issue relating to this apparent caching after get some more experience this tool.

[2018-07-23 13:37] zubinix commented on #167
Support for Json request parameters in response has been added.

[2018-07-23 13:37] #167 closed

[2018-08-01 11:08] StefH opened #171 "Feature: Add /verify get call to Admin API"
**Verify requests**

For some details see -
https://app.swaggerhub.com/apis/jamesdbloom/mock-server-openapi/5.2.x#/verify/put_verify

[2018-08-03 16:46] seanamosw opened #172 "Feature: Same/similar fluent interface for in process and admin client API"
The API for stubbing and finding requests in process is done with a fluent API while using the admin client uses object construction. This can make it challenging to work with WireMock in containers or out of process.

In process:
[code]

The same with admin interface:
[code]

The more complex the request/response model the more verbose it becomes.
The difference I think stems from the builders no

[2018-08-04 08:48] StefH commented on #172
The fluent interface is mostly designed to be:
1. used in unit-testing
2. used for some complex mocking functionality in a standalone which cannot be achieved by just running a server and providing the mappings via the admin REST interface.

The admin REST interface can be used from any tool (postman, soapui, ...) or programming lamguage (C#, java, javascript, ...).
The current C# client interface

[2018-08-04 13:51] seanamosw commented on #172
To clarify, this idea is sort of a middle ground with what the Java Wiremock allows. You can point the java client API at a remote Wiremock process and leverage the fluent interface against it. In their case, the API was designed to treat Wiremock as always out of process, even if it is in process.

My immediate use case is using Wiremock.Net in C# integration tests running in containers. This mea

[2018-08-04 14:07] seanamosw commented on #172
In an ideal world, something similar to this would possible:

[code]

[2018-08-05 08:35] StefH commented on #172
**a]**
The new interface builder would have to look like:
[code]

This means that the whole code from [RequestBuilders](https://github.com/WireMock-Net/WireMock.Net/tree/master/src/WireMock.Net/RequestBuilders) needs to be copied.

I was hoping that I could use some autogenerating for that: https://github.com/ScottLilly/FluentInterfaceCreator, but this tool is not ready yet.

So for this reason, I

[2018-08-05 14:33] seanamosw commented on #172
a. I agree, maintaining two fluent interfaces and keeping them in sync is a burden.
Without a breaking change, two fluent interfaces to achieve this would be unavoidable.

Another option that could work is adding a separate lib, eg. `WireMock.Net.ModelBuilders` That could have the fluent interface for building the request/response model builders without polluting the main library with two fluent i

[2018-08-06 05:54] StefH commented on #172
a] Maybe it's a good idea that I create this project under the https://github.com/WireMock-Net organization and give you (and me) access to that.

Also the NuGet package should be registered to both you and me if possible.

b] OK

[2018-08-06 06:01] StefH commented on #172
a] I did send invite to you, if you accept, I can give you access to this project.
The license is apache 2.0 ; but we can also change this into MIT? I don't know the real difference and what's better.

[2018-08-07 06:57] seanamosw commented on #172
Thanks.
MIT is often a go to license, simple and permissive. It doesn't have the "State Changes" clause of Apache 2.0.

[2018-08-07 07:19] StefH commented on #172
I've also added you as contributor to that new project.

Can this issue be closed?

(New issues or ideas can also be added to that project.)

[2018-08-07 09:07] seanamosw commented on #172
Yes, I think we have a way forward so any further discussion can be moved there.

[2018-08-07 11:36] craigt00 opened #173 "Feature: Mapping files lost when restarting an Azure app service"
I've found that when hosting WireMock.Net in an Azure app service the mappings are lost when the app service restarts.  I presume this is due to the resolved location of Directory.GetCurrentDirectory() when running in Azure which may be getting cleaned out during a restart.

If this is the case, could I suggest that the base directory is injected in (via IFluentMockServerSettings?) and, if set, us

[2018-08-07 13:01] StefH commented on #173
Good point. The same issue will probably be the case for a docker image.
The best solution would be via dependency injection / new classes to handle file system activity.

Example:
[code]

Where by default these classes will handle the local file-system.

[2018-08-07 16:38] StefH opened #174 "Bug: JsonMatcher and JsonPathMatcher throws when posting byte[]"

[2018-08-07 17:25] StefH opened #175 "Bug: Don't allow adding a mapping with no URL or PATH"

[2018-08-07 17:25] StefH opened #176 "Saving mapping with relative (not found) file fails"
[code]

[2018-08-07 17:26] StefH commented on #175
[code]

[2018-08-07 18:34] StefH commented on #176
works as expected

[2018-08-07 18:34] #176 closed

[2018-08-08 06:47] StefH commented on #175
solved

[2018-08-08 06:47] StefH commented on #174
solved

[2018-08-08 09:04] StefH opened #177 "Feature: Skip invalid static mapping files"

[2018-08-08 09:40] #177 closed

[2018-08-08 09:40] #175 closed

[2018-08-08 09:40] #174 closed

[2018-08-10 13:11] chrischu opened #178 "Bug: Path matching fails when the URL contains encoded parts"
When setting up a path matcher with a string containing URL-encoded values (e.g. `Request.Create().UsingGet().WithPath("/path/a%20b")`) the path matching no longer works. When looking at the request log in the FluentMockServer one can see that the request found does have the unencoded request URL ("/path/a b" instead of "/path/a%20b") and therefore the match isn't successful.

This seems to be due

[2018-08-12 19:25] chrischu commented on #178
Mhh I created a repro sample with .NET 4.7.2 that reproduces the problem: In the program I call the URL "/A%2fB" but WireMock.Net logs the call as "/A/B". When looking at the loaded modules in Debug mode it is also plainly visible that OWIN is used:
![image](https://user-images.githubusercontent.com/447251/44005602-2210707c-9e76-11e8-8045-b85d17bbf674.png)

Am I doing something wrong?

[WireMockRe

[2018-08-12 19:31] markdebruijne opened #179 "BodyAsFile .json files interferes with WatchStaticMappings"
- Configure `ReadStaticMappings(myMappingsFolder)` to import request matchers from static `.json` files
- Also Configure FileWatchers for that folder: `WatchStaticMappings(myMappingsFolder)`
- Configure one of those requests to respond based on a `BodyAsFile`
[code]
- Run the application, which will monitor all files in that folder
- Update `myResponseBodyFile.json`

Result: Unhandled exception oc

[2018-08-12 20:38] StefH commented on #179
The ReadStaticMappings and WatchStaticMappings are meant to be used for the complete mappings. A complete mapping contains both the **request** and the **response**. For an example, see https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference#__adminmappings-1.

If you want to use `BodyAsFile`, you could just try to use a file with another extension, like `.response`. That kind of fil

[2018-08-13 06:37] StefH commented on #178
And because net 4.6.x and net 4.7.x fallback to this framework, the OWIN code is also used in your application.

I did a quick test with net 461, and it seems I can use the latest Microsoft.AspNetCore (version 2.x.x) there.

So I'll update WireMock.Net to use Microsoft.AspNetCore from 4.6.1 and up.

And for net452, maybe apply a hotfix / patch?

[2018-08-13 14:03] StefH commented on #173
@craigt00

I've implemented this change into this branch:
https://github.com/WireMock-Net/WireMock.Net/blob/stef_issue_173_mappingfiles_location/src/WireMock.Net/Handlers/IFileSystemHandler.cs

Can you please review ? If it's good enough, I'll merge to master.

[2018-08-14 12:33] craigt00 commented on #173
That looks great, and will allow me to create a azure-specific implementation.  Thanks for working on this @StefH

Is the web application example intended to be Azure-specific?  If so then I'll fork and update the web application to implement an AzureFileSystemHandler which places the mapping files alongside the site.

[2018-08-14 13:47] StefH commented on #173
The web-application can run as standalone, web-IIS or Azure.

So for your idea, maybe best to create a new example project called **WireMock.Net.Azure.NETCore2** which implements that `AzureFileSystemHandler`.

Or update the original example to use a switch in the configuration to choose the FileHandler.

I'll create a PR merge tho master in some time today.

[2018-08-14 16:55] StefH commented on #173
Linked https://github.com/WireMock-Net/WireMock.Net/pull/180

[2018-08-14 16:55] #173 closed

[2018-08-15 12:44] StefH opened #181 "Feature: add example for Net Core as a windows service"
See
https://www.stevejgordon.co.uk/running-net-core-generic-host-applications-as-a-windows-service

[2018-08-16 05:58] StefH commented on #178
I fixed the code to use `Microsoft.AspNetCore` (for net461 and up) and I tried to reproduce your problem with these tests:

[code]

However I need some help from you to give me correct examples + expectations. Because now the `Request_WithPath_EncodedSpaces` still fails.

[2018-08-16 07:51] chrischu commented on #178
Cool!

I think that `Request_WithPath_EncodedSpaces` fails is to be expected. I don't expect it to work. The only case I expect to work is when at both ends the space is encoded (or not encoded), like this:
[code]

[2018-08-16 16:24] seanamosw opened #182 "Bug: IFluentMockServerAdmin::PutMappingAsync does not set Content-Type"
In IFluentMockServerAdmin.cs:
[code]

The line `[Header("Content-Type", "application/json")]` is missing, causing a 404 to be returned from WireMock.

[2018-08-16 17:29] #182 closed

[2018-08-16 17:30] StefH opened #184 "Bug: Fix AppVeyor PR build process"
https://medium.com/@stef.heyenrath/how-to-fix-sonarcloud-issue-in-a-github-pr-when-using-appveyor-integration-8909b49406b4

[2018-08-16 17:58] StefH commented on #178
https://github.com/WireMock-Net/WireMock.Net/pull/185

[2018-08-17 16:04] steveland83 opened #187 "Bug: Admin GetRequestAsync does not populate request body for JsonApi ("application/vnd.api+json") content"
If we do a Post/Put to a Wiremock stub with Request body as Json Api and then we check the detail of the request sent using the GetRequestAsync method on the admin API, then the request body is null. If we do same steps with Json request body this works as expected.

Have created two test methods in WireMock.Net\test\WireMock.Net.Tests\FluentMockServerAdminRestClientTests
in this PR: https://githu

[2018-08-17 16:12] StefH opened #188 "Bug: ResponseMessageTransformer :"
[code]

Is not yet unit-tested and I think this also does not work...

[2018-08-23 00:49] SubjectiveReality opened #189 "Issue: Case of header key/name not ignored in RequestBuilder when ignoreCase == true"
Given the following C# mapping:
[code]
WireMock.net mapping will be found if a request is made with a header where SOAP casing matches exactly, but will not be found if the casing does not match exactly (i.e. Soap).

[2018-08-23 06:56] StefH commented on #189
Issue is confirmed. I'll investigate.

Probably the same issue is with cookies...

[2018-08-23 12:31] #188 closed

[2018-08-23 16:46] StefH commented on #189
Solved. A new NuGet will be uploaded shortly...

[2018-08-23 16:46] #189 closed

[2018-08-23 16:56] SubjectiveReality commented on #189
Wow, that's awesome speed, Stef!  Thank you!

[2018-08-29 10:18] bgiot opened #192 "Cannot upgrade from 1.0.4.10 to 1.0.4.12 without upgrading to .net core 2.1"
Got the following error :
NU1605: Detected package downgrade: Microsoft.Extensions.Configuration.Json from 2.1.1 to 2.0.2.
The dependency on Microsoft.AspNetCore has been changed from >=2.0.0 to >=2.1.2.
Why this happens for a such WireMock.Net minor upgrade version ?

[2018-08-29 10:52] StefH commented on #192
The reason for this is that I was solving a bug related to net461 and OWIN.

But if it helps you, I can revert back to the most recent 2.0.x version, which would be 2.0.4 ?

[2018-08-29 11:16] bgiot commented on #192
Can be an option. I'lltry first to see in my own dependencies can be upgraded and still work on .net core 2.0.  Maybe by design keep lowest working dependencies to avoid forcing upgrade unless necessary...

[2018-08-29 11:38] StefH commented on #192
Please keep me updated on your investigation.

It's not much work for me to downgrade and create a new NuGet.

Thanks for the advice about the dependencies, I know this rule, but sometimes I forget ;-)

[2018-08-29 11:47] bgiot commented on #192
Seems to be fine on my side. I succeeded to do the necessary upgrade without any big issues. Let's close this bug.

[2018-08-29 11:49] #192 closed

[2018-08-29 13:02] StefH commented on #192
ok

[2018-08-29 13:45] cpneale opened #193 "Question: WireMock in Azure"
Hi,

Is it possible to start a standalone WireMock server from a Web App or Web Job in Azure and then hit the WireMock instance on an external uri?

Thanks!

[2018-08-29 15:37] StefH commented on #193
I doubt that this is possible.

However you can run WireMock.Net as a full server as WebApp or in Azure, take a look at:
https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-(Azure)-Web-App

[2018-08-29 16:39] cpneale commented on #193
Thanks.  Appreciate the quick response and advice.

[2018-08-29 17:30] StefH commented on #193
Let me know if this works for you. If all works fine, you can close this issue.

[2018-08-29 19:37] cpneale commented on #193
Yes, works fine. Thanks for your help.

[2018-08-29 19:37] #193 closed

[2018-08-30 23:35] gifthove opened #194 "Could not load file or assembly 'netstandard, Version=2.0.0.0 On Build Server"
I have this issue on my Jenkins build server _"System.BadImageFormatException : Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only loader context. (Exception from HRESULT: 0x80131058)"_.   To give you cont

[2018-08-31 09:46] StefH commented on #194
This issue is new for me.

Are you running the build on a non-windows machine?

[2018-09-02 16:12] davide-romanini opened #196 "Issue: AspNetCoreSelfHost.IsStarted set before the server actually started for real"
From this code:

https://github.com/WireMock-Net/WireMock.Net/blob/2075589e987c863c99bfcebe3c8692c5d678e510/src/WireMock.Net/Owin/AspNetCoreSelfHost.cs#L107-L117

is clear that `IsStarted` is set to true *before* the `WebHost` istance is running for real.

That causes sporadic "Connection refused" failures with code like this:
[code]

A better implementation could be listening for `IApplicationLif

[2018-09-02 19:43] #196 closed

[2018-09-02 20:59] gifthove commented on #194
Our build server is windows 2012  Server.

[2018-09-04 13:59] rickm-pra opened #198 "Issue : creating response using .WithBody(Func<RequestMessage, string>...) and .WithStatusCode"
If I set up a response using both .WithBody and .WithStatusCode, it always returns a status code of 200. For example:
[code]
will return the error message but with a 200 status.

It looks like the root cause is that the response callback is creating a new response instead of using the one that was configured.

[2018-09-04 19:10] StefH commented on #198
Do you have multiple mappings defined, or just this one?

In case you have multiple, it could be that another mapping does match better than this one.

[2018-09-04 19:15] rickm-pra commented on #198
I tried it both ways. The number of mappings has no effect.

[2018-09-04 19:19] rickm-pra commented on #198
My crude fix was to change ProvideResponseAsync in Response.cs:
[code]

I doubt very much this is the right fix, but it does set the code properly.

[2018-09-04 19:35] StefH commented on #198
This is indeed a bug. Thanks for reporting. I'll investigate and fix this.

[2018-09-04 19:41] rickm-pra commented on #198
Thanks!

[2018-09-04 20:26] StefH commented on #198
Issue is solved, I created a PR , take a look here:
https://github.com/WireMock-Net/WireMock.Net/pull/199

You can review but probably not approve this PR?

[2018-09-04 20:33] rickm-pra commented on #198
I can review, but it's not a binding approve. Looks good though!

[2018-09-04 20:53] #198 closed

[2018-09-05 13:10] alec-anikin opened #200 "Issue: Incorrect port matching"
Hi!
Regex from PortUtil.UrlDetailsRegex  doesn't work for urls like "http://0.0.0.0:5000"
It should be `^(?<proto>\w+)://[^/]+?:(?<port>\d+)/?`

[2018-09-06 10:39] fransjvanderlinde opened #201 "Question : Extracting text from a request.body that is not json"
Hi is there any way to use the transformers to pull text from a requestbody by passing in a regex expression and using that value in response body.  At moment it looks like code only caters for json to get info from a json node.

[2018-09-06 10:53] StefH commented on #201
Correct.
Currently it's only possible to use all functionality from Handlebars on a text string or on a json object.

Using RegEx (on a string), XPath (on a string) or Linq (on a json object) is not yet supported. I'm working on the last now.

[2018-09-06 13:35] StefH commented on #194
I don't have a clue what's wrong here. Do you still have this issue?

[2018-09-07 07:06] StefH commented on #201
Hello @fransjvanderlinde, I could implement logic for
* RegEx
* XPath
* DynamicLinq

on the request body (string) using extensions on **HandleBars**, just like I did for https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templating#jsonpathselecttoken

So an example mapping for `Regex.Match` could be:
[code]

Would this idea be what you need?

[2018-09-07 09:35] fransjvanderlinde commented on #201
Yes that sounds like it will work.  I did something like below in my app which did give me the values but i would like to do a lot more complex regex so solution suggested will work much better.
Handlebars.RegisterHelper("extractamount", (output, context, arguments) =>
            {

                var match = Regex.Match((string) arguments[0], @"\d +.+\d");

                if (match.Success)

[2018-09-07 15:45] StefH commented on #201
Hi @fransjvanderlinde,

I've update the code to support this logic:

**Regex.Matches**

[code]

**Regex.Match**
[code]

[2018-09-11 06:28] fransjvanderlinde commented on #201
Looks good.  Thanks

[2018-09-11 06:28] #201 closed

[2018-09-11 06:34] StefH commented on #201
I'll create PR and new NuGet.

[2018-09-11 08:37] StefH commented on #179
@markdebruijne does above text answer your question? Or do you still have more questions?

[2018-09-11 08:39] StefH commented on #115
Also this linked issue could help you ?
https://github.com/WireMock-Net/WireMock.Net/issues/173

Closing this issue for now. If you still have question, please reopen or create a new issue.

[2018-09-11 08:39] #115 closed

[2018-09-11 08:46] StefH commented on #200
Hello @alec-anikin, thanks for reporting.

However, maybe updating the regex even further to `^((?<proto>\w+)://)(?<host>[^/]+?):(?<port>\d+)\/?$` is even better?

For `https://0.0.0.0:5000` , this matches like:
![afbeelding](https://user-images.githubusercontent.com/249938/45348735-b8da0400-b5af-11e8-9567-409e25e3f235.png)

And for `https://locahost:5000` , this matches like:
![afbeelding](https:

[2018-09-17 08:54] StefH commented on #200
Hi @alec-anikin ; what do you think?

[2018-09-17 14:53] r-kolbovich opened #205 "Issue: DELETE method is proxied as lowercase"
I noticed quite strange behavior of wiremock when it proxies requests to another server.
'GET', 'POST', 'PUT' methods, are proxied uppercase. But 'DELETE' method behaves different: after proxying it becomes 'delete'.

Below you can find a gif where I demonstrate this issue.
![wiremock-delete-request-lowercase](https://user-images.githubusercontent.com/9084096/45630837-39ae6980-baa2-11e8-8e2b-38964

[2018-09-17 18:42] StefH commented on #205
I did not catch which dotnet version you are using?

[2018-09-17 19:19] r-kolbovich commented on #205
.NET Framework 4.6.1

[2018-09-19 05:54] StefH commented on #205
This is indeed a bug. I'm investigating this and already have a fix ready. I keep you updated here on the progress.

[2018-09-20 11:53] StefH commented on #200
Will be fixed in PR

[2018-09-20 11:53] #200 closed

[2018-09-22 06:43] StefH commented on #205
Solved in new package (soon to be added to NuGet)

[2018-09-22 06:43] #205 closed

[2018-09-22 08:15] StefH opened #206 "Rewrite some unit-integration-tests to unit-tests"

[2018-09-26 15:50] #206 closed

[2018-10-08 14:07] alefranz opened #210 "When proxying, the Content-Type headers get dropped from the request"
I'm using the Proxy and Capture functionality but when I do a POST with body, the `Content-Type` header of the request doesn't get passed to the proxyed service

[2018-10-08 14:10] alefranz commented on #210
It looks like there is a specific test for this:
https://github.com/WireMock-Net/WireMock.Net/blob/f358f13c0839de275f45e6aa756bd14c92ef20fa/test/WireMock.Net.Tests/FluentMockServerTests.Proxy.cs#L45

however I'm on 1.0.4.17 but experiencing the issue

[2018-10-08 14:12] alefranz commented on #210
However that test run only on full framework why I'm experiencing the issue in .NET Core.
Is it a known limitation with .NET Core?

[2018-10-08 16:11] StefH commented on #210
I'll check. Thanks for reporting.

[2018-10-09 11:12] alefranz opened #211 "Feature: Add support to recognise custom json media-types"
Hi,

This is a feature request to add support to recognise as json custom media types:
e.g. `application/vnd.*+json`.

I think it could be either match on this pattern (or just +json) or open the `BodyParser` so it can be customized or media-types can be registered.

Specifically I'm after the ability to correctly save the payload as json when saving the auto generated mappings (when capturing as

[2018-10-09 12:05] StefH commented on #210
About the unit-tests : for some reason starting a .NET Core instance from WireMock in a unit-test blocks, as where in .NET Framework 4.5.2, it just starts and listens requests.

However testing the `WithProxy(...)` shows that all works.
https://github.com/WireMock-Net/WireMock.Net/blob/660e97a4ce2c5e811dffe730141328d04013846e/test/WireMock.Net.Tests/ResponseBuilders/ResponseWithProxyTests.cs

Can

[2018-10-09 12:48] StefH commented on #211
Or define at the mapping that the request body should be parsed as String, Json or Bytes by using a new property at the body mapping named `ParseBodyAs`.

Using this new setting overrides the default Content-Type logic.

Example
[code]

[2018-10-09 14:47] StefH commented on #210
I just did some testing with example application **WireMock.Net.Console.NETCoreApp2**, file `MainApp.cs`

Modified the c# code like this:
[code]

When doing a POST to the url `http://{{wm_hostname}}/post` I get this:
![postman](https://user-images.githubusercontent.com/249938/46677290-a4a31a00-cbe2-11e8-9413-06e1aa2abf95.png)

So it seems that the header is correctly passed to the proxy (postman-e

[2018-10-10 07:03] lesnes commented on #211
i am very interested in this new feature (`ParseBodyAs`). currently, `BodyParser` only supports parsing as `string` for certain content types. this means that one cannot use `IStringMatcher` implementations for matching request `Body` when content type is something like `multipart/form-data`.

when do you expect to release a new version to nuget that includes this functionality ? is it on a branch

[2018-10-10 08:06] StefH commented on #211
I'll take a look and start building this new functionality.

[2018-10-10 09:55] lesnes commented on #211
that would be great, thanks!

[2018-10-10 13:49] alefranz commented on #211
@StefH is there a way to specify `ParseBodyAs` with the fluent syntax? and what about in the ProxyAndRecordSettings?

[2018-10-10 14:51] StefH commented on #211
Hello @lesnes and @alefranz,
I'm currently working on a PR https://github.com/WireMock-Net/WireMock.Net/pull/212 which updates the logic for the body parser.

In short:
* Using a `IStringMatcher` will always work because the BodyAsString is always filled.
* Using a `IObjectMatcher` like `JsonMatcher`, `JsonPathMatcher` and `LinqMatcher` will work in case it's a Json object

Please have a look to s

[2018-10-10 15:58] alefranz commented on #211
In the current version I believe sometimes you only have the body as bytes.
Also matching a json with a string is often a pain as the sample response data for the mock are usually not minified, so in my scenario I still need the ability to change something in `DetectBodyTypeFromContentType` to be able to set custom media type as json.
Ideally would be nice for that class to not be static and the l

[2018-10-10 16:43] alefranz commented on #210
Apologies for the delay.
Many thanks for spending time looking into my issue.

You can reproduce my issue with the test app using a custom mediatype like `application/vnd.contoso+json`

![image](https://user-images.githubusercontent.com/348793/46751968-f5367800-ccb3-11e8-9109-dc179ead8fc6.png)

[2018-10-10 17:01] StefH commented on #211
The property `DetectBodyTypeFromContentType` is not really used in the logic, it's just for information.

The **Content-Type** is not used anymore in the logic now.

The real logic is done with the `DetectedBodyType`.

[2018-10-10 19:03] alefranz commented on #211
Ok, I guess I didn't really get the gist of the PR. I'll have a better look. Do you publish the PR builds as prerelease on myget by any chance?

[2018-10-10 19:21] StefH commented on #211
Added a preview version to MyGet
https://www.myget.org/F/wiremock-net/api/v3/index.json

[2018-10-11 02:57] lesnes commented on #211
wow, that was quick. great job! looks like it would suit my purposes

[2018-10-11 13:50] StefH commented on #210
Can you please try version `1.0.4.18-preview-02` from MyGet feed : https://www.myget.org/F/wiremock-net/api/v3/index.json

I did change some code regarding this logic.

[2018-10-12 08:44] StefH commented on #211
@alefranz PR build is published at https://www.myget.org/feed/wiremock-net/package/nuget/WireMock.Net / https://www.myget.org/F/wiremock-net/api/v3/index.json

Can you please test this one ?

[2018-10-12 15:00] StefH commented on #194
Closing this issue.

If you still have an problem, please comment and re-open this one.

[2018-10-12 15:00] #194 closed

[2018-10-12 15:01] StefH commented on #179
@markdebruijne Closing this issue.

If you still have questions, comment here or create a new issue.

[2018-10-12 15:01] #179 closed

[2018-10-14 02:16] lesnes commented on #211
i've tested my usage requirement for `multipart/form-data` against `1.0.4.18-ci-1343` and it is working now 👍

[2018-10-14 07:40] StefH commented on #211
Good news.

@alefranz : If you can confirm this issue and also the other issue; I can create a new official build.

[2018-10-14 09:54] alefranz commented on #211
Apologies, I will be able to test only Monday.

[2018-10-15 10:08] alefranz commented on #210
I can't find that specific version, however it works correctly on 1.0.4.18-ci-1343
Thank you!

[2018-10-15 10:17] alefranz commented on #211
Nice, now the mapping has the body as json, however when I save the mappings with "SaveStaticMappings" I end up with all 3 versions of it (text, json and binary) in the json.
It would be nice to define which format to save in `SaveStaticMappings`

[2018-10-15 10:35] StefH commented on #210
OK Thanks for testing.

[2018-10-15 10:35] #210 closed

[2018-10-15 10:38] StefH commented on #211
Ah, I did not think of that.
By default, the mapping should only be saved for the `DetectedBodyType`, just as it is now. I'll fix this and a new version should be automatically added to MyGet once it's ready.

Saving all 3 would be an additional option, which will be available in the next version.

[2018-10-15 10:51] alefranz commented on #211
but in my scenario with `application/vnd.*+json` what would be the DetectedBodyType?

[2018-10-15 11:32] StefH commented on #211
Good point.
In that case I need to update the code to support `WildcardMatcher` for the detection. I keep you informed...

[2018-10-15 16:00] StefH commented on #211
@alefranz
When I think about it again...

1]
The `DetectBodyType` will be be based on the body, not on content-type.

2]
The `DetectBodyTypeFromContentType` will be be based on the content-type, but it's not used in the logic.

3]
I think you mean `/__admin/requests` or `RequestsGet()` ? That code does indeed save all 3 versions:

[code]
This I can update.

[2018-10-15 17:28] alefranz commented on #211
This is my workflow:
- I start the mock as proxy
[code]
- I execute my end to end flow
- on shutdown I use `SaveStaticMappings` to save the generated mapping (which contains the proxied response) to a specific folder (as with `SaveMappingToFile` I can't specify a folder)

All this responses are json but I have custom media types `application/vnd.*+json`.

The purpose of this is to automatically ge

[2018-10-16 11:12] StefH commented on #211
I see your point.
Can you try latest from the MyGet feed: 1.0.4.18-ci-1349 ?

See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions for details on MyGet

[2018-10-16 12:28] Elangopalakrishnan opened #213 "Question: Unable get response from wiremock.net server in c#"
Hi ,

## Problem:

I'm trying to implement the wiremock in c#, For that I have downloaded the wiremock .net library from NuGet,

And I'm trying to do GET method , but i'm getting below error message :(

### From C#

 "Id = 17, Status = WaitingForActivation, Method = "{null}", Result = "{Not yet computed}""
if i use "await" - It is waiting for long time then it is returning 404 file not found error

[2018-10-16 13:15] StefH commented on #213
Which Framework do you use ?
.NET 4.x.x ?
Or
.NET Core 2.x

[2018-10-16 15:32] Elangopalakrishnan commented on #213
hi @StefH ,

For POST method , How can i check POST's response in our c# code,
like GET has - var getResp = await new HttpClient().GetStringAsync("http://localhost:" + server.Ports[0] + "/product/p0001");

Thanks!
Elango

[2018-10-16 15:38] Elangopalakrishnan commented on #213
Hi @StefH

I used below code, to get post's response ,

 StringContent content = new StringContent(JsonConvert.SerializeObject(ob), Encoding.UTF8, "application/json");
 HttpResponseMessage response = await client.PostAsync("api/products/save", content);

Thanks!
Elango

[2018-10-16 15:45] StefH commented on #213
That would be:

[code]

[2018-10-16 15:47] Elangopalakrishnan commented on #213
Sorry.  I couldn't get you ...

Thanks & Regards
Elangopalakrishnan.V

On Oct 16, 2018 21:15, "Stef Heyenrath" <notifications@github.com> wrote:

[2018-10-16 15:47] StefH commented on #213
BTW you can use on github issues:

triple single quotes space C# (` ``` c#`) to start a code block
and
tripple single quotes space (` ``` `) to end a code block

[2018-10-16 15:49] StefH commented on #213
AH, you need a JSON mapping example.

Something like this?

[code]

[2018-10-16 15:50] StefH commented on #213
See also WIKI
https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching

[2018-10-16 15:55] StefH commented on #213
BTW you can also use the gitter channel for asking questions.
https://gitter.im/wiremock_dotnet/Lobby

[2018-10-16 16:37] Elangopalakrishnan commented on #213
@StefH  ,

I have two .json files one is for request and one is for response,
lets say req.json and resp.json,
I'm just reading those jsons and storing in two string variables,
Then I'm just deserializing and creating objects,
and my code is,
String requestpath = @"C:\Users\req.json";
            String req = n.GetJSONObjectFromFile(requestpath);
            String responsePath = @"C:\Users\resp.j

[2018-10-16 16:48] StefH commented on #213
You need to use use a matcher for the body to make sure that only a request with a specific body is matched.

So on your case you can use code like:
[code]

[2018-10-16 16:52] Elangopalakrishnan commented on #213
Hi , I'm using same code, and getting response like below, But i'm getting error 500.
How we can get responses ???

server
    .Given(Request
    .Create()
    .WithPath("/jsonmatcher1")
    .WithBody(new JsonMatcher("{ \"Email\": \"myemail@gmail.com\" }"))
    .UsingPost())
    .WithGuid("debaf408-3b23-4c04-9d18-ef1c020e79f2")
    .RespondWith(Response.Create().WithBody(@"{ ""isValid"": ""true""

[2018-10-16 16:58] Elangopalakrishnan commented on #213
Can you please review

StringContent cnent = new StringContent(JsonConvert.SerializeObject("{ "Email": "myemail@gmail.com" }"), Encoding.UTF8, "application/json");
HttpResponseMessage rponse = await new HttpClient().PostAsync("http://localhost:" + server.Ports[0] + "/jsonmatcher1", cnent);

These codes are correct??

Thanks
Elango

[2018-10-16 18:49] StefH commented on #213
use
[code]

[2018-10-16 18:49] #213 closed

[2018-10-18 07:15] StefH opened #214 "Feature: Add support for template language DotLiquid"

[2018-10-21 07:03] StefH opened #215 "Issue: upgrade Microsoft.AspNetCore / Microsoft.AspNetCore.All to 2.1.5"
[code]

[2018-10-23 08:43] #107 closed

[2018-10-23 08:47] StefH commented on #211
@alefranz : did you have time to test the latest version on MyGet?

[2018-10-24 14:01] alefranz commented on #211
Apologies for the delay.

It works like a charm!

Thanks!

[2018-10-24 14:41] StefH commented on #211
@alefranz Are you sure you tested the 1.0.4.18-ci-1349 (or later) MyGet version ?

[2018-10-24 22:07] alefranz commented on #211
Yes, I've tested 1.0.4.18-ci-1349 and the saved mapping contains only the BodyAsJson as desired

[2018-10-25 16:53] #161 closed

[2018-10-25 16:53] #211 closed

[2018-10-25 18:20] #215 closed

[2018-10-25 18:21] StefH opened #219 "Feature: random value helper"
See http://wiremock.org/docs/response-templating/#random-value-helper

Random strings of various kinds can be generated:
[code]

[2018-10-26 13:03] alefranz commented on #211
Thank you!

[2018-11-06 08:00] paulssn opened #223 "Bug: Example for WireMock as Windows Service throws Exception because of WireMockConsoleLogger"
**Problem:**
If I run the [example](https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.Service) for WireMock as a Windows Service, it throws the following exception on service startup:

**Reason:**
This is caused by the `WireMockConsoleLogger` which is also used if the application is actually running as a service. In this case the exception is thrown when the logger tri

[2018-11-06 08:20] paulssn commented on #223
I'd be happy to submit a PR, if that's ok for you.

[2018-11-06 08:49] paulssn commented on #223
You're welcome. Thank you for maintaining this useful project!

For now I fixed it by using the `WireMockNullLogger` in the corresponding case.

I agree with you that using an actual logger would be better and make sense. I'll consider to implement it and submit a separate PR for it as well.
Where would you put the corresponding logger? Just in the `WireMock.Net.Service`-project like for example t

[2018-11-06 09:10] #223 closed

[2018-11-06 09:56] StefH commented on #223
Correct. Just add a new WireMockEventLogger in the WireMock.Net.Service-project which can be based on log4net or just custom code to write to event log.

[2018-11-06 11:33] paulssn opened #225 "Feature: Improve logging in example for WireMock as Windows Service"
As discussed in #223, the logging in the example for WireMock as Windows Service should be improved, by providing a log4net-logger as well as a log4net configuration with appenders for Console, File and Windows-EventLog.

[2018-11-06 11:34] paulssn commented on #225
@StefH You can assign this issue to me. I'll submit a PR.

[2018-11-07 11:21] ArtemTrofimushkin opened #226 "Question: proxy passthrough when no match (.NET Core)"
Hi everyone.
I am using this library for my integration tests and have some issues with it.
Let me explain my setup and scenario.
Setup:
 1. backend service, working on full .NET Framework 4.6.2 (legacy application)
 2. frontend service, working on .NET Core 2.1.
Scenario: Cover frontend service with integration tests.
Implementation:
Integration tests, frontend and library (WireMock.Net-docker) r

[2018-11-07 11:21] #226 closed

[2018-11-07 11:58] ArtemTrofimushkin opened #227 "Question: proxy passthrough when no match?"
Hi everyone.
I am using this library for my integration tests and have some issues with it.
Let me explain my setup and scenario.
Setup:
* Backend service, working on full .NET Framework 4.6.2 (legacy application).
* Frontend service, working on .NET Core 2.1.

Scenario: Cover frontend service with integration tests.
Implementation:
Integration tests, frontend and library (WireMock.Net-docker) run

[2018-11-07 14:34] s-krawczyk commented on #227
Got same issue moment ago. Funny ;) What I can do on my side. How to "hack" this?

[2018-11-07 18:12] StefH commented on #227
I've modified the code so that I manually check all restricted response headers as defined here:
https://docs.microsoft.com/en-us/dotnet/api/system.net.webheadercollection.isrestricted?view=netframework-4.7.2

[code]

See the branch:
https://github.com/WireMock-Net/WireMock.Net/tree/restricted_headers

Can you test if this works for both net4x and netstandard 2.0 / netcore app 2,1 ?

[2018-11-07 18:20] StefH commented on #227
Or you can test version `1.0.4.19-ci-1475` from MyGet

[2018-11-07 18:45] ArtemTrofimushkin commented on #227
Yep, this version works for my .NET Core 2.1 project

[2018-11-07 19:49] StefH commented on #227
https://github.com/WireMock-Net/WireMock.Net/pull/228

[2018-11-07 20:08] StefH commented on #227
Closing

[2018-11-07 20:08] #227 closed

[2018-11-09 10:06] #219 closed

[2018-11-26 13:06] Tieno opened #234 "Timeout Exception on VSTS Test Platform (Azure DevOps), with private build agent"
In release 1.4.20 I get a timeout exception everytime the test agent tries to start the FluentMockServer

Following exception is thrown right after
`"FluentMockServer.Start()"`
[code]
I don't get this when running the test locally.
I've tried turning off the windows firewall entirely, on the build machine, but it doesn't make any difference. I still get the timeout exception.
After seeing issue

[2018-11-26 13:56] StefH commented on #234
Do you run on Linux or Windows build ?
(BTW : The DevOps pipeline used by WireMock itself works fine.)

[2018-11-26 14:08] Tieno commented on #234
- Windows Build. Machine itself runs Windows 8.
- XUnit 2.2
- Visual Studio Test Platform (Installer)

[2018-11-30 10:13] backlune commented on #234
Been having the same issue on one of our slower build servers. The reason for getting a `TimeouException` might be different as some exceptions are not observed when starting the server.

To find out why we were getting `TimeoutException` change to checking it the task had an exception before throwing timeout in FluentMockServer constructor.

[code]

[2018-11-30 11:49] StefH commented on #234
https://github.com/WireMock-Net/WireMock.Net/pull/235

[2018-11-30 11:52] StefH commented on #234
version 1.0.4.21 will implement code fixes as proposed by @backlune

[2018-11-30 11:52] #234 closed

[2018-12-11 10:43] SabrinaMH opened #237 "Port not released"
I'm using WireMock in an NUnit test, where I spin up a server on port 9002. At the end of the test (and in case of exceptions) I make sure to shut down the server using the following lines of code:
`server.Stop();
server.Dispose();`

However, the port is still in use, cf.
![image](https://user-images.githubusercontent.com/7672549/49795240-cb441500-fd39-11e8-9621-c491f1bb0c44.png)
which means that

[2018-12-11 12:42] StefH commented on #237
You cannot release the port manually. It's done by the OS.
This can take some time.

See also https://serverfault.com/questions/181015/how-do-you-free-up-a-port-being-held-open-by-dead-process

In your case the best is to use a dynamic port in each uni-test (see also my unit-tests in this project)

[2018-12-11 13:12] SabrinaMH commented on #237
Thanks for the reply!
I actually thought that the app needed to put the socket into TIME_WAIT in order for the OS to be able to know that it is not User anymore.

[2018-12-11 14:02] #237 closed

[2018-12-13 10:27] SabrinaMH opened #238 "Localhost and free port problem"
I have a unit test, where I have the following code
[code]

And then later in the test I have

[code]

where the getRequest is targeted http://localhost:9002/recommendations
However, when I run this test, I end up with a TaskCanceled exception. It hangs in the _httpClient.SendAsync method for quite a while, which then throws this exceptions.

[2018-12-13 12:16] StefH commented on #238
Difficult to see what's wrong. Can you post your complete test?

A question : are you sure the real code is connecting to the WireMock server?
As an example see:
https://github.com/WireMock-Net/WireMock.Net/blob/dffeb95116c4fabf0f80dba3bc7b091eff6ed5be/test/WireMock.Net.Tests/FluentMockServerTests.cs#L98
Example:
[code]

[2018-12-14 09:16] arpymastro opened #239 "Not able to hit the mock server if AllowPartialMapping is not set to true"
I am setting the mock server as below -
[code]

Under FluentMockServerSettings if I do not set "AlowPartialMapping = true" then my request matching doesn't work. It shows - No matching mapping found.

I am stubbing my request, response as -
server
[code]
If I set AllowpartialMapping = true then it works fine.
It is a .net core console app and I am using WireMock.Net 1.0.5 nuget package.

[2018-12-14 09:36] arpymastro opened #240 "How to submit mappings for multiple request, responses"
I have a .net core console app which launches a mock server(using WireMock.StandAlone and WireMock.Net nuget package) within a console app as -

[code]

Now I want to create stub mappings for my multiple request, responses and so I'm posting json data to http://localhost:5001/__admin/mappings -

[code]

But it is showing - **System.InvalidCastException Unable to cast object of type Newtonsoft.Json

[2018-12-14 09:54] StefH commented on #240
This is not yet supported, but this looks like a good idea. I'll investigate and keep you informed on the progress.

[2018-12-14 10:01] StefH commented on #239
Can you:

1. add this line to the start settings:
[code]
For an example see : https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Net452.Classic/MainApp.cs#L34

This makes sure that logging is written out to console ; and there you can see what is matched or what is not matched

2.
I think you need to add an start `/` to the WithPath.
Like:
[code]

[2018-12-14 10:02] arpymastro commented on #240
@StefH
Thanks.
Till then do I need to post the mappings separately?

Also, how can I pre-load the mappings by using .json file? I don't have __admin/mappings path in my project as I am using WireMock.Net nuget package. I also want to know how I can read and create stubs from the pre-loaded json file.

[2018-12-14 10:10] StefH commented on #240
1. Yes, post them separate.

2. You can just create this folder `__admin/mappings` manually. See https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.Console.NETCoreApp2

The json files here are just the same as the body you normally post to the http://localhost:5001/__admin/mappings URL.

When you have posted a few mappings to the server, you can execute a POST request h

[2018-12-14 10:11] arpymastro commented on #239
@StefH - adding `/` at start fixed the issue.
Thank you.

[2018-12-14 10:12] arpymastro commented on #239
@StefH - adding / at start fixed the issue.
Thank you.

[2018-12-14 10:12] #239 closed

[2018-12-14 10:35] arpymastro commented on #240
@StefH - Can you please help me understand how to post the mappings to the server?
I have created `__admin/mappings` folder manually and have added two json files(mystub_get.sjon and mystub_post.json) in it.

I am doing a post @ http://localhost:5001/__admin/mappings/mystub_get.json but it is responding with `StatusCode:404 No matching mapping found.`

I am not putting any request body while posti

[2018-12-14 12:42] StefH commented on #240
Cool.

[2018-12-15 08:31] StefH commented on #240
New NuGet version 1.0.6 will be released in some time which implements posting multiple mappings as an array.

[2018-12-17 07:07] arpymastro opened #243 "Not able to read response from file"
I am trying to read a .xml response kept in a separate file under my mappings folder.
I have two files under my mappings folder - `MyJsonReq.json` and `MyXmlResponse.xml`
MyJsonReq.json -

[code]

If I check the logs it is showing - `could not be read.This file will be skipped` for both MyJsonReq.json and MyXmlResponse.xml

[2018-12-17 07:16] StefH commented on #243
I've fixed you example, the "Headers" where wrongly defined.

It should be:
[code]

Can you try this?

[2018-12-17 07:37] SabrinaMH commented on #238
Thanks!!
I thought (wrongly) that if I only used WithPath("XXX"), then WireMock would intercept traffic on all ports and thus be able to stub all endpoints (regardless of the port) that had path XXX.

[2018-12-17 07:50] StefH commented on #243
The error message is like:
[code]

This is correct, however WireMock should only read .json files and not others.

And there is a problem reading files with no path.
For now you need to use full path `"BodyAsFile": "C:\\temp-wiremock\\__admin\\mappings\\MyXmlResponse.xml",`

I'll check if I can update this.

See also https://github.com/WireMock-Net/WireMock.Net/issues/56

[2018-12-17 09:52] StefH commented on #238
OK. Closing this question.

[2018-12-17 09:52] #238 closed

[2018-12-17 10:05] arpymastro commented on #243
If I keep `"BodyAsFile" : "MyXmlResponse.xml"` in my MyJsonReq.json file then i get `could not be read. This file will be skipped.` for **both** files.

If I keep `"BodyAsFile" : "C:/my_full_path_to/MyXmlResponse.xml"` then i get  `could not be read. This file will be skipped.` for **MyXmlResponse.xml** file, which is expected.

[2018-12-17 18:39] StefH commented on #243
@arpymastro

If you like, you can use the NuGet from MyGet 1.0.7-ci-1623 to test this fixed code.
(see https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2018-12-20 09:16] arpymastro opened #245 "Not able to match XML request body using XPathMatcher pattern"
I want to create a mock server for SOAP service which accepts XML request body. I'm using XPathMatcher for request matching but it is always showing `"No matching found"`.

My request body -

[code]

I am using below json for request matching -

[code]

1. Is my request body matcher pattern incorrect?
2. Is there a way to read a request body from files? If yes, which matcher can be used?

[2018-12-20 09:38] arpymastro commented on #240
@StefH - I tested NuGet version 1.0.6 for multiple mappings. It works fine when I POST an array to http://localhost:5001/__admin/mappings.
Thank you!

But, if I have the array in an .json file kept under `__admin/mappings/myJsonArray.json` then it doesn't work. Will this be implemented in near future?

[2018-12-20 10:43] StefH commented on #243
@arpymastro Are you able to use the test version `MyGet 1.0.7-ci-1623` ?

[2018-12-20 11:14] StefH commented on #240
I forgot to implement that array  logic, I 'll create a new NuGet in some time.

Just watch this issue.

[2018-12-20 11:22] arpymastro commented on #245
`"Pattern": "//getMyData"` not working for me

[2018-12-20 11:39] StefH commented on #245
Try
`/s:Envelope/s:Body/*[local-name()='getMyData']`

See also https://stackoverflow.com/questions/31167803/what-is-the-xpath-of-an-element-in-a-different-default-namespace

[2018-12-20 12:50] StefH commented on #240
If you have time, you can test NuGet version `1.0.7-ci-1630` (from MyGet) which fixes reading an array.

[2018-12-21 05:52] arpymastro commented on #245
@StefH
Tried all below combinations but still no luck -
`/s:Envelope/s:Body/*[local-name()='getMyData']`

`/s:Envelope[@xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"]/s:Body/getMyData[@xmlns=\"https://www.google.com/apis/ads/publisher/v201811\"]`

`//s:Envelope/s:Body/*[local-name()='getMyData']`

`//s:Envelope[@xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"]/s:Body/getMyData[@xmlns

[2018-12-21 05:57] arpymastro commented on #240
@StefH
I will test this and will let you know.

[2018-12-21 07:09] StefH commented on #245
I did test this:
[code]

The console logging displays:
[code]

[2018-12-21 10:01] arpymastro commented on #245
@StefH
Thank you!

Can you point me to a article/tutorial/utility where I can learn to extract XPath from XML? I might need to create complex pattern for my requirement

[2018-12-21 10:01] #245 closed

[2018-12-21 11:55] StefH commented on #245
Sorry I don't know any tutorials. Mostly I search the internet and stackoverflow.

But there are some online xpath validators which you can use to verify your request xml.

[2018-12-22 12:55] xbollart opened #246 "doc stubbing out of date"
Hi guys,

Your lib looks really great, it would be great to have you wiki up to date too! Especially on Stubbing.
I guess you did a pretty big renaming there.

Thanks!

https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing

[2018-12-22 15:55] StefH commented on #246
Hello @xbollart can you please provide some more details what is wrong/missing?

[2018-12-27 08:51] paulssn commented on #225
Resolved by #247.

[2018-12-27 08:51] #225 closed

[2019-01-09 20:07] StefH commented on #240
@arpymastro Did youhave time to test this ?

[2019-01-09 20:07] StefH commented on #243
@arpymastro Did you have time to check?

[2019-01-10 09:01] bgiot opened #248 "Content-Type multipart/form-data is not seen as byte[] anymore"
Since version 1.0.4.18, if the request body is of content-type "multipart/form-data", it is seen as string body instead of byte body.  Bug seems to be in the BodyParser class where the content-type is not check anymore before trying reading the content as string.  Before version 1.0.4.18,  a check was done to see if the content is of "text" type before trying to convert body to string.  Our Multip

[2019-01-10 09:34] bgiot commented on #248
In version 1.0.4.17, you can see in the BodyParser class that a test is done on the ContentType header before trying to read the body as string (from line 50):
           if (contentTypeHeaderValue != null && TextContentTypes.Any(text => contentTypeHeaderValue.StartsWith(text, StringComparison.OrdinalIgnoreCase)))
            {
                try
                {
                    var stringDa

[2019-01-10 09:37] bgiot commented on #248
from version 1.0.4.18, the code doesn't check the content type anymore before trying reading body as string:
           var data = new BodyData
            {
                BodyAsBytes = await ReadBytesAsync(stream),
                DetectedBodyType = BodyType.Bytes,
                DetectedBodyTypeFromContentType = DetectBodyTypeFromContentType(contentType)
            };

            // Try to

[2019-01-10 10:06] StefH commented on #248
Yes I see.
Currently changing the code to add MultiPart.

[2019-01-10 10:11] StefH commented on #248
See PR
https://github.com/WireMock-Net/WireMock.Net/pull/249
and comment if this is ok.

[2019-01-10 10:11] bgiot commented on #248
I don't understand what you are going to do by saying "add multipart". Putting back the tests?  In fact multipart MUST be seen as binary and NOT string... Otherwise any byte "zero" in the body content will stop the reading of the body.  The body must be read as byte[] and not string....

[2019-01-10 10:13] bgiot commented on #248
I checked your fix.  Indeed it's a shortcut.  And it should work.  But putting back the tests as before is not more backward compatible ?

[2019-01-10 10:15] bgiot commented on #248
I'm ready to validate this new version when available. I'll keep you posted...

[2019-01-10 10:15] StefH commented on #248
"add multipart" --> I mean just fixing this code to support your test scenario.

[2019-01-10 10:19] bgiot commented on #248
The content-type is the key element to decide how to read the body.  Trying reading the body as string without checking that the content type is of "text" type can be an issue sometime... no ? I think the way it was done in version 1.4.0.17 is safe.  Any special case that needed to remove those checks ? Also in the content-type info you can have the encoding to properly read the body...

[2019-01-10 10:30] bgiot commented on #248
really appreciate your reactivity! Thanks a lot again!

[2019-01-10 10:50] StefH commented on #248
In a few minutes, the 1.0.6.1`NuGet will be visible.

[2019-01-10 10:58] bgiot commented on #248
I did some tests and all seems to work fine!  Good job! Thanks a lot!

[2019-01-12 19:09] remcobosman opened #250 "Ssl not acting as expected"
Hi StefH,

nvm, figured it out, was looking at this from completely the wrong angle.

Regards,

Remco

[2019-01-16 18:51] #250 closed

[2019-02-12 02:00] jafin opened #251 "Problem with Request Match WithBody"
Good afternoon,

I am having trouble understanding what I have configured incorrectly to get a Request match using WithBody.  Test below gives 404 when using WithBody and WildcardMatcher  or Func matcher.
If I remove the WithBody on the Request then a http OK response occurs.

[code]

[2019-02-12 02:31] jafin commented on #251
I was able to get a matcher going for body content if I used:

[code]

but still unsure why WildcardMatcher or as inline func
WithBody(b=>b.ToString().Contains("access_token")))
did not work.
If anyone could enlighten me that would be great!

[2019-02-12 07:02] StefH commented on #251
When using WildcardMatcher, you should use `*` as a wildcard character.

Like:
[code]

[2019-02-15 13:50] StefH commented on #251
@jafin : does this solve your issue?

[2019-02-18 12:26] gregoks opened #252 "Proxy with Transform"
Hello,

I saw in the wiremock that its possible to use Proxy with Transform - http://wiremock.org/docs/response-templating/

[code]

I wasnt able to do that in WireMock.Net, it just sets UseTransformer=False. is it possible? In your code I see that perhaps its not since in proxying you do not use Transformer:

[code]

Thanks!

Greg

[2019-02-18 18:44] StefH commented on #252
I guess it's not supported, however what would be the use-case for this feature?

[2019-02-18 19:53] gregoks commented on #252
I'm trying to make a proxy to another server.
My use case is this:

Service A calls Service B.
Service B url is configured in Service A Web.Config.

I'm using WireMock to mock Service B so I'm putting in Web.Config of Service A the address of my WireMock server instead of the actual Service B URL.

I want to have something similar to the priorities example that you have in the wiki, so specific ma

[2019-02-18 20:40] StefH commented on #252
Can't you just use priority and add a specific automation only header match?

So:
Service A calls Service B.
WireMock is configured in Service A Web.Config and will proxy to service B

Automation calls Service A and with a extra header like "Automation" = "yes"
WireMock will respond with mocks when header like "Automation" = "yes" is found
Else WireMock will proxy to real Service.

Could this work

[2019-02-19 00:16] jafin commented on #251
yes thanks for the reply.

[2019-02-19 00:16] #251 closed

[2019-03-06 14:02] simardst opened #253 "Request Path and query parameter keys are case-sensitive"
In many cases, the casing of the request path and the querystring keys (not the values) is not important. It would be very usefull to:
- be able to match the request path in a case-insensitive way.
- be able to math the request querystring keys in a case insensitive way.

This could be a global settings or configurable for each request (whatever is the simplest way to implement it).

[2019-03-06 15:22] StefH commented on #253
For **path** , you should be able to use:
[code]

[2019-03-06 16:10] simardst commented on #253
Thank you, but achieving the same fot he querystring keys is far more complex.  I achieve to create an extension for the path, but didn't find any way to do the same with the querystring jeys.

[2019-03-06 20:20] StefH commented on #253
Cookies and Headers do support this logic.

But I think indeed that querystring does not support this.

I will take a look at the code to ser if I can add logic.

[2019-03-07 13:38] StefH commented on #253
I've updated the code and new NuGet is available on MyGet (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)
**WireMock.Net.1.0.8-ci-11023**

Use it like:
[code]

Will match:
`http://{{wm_hostname}}/param?key=test`
and
`http://{{wm_hostname}}/param?kEY=test`

[2019-03-08 12:15] StefH commented on #253
@simardst does this work for you?

[2019-03-08 12:35] simardst commented on #253
This seems to resolve our issues, and I will test it using your preview version by the end of the day.
Thank you very much.

[2019-03-08 13:11] StefH commented on #253
You're welcome.

If you have tested and all is working as expected, I'll merge this code to master and create a new official nuget.

[2019-03-08 13:26] simardst commented on #253
This works perfectly!
I will update as soon as it is available.

[2019-03-09 07:51] StefH commented on #253
So all is tested and I can merge and create a new official NuGet?

[2019-03-11 10:27] simardst commented on #253
As far as I'm concerned, yes you can proceed.

[2019-03-12 13:45] StefH commented on #253
A new NuGet will be released soon.

[2019-03-12 13:45] #253 closed

[2019-03-19 14:59] FSatmar opened #255 "ExactMatcher with array pattern not working?"
Hi,
So I created this mapping:
[code]

And I'm making this request:
[code]
but as you can see it does not work as I'm not getting the expected response. What am I doing wrong?

[2019-03-19 15:22] StefH commented on #255
The best option is to look at the logging from WireMock, there you will see which matchers match correctly. Can you post the logging here?

[2019-03-19 15:37] FSatmar commented on #255
I'm not sure what you mean? I posted the request log from __admin/requests

[2019-03-19 15:41] StefH commented on #255
You can do a GET request to :
http://{{wm_hostname}}/__admin/requests

[2019-03-19 15:42] StefH commented on #255
Or look at  the console log where WireMock is running

[2019-03-20 09:27] FSatmar commented on #255
This is where I took the request log from (second snippet)

[2019-03-20 09:56] StefH commented on #255
I understand.
When a request is 100% or partially matching, the`/admin/requests` shows additional information:
[code]

In your case you don't see this.

I'll check why it does not match...

[2019-03-20 10:17] FSatmar commented on #255
Oh, that part is missing from my logged request...

[2019-03-20 10:21] StefH commented on #255
If you set partialmapping to true, you will also get this part...

[2019-03-20 10:35] FSatmar commented on #255
Just tried it, but with partial mapping on any request I make just returns the latest mapping regardless of path or parameters. However I would need to have different mappings with same path but different parameters.

[2019-03-20 10:49] StefH commented on #255
It's a bug. Thanks for finding.

[2019-03-20 17:57] StefH commented on #255
Can you try a new MyGet version?
1.0.9-ci-11110

see https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2019-03-21 09:44] FSatmar commented on #255
It's working better in this version but there is still one bug: if I have 2 mappings, one has parameters {1,2} and the second {1,2,3}, when I make a request for {1,2,3} I still get the response for {1,2}. Does that make sense?

[2019-03-21 15:57] StefH commented on #255
can you try `WireMock.Net.1.0.9-ci-11120.nupkg` ?

[2019-03-22 09:18] FSatmar commented on #255
I'm still getting the latest mapping back. So first I create mapping for {1,2}, then I create mapping for {1,2,3} and when I request response for {1,2} I get the response from {1,2,3} mapping.

[2019-03-23 11:32] StefH commented on #255
Please try WireMock.Net.1.0.9-ci-11123.nupkg

[2019-03-25 09:32] FSatmar commented on #255
Yes, that's it, working like a charm now!

[2019-03-25 16:59] #255 closed

[2019-03-25 19:07] StefH commented on #255
@FSatmar --> New official NuGet is uploaded.

[2019-03-26 09:24] FSatmar commented on #255
Cheers!

[2019-03-26 11:36] pmiossec opened #257 "Doc: Update outdated"
Please update the documentation for the page [WireMock as a standalone process](https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process#option-3--coding-yourself).

The good content should be something like (it works at least for me):

[code]

[2019-03-26 11:51] StefH commented on #257
Thanks.

Done.

[2019-03-26 11:51] #257 closed

[2019-03-26 12:06] pmiossec commented on #257
thanks.

[2019-03-26 14:10] pmiossec opened #258 "InvalidProgramException when following running as standalone process example with dotnetcore"
When following the ["WireMock as a standalone process" example "Option 3"](https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process#option-3--coding-yourself ) **on dotnetcore**, I had the exception `InvalidProgramException: Cannot create boxed ByRef-like values.` when doing the `Json.Convert()`.

It's an [already fixed bug](https://github.com/JamesNK/Newtonsoft.Json/issu

[2019-03-26 14:10] pmiossec commented on #258
Closing because this issue is just for documentation purpose for newcomers (see solution above)

[2019-03-26 14:10] #258 closed

[2019-04-01 10:33] pmiossec opened #263 "Content-Type multipart/form-data is not serialized in proxy and recording mode"
In the last version of `WireMock.Net.StandAlone` ( Version="1.0.8"), when doing a Content-Type multipart/form-data POST request, the mapping generated doesn't contain the Matcher for the body (so that don't made it a valid mapping).

Note: I forward to another Wiremock instance and see the content of the body, so the content seems to be forwarded.

I get the generated mapping (Notice the empty "Bo

[2019-04-01 11:00] StefH commented on #263
If possible, can you provide the full body (captured using fiddler for example)?

[2019-04-01 11:06] pmiossec commented on #263
Body content obtained with fiddler:

[code]

[2019-04-01 11:34] StefH commented on #263
I checked, and this is actually `by design`.
Only full text or json body is saved on the mapping.

I left out Bytes / Multipart because I'm not sure which matcher to use.

[2019-04-01 14:56] pmiossec commented on #263
I don't know what to do with this answer 😢

It seems to me that the content in sent in text so it should be possible to do some checks.
But what worries me much is that the body is empty and we could think that nothing was sent...

I don't know if we could not have a "No check" matcher so that we could have the value received serialized in the mapping file but ignored in the matching process. That

[2019-04-01 18:20] StefH commented on #263
Sorry for my short answer. What I just meant to say is that up until your question, I did not really think it would be usefull / possible to save the body in case of **Bytes** or **Multipart**.

I think using the `ExactObjectMatcher` could be an option in this case. I'll take a look at the code.

[2019-04-01 18:49] StefH commented on #263
Using the ExactObjectMatcher would return the body in the mapping as:

Example:
[code]

Would this be ok?

[2019-04-02 06:49] StefH commented on #263
Linked to PR - https://github.com/WireMock-Net/WireMock.Net/pull/264

[2019-04-02 06:50] StefH commented on #263
I can also build some logic to check if the data is a valid UTF8 string, in that case I can change the detection from MultiPart logic and the code will automatically used the current string matchers...

[2019-04-02 08:07] pmiossec commented on #263
I'm really impress and appreciate this very quick PR 👍
But that didn't let me the time to answer your question 😢

I don't think it will be very useful due to the multiparts boundaries that are by default auto generated and, so, varies and consequently, the ExactObjectMatcher will match nothing :(

Something like that will indeed be much more valuable and will let the developer check for part of th

[2019-04-02 08:54] StefH commented on #263
Would the mapping in my proposal work for you?

[code]

[2019-04-02 10:02] pmiossec commented on #263
I'm not very used to mapping file but will I be able to modified it to look like below and that will still work?

[code]

If yes, 👍
Perhaps there is also a something looking like `ContainsMatcher` that return true if the body contains the string passed?

[2019-04-02 11:28] StefH commented on #263
You can indeed change the generated mapping to use the `WildcardMatcher`, this is essentially a contains-matcher if used correctly (in your example this is correct) ==> `"*XXX*"`

[2019-04-02 13:02] StefH commented on #263
@pmiossec
If you like, you can use this preview NuGet which includes this code.
https://www.myget.org/feed/wiremock-net/package/nuget/WireMock.Net/1.0.12-ci-11179

[2019-04-02 13:45] pmiossec commented on #263
I'll try to do that. Thanks a lot again (especially for your spontaneity!)

On Tue, 2 Apr 2019 at 15:02, Stef Heyenrath <notifications@github.com>
wrote:

[2019-04-04 16:58] StefH commented on #263
@pmiossec Does that NuGet work correct for you?

[2019-04-05 05:59] StefH commented on #162
Can I close this question?

[2019-04-05 11:44] pmiossec commented on #263
@StefH I have tested it and it is working as expected.

Thank you very much!

[2019-04-05 12:51] StefH commented on #263
Today a new official NuGet will be released.

[2019-04-05 12:51] #263 closed

[2019-04-08 00:42] Beaverkilla opened #265 "File Upload"
Wiremock supports file uploading/downloading/deletion through the path __admin/files/{filename}, it'd be good if there was a WireMock.Net equivalent for file operations while testing etc.

[2019-04-08 04:05] JackCreativeCrew commented on #265
I've written some code to enable GET/PUT/DELETE for files to this endpoint, can I create a pull request?

[2019-04-08 20:28] StefH commented on #265
@Beaverkilla good idea!
@JackCreativeCrew thanks for the initial code

I did update the code, and also added a PostFile.
Can you review PR?

[2019-04-10 06:43] megha222 opened #267 "Assembly does not have strong name"
In a build environment where strong name trust checks are not bypassed for an application, this package cannot be used.
Referenced assembly 'WireMock.Net, Version=1.0.11.0, Culture=neutral, PublicKeyToken=null' does not have a strong name.
Can you consider posting a new version with a strong name?

[2019-04-10 08:00] StefH commented on #267
I can strong-name these, however this will be done with a visible certificate, so not really secure.

[2019-04-10 08:28] megha222 commented on #267
That is ok.  https://blogs.msdn.microsoft.com/ericlippert/2009/09/03/whats-the-difference-part-five-certificate-signing-vs-strong-naming/
Thanks

[2019-04-11 06:46] StefH commented on #265
Code is merged to master, a new NuGet will be created today....

[2019-04-11 06:46] #265 closed

[2019-04-11 10:00] pmiossec opened #268 "Feature: Add a swagger UI for admin api"
To make the use of the admin api easier, it could be interesting to add swagger UI.

See https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger?view=aspnetcore-2.2 and https://swagger.io/tools/swagger-ui/

[2019-04-11 10:56] StefH commented on #268
I know. But adding automatically generated swagger to this wep-api is not possible because also the admin interface is dynamically defined.

Some time ago I did start a Swagger Doc here:
https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.0.13.0

However, I think not all data is here yet.
So feel free to update ;-)

(And I will also take a look if I can add some more commands ....)

[2019-04-11 11:39] pmiossec commented on #268
Ok, that was the reason.... I understand better now.

I just didn't know if you knew it (even if I found it surprising) and that's just after I created the issue that I saw the swaggerhub link). And I didn't found an issue talking about it. So I hope this issue will serve as a doc.

Swaggerhub is better than nothing but I find it clearly less usable than the embedded swagger UI (I didn't found how

[2019-04-11 11:39] #268 closed

[2019-04-12 07:58] StefH commented on #246
@xbollart Can you please help me?

[2019-05-03 09:10] denstorti opened #270 "Dynamic response files using Handlebars templating"
Hi,

I have a question about the current capabilities of templating.

I'd like to retrieve responses from files using WireMock.Net, and for that I am using static mappings with "BodyAsFile" attribute.

Example:
[code]

But I'd like to vary the response directory based on the request attributes, pretty much as Handlebars templates do.

Example (MyUniqueNumber would be the name of each folder):

[2019-05-03 10:40] StefH commented on #270
This scenario is not yet supported, I'll take a look and modify the code.

[2019-05-03 11:59] StefH commented on #270
@denstorti
Can you try MyGet version WireMock.Net.1.0.15-ci-11270 ?

Note that you need to set `"UseTransformer": true`.

[2019-05-04 02:51] denstorti commented on #270
@StefH, I could test it using the MyUniqueNumber as query string and also as JSON Path

**Example using JSON Path**

Input data (save as data.json):
[code]

Mapping:
[code]

curl test:
``` curl -d @data.json http://localhost:9091/postbodyasfile ```

Thank you!

[2019-05-04 03:07] #270 closed

[2019-05-04 08:00] StefH commented on #270
OK.

I will release a new NuGet today.

Note that instead of JsonPath, you can also use JmesPath as a matcher.
http://jmespath.org/
https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#jmes-path-jmespathmatcher

[2019-05-08 05:23] megha222 commented on #267
@StefH any plans on doing this?

[2019-05-08 18:56] StefH commented on #267
I can do this, I'll let you know the progress.

[2019-05-15 04:04] codeplayer14 commented on #267
@StefH Eagerly waiting for this. Would be of great help!

[2019-05-16 12:29] StefH commented on #267
New NuGet version is uploaded.

[2019-05-16 12:29] #267 closed

[2019-05-16 12:29] StefH commented on #160
https://github.com/WireMock-Net/WireMock.Net/issues/267

[2019-05-16 12:29] #160 closed

[2019-05-16 13:30] megha222 opened #275 "Server not starting up with 1.0.15 code"
Below code gets stuck on the console print.
[code]

We are in a build environment where we cannot use our own nuget package manager so we have 2.2.0 version of the Kestrel dependencies which are higher than the one 1.0.15 wiremock expects so we were hoping things would work. Can you let us know how to trap the error that is happening in server start?