[2020-09-11 11:03] StefH commented on #503
Hello @cezarypiatekGC,

For your scenario I would recommend to use (static) mapping files to be used in your local unit-tests and by your WireMock.net running in a docker container.

## 1. Create a mapping.json file
For the format, see https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference#post---__adminmappings

And place this file in the **__admin/mappings** folder.

## 2. Now in

[2020-09-11 11:05] StefH commented on #502
Hello @rangerranger ,

Can you please provide some more details on the .NET version you use, and if it's possible also post the mapping or the c# code you use?

[2020-09-11 11:16] StefH commented on #503
Or, you can also just run a console app instead of a docker image. See https://github.com/HeadsInsane/Challenge/tree/master/src/BankSimulator and the related main project on how it's also possible.

[2020-09-11 14:03] cezarypiatekGC commented on #503
Hi @StefH
Thanks for your response. Is there any reason that prevents you from exposing `MappingConverter`? That would simply a lot.

[2020-09-11 18:10] StefH commented on #503
There is no real reason, except that I'd like to expose only the classes which are really used by the users.

But if it helps you, I can make this class public. And add a comment like `This class is used by WireMock.Net internally. It isn't intended for use in application code.`

[2020-09-17 21:16] cezarypiatekGC opened #504 "Loading mapping models with `JsonMatcher` is not working correctly"
### Describe the bug
Loading mapping models with `JsonMatcher` for Body matcher from a file is not working correctly.

### Steps to reproduce:

1. Create mapping with JsonMatcher for the body and save it to file as follow

[code]
2. As a result I get a file with the following content

[code]

3. Load mapping from file and feed it to the WireMock server

[code]

### Expected behavior:
This is how `

[2020-09-19 08:10] StefH commented on #504
Hello @cezarypiatekGC . Thank you for your research.

I think the cause is that when serializing your example, the json file should contain the Pattern as a string:
[code]

[2020-09-19 08:49] StefH commented on #504
#505

@cezarypiatekGC : can you try preview version from MyGet : `WireMock.Net.1.2.18-ci-13750.nupkg` ?

[2020-09-19 11:17] cezarypiatekGC commented on #504
I've tested this preview package and there's still a difference between JsonMatcher before saving to file and after loading which affects how the matcher works.

Before saving to file

![image](https://user-images.githubusercontent.com/52414058/93665865-33309f00-fa7a-11ea-91f3-77add88ee361.png)

After loading from a file

![image](https://user-images.githubusercontent.com/52414058/93665889-4c39500

[2020-09-19 12:03] StefH commented on #504
Can you try new version `WireMock.Net.1.2.18-ci-13754.nupkg` (or higher)?

[2020-09-19 12:53] cezarypiatekGC commented on #504
I've tried with WireMock.Net.1.2.18-ci-13754 but still, JsonMatcher has a different value and It's not working in the same way as it worked before saving to a file.

![image](https://user-images.githubusercontent.com/52414058/93667584-6fb6c780-fa87-11ea-8ee0-07524d532a6b.png)

[2020-09-20 08:21] ilia-cy opened #506 "Verifying calls in integration tests"
We are using the Wiremock server in our CI integration tests mechanism by pre-defining routes and their expected responses, mainly for third party API mocks.

I was wondering if there is a way of verifying that specific requests were performed, but from the docs I could only find the stubs `Verify` approach (https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing#verify-interactions).
In our ca

[2020-09-20 09:08] StefH commented on #504
Note that the `Value` property will not be the same, because in your initial code this is an anonymous object. And when the mapping is read from a .json file, this is a JObject. But the `_valueAsJToken` is used for matching, and this should be the same.

So can you make a full example (unit test) which demonstrates your issue?

[2020-09-20 09:17] StefH commented on #506
Hello @ilia-cy, do you use WireMock.Net as a standalone exe file, web-app or docker instance?

Or do you just start a new WireMockService in your unit tests?

[2020-09-20 09:53] ilia-cy commented on #506
As a web app.

[2020-09-21 16:21] StefH commented on #506
Hello @ilia-cy.

I think the option you have is to use the admin interface https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference#__adminrequests and use the `POST /__admin/requests/find` method.

Please tell me if this works for you (because this requests/find functionality it's not very extended).

[2020-09-21 20:42] ilia-cy commented on #506
Thanks for the response @StefH
I was able to enable the admin interface and i'm able to get all requests via `GET /__admin/requests`.

For whoever is interested, to use the `POST /__admin/requests/find` API as you suggested, you'll need to search for properties in the [RequestModel class](https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net.Abstractions/Admin/Mappings/RequestM

[2020-09-21 21:15] cezarypiatekGC commented on #504
Ok, I will try to prepare a test or demo app that reproduces that problem.

[2020-09-22 11:00] StefH commented on #506
@ilia-cy I've added your curl example to the WIKI.

Closing this issue, if you have other questions, just create a new issue.

[2020-09-22 11:00] #506 closed

[2020-09-28 14:30] APIWT opened #507 "Fix vulnerability found in Microsoft.AspNetCore dependency"
**Is your feature request related to a problem? Please describe.**
Our application is scanned with Snyk, and the results of the scan have this popping up:
[code]

**Describe the solution you'd like**
My guess is that it would be possible to get rid of the dependency on `Microsoft.AspNetCore` for projects targeting `netcoreapp3.1` (though honestly this isn't my area of expertise.

**Describe altern

[2020-09-28 15:12] StefH commented on #507
Hello @APIWT,
I see that WhiteSource also describes the same issue:
![image](https://user-images.githubusercontent.com/249938/94450593-bd30e400-01ad-11eb-8f53-6fea29259886.png)

I'll take a look on how to fix this.

[2020-09-28 15:17] StefH commented on #502
Hello @rangerranger, can you please answer my question and provide some more details?

[2020-09-28 15:35] APIWT commented on #507
Thanks @StefH! Please let me know if there is anything I can do to help.

[2020-09-28 16:59] StefH commented on #507
Can you try WireMock.Net.1.3.0-ci-13770 from MyGet ? (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2020-09-28 17:29] APIWT commented on #507
I think I may be doing something silly, but I am getting an error in the restore step. Here is my `nuget.config`:
[code]

Here is the restore error:
[code]

[2020-09-28 17:57] APIWT commented on #507
@StefH So I figured out the restore issue. Here are the two vulnerabilities that appear when I use the preview release:
[code]

[2020-09-28 18:17] StefH commented on #507
1] Should be fixed, please install new MyGet version (can take a few minutes to build and to become available...)

2]
https://snyk.io/vuln/SNYK-DOTNET-MICROSOFTASPNETCORE-174184
Remediation
**There is no fixed version for Microsoft.AspNetCore.**

[2020-09-28 18:23] APIWT commented on #507
Hey again! For #2, I think it is possible to fix this for applications targetting netcoreapp3.1 which use the `Microsoft.NET.Sdk.Web` SDK. These do not actually need to use `Microsoft.AspNetCore` as far as I can tell. Does that make sense? The `Microsoft.AspNetCore` package is end of life.,

[2020-09-28 19:41] APIWT commented on #507
Here is some supporting documentation if it helps: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#remove-obsolete-package-references

[2020-09-28 20:48] StefH commented on #507
Can you test if item `1]` is solved?

About item 2:
Maybe adding a new target with .NET Core 3.1 could solve it, however I don't know yet the replacement for Microsoft.AspNetCore. I'll need to take a look....

[2020-09-29 11:08] StefH commented on #507
For now, I think the best I could do, is done now.

In case you want to use WireMock in a NetCoreApp 3.1 hosted application, I think the best way to move forward is to follow this idea : https://github.com/WireMock-Net/WireMock.Net/issues/498

What do you think about that?

[2020-09-29 11:33] StefH commented on #507
@APIWT Is it ok that I close this issue and create a new NuGet?

[2020-09-29 12:13] APIWT commented on #507
Sure! It is funny that you mention that approach, we do something similar for a mobile app.

[2020-09-29 12:15] StefH commented on #507
OK, Please keep a watch on #498 and add a comment if needed.

[2020-09-29 12:15] #507 closed

[2020-09-29 14:27] APIWT commented on #507
@StefH Good news, I think I may have a possible solution that doesn't require removing the wire portion of WireMock.Net :)

I was able to add `netcoreapp3.0;netcoreapp3.1` to `<TargetFrameworks>` inside the csproj.

Next, I changed:
`<PropertyGroup Condition="'$(TargetFramework)' == 'netcoreapp2.1' or '$(TargetFramework)' == 'netcoreapp2.2'">`

To:
`<PropertyGroup Condition="'$(TargetFramework)' =

[2020-09-29 15:05] StefH commented on #507
You can make PR for this.

[2020-09-29 20:25] RiccoFerraro commented on #504
Hi guys, I also believe I'm having this problem. I have static mappings (generated via recording with wiremock.net) I just upgraded to 1.3.0. I've debugged into JsonMatcher and it appears `_valueAsJToken` is always a jtoken for a null object.
![image](https://user-images.githubusercontent.com/13544830/94611423-8fec4080-0256-11eb-948c-1f2f7f85659a.png)
 Not sure what I'm doing wrong here, but I fee

[2020-09-30 06:23] StefH commented on #504
Hello @RiccoFerraro,

The 1.3.0 version does not have any preview fixed code for this issue, in order to test that you need MyGet version `WireMock.Net.1.2.18-ci-13754.nupkg`.

And can you create a full working example please?

[2020-09-30 14:48] xadvfh opened #510 "WireMock not working in Debug within test project"
### Describe the bug
When you place a breakpoint and try to make a call to the mock server via an external tool (browser), there is no response.  This was first seen in #122

It would be nice if this worked since you could easily check if the json response bodies you're creating are working as expected.  Right now I have to add a long `Thread.Sleep()` to check my work.

### Expected behavior:
Serv

[2020-09-30 14:57] StefH commented on #510
Please provide a full working example.

[2020-09-30 15:21] xadvfh commented on #510
Thank you for the fast response, here is a full working example:

[code]

[2020-09-30 15:40] RiccoFerraro commented on #504
Hi @StefH Will do. I'll get back to you on if the issue is in that alpha build

[2020-09-30 16:26] APIWT commented on #507
Great news, I just tried out CI build 13791 and Snyk is very happy :)

I really appreciate your help.

[2020-09-30 17:02] StefH commented on #510
@xadvfh
Some things which could maybe help you:
- Use `[OneTimeSetUp]` instead of `[SetUp]`
- Maybe switch to xunit?

My own development environment has some issues now, so I cannot reproduce your issue right now. I'll come back to you.

[2020-09-30 18:30] xadvfh commented on #510
`[OneTimeSetup]` is only executed once before ALL tests are run.  If we want a new server instance for each test we would have to use `[Setup]`.

I'll try with xunit later today and see if that helps.

[2020-10-01 07:39] StefH commented on #510
@xadvfh In the `[Setup]` you can use the `server.Reset()` method to reset all mappings before each test.

[2020-10-01 07:41] StefH commented on #503
@cezarypiatekGC What do you think of my previous answer?

[2020-10-01 10:53] tomatualus opened #511 "WireMock WebApplication example doesn't run on Net Core 3.1"
### Describe the bug
When i change the Net Core versions in the [https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.WebApplication](WebApplication example), i a Service Unavailable error message on the website and that's all.

### Expected behavior:
Changing to Net Core 3.1 version should not produce any errors, or if it does, please make a working example.

[2020-10-01 12:17] tomatualus commented on #511
Well, somehow i got it going. I have no idea what did i do, but the last thing i did was in web.config change hostingModel value to "outofprocess"

[2020-10-01 12:17] #511 closed

[2020-10-01 12:33] StefH commented on #511
Hello @tomatualus,
I did add a new Net Core 3.1 project (https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.WebApplication.NETCore3) which seems to run fine, except that I cannot get the logging to work. Maybe you have an idea?

[2020-10-01 12:55] xadvfh commented on #510
@StefH how would that work in running tests in parallel.  Resetting would delete all mappings for other tests currently running, no?

[2020-10-01 13:02] StefH commented on #510
I'm not 100% sure for NUnit, but I think that all tests within a single .cs file are run sequentially.
At least I'm 100% sure that XUnit does it like this.

[2020-10-01 13:27] xadvfh commented on #510
So I just tested with the latest version of xunit and it has the same problem.  I even removed any setup related stuff and am creating the server in the test itself.  Working example:

[code]

[2020-10-01 14:06] StefH commented on #510
My NUnit test class:
[code]

However when debugging, I get this message to allow access:
![image](https://user-images.githubusercontent.com/249938/94819758-eba5fd80-03ff-11eb-904c-c4232bf711ae.png)

And debugging via menu:
![image](https://user-images.githubusercontent.com/249938/94819867-11330700-0400-11eb-877a-23cff91ea212.png)

Works fine:
![image](https://user-images.githubusercontent.com/2499

[2020-10-01 14:11] xadvfh commented on #510
Were you able to make a request from a browser/postman while stopped at a breakpoint after the stubbing(line 24)?

[2020-10-01 14:20] StefH commented on #510
No, this is not possible. UnitTesting with WireMock needs to be done completely in the unit-test like this:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/249938/94821503-ee095700-0401-11eb-9988-78f6eb50e3c8.png)

[2020-10-01 14:24] xadvfh commented on #510
I understand.  My usecase is that we're creating complex json object and during the creation phase it would be nice to be able to see what we're creating in a more readable manner.  Is there a technical limitation why setting  the breakpoint doesn't work but adding a long sleep works fine?

[2020-10-01 14:29] StefH commented on #510
The debugger probably stops several threads, so also the code which listens and responses to requests.

About complex json, is this the reponse message?

[2020-10-01 14:33] xadvfh commented on #510
Is there a way you recommend setting up the wiremock server so we can do debugging?  for example, if you create an asp.net core API you're able to debug.

Yes.  we're mocking an API that is used by a UI.  We have models set up but there are nested objects.  On top of that, we have created builders to allow test writers to create responses dynamically based on what they need.

[2020-10-01 18:22] hari-hlubovac-carvana opened #512 "Where can mapping configuration be stored (administered via HTTP), so that it survives service restarts?"

[2020-10-01 19:10] hari-hlubovac-carvana commented on #512
Thank you very much.

[2020-10-01 19:10] #512 closed

[2020-10-02 05:44] StefH commented on #510
If you just want to verify if the JSON is correct, then the easiest solution is to created your complex nested objects and serialize these to a json-stirng yourself.

And then provide this json-string to the code:
`server.Given(Request.Create().WithPath("/test")).RespondWith(Response.Create().WithBody(json_string));`

[2020-10-02 08:30] tomatualus commented on #511
Logger in `WireMockService` must be a `ILogger<WireMockService>`

And in ConfigureServices you must call `serviceCollection.AddLogging(x => x.AddConsole());` for it to be added to DI setup. Hope that works.

[2020-10-02 13:19] henriquemotaesteves opened #513 "Static mapping break from 1.2.17 to 1.2.18 and higher"
### Describe the bug
A static mapping that works fine in version 1.2.17 stops working if the version is upgraded to version 1.2.18 or higher.

### Expected behavior:
A success status is expected but we got a not found.

### Test to reproduce
https://github.com/henriquemotaesteves/playground/tree/csharp/wiremock/1.2.17
https://github.com/henriquemotaesteves/playground/tree/csharp/wiremock/1.2.18

[2020-10-02 15:00] xadvfh commented on #510
do you have an idea of where in the codebase this issue could be happening?  maybe I can do some digging and see if we can fix this.

[2020-10-05 13:04] StefH commented on #513
@henriquemotaesteves, thank you very much for researching this bug. I'll take a look why this fails.

[2020-10-05 15:19] StefH commented on #513
@henriquemotaesteves
I think this issue is being fixed in PR https://github.com/WireMock-Net/WireMock.Net/pull/505

If you have time, can you please use `WireMock.Net.1.2.18-ci-13754.nupkg`?

[2020-10-06 07:23] cezarypiatekGC commented on #503
I started using `WithMapping` method to define mocks (and created my own abstraction over this tedious API), but there are some discrepancies in the final behavior of those two API's, the problem is reported here https://github.com/WireMock-Net/WireMock.Net/issues/504

[2020-10-06 10:22] StefH commented on #503
Hello @cezarypiatekGC,

If you want to test a preview fix for this issue, in order to test that you need MyGet version `WireMock.Net.1.2.18-ci-13754.nupkg`.

Can you test if that one does work correct?

[2020-10-07 17:44] henriquemotaesteves commented on #513
@StefH, this version fixed the problem.

https://github.com/henriquemotaesteves/playground/tree/csharp/wiremock/1.2.18-ci-13754

[2020-10-07 18:27] StefH commented on #502
Hello @rangerranger, can you please answer my question and provide some more details?

[2020-10-07 18:28] StefH commented on #504
Hello @RiccoFerraro,did you have time yet to verify ?

[2020-10-07 18:30] RiccoFerraro commented on #504
@StefH Sorry I haven't had a chance yet. I will try to take a look at this sometime this week. I'll post here when I've tried it.

[2020-10-07 20:38] rangerranger commented on #502
Apologies, couldn't get back to it due to both work and personal reasons. I
will retry the work in that repo - they are planning to update to NetCore
3.x.

On Wed, Oct 7, 2020 at 11:28 AM Stef Heyenrath <notifications@github.com>
wrote:

[2020-10-09 12:53] jecjackal opened #515 "Difficulty using states to test retry logic"
Hi WireMock.Net team,

I built a very lightweight OAuth service, and I wish to call it from a second service. I decided to wrap my requests in a retry policy via Polly. The application code is shown below:

[code]

I have setup the test below to stress the retry logic:

[code]

Unfortunately, I am getting this error upon making the second call to /connect/token:
The request message was already sen

[2020-10-09 13:35] StefH commented on #515
Hello @jecjackal , this issue is not related to WireMock.Net

I suggest you take a look at:
https://stackoverflow.com/questions/54870415/receiving-error-the-request-message-was-already-sent-when-using-polly

[2020-10-09 13:35] #515 closed

[2020-10-09 16:37] winseros opened #516 "Wiki: Add HTTPS usage inside Docker"
Greetings.

Some history. We use WireMock to run our unit tests inside `Docker`. The other day we had to mock a service whose official client library was nailed to work through HTTPS only. Trying to make an HTTPS mock through WireMock, we were surprised it worked nice on `Windows`, but inside `Docker` we were receiving SSL validation errors at connection time.

The reasons behind the behavior - ar

[2020-10-09 16:37] winseros opened #517 "Wiki: Add HTTPS usage inside Docker"
Greetings.

Some history. We use WireMock to run our unit tests inside `Docker`. The other day we had to mock a service whose official client library was nailed to work through HTTPS only. Trying to make an HTTPS mock through WireMock, we were surprised it worked nice on `Windows`, but inside `Docker` we were receiving SSL validation errors at connection time.

The reasons behind the behavior - ar

[2020-10-10 08:12] StefH commented on #516
Hello @winseros,

I can surely add this to the docker wiki: https://github.com/WireMock-Net/WireMock.Net-docker/wiki

However wouldn't it be a better idea to apply this fix to the Linux docker image, so that by default the https works?

(And can you describe the error when this is not applied?)

[2020-10-11 09:39] StefH commented on #517
OK. I see.

I did add your information to this page:
https://github.com/WireMock-Net/WireMock.Net/wiki/Using-HTTPS-(SSL)

Can you verify it's correct?

[2020-10-11 10:02] winseros commented on #517
That's correct. Thank you!

[2020-10-11 10:49] StefH commented on #517
Hello @winseros ; thank you very much for researching the issue + solution.

[2020-10-11 10:49] #517 closed

[2020-10-12 18:22] RiccoFerraro commented on #504
@StefH Sorry for the delay, still haven't had a chance to test this fix out yet. I've been absolutely slammed with work and will get to it as soon as I get a second to breath. On a related note, I did notice something else about partial match scores that seemed off. (probably requires a little redesign). For our team to continue using wiremock.net we need to trust that the Http VERB is ALWAYS resp

[2020-10-12 18:43] StefH opened #518 "Introduce a flag to strictly enforce the verb (http method)"
https://github.com/WireMock-Net/WireMock.Net/issues/504

[2020-10-12 18:43] StefH commented on #504
@RiccoFerraro Thanks about your remark about the Http VERB. I did create a new Issue for this, and I'll take a look how to fix this.

[2020-10-12 18:56] StefH commented on #518
@RiccoFerraro in this scenario ; do you use "AllowPartialMapping"?
https://github.com/WireMock-Net/WireMock.Net/wiki/Settings#allowpartialmapping

[2020-10-12 18:57] RiccoFerraro commented on #518
Hi @StefH. Yes that is the case.

[2020-10-12 18:58] RiccoFerraro commented on #518
Partial mapping is very useful, but I need to have partial mapping, only for the correct verb type

[2020-10-12 19:42] RiccoFerraro commented on #518
Also @StefH  would "AllowPartialMapping" ever work for a POST request given https://github.com/WireMock-Net/WireMock.Net/issues/504#issuecomment-707285512 ?

[2020-10-12 19:48] StefH commented on #518
Normally you would not use AllowPartialMapping  (set it to false), only use AllowPartialMapping in special cases/scenarios.

If you have troubles matching a POST request with a JSON body --> please provide a full example project, so that I can investigate it because it should work as designed.

[2020-10-14 10:57] StefH commented on #504
@RiccoFerraro Investigating + solving that Http Method issue will take some more time.

Are you able to verify this issue ?
Else I will just create a new version because some code is also verified by https://github.com/WireMock-Net/WireMock.Net/issues/513

[2020-10-14 11:22] eduherminio opened #519 "HTTP 431 when header size over 32KB"
I'm getting HTTP 431 status codes when making requests to a `sheyenrath/wiremock.net` image with headers over 32KB.

I assumed that the issue was [KestrelServerLimits.MaxRequestHeadersTotalSize](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserverlimits.maxrequestheaderstotalsize?view=aspnetcore-3.1#Microsoft_AspNetCore_Server_Kestrel_Core_KestrelServe

[2020-10-14 12:02] StefH commented on #519
Hello @eduherminio, does the same issue occur when you just run the StandAlone.NETCoreApp locally, so without docker?

[2020-10-14 12:21] eduherminio commented on #519
Yes it does @StefH.

[2020-10-14 12:47] StefH commented on #519
And you use a .NET Core 3.1 ?

[2020-10-14 13:52] eduherminio commented on #519
My bad, I messed up the package versions. Modifying `MaxRequestHeadersTotalSize` does seem to fix the issue. Thanks!
I'll follow up with a separated issue/feature request to discuss the possibility of having it modified or allowing its modification, if that's OK with you.

[2020-10-14 13:52] #519 closed

[2020-10-14 15:48] RiccoFerraro commented on #504
Hi @StefH, thanks for being so responsive. I'm sorry I don't have time to create test projects and try the all the different versions this week. What I can do is pull down the version in https://github.com/WireMock-Net/WireMock.Net/issues/513 and see if the problems I was having with post body matching are fixed. After that seems to work, I'll work on setting "ParitalMapping" to false to enforce s

[2020-10-14 16:47] eduherminio opened #521 "Make Kestrel limits configurable"
**Is your feature request related to a problem? Please describe.**
Increase `KestrelServerLimits.MaxRequestHeadersTotalSize` (and potentially other limits, i.e. `KestrelServerLimits.Http2.MaxRequestHeaderFieldSize`). See #519

**Describe the solution you'd like**
Make Kestrel limits configurable.
See this draft PR of a possible implementation for `USE_ASPNETCORE &&  .NET Standard > 1.3`
https://gi

[2020-10-14 18:19] StefH commented on #513
@henriquemotaesteves Thanks for testing. I'll release a new version tonight.

[2020-10-14 18:19] #513 closed

[2020-10-14 18:20] StefH commented on #504
Hello @RiccoFerraro , I'll release a new version with this fix tonight and for now close this issue.

In case you have another problem please create a new issue.

[2020-10-14 18:20] #504 closed

[2020-10-15 14:05] StefH commented on #521
PR is merged.

[2020-10-15 14:05] #521 closed

[2020-10-16 13:11] tomatualus opened #523 "Returned files default encoding"
Hello.

I am wondering, if there is a default encoding when using BodyAsFile?

`    "Response": {
      "StatusCode": 200,
      "Headers": { "Content-Type": "text/xml; charset=UTF-8" },
      "BodyAsFile": "./WireMockMappings/TestResponse.xml",
      "UseTransformer": false
    }`

I have set up my response exactly as above, but the returned file's encoding is UTF-16 (i can see the BOM or whateve

[2020-10-16 14:20] #523 closed

[2020-10-16 20:27] xadvfh opened #524 "Proxying with SSL Not Working in .NET Core 3.1"
### Describe the bug
I am trying to create a proxy with SSL enabled but keep getting the error `{"status":"The header name format is invalid."}`.

### Expected behavior:
Proxy with ssl works.

### Test to reproduce
- 1 Create proxy with:
[code]
- 2 Start server with ssl enabled
-3 Navigate to https://localhost:[your-port]

### Other related info
1.  Proxy without SSL works
2,  I am able to proxy w

[2020-10-20 14:49] tomatualus opened #526 "How to make Request mapping match only when it is a perfect match?"
Hello.

Lets say i have two request mappings. The `XPathMatchers` are simplified.

Request 1 has body **matchers** `XPathMatcher` for Value1 = 1 **AND** `XPathMatcher` for Value2 = 2.
Request 2 has a body **matcher** `XPathMatcher` for Value1 = 1.

How do i return the Request 1's response, when its matchers are a perfect fit, but return Request 2, when Value2 != 2?

Thanks in advance.

[2020-10-20 14:55] StefH commented on #526
Hello @tomatualus,

1. The current logic from WireMock.Net is that in case two mappings are a perfect fit, the one with the most matches is preferred.

2. Your second scenario _return Request 2, when Value2 != 2_ , I'm not completely sure that can be done right now. But I would would expect it to work correct, that is : return Request 2 because Request 1 does only only match for 50%.

[2020-10-21 08:42] tomatualus commented on #526
I will post my class setup down below. You can see that it doesn't work as expected, even though online XPath tools show that one of XPathMatchers should fail. Both of them return `Failed but no delay`

    private static WireMockServer stub;
    private static string baseUrl;

    [ClassInitialize]
    public static void PrepareClass(TestContext context)
    {
        if (context is null) { throw

[2020-10-21 09:33] tomatualus commented on #526
Just discovered the fix......

It seems like i can pass many strings into `XPathMatcher`.. So when consolidated both XPathMatchers into one, it now works.

But the question remains - why does the upper test not work?

And how can define a single `XPathMatcher` in a JSON mapping, where it checks for two or more conditions to match?

[2020-10-21 18:41] StefH commented on #526
Maybe you need to use `not` instead of `!=` for strings?

https://stackoverflow.com/questions/3418470/using-not-in-xpath

[2020-10-21 23:08] aslezak opened #527 "Fluent API for RequestMessagePathMatcher with IgnoreCase flag"
While writing tests with out of bounds client libraries I ran into an issue of the requests not matching due to being case sensitive. I know it is possible to configure this via JSON for the server. But I have not found a way to do that in fluent api:
Example:
[code]
This will not match a request  to `.../somepath`

Current workaround for this involves using a bit more code:
[code]

Solution would

[2020-10-22 14:22] StefH commented on #527
Hello @aslezak,

As workaround you can use:
[code]

Would that be good enough for you?

[2020-10-22 17:45] aslezak commented on #527
Ah, yes, didn't spot that overload,
That'll do, thanks!

[2020-10-22 17:45] #527 closed

[2020-10-26 06:41] StefH commented on #518
Hello @RiccoFerraro ,

Maybe as a work-around, you can define the Priority?
See https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing#stub-priority

And https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.0.13.0#/MappingModel

[2020-10-26 06:42] StefH opened #528 "DOC: Check if swagger is still correct"
https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.0.13

[2020-10-27 05:32] RiccoFerraro commented on #518
Hi @StefH , that is really cool and I didn't know you could do that.  However, I'm not sure it works with my use case. I'm really trying to use record playback functionality as much as possible. In our case, Record/Playback is preferable because it allows us to mitigate unstable dependencies (api's). Stubbing out the endpoints becomes a maintenance nightmare with api's that change frequently.

[2020-10-27 07:08] StefH commented on #518
About your last question : check the https://github.com/WireMock-Net/WireMock.Net/blob/master/CHANGELOG.md for that.

[2020-11-02 16:44] xadvfh commented on #510
@StefH just checking in to see if there is anything I can help with to fix this.  Is there a place in the code you would recommend to start troubleshooting?

[2020-11-02 18:31] StefH commented on #510
Maybe change the async behavior from the GetAsync?

[code]

[2020-11-05 23:22] jfbenavid opened #532 "Can I use this library to make integration tests with an external soap service?"
I want to build a test to use the reference of a soap service using Wiremock to get the response of that.

Is it possible?

Thanks in advance.

[2020-11-06 07:13] StefH commented on #532
Hello @jfbenavid, this is not yet possible. There is functionality for parsing an OpenApi spec (https://github.com/WireMock-Net/WireMock.Net/tree/master/src/WireMock.Net.OpenApiParser).

Maybe a WCF/Soap parser would be usefull.

For now the best solution for you is to run WireMock.Net in proxy mode and just capture the requests/response or manually add the mappings.

[2020-11-06 08:22] rudi-brunner opened #533 "Stubbed response with only callback returns unexpected status code."
### Describe the bug
When setting up a stubbed response with only a callback I would expect that the status code which I set on the returned `ResponseMessage` would be the status code which the request will receive. But you always get `HttpStatusCode.OK` anyway.

### Expected behavior:
If I only specify `.WithCallback()` and not `.WithStatusCode()` I would expect that the status code of the return

[2020-11-06 09:28] DellaMoraWalter opened #534 "Mock server not answer if integrated in Xamarin UITest project"
I'm encountering a problem using WireMock.Net in a Xamarin UITest project, currently with Android (iOS not tested yet).
I'm trying to mock my backend, the WireMock instance is created in the UITest project but even if the server is active, the calls are not processed.

I've attached a full example for reproduce the problem, for use remember to align the ip address of the wiremock server with your

[2020-11-06 10:49] StefH commented on #533
Hello @rudi-brunner, thank you for finding this bug. I'll take a look.

[2020-11-06 11:17] StefH commented on #533
The issue is that you use an Enum, if you use `new ResponseMessage {StatusCode = (int) HttpStatusCode.Conflict}));` it should work.

However, I'll make a fix in the code.

[2020-11-06 13:45] StefH commented on #533
@rudi-brunner can you try preview version `WireMock.Net.1.3.5-ci-13952.nupkg` (from MyGet)?

[2020-11-06 15:02] rudi-brunner commented on #533
Thanks for the quick response :)
I'm not familiar with MyGet. Is it myget.org? Created an account now. But how do I access your feed? Any URL I can use?

[2020-11-06 15:07] StefH commented on #533
See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-11-06 15:21] rudi-brunner commented on #533
Works like a charm 🥇
Verified that it works both in the minimum test case which I posted here and in my full-blown test setup.
Good to go 👌

[2020-11-06 20:52] adusak opened #536 "Overriding the default ssl certificate via file."
Hey, I have a question regarding the configuration of SSL certificate.
As I understand WireMock used to ship with a custom self-signed which was used when setting up https endpoints.
Sice .NET Core 3 it relies on the dev certificate created by the SDK toolkit.

My question is whether it is possible to override this configuration a use a custom ssl certificate from a file.

My use-case is for examp

[2020-11-07 10:03] StefH commented on #536
Hello @adusak, are you running WireMock.Net as C# in your unit-tests? Or do you use a separate Docker instance?

[2020-11-07 10:17] adusak commented on #536
Hey, I am using it in C# unit tests.

[2020-11-07 11:36] StefH commented on #536
Hi @adusak,

I've created a fix based on this article: https://devblogs.microsoft.com/aspnet/configuring-https-in-asp-net-core-across-different-platforms/

I've added a new property `CertificateSettings` on the `WireMockServerSettings` class.

Can you please try preview : `WireMock.Net.1.3.5-ci-13958.nupkg` ? See : https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-11-07 12:16] StefH commented on #536
Sorry, please use MyGet version `WireMock.Net.1.3.5-ci-13960.nupkg`.

See : https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-11-07 16:44] adusak commented on #536
Wow, nice! It works like a charm 🙂 I was actually thinking of doing a PR with something along those lines if the config was missing.
Thanks!

[2020-11-07 16:56] StefH commented on #536
If you install version `WireMock.Net.1.3.5-ci-13964.nupkg` : this one has an extra setting "X509StoreThumbprintOrSubjectName" which you can set if you like.

(https://github.com/WireMock-Net/WireMock.Net/blob/certificate/src/WireMock.Net/Settings/IWireMockCertificateSettings.cs#L25)

(needed in case you have multiple `localhost` certificates defined in your store)

[2020-11-08 09:17] StefH commented on #536
See also https://github.com/WireMock-Net/WireMock.Net/wiki/Settings#certificatesettings

[2020-11-08 20:18] #488 closed

[2020-11-08 21:43] xadvfh commented on #524
@StefH any ideas on this issue?

[2020-11-09 10:27] StefH commented on #524
@xadvfh
I did test with my test-app: `WireMock.Net.Console.NETCoreApp3`

And with this mapping:
[code]

Works fine when I access my wiremock on https://localhost:9433 in postman-->
![image](https://user-images.githubusercontent.com/249938/98529774-57407d80-227e-11eb-8f83-74bebc38f829.png)

However I do get an error that my certificate is not valid, but that's expected:
![image](https://user-images

[2020-11-09 10:39] StefH commented on #502
Hello @rangerranger , did you have time to verify?

[2020-11-09 10:41] StefH commented on #141
@alastairtree Any updates on your work?

[2020-11-09 12:37] alastairtree commented on #141
No sorry, this stalled and I have not taken it any further. Realisticly I am unlikely to carry this on so maybe we should just close it?

[2020-11-09 12:47] StefH commented on #141
No problem. I'll just close this issue.

Take care !

[2020-11-09 12:47] #141 closed

[2020-11-10 09:20] #533 closed

[2020-11-10 09:25] StefH commented on #536
@adusak Can you do a last final test ?

[2020-11-10 13:43] adusak commented on #536
Tested with the `WireMock.Net.1.3.5-ci-13964.nupkg` version and it still works great!

[2020-11-10 15:40] StefH commented on #536
Code is merged to master.  A new official NuGet will be ready soon.

[2020-11-10 15:40] #536 closed

[2020-11-17 16:18] StefH commented on #524
Does this help you @xadvfh , or do you still have issues?

[2020-11-23 12:46] tomatualus opened #540 "Question about couple server methods."
Hey. I would love to know what do some of the `WireMockServer` methods do. Also would be nice to add this info to the wiki. :)

AddCatchAllMapping
ReadStaticMappings - Does this force the server to read all the mappings? When does the server read the mappings otherwise, if not called?
ReadStaticMappingAndAddOrUpdate - Add or update what? Mappings?
WithMapping (string mappings overload) - JObject s

[2020-11-24 11:16] StefH commented on #540
Hello @tomatualus
I did add some more comments in https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net.Abstractions/Server/IWireMockServer.cs

Please take a look.

[2020-11-24 17:27] tomatualus commented on #540
Thanks for the reply, @StefH !
All of the things got a lot clearer now. Is AddCatchAllMapping called by default? Because that's the thing i always see, but don't remember every calling .AddCatchAllMapping.

[2020-11-24 20:07] StefH commented on #540
The `AddCatchAllMapping` is a method which you can use (however actually I forgot why I added this method)

The 404 you see, is created in a different part --> that's the default error when a mapping is not found.

[2020-11-24 20:07] #540 closed

[2020-11-24 23:01] gitfool opened #541 "Should there be a .NET 5.0 target now?"
After porting projects to .NET 5.0, unit and integration tests using WireMock.Net seem to work fine, apart from logging "WireMock.Net server using .NET Core 3.1". Not sure when it's needed but I noticed there are a lot of target frameworks for some reason:
* [WireMock.Net](https://github.com/WireMock-Net/WireMock.Net/blob/4fb455a1b14a01272230eb53a1b263b56a1513f8/src/WireMock.Net/WireMock.Net.cspro

[2020-11-26 11:03] StefH commented on #541
https://github.com/WireMock-Net/WireMock.Net/pull/543

[2020-11-26 11:04] StefH commented on #541
Hello @gitfool,

- Can you explain this: `WireMock.Net seem to work fine, apart from logging` ?
- Some frameworks are indeed out of support, however for now I keep these. Probably next year I will remove some.

[2020-11-26 13:30] xadvfh commented on #524
my apologies @StefH I didn't get notifications for this.  I will try this out sometime this weekend or early next week and get back to you.

[2020-11-26 13:32] xadvfh commented on #534
@DellaMoraWalter for some reason WireMock.Net does not work when you set breakpoints.  See #510 I also would love to get to the bottom of this.

[2020-11-26 18:16] gitfool commented on #541
@StefH the logging comes from the hard wired log message determined by target framework at compile time ([AspNetCoreSelfHost .RunHost](https://github.com/WireMock-Net/WireMock.Net/blob/d1afba5058a54507a74895b92698322d5156d324/src/WireMock.Net/Owin/AspNetCoreSelfHost.cs#L124)), which you address in [PR 543](https://github.com/WireMock-Net/WireMock.Net/pull/543/files#diff-4f9c8c8a5529247bfcc38908874

[2020-11-28 10:04] StefH commented on #541
OK.
PR is merged

[2020-11-28 10:04] #541 closed

[2020-12-02 18:06] edabreu opened #546 "Mappings could have a remaining hit counter that upon reaching 0 would stop being considered"
**Is your feature request related to a problem? Please describe.**
I've recently replaced the use of MockServer with WireMock.net. The main issue that I've found so far is not being able to setup stubs/expectations to have a counter to control its availability. Let's imagine the scenario where I want to simulate the recovery from a failure when calling an external service. Imagining that I have a

[2020-12-02 19:01] xadvfh commented on #524
@StefH this is still not working for me.  I made a very simple program in another solution:

[code]

[2020-12-02 19:46] StefH commented on #546
Hello @edabreu,

I think your question can be solved by using https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States

Particularly, in your case, "https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States#stay-in-the-same-state-for-a-number-of-requests" would be solution.

[2020-12-02 20:08] StefH commented on #524
Instead of Thread.Sleep use:
[code]

Works fine for me:
![image](https://user-images.githubusercontent.com/249938/100925633-898e7500-34e2-11eb-850a-7ef52efefffa.png)

[2020-12-02 20:20] xadvfh commented on #524
Still not working.  What could I be doing wrong?

![image](https://user-images.githubusercontent.com/72147686/100926671-ce4de800-34b1-11eb-97a8-72df451e455e.png)

[2020-12-02 20:28] StefH commented on #524
Are you using .NET Framework or .NET Core?

[2020-12-02 20:30] xadvfh commented on #524
.NET core

[2020-12-02 20:32] xadvfh commented on #524
@StefH

[code]

[2020-12-02 21:41] StefH commented on #524
OK Thanks for the information.
Issue is related to .NET Core 3.1, it seems that headers starting with a ":" give problems.

PR = https://github.com/WireMock-Net/WireMock.Net/pull/547

Can you try version `1.3.7-ci-14243.nupkg` from MyGet (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions).

[2020-12-02 22:31] xadvfh commented on #524
@StefH that worked! thanks!

[2020-12-03 07:32] StefH commented on #524
@xadvfh -> a new official version will be released today.

[2020-12-03 07:32] #524 closed

[2020-12-04 12:24] edabreu commented on #546
Hello @StefH

Thank you for clearing this issue. I've successfully created a test scenario as mentioned before using the Scenario states, but I've been trying to setup another scenario as follows:

[code]

On my service I have a timeout of 500ms. I can't manage to have this scenario working because the wiremock is stuck in the first state, always responding with a delay of 600ms for all retry atte

[2020-12-04 13:41] StefH commented on #546
Quick answer: `.WithHeader("Content-Type", "application/json")` should also be added to the second part ?

And what you can do is observe the logging, maybe you see some details there why is it's not matching?

[2020-12-05 11:03] DellaMoraWalter commented on #534
@xadvfh in my attached sample solution the breakpoint works correctly if the wikemock server is started with the console application but don't works if the wiremock server is started inside the UITest project.
So my problem (I think) is not the breackpoints.
Onestly, I'm not sure about how UITest works. Where is executed UITest code, on my machine or in the android simulator?
If is executed in the

[2020-12-05 12:47] StefH commented on #534
I guess it could also be related to UI threads and background threads in a Xamarin project.
(Maybe starting WireMock.Net in a separate thread/task could help?)

[2020-12-05 13:21] martinkra opened #549 "WithProxy(...) does not save the mappings to file"
I've created a console app that runs the server trying to record/capture mappings:

[code]

The server works fine, e.g. when accessing localhost:1234/test1 I get the data from https://github.com/test1. The problem is that I am unable to find the way to get the recorded mapping... No files are created. What am I missing?

[2020-12-05 15:27] StefH commented on #549
Files are created in the folder `__admin/mappings`.

This folder is located in the same place where the binaries are located:
![image](https://user-images.githubusercontent.com/249938/101246953-c80c7580-3716-11eb-802a-a4c20d168aec.png)

[2020-12-05 16:02] martinkra commented on #549
In my case the folder is netcoreapp3.1/__admin mappings are not created.
![image](https://user-images.githubusercontent.com/5516508/101247592-c644b100-371a-11eb-89df-119576fb8596.png)

I've tried with .Net Core 2.1, didn't help.
![image](https://user-images.githubusercontent.com/5516508/101247710-5682f600-371b-11eb-9c5d-5c1f63e38ca2.png)

[2020-12-05 16:35] StefH commented on #549
Hello @martinkra, now I see that you are defining proxy settings in two places.

Try like this example: https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.Console.Proxy.NETCoreApp2/Program.cs

[2020-12-05 21:27] martinkra commented on #549
Your hint 'defining proxy settings in two places' helped, example too.

I figured that the problem was with defining proxy settings for a specific request. Recording settings seem to work only when configured during server start and should not be touched later. The code that works:

[code]

API makes appear that it is possible to configure recording for a specific request but that does not work:
[

[2020-12-06 09:26] StefH commented on #549
@martinkra I see you point. I'll check if I can change the code to save the mapping in all scenarios.

[2020-12-06 12:13] StefH commented on #549
Can you try NuGet version `1.3.8-ci-14324` from MyGet?

[2020-12-06 13:19] StefH commented on #549
https://github.com/WireMock-Net/WireMock.Net/pull/550

[2020-12-07 07:55] martinkra commented on #549
I couldn't find 1.3.8-ci-14324 on MyGet/stefh...

[cid:9ce639bc-24ce-4f15-8bd7-00b973d03bc4]
________________________________
From: Stef Heyenrath <notifications@github.com>
Sent: Sunday, December 6, 2020 12:13 PM
To: WireMock-Net/WireMock.Net <WireMock.Net@noreply.github.com>
Cc: martinkra <martinkra@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [WireMock-Net/WireMock.Net] How to

[2020-12-07 08:32] StefH commented on #549
@martinkra
Sorry, the version you need is `1.3.8-ci-14327`

[2020-12-07 09:39] martinkra commented on #549
No such version on nuget.org, MyGet feed https://www.myget.org/F/stefh does no longer work for me.

[2020-12-07 09:44] StefH commented on #549
Feed should be:
https://www.myget.org/F/wiremock-net/api/v3/index.json

See also
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-12-07 11:27] martinkra commented on #549
I've found the feed and the version. In build 1.3.8-ci-14327 recording settings on request level do not break the recording:
[code]

However, it is still a bit confusing that one could configure request level recording whithout setting up global recording, it would not work in that scenario.

[code]

[2020-12-07 11:42] StefH commented on #549
My intention was to fix the code so that your last code example would work fine. If this code example does not work correctly, I need to check the code again.

[2020-12-07 13:13] martinkra commented on #549
Code where recording is set twice works in 1.3.8-ci-14327, that did not work before so the original issue is fixed.

Code where recording is not set during server start and is set on request level (second snippet in my previous comment) does not work. I can manage without that feature but thought it is worth noting that it appears as an inconsistency or a bug.

[2020-12-07 14:36] StefH commented on #549
New (`1.3.8-ci-14337`) on MyGet

1. If WireMockServerSettings.ProxyAndRecordSettings is defined, the SaveMapping value is used, also for WithProxy
2. If WireMockServerSettings.ProxyAndRecordSettings is **not** defined,but the ProxyAndRecordSettings.SaveMapping is set top true, then from WithProxy is used

I think this is the full solution.

[2020-12-07 16:38] martinkra commented on #549
I agree that the proposed is the full solution. However, 1.3.8-ci-14337 does not work as described. The following code does not record mappings:
[code]

[2020-12-07 18:37] xadvfh commented on #524
tested and works in the official new version.  thanks again.

[2020-12-07 20:14] StefH commented on #549
@martinkra Thank you for your testing.

I hope this version `1.3.8-ci-14339` works as defined.

[2020-12-07 20:55] martinkra commented on #549
@StefH Thank you for your help and fixes.

Version 1.3.8-vi-14339 works as defined.

[2020-12-08 01:56] ibmer921150 opened #552 "WireMock.net record or stub support SOAP?"
Hi there,

May I know if Wiremock.net record support SOAP as endpoint? Also does the stub mode support SOAP response?

If it supports, would you please share examples?

I tried wiremock.net record mode for SOAP as endpoint, but got below errors:

{"The remote server returned an unexpected response: (405) Method Not Allowed."}

Thanks
Yu

[2020-12-08 07:21] StefH commented on #549
New official version will be released today.

[2020-12-08 07:21] #549 closed

[2020-12-08 11:10] StefH commented on #552
Recording SOAP is not different as other services. It should work.

Can you provide more details on the (error) message in the console-logging?

[2020-12-08 23:40] ibmer921150 commented on #552
Hi @StefH , it looks the wiremock.net record in the mappings, but return 405 as response code.  Below is the error log I copied from wiremock mappings

    "Response": {
      "StatusCode": 405,
      "Body": "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equ

[2020-12-09 13:56] StefH commented on #552
- What is the exact url form the soap service?
- How do you use WireMock.Net ?

[2020-12-10 02:26] ibmer921150 commented on #552
Hi @StefH, for further investigation, it looks my urls configuration is wrong. After updated the url configuration, I got the wiremock proxy protentional working, which can route the soap request to the real soap endpoint, however failed with authentication issue

**Message	"The HTTP request is unauthorized with client authentication scheme 'Basic'. The authentication header received from the serv

[2020-12-10 11:56] StefH commented on #552
Can you please show the complete soap-request you are sending?

[2020-12-11 15:31] edabreu commented on #546
Thank you for all the help.

[2020-12-11 15:31] #546 closed

[2020-12-11 19:43] RiccoFerraro commented on #504
Hi @StefH Quick question, What is the expected behavior for record playback for repeated calls to the same endpoint with these settings in 1.3.7? I'm wiremock doesn't seem to actually proxy the second call to the same endpoint, and instead is serving it's recorded response. This is a problem, because the expected behavior of the endpoint in question is that it changes between calls and i need to c

[2020-12-12 07:48] StefH commented on #504
@RiccoFerraro
Did you already try "SaveMapping" = false and "SaveMappingToFile" = true ?

[2020-12-12 07:52] StefH commented on #502
Hello @rangerranger , did you have time to verify?

Else I'll close this issue within some days.

[2020-12-12 18:04] narcis-sy opened #554 "Request are very slow (~2.1 sec) - bad performance"
### Describe the bug
Requests to the server are handled very slowly, ~2.1 sec for a simple get.

### Expected behavior:
Given that the server is in memory I would expect a response time of less de 50ms.

### Test to reproduce
Simple add a stopwatch in any of the tests in https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/WireMockServerTests.cs
I only count the request

[2020-12-13 23:13] ibmer921150 commented on #552
Hi @StefH, below is the soap request and response in wiremock.net mappings, hidden a few real data for security. FYI.

`[
    {
        "Guid": "7f211b2c-4615-45b0-811d-90f6eac6bada",
        "Title": "",
        "Request": {
            "Path": {
                "Matchers": [
                    {
                        "Name": "WildcardMatcher",
                        "Pattern": "/xxx/router.s

[2020-12-14 07:59] narcis-sy commented on #554
This may be something from my local machine. It seems the tests ran by the repos CI/CD run fast. I've tested it also on our CI/CD and they run fast.
It's probably something on my machine, although I did disable every firewall, windows defender, everything.

[2020-12-14 07:59] #554 closed

[2020-12-14 11:46] kharabasz commented on #450
@StefH were you ever able to look into the HTTP/2 support (I'm particularly interested in simulating a gRPC api)

[2020-12-14 20:15] kharabasz commented on #450
From a preliminary look - It is possible to add support for Http2 in the Aspnetcore path by mutating the Protocols on the ListenerOptions. It is not as simple as setting Http1OrHttp2 as there are valid use cases for both that option and Http2 which leads me to think it should be bubbled up as an option on the WireMockServer.

For example (from Microsoft's gRPC docs):

I am currently figuring out h

[2020-12-14 20:51] kharabasz commented on #450
To get mocking to work ResponseMessage would require some changes to support TrailingHeaders and support for stream bodies or HttpContent - this would require a fair bit of extension.

[2020-12-14 21:21] StefH commented on #552
At first look it seems that the authentication header is not send by you, or that this header is not recorded?

Can you also post here the complete original soap request ?

[2020-12-15 10:34] ibmer921150 commented on #552
hi @StefH,

When I monitor the soap transactions sending out from wiremock via fiddler or wireshark. I can see the auth header (Basic xxxxx) has been removed. When the soap transaction sending to endpoint directly, the auth (Basic xxxx) existed in the http header via fiddler or wireshark. I guess the wiremock may do some strange thing for the auth header?

Thanks
Yu

[2020-12-15 10:35] ibmer921150 commented on #552
Sorry @StefH I can not provide the complete original soap request as it is confidential.

[2020-12-15 10:47] StefH commented on #552
No problem. I'll investigate the code on the basic authentication header.

BTW what framework do you use!

[2020-12-15 12:41] StefH commented on #552
https://github.com/WireMock-Net/WireMock.Net/pull/555

[2020-12-15 12:46] StefH commented on #552
@ibmer921150 I'm not able to reproduce this problem with a UnitTest, so if you please can post the complete SOAP HTTP request (without confidential data) that would help me a lot.

[2020-12-15 17:40] xadvfh opened #556 "Support OData"
**Is your feature request related to a problem? Please describe.**
Is there a way to support [OData](https://www.odata.org/) with the responses that we stub out in WireMock.Net?

**Describe the solution you'd like**
Given I stub a request to return a specific response
When a user requests the data with a OData query
Then the response should only include the data the query specifies

**Describe alt

[2020-12-15 18:47] ibmer921150 commented on #552
Thanks @StefH. Please review the two SOAP HTTP requests between wiremock and direct endpoint, captured via Wireshark, included header and request.

Wiremock
![image](https://user-images.githubusercontent.com/13460590/102258454-d35f6c80-3f72-11eb-9e50-6a36c1eddc8e.png)

Direct endpoint
![image](https://user-images.githubusercontent.com/13460590/102258493-dc503e00-3f72-11eb-8ccd-9be1893a13c2.png)

[2020-12-15 19:14] StefH commented on #552
@ibmer921150
How do you configure the proxying?
1. Via global settings & proxy settings?
2. Via `.WithProxy(...)`

[2020-12-15 19:18] StefH commented on #552
If I use this code:
[code]
And send a post request with Authorization to WireMock.Net , the response from postman echo does contain the header:
![image](https://user-images.githubusercontent.com/249938/102261958-b3985c00-3f12-11eb-8ad6-bb9010aa0a3c.png)

[2020-12-15 19:50] StefH commented on #556
OData is just a specification.

With WireMock.Net you can stub any request and response.

Or do you have a different question?

[2020-12-15 19:51] #502 closed

[2020-12-15 19:52] StefH commented on #450
Thanks for your investigation.

However, this is not yet on my prio list for now.

[2020-12-15 20:10] xadvfh commented on #556
I guess I was wondering if there is a way for wiremock to autogenerate the stubs based on a request.  I'm not even sure if this is possible but here is what I had floating around in my head.

Assuming the response is a json object, if there was a stub like this:

[code]

When a request matches that path but has an OData query attached to it, it would take the response that the user specified in `W

[2020-12-15 21:42] ibmer921150 commented on #552
@StefH here is my configuration, similar like yours. BTW, your example is API JSON request which is not exactly the same as SOAP header, such as content-type should be text/xml, including soapactions and etc. The c# source code setup the header and auth would be different. I am not expert of c#, I will join our dev to look into the source code of wiremock.net. Cheers.

`using System;
using Newtons

[2020-12-15 22:48] kcamp commented on #534
@DellaMoraWalter I am pretty sure I came across this same problem today (and solved it) as I found this issue while doing some research.
 My problem looks/acts just like what you're describing (and is also a .NET 4.6.1 project, although we're using xUnit).

I was able to reproduce this in Visual Studio 16.8.3 (for reference only, I don't believe this actually matters).

In our case, we're setting

[2020-12-16 07:20] ibmer921150 commented on #552
@StefH For further investigation today, I constructed the soap request via Postman and sent soap request to wiremock proxy. It can record the request mappings and response mappings successfully.  Now the problem is more like our application is doing some strange things which can not be compatible with the wiremock proxy. I will do some further investigations and provide the PR if required. Thanks

[2020-12-16 07:41] ibmer921150 commented on #552
Above issue seems to be fixed after adding below:

 AllowPartialMapping = true

[2020-12-16 07:58] StefH commented on #534
Hello @kcamp, thank you for the research.

@DellaMoraWalter can you try if this workaround solves your issue?

If this indeed solves the issue, I'll add this to a wiki page.

(Note that issue also looks a _bit_ like this one https://github.com/WireMock-Net/WireMock.Net/issues/437)

[2020-12-16 08:08] StefH commented on #552
1. Please note that `AllowPartialMapping = true` is more of a last resort option. You can look at the logging to see which matchers do map or don't map 100% and fix the matching so that they do match.
(Else you can run into problems in the future when you have a lot of mappings added and maybe the wrong partial matches.)
See this link for details https://github.com/WireMock-Net/WireMock.Net/wiki/R

[2020-12-16 17:33] DellaMoraWalter commented on #534
@kcamp, thanks for your very detailed analisys. @StefH, sure I will try the suggested workaround but I need some days because I'm  in the middle of a sprint with totally different arguments. I will report you the results of my tests as soon as possible.

[2020-12-16 19:08] ibmer921150 commented on #552
Very useful tips, thanks a lot.

[2020-12-16 19:09] #552 closed

[2020-12-18 15:28] xadvfh opened #558 "Optional Query String Params"
I have a URL like this:

`https://localhost:54406/personal/api/v2/Foo/EndDate?StartDate=12/18/2020&Frequency=Monthly`

And I only want to match on the path.  The query string params are optional and can be anything.

I've tried the following:

[code]

But I am unable to get a match.

[2020-12-18 15:48] xadvfh commented on #558
User error, the above works fine.

[2020-12-18 15:48] #558 closed

[2020-12-21 01:28] jmontalto01 opened #559 "WireMock Setting 'SaveMappingToFile' raising cast object to type error"
### Describe the bug
I am using wiremock docker compose example with ProxyAndRecordSettings (command "--ProxyURL" ) and setting "--SaveMappingToFile", "true". It raises the following error when browsing to http://localhost:9091/__admin/mappings

{"Status":"Unable to cast object of type 'WireMock.ResponseProviders.DynamicResponseProvider' to type 'WireMock.ResponseBuilders.Response'."}

### Expecte

[2020-12-21 08:38] StefH commented on #559
@jmontalto01 Can you provide your (static) mapping json file(s)?

[2020-12-21 08:49] SimonA84 opened #560 "WireMock.Net fails during startup with a System.Net.Sockets.SocketException"
I use the nuget package of WireMock.Net for unit tests with xunit. I want to use a port like 19999 to be outside of the range of well known ports.

How to Reproduce it:
- Create a WireMockServerSettings object with the specific port
- Start the server with the settings object
- Add some "endpoints"

`var settings = new WireMockServerSettings{Port = 19999};
var server = WireMockServer _server = Wir

[2020-12-21 11:29] StefH commented on #560
`Add some "endpoints" ` --> you mean add some mappings ?

[2020-12-21 11:29] StefH commented on #560
- What OS do you use ?
- Do you start WireMock.Net consoleapp as admin ?

[2020-12-21 11:54] SimonA84 commented on #560
Yes. I mean with endpoints some mappings. The extended URL is by my collegues an endpoint.
I'm using a Win10 x64 Enterprise.
I don't start WireMock.net as a dedicated app. I start it in the tests that I'm running. Like in the following snippet.

``[Fact, Trait("Category", "WireMock")]
public void GetPluginVersionTest()
{
	var settings = new WireMockServerSettings()
	{
		Urls = new[] { mockurl }
	}

[2020-12-21 12:50] #532 closed

[2020-12-21 12:55] StefH commented on #560
Hello @SimonA84,
It is advised to use random ports in unit tests.
https://github.com/WireMock-Net/WireMock.Net/wiki/Using-WireMock-in-UnitTests

[2020-12-21 14:39] SimonA84 commented on #560
I changed it to use different ports. It works, but I prefere using a fix port. An external server does not change the port

[2020-12-21 17:27] StefH commented on #560
In that case, a possible solution would be to start the server once in the constructor/setup from the unit-test.

Can you try that?

[2020-12-22 00:04] jmontalto01 commented on #559
Hi,
There was not static mapping files. Folder was empty so I would expect an empty list to return when browsing to http://localhost:9091/__admin/mappings. At the time the error is raised it does then create a mapping json file on my drive which I have supplied below together with the wiremock log which gives more details of the error.

Wiremock Log:
[wiremock log.txt](https://github.com/WireMock-

[2020-12-22 09:07] SimonA84 commented on #560
I got a working solution with one single port and it "recreates" the server for each test as before (with stoping it afterwards).
But what I don't understand is why this port works and the other one has the permission problem, while the isn't used on my system.
When I take a look at the list of standardized ports in wikipedia (I know the list is not well maintained), then I see that both ports (wo

[2020-12-22 20:01] DellaMoraWalter commented on #534
I've tried the solution proposed by @kcamp and it works perfectly. Referring to the project I've attached to my first post, it was enough to add to the MockBackendTests project an App.config writted like suggested. @kcamp, many thanks again for your help.

[2020-12-23 07:49] StefH commented on #559
@jmontalto01 I think I found the issue, a new version from the NuGet + Docker will be released shortly.

This will be version 1.3.10

I'll close this now, in case it is not solved. just comment to this issue.

[2020-12-23 07:49] #559 closed

[2020-12-28 07:12] SimonA84 commented on #560
Thanks for your support.

[2020-12-28 07:12] #560 closed

[2021-01-04 13:04] cezarypiatekGC commented on #132
Hi,

I'm still experiencing a similar problem. When I access the LogEntries collection the first time I'm getting no results.  It looks like the LogEntries collection is not updated immediately because after adding `await Task.Delay(3000);` before the problem disappears.

[2021-01-12 15:16] n1l commented on #214
Hi I wish ti help you to implement the feature.
Can you please describe the motivation. Why do you want to implement the feature. How do you want to use liquid markup language?

[2021-01-12 15:41] StefH commented on #214
Currently I support Handlebars.Net as response templating language (https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templating).

However, It would also be a nice option to support DotLiquid as templating engine.

[2021-01-12 16:03] n1l commented on #214
@StefH is DotLiquid critical? from my point of view it's not stable. There is another library called scriban. What do you think?

https://github.com/scriban/scriban

[2021-01-12 20:25] StefH commented on #214
My idea to support DotLiquid was that I think that also Microsoft used this for generating (help) pages.

But I see that scriban supports both, so that would be a good solution.

However the code from WireMock.Net does not support other transformation engines yet, so that needs to be reworked first.

[2021-01-13 08:19] n1l commented on #214
@StefH Can you please provide any links about microsoft used DotLiquid?

About other transformations engines, what do you mean exactly? And what should be reworked from your perspective?

[2021-01-13 10:00] StefH commented on #214
1. I can't find the link / reference from Microsoft anymore.
2. The current code can only support 1 transformation engine (https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Transformers/ResponseMessageTransformer.cs)
So some changes need to be done to support also **scriban**. And remain backward compatible (so that the default transformation will be done by handlebars)

[2021-01-13 21:20] StefH commented on #214
Scriban does only support .netstandard 2.0 and net5.0
https://www.nuget.org/packages/Scriban/

So that's difficult to use in WireMock.Net

[2021-01-14 14:19] StefH commented on #214
@n1l
Older version from Scriban do support older frameworks, so that's good.

I've update the code to also support Sciban

See this MyGet preview:
WireMock.1.4.1-ci-14471

[2021-01-14 17:10] redgoose opened #563 "WireMock not working as expected"
I'm trying to write some integration tests using Microsoft.AspNetCore.TestHost.TestServer and WireMock and not able to get things working as expected.

This is my [test](https://github.com/redgoose/dotnet-learning/blob/master/Tests/UnitTest1.cs#L56) and here is the [HTTP call](https://github.com/redgoose/dotnet-learning/blob/master/TodoAPI/Integrations/IpifyClient.cs#L20) I'm trying to mock.

Desp

[2021-01-14 17:29] redgoose commented on #563
hmm... added an additional test [here](https://github.com/redgoose/dotnet-learning/blob/master/Tests/UnitTest1.cs#L84) that doesn't use TestServer and uses the IpifyClient directly and that also fails. Any ideas?

[2021-01-15 08:08] n1l commented on #214
Did you finish the code? I was going to help you, but as I can see you did it alone? :)

[2021-01-15 09:07] StefH commented on #563
@redgoose
The WithPath is used like `"/pathabc"`

Did you try `WithParam(...)` ?

See
https://github.com/WireMock-Net/WireMock.Net/blob/477f3b5cd346a1805a6281fd62bf1e61e791065a/test/WireMock.Net.Tests/RequestTests.cs#L129

[2021-01-15 09:58] StefH commented on #214
Correct, I think I've the code change in place.

However, the syntax from Sciban does differ in some parts from Handlebars.Net , so I could not get all unit tests working.

Maybe you can take a look there?

[2021-01-15 10:05] n1l commented on #214
It would be easier to me to start from the white paper not to fix the code you have written.

[2021-01-15 10:44] StefH commented on #214
I noticed these differences:
- DOT notation for accessing this `{{request.PathSegments.[0]}}` does not work
- WireMockList is not supported by Scriban

[2021-01-15 13:52] GMPrakhar commented on #137
I am seeing this issue again.. Transfer-encoding always goes as chunked when used with WithBodyFromFile

[2021-01-15 14:01] redgoose commented on #563
yep i tried with `Request.Create().WithParam("format", "json")` as well.

[2021-01-19 20:15] StefH commented on #214
Code is merged to maaster and a new NuGet will be released.

Further fixes like
- DOT notation for accessing this {{request.PathSegments.[0]}} does not work
- WireMockList is not supported by Scriban

Will be maybe taken up in another PR

[2021-01-19 20:15] #214 closed

[2021-01-20 13:10] StefH commented on #563
@redgoose

I think that the http-client is not connecting to the WireMock.Net server.

(You need to send the request to `server.Urls[0]`)

I've updated the wiki:
https://github.com/WireMock-Net/WireMock.Net/wiki/Using-WireMock-in-UnitTests

And here is an example:
https://github.com/WireMock-Net/WireMock.Net/blob/92923a12ae70aa5dc7bc228e49499d2ed7e911d8/test/WireMock.Net.Tests/WireMockServerTests.

[2021-01-22 16:48] waqaskhan540 opened #564 "How to deploy WireMock in Azure ?"
I have deployed WebApplication example of WireMock using Azure App Service , but I am not sure what should be the URL and Port of server , because ports 443 and 80 are already being used by the application itself and I am not sure what URL I can run the wiremock server on within the Hosted Service?

Could you please provide a tutorial on how to deploy WireMock in Azure or is there a better way to

[2021-01-22 17:25] StefH commented on #564
The link to the example app in the wiki page was wrong. I did correct this. See https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.WebApplication.NETCore3

When you run WireMock.Net as an WebApp in Azure it should just listen at 80 and 433

[2021-01-22 18:11] waqaskhan540 commented on #564
Yes that's correct, but I am not able to get it working, I deployed first with the same configuration settings but got no response.

I am deploying directly from Visual Studio using the publish wizard to Azure App Service, the WebApp is deployed at say following URl https://wiremockwebapp2211.azurewebsites.com , but it gives the following error in browser

HTTP Error 500.37 - ANCM Failed to Start

[2021-01-22 18:54] StefH commented on #564
I just built that example project and published to Azure, and it works fine.
![image](https://user-images.githubusercontent.com/249938/105532686-754d4400-5ceb-11eb-83aa-4cc3801f0cd7.png)

Settings are:
![image](https://user-images.githubusercontent.com/249938/105532764-8eee8b80-5ceb-11eb-987d-fe981ef370a5.png)

[2021-01-23 23:26] CoderNate opened #565 "NullReferenceException"
https://github.com/WireMock-Net/WireMock.Net/blob/e8181e9d53622bc3f1faa564332f4e87a0a18314/src/WireMock.Net/Server/WireMockServer.Admin.cs#L264

I get a NullReferenceException here when a request fails due to ``mapping`` being null.  It looks like calling proxyHelper.SendAsync returns null for a mapping if the status code was not successful.  The next if statement right below this also has the sam

[2021-01-24 08:56] StefH commented on #565
Hello @CoderNate ,

Thanks for the information.

However I think you mean that these line can fail:
[code]

Correct?

[2021-01-24 11:31] #565 closed

[2021-01-24 18:06] xamadev opened #567 "Can't start WireMock.Net server in Xamarin.UITest project (.NET Framework 4.7.2) on MacOS"
### Describe the bug

I have a Xamarin.UITest project (.NET Framework 4.7.2) where I use WireMock.Net 1.4.1. It's working fine on Windows but I can't start the server on MacOS. Using WireMock in a .NET 5 project on MacOS is working. Please have a look at the attached reproduction project. Thanks for your help.

[XamarinUITest.zip](https://github.com/WireMock-Net/WireMock.Net/files/5862868/XamarinU

[2021-01-24 18:36] StefH commented on #567
Hello @xamadev,

This issue looks a bit like : https://github.com/WireMock-Net/WireMock.Net/issues/534

Can you also try adding System.Memory same as described in that issue for System.Buffers?

[2021-01-24 20:46] xamadev commented on #567
@StefH Thanks for your quick reply. Adding System.Memory and System.Threading.Tasks.Extensions as NuGet reference solved the exceptions and the server is starting. But unfortunately I'm not getting any reply.  I can't see any exception. Can you confirm WireMock.Net ist working with Mono?

[2021-01-25 02:42] CoderNate commented on #565
Yes, that's right; my mistake.  Thanks.
And hey cool project!  Nice work!

[2021-01-25 15:21] waqaskhan540 commented on #564
Thanks, its working now.

[2021-01-25 15:52] StefH commented on #564
OK

[2021-01-25 18:53] Narcalen opened #568 "[Question] Dates in response templates"
Is it possible to add formatted dates to response templates? e.g. I would like to do smth like this:

[code]
Where now is current datetime, not data extracted from request

[2021-01-25 20:39] StefH commented on #568
Hello @Narcalen

This is not yet supported in WireMock.Net but this could be added to Handlebars.Net.Helpers

I will take a look if it can be added there.

[2021-01-26 21:22] StefH commented on #568
@Narcalen

I'm looking at the code from Handlebars.Net/Helpers and in this case, the string to use would be like:
[code]

Would be work for you?

[2021-01-27 08:43] StefH commented on #568
Or another possible solution will be:
[code]

[2021-01-27 09:00] rlf opened #569 "WithCallback circumvent the rest of the builder"
### Describe the bug
The code-line listed here:
https://github.com/WireMock-Net/WireMock.Net/blob/ebb9f128c52351662ee80afa92cd58a689668f07/src/WireMock.Net/ResponseBuilders/Response.cs#L374

Effectively disables part of the builder - which IMO ruins the builder-pattern for the response builder.

### Expected behavior:
I would expect the following code:
[code]
to generate a responsemessage with wha

[2021-01-27 19:34] Narcalen commented on #568
Thank you for the response! I gave tried the second option and I am getting the following response: Template references a helper that is not registered. Could not find helper 'Now'

Is it possible to register additional handlebar helpers?

[2021-01-27 19:37] StefH commented on #568
Sorry for the confusion I caused.

This new functionality is now present in Handlebars.Net.Helpers however not yet used by WireMock.Net

I'm working in that and I keep you informed.

[2021-01-30 11:33] StefH commented on #568
@Narcalen
I've added functionality to Handlebars.Net.Helpers and these are used in WireMock.Net

Please try preview version `WireMock.Net.1.4.3-ci-14593` from MyGet.

[2021-01-30 19:16] MikaelEliasson opened #577 "WireMock.Net will not run with certain .net5 dependencies installed in the project"
### Describe the bug
When running on .net 4.7.2 and with the Microsoft.Extensions.* packages being upgraded to 5.0.0.0 WireMock will crash on even the simplest calls.

The caller then gets the following exception
[code]

### Expected behavior:
I expect the call to go through and return the response.

### Test to reproduce
Repro code: https://github.com/bokio/WireMockExperiment

The exceptions thro

[2021-01-30 19:17] MikaelEliasson commented on #577
I will try to nail down which of these dependencies that cause the issue. But if anyone have an idea it would be a welcome way to speed up the process.

[2021-01-30 20:15] MikaelEliasson commented on #577
Ok, updating `Microsoft.Extensions.Configuration` breaks WireMock. It pulls down these dependencies too:

![image](https://user-images.githubusercontent.com/888296/106367034-2aad7680-6340-11eb-8902-9cea15a6a7bf.png)

[2021-01-30 20:21] StefH commented on #577
Do you have same issue with lower versions from Microsoft.Extensions?

[2021-01-30 20:28] MikaelEliasson commented on #577
No. I'm not sure exactly which version that introduce the issue but we were on 3.1.8.0 before we had to upgrade and then it worked. But considering 3.1.11.0 is the last version before 5.0.0.0 it seems likely it's 5.0.0.0 that cause the issue.

I just very confused to how it would cause a null ref in the kestrel pipeline. Is there any way to force WireMock to use the old Owin pipeline to see if it

[2021-01-30 21:51] StefH commented on #577
I never tried using WireMock in .net 5.0

It could be that indeed some Owing pipeline functionality is changed / obsolete / broken.

[2021-01-31 21:49] StefH commented on #577
@MikaelEliasson

The root cause is likely related to this:
https://github.com/dotnet/aspnetcore/issues/28112#issuecomment-733635589

However, I could not find a way yet to fix this in WireMock.Net

Can't you move your unit test project to .net 5 or 3.1 ?

[2021-02-01 07:00] ShaunJahn opened #578 "Dynamic webhook setup."
Tyring to create a .Net mock server application, that reads a swagger JSON file. Once an endpoint is mocked and return that response is then sent to a webhook. Not sure how to configure the endpoint for swagger to trigger a webhook call back.

[2021-02-01 07:20] MikaelEliasson commented on #577
@StefH Going to 3.1 and then 5 is what we are doing and why we needed to upgrade those dependencies. The problem is that our project is a bit too large to update in one go so we need to take it in steps. And sadly this needs to be the next step.

Is it possible to force it using the old Owin host somehow? Otherwise we can probably fork the repo and hard code it to use that one while getting past t

[2021-02-01 07:22] StefH commented on #578
I think that want to investigate "WireMock.Net.OpenApiParser".

See this example
https://github.com/WireMock-Net/WireMock.Net/tree/master/examples/WireMock.Net.OpenApiParser.ConsoleApp

[2021-02-01 07:29] StefH commented on #577
Hello @MikaelEliasson
If your unit test project is still 4.7.2, then also the version from WireMock.Net is matching that one (this will be the .NET 4.6.1 version)

Maybe adding a .NET 4.7.2 framework target to WireMock.Net could help using the correct OWIN implementation, I'll take a look tonight.

Another work-around is maybe adding manually a `date` header in the setup from the mapping.
Because

[2021-02-01 07:35] ShaunJahn commented on #578
Thank you for the reply. I manage to integrate the JSON file from swagger as per this link.
I'm trying to create a callback on every mocked call to trigger a function that sends a payload to a webhook.

For example, when creating a mock instance manually I'm able to use this:
`.WithCallback(callbackHandler)`

I'm trying to set this up for each swagger endpoint that gets read from the JSON file. As

[2021-02-01 09:45] StefH commented on #577
@MikaelEliasson

I've created a preview version on MyGet (WireMock.Net.1.4.2-ci-14604), can you try this one?

[2021-02-01 16:17] redgoose commented on #563
That example doesn't make sense to me. Why are we POSTing to that url? The example in the previous revision made sense since the SUT would do something to trigger an HTTP request. `var response = _sut.DoSomething();`

Are you able to checkout my test app (https://github.com/redgoose/dotnet-learning) and see if you can get test `TestAPIBaz` to work?

Also, you've introduced an undeclared variable `

[2021-02-01 16:20] StefH commented on #563
Example is updated to use Get and the URL is changed to `_server.Urls[0]}/foo`.
This does make more sense in the example.

I'll checkout your example and see if I can fix it.

[2021-02-01 16:26] StefH commented on #563
See PR : https://github.com/redgoose/dotnet-learning/pull/1

[2021-02-01 19:36] StefH commented on #578
I see.

What you want to to loop all automatic generated mappings and then assign .WithCallback

I'm not sure if that's possible. I'll think about it.

[2021-02-01 19:39] StefH commented on #569
@rlf I understand your issue.

I cannot remember anymore why I decided that WithCallback does behave like this.
(Maybe I thought that you want to do all logic in the callback, so also defining the status-codes and headers)

However, I see that in that case the fluentbuilder should not return a chainable thing so that it seems that you can add more fluent methods.

I'll check if it's easy to change

[2021-02-02 06:36] StefH commented on #578
Also another option would be that you `hook` on the logging? Because the logging also shows the request/response?

[2021-02-02 07:02] ShaunJahn commented on #578
Sadly I have tried doing this but still need the webhook to trigger. If you have any ideas on how to achieve this still ill be open to suggestions.

[2021-02-02 08:06] StefH commented on #578
Did you try making an own version from the logger?
https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.WebApplication.NETCore3/WireMockService.cs#L18

[2021-02-02 10:21] ShaunJahn commented on #578
@StefH Thank you, that really helped and I manage to sort this question out.

Thanks again for your help.

[2021-02-02 10:21] #578 closed

[2021-02-02 17:32] xadvfh commented on #577
I seem to be having a similar issue in dotnet core.  I'm getting the following error when starting the server:

[code]

My dotnet info:

[code]

[2021-02-02 17:35] xadvfh commented on #577
@StefH I tried the latest `1.4.3-ci-14595` from myget and still face the same issue

[2021-02-02 17:39] redgoose commented on #563
Thanks for your help so far. I looked at the PR and have a question. Why on this [line ](https://github.com/redgoose/dotnet-learning/pull/1/files#diff-0b8b7c4df4e7f9ee16e33c4850d60761449510462bf44c29b63cd80c76607f87L66-R66) are we matching on `/api/learning/baz` when I'm trying to stub out the HTTP call to `https://api.ipify.org?format=json` ?

The logic is, GET `/api/learning/baz` makes an HTTP G

[2021-02-02 18:05] StefH commented on #577
In my example project : https://github.com/WireMock-Net/WireMock.Net/tree/net5-issue/examples/WireMock.Net.Console.Net472.Classic adding a `.net 5` nuget will work (that means that the "Date" issue is gone)

However this last issue seems be a different one.

Can you also create a example project for this please?

[2021-02-02 20:06] xadvfh commented on #577
@StefH it seems my issue is caused by nunit.engine package which might be overwriting a dependency that wiremock.net uses.  When i uninstall the nunit.engine package it works

[2021-02-02 20:25] StefH commented on #577
#579

[2021-02-02 21:21] #577 closed

[2021-02-03 17:41] Narcalen commented on #568
@StefH
Thank you for the update
I have updated to WireMock.Net.1.4.3-ci-14593 and tried the following options:
`"{{Format (Now) \"yyyy-MM-dd\"}}"`
`"{{Now \"yyyy-MM-dd\"}}"`

For both options, I received the following error:
`{
    "Status": "Template references a helper that cannot be resolved. Helper 'Format'"
}`

Moreover, I have received the same errors for other helpers, e.g.:
`{
    "Status"

[2021-02-03 20:21] StefH commented on #563
For this example it does not really matter.

If you setup a stub , and then call wiremock using the same path or query parameters ; that will match.

Also view this to get a general understanding on usage:
https://www.youtube.com/watch?v=IJa6DyJOxzk

[2021-02-04 19:08] StefH commented on #568
Can you share your example project?

[2021-02-04 19:09] StefH commented on #510
@xadvfh Do you still have an issue? Or can this one be closed?

[2021-02-04 19:20] xadvfh commented on #510
@StefH I still have this issue.

[2021-02-05 07:45] genesispvtltd opened #580 "[Question] What is the correct configuration for wiremock running in proxy mode"
Hi I am new to wiremock but I need to know the answers to the following questions. I have a automation test suite running against an api. Sometimes this api is not available then I need automation test to be run against wiremock server and this should happen automatically I mean wiremock should be intelligent enough to understand the live url is down and it will call the stubs allready created. I

[2021-02-06 00:41] xamadev commented on #567
@StefH Any guess what the issue could be or what I can try to figure it out?
Does WireMock.Net generally work in a .NET Framework 4.7.2 project on MacOS?

[2021-02-06 08:01] genesispvtltd commented on #580
Basically i need to know the setting for java wiremock setting to be implemented in my .net can you please tell me the correct setting for the below in .net version. This serves my purpose because when the live url is down wiremock knows to call its mappings and return them

java -jar wiremock-standalone-2.27.2.jar --proxy-all="https://hcm-quarterly.paycor.com" --https-port 7777 --verbose

[2021-02-06 08:57] StefH commented on #580
What you mean is that you actually want a "smart" proxy mode:

**Scenario 1**
In case the real endpoint is up (we need to determine the criteria for _up_), proxy the request + response to the real endpoint.

**Scenario 2**
In case the real endpoint is down, try to find a configured mapping:

If the mapping is found, return that mapping.
If the mapping is not found, just return default 404 'mapping

[2021-02-06 09:42] StefH commented on #567
I did copy your test project and I was able to run it without any issue:
![image](https://user-images.githubusercontent.com/249938/107114668-d6d2ee00-6867-11eb-9f68-5963bd34c2bc.png)

See my test:
https://github.com/WireMock-Net/WireMock.Net/blob/567_cannot_start_xamarin-ui/test/WireMock.Net.XamarinUI.Tests/UIFlowTests.cs

[2021-02-06 09:45] xamadev commented on #567
On Windows?

[2021-02-06 09:45] StefH commented on #567
On windows indeed

[2021-02-06 09:50] StefH commented on #567
(One thing : when the test started for the first time, I needed to approve the connections to private/public internet in the Windows Firewall, but I don't think that could be related to your issue?)

![image](https://user-images.githubusercontent.com/249938/107114805-0fbf9280-6869-11eb-844f-d68f2d0c959c.png)

[2021-02-06 09:51] xamadev commented on #567
Works fine on windows for me too. I only have issues running it on MacOS. Maybe it's a problem with [Mono](https://github.com/mono/mono) which is necessary on MacOS because there's no native .NET Framework support like on windows.

[2021-02-06 10:03] genesispvtltd commented on #580
@StefH since I am new I am asking just want to know this thing clearly. When we try out the wiremock java version we found that it is actually calls live url and will return response from that. Plus it is intelligent enough to know that the live url is down and then return the stubs already created. even the request is returning status code 500 when  the live url is down wiremock will return the s

[2021-02-06 10:12] StefH commented on #567
Can't you change the framework to netcoreapp3.1 ?

[2021-02-06 10:15] StefH commented on #580
Hello @genesispvtltd,

Short answer: WireMock.Net does not yet support a "Smart Proxy" functionality as you describe.

Long answer: This can probably be implemented as defined here:
Scenario 1
In case the real endpoint is up (we need to determine the criteria for up, like != 200 OK), proxy the request + response to the real endpoint.

Scenario 2
In case the real endpoint is down, try to find a con

[2021-02-06 10:21] genesispvtltd commented on #580
@StefH thanks for the response I am good.cool

[2021-02-06 11:01] StefH commented on #580
Can this question be closed for now?

[2021-02-06 11:22] genesispvtltd commented on #580
yeah sure

[2021-02-06 11:22] #580 closed

[2021-02-07 10:13] xamadev commented on #567
I'd love to but unfortunately [Xamarin.UITest isn't comaptible with .NET Core ](https://forums.xamarin.com/discussion/180329/xamarin-uitest-project-targeting-net-framework-vs-net-core-net-standard-implentation-support) :/

[2021-02-07 11:18] StefH commented on #567
Note that your test project `csproj` is using the _new_ format.

What happens when you create a  _old_ .NET Full Framework 4.7.2 test project ?

[2021-02-08 07:54] StefH commented on #567
Also, if you can help me setting up mono on WSL2 and running the tests, that would be useful to reproduce this issue, else I cannot help you.

[2021-02-08 17:58] Narcalen commented on #568
https://github.com/Narcalen/example-wiremock-net

This mapping works fine with version 1.4.3 and returns `Template references a helper that cannot be resolved` error with 1.4.3-ci-14626

[2021-02-08 20:04] StefH commented on #568
This should work:

[code]

Use exact version dotnet-WireMock.1.4.3-ci-14635

[2021-02-09 18:11] Narcalen commented on #568
@StefH this version works fine for me. Thanks!

[2021-02-09 19:02] StefH commented on #568
great!

You can expect a new 1.4.4 in some time

[2021-02-09 19:02] #568 closed

[2021-02-09 20:04] redgoose commented on #563
Okay, what about this [test](https://github.com/redgoose/dotnet-learning/blob/master/Tests/UnitTest1.cs#L84). I'm unable to get the matching to work, do you know what the problem is?

[2021-02-09 20:19] StefH commented on #563
1. The IpyfyClient needs to be updated in such a way that it's possible to provide the real base-address and also the mocked base address from WireMock
2. For a match, you need to use `WithParam(...)`

See my updated PR
https://github.com/redgoose/dotnet-learning/pull/1

[2021-02-09 21:09] jthomas2021 opened #583 "Response Templating_Method not found error"
I am trying to create a wiremock service where if a request comes in matching say an account number, it will respond with a response of say Success and if another account number, it will respond with a response of Bad request. Unfortunately there are json tag elements in the response that will change depending on the request, e.g in my below example RequestId needs to be the same as that of the re

[2021-02-10 14:44] xadvfh commented on #510
@StefH I tried this again yesterday to wanted to confirm this issue still exists.

My use case is that I am using WireMock.Net to replace API calls that are made by our website.  At times i want to place a breakpoint to pause the test and click around in the website.  However, anything that triggers a call to wiremock will not respond while i am in a breakpoint.

[2021-02-10 17:55] redgoose commented on #563
thanks so much for your assistance!

[2021-02-10 17:55] #563 closed

[2021-02-10 20:04] StefH commented on #583
@jthomas2021
You could use something like this:
[code]

And
`"Pattern": "$..[?(@.Accountnumber != 7654322)]"` --> return body with "NotFound/Error/..."

[2021-02-10 20:55] jthomas2021 commented on #583
@StefH
I understood the Request matcher piece of it and it works , thank you. But my question was how do I substitute the value for RequestId in the response, based on what request comes in.

For example if this is the request, that comes in at a particular time

{
"RequestId" : "a43d1856",
....
"Accountnumber": "7654322"
}

then in my json stubbing, I want to get the RequestId from the request( "

[2021-02-11 07:22] StefH commented on #583
I see.
In that case:

# Step 1
You need to match the request using the code I provided in my comment.
JsonPath is only used for _Request Matching_ --> https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching

# Step 2
You want to use the transformer to return the RequestId, in this case use this code:
[code]
For the response you need to use this: https://github.com/WireMock-Net/WireMock.

[2021-02-11 09:23] genesispvtltd opened #584 "How to validate request headers and cookies"
Hi , I just want to know how  can I show unauthorized when the cookie is not passed in the request. I wrote the stub like below but it did not work.pls help to correct it thanks

[code]
Also second question is if someone passed wrong cookie say like the cookie name is pay but someone passed cookie name as paid and that time I want to display unauthorized how can i code that stub thanks.

[2021-02-15 12:10] genesispvtltd commented on #584
Hello, is there a way we can do this thanks.

[2021-02-15 16:15] StefH commented on #584
The easiest would be to:

### 1]
Add a mapping which uses path `"/PayrollReportService/v1/clients/208944/payrollreports*"`, checks the valid cookie and returns http 200.

### 2]
Add another mapping which uses the same path, but has no check on the cookie and returns Unauthorized

[2021-02-15 17:46] StefH commented on #583
Hello @jthomas2021, is the answer clear to you?

[2021-02-15 20:24] jthomas2021 commented on #583
Hi @StefH ,

Sorry for the delay. I added "RequestId": "{{request.BodyAsJson.RequestId}}"

with the

 "Headers": {
    "Content-Type": "application/json"
   }

in the response, and now  when I sent the request through soap ui to the mock service url, I do not get the method not found error. I get the response as stated in the mock service response, however the RequestId value is empty.

My request

[2021-02-15 20:31] jthomas2021 commented on #583
Thanks @StefH  it worked! Thank you for your help!

[2021-02-15 20:32] #583 closed

[2021-02-16 13:32] genesispvtltd commented on #584
Thanks this worked

[2021-02-16 13:32] #584 closed

[2021-02-17 10:47] ShaunJahn opened #586 "Json Parse Exception error"
On loading an OpenApiFile with `WithMappingFromOpenApiFile` im getting an exception:

`Newtonsoft.Json.JsonReaderException: 'Error reading JObject from JsonReader. Current JsonReader item is not an object: String. Path '', line 1, position 1963.'`

I think this might be due to `MapOpenApiAnyToJToken` using `JObject.Parse` instead of `JToken.Parse`

Could this be the case? Then open API document is

[2021-02-17 11:13] StefH commented on #586
Can you please provide the document?

[2021-02-17 13:30] ShaunJahn commented on #586
My apologies, my swagger document was not correct as it was bringing nulls where it needed strings.

[2021-02-17 13:30] #586 closed

[2021-02-18 07:21] StefH commented on #491
Hello @Ppiwow, I understand your statement, however when starting this project, I already had to deviate from some concepts from WireMock.Java so that resulted in another JSON Mapping file.

Maybe I'll create a converter some day, but not planned for short time.

[2021-02-18 08:19] StefH commented on #569
Hello @rlf,

Can you please try preview NuGet `WireMock.Net.1.4.6-ci-14668` from MyGet? This this should fix your issue.

[2021-02-22 21:26] StefH commented on #569
Dear @rlf ; did you have time to test this?

[2021-02-24 09:53] mcopjan opened #588 "How to connect to wiremock server instance to add mappings?"
Hi, I am new to WireMock and trying to do some mocking for grpc service using https://github.com/Adven27/grpc-wiremock

I have a wiremock server running on localhost:8888, if I hit http://localhost:8888/__admin/mappings from my browser I can see there are no mappings

[code]

I would like to add some mappings now so I am using the following code (first I am trying to fetch existing mappings expect

[2021-02-24 10:36] StefH commented on #588
Hello @mcopjan,

I see your confusion.

The issue is that you are running the **Java** version from [WireMock](http://wiremock.org/) and trying to connect to this running Java instance using the Client Libraries from WireMock.Net (this project).

This will not work because the mappings are not compatible (sorry for that) --> https://github.com/WireMock-Net/WireMock.Net/issues/491.

[2021-02-24 10:42] mcopjan commented on #588
hi @StefH, thanks for your quick answer. That's unfortunate. I would expect the client communication with the Java server works no matter what language of client I am using (as long as I meet the API contract of server)

[2021-02-24 11:33] StefH commented on #588
The API contract from WireMock Java and this project WireMock.Net is not compatible. (The ideas are the same, but the mappings are different.)

This .NET Client can only be used for this project : WireMock.Net

However, if you want to connect using a C# Client to WireMock Java, you could try to load the Swagger from the Java project (http://wiremock.org/docs/api/) and generate the c# client + mode

[2021-02-26 12:01] rlf commented on #569
Verified. At least the tests I wrote when discovering this bug is now green.
Thanks!
Awesome work man!

[2021-02-26 12:10] StefH commented on #569
@rlf Thank you for testing.

I'll release a new official version today.

[2021-02-26 12:10] #569 closed

[2021-03-01 22:19] xadvfh commented on #127
@StefH I know this is a closed issue but it is something that I'd also be interested in.  Keeping track of GUIDs is, unfortunately, not always possible.

[2021-03-02 07:09] StefH commented on #127
@xadvfh using an unique GUID is only way the tell mappings apart.

Else I need to check if some things match (like the path) and only change the part that does not match (the status code). This is very difficult.

The only thing I can maybe add is another unique identifier, which can be a string? But I'm not sure this helps you.

[2021-03-02 15:02] xadvfh commented on #127
Understood.  I think I can make using priority work.  thank you.

[2021-03-03 16:26] samiransaha opened #589 "How to send a request to a specific URL after sending response"
The java version of wiremock supports Post-serve actions mentioned here http://wiremock.org/docs/extending-wiremock/.
By using this we can send request to a specific URL after serving mocked response to a request. Is it possible to with wiremock.net? if yes, can we configure it via JSON and does it support authentication?

[2021-03-03 19:09] StefH commented on #589
You are looking for a hook / callback which will be triggered after the response has been returned?

[2021-03-04 05:30] samiransaha commented on #589
Yes. Hook/Callback would be generic. But in addition, if we can have some predefined post-serve hook like sending request to URL and surface it via JSON configuration, so that one can configure it via JSON mapping files then it would be great.

[2021-03-04 15:51] orik007 opened #590 "Incomplete wiki"
Hey, nice application. Im using it well in my e2e tests.

But I have to download whole project for exploring, because not all features are documented.

For example
* mappings/reset  with "reloadStaticMappings" query params
* settings "WatchStaticMappingsInSubdirectories"

[2021-03-04 22:26] kaiserbergin commented on #554
@narcis-sy did you ever figure out your local issue? I realized I was running into a similar issue when I placed timeout policies on my http client requests and started seeing errors in testing.

[2021-03-05 09:41] narcis-sy commented on #554
@kaiserbergin Nope :( I happens just locally and just for some people (Win10). I tried disabling firewall everything.. still takes time, idk why.

[2021-03-05 17:37] StefH commented on #589
Dear @samiransaha, I did update your question with some code formatting so that it it's better readable.

I think this can be implemented, however it will take some effort.

And maybe instead of letting the user define the content, it's maybe easier to just forward the complete request and response to that callback hook. So that all data is present.

[code]

[2021-03-06 12:29] samiransaha commented on #589
Thanks @StefH.
Glad to know.
I think there should be an option to send custom request body while sending request in hook along with the option to send complete request body received the way have mentioned.

[2021-03-08 19:39] StefH commented on #589
@samiransaha
I've created a preview nuget on myget:, can you please test vesion WireMock.Net.1.4.7-ci-14761 ?

Only Body or BodyAsJson is supported. No transformation (yet)

example
[code]

[2021-03-09 11:51] StefH commented on #589
@samiransaha A new version `WireMock.1.4.7-ci-14768` should now also support transformation.

Add `"UseTransformer": true`

[2021-03-10 05:58] samiransaha commented on #589
Thanks @StefH, I will check it.
Another thing not related to webhook, I wanted to know is it possible to configure delay before sending response via JSON?

[2021-03-10 07:08] samiransaha commented on #589
I am using the wiremock as dotnet tool. How to get your CI version for that?

[2021-03-10 07:26] StefH commented on #589
See https://github.com/WireMock-Net/WireMock.Net/wiki/Faults

[2021-03-10 07:27] StefH commented on #589
it's on the same MyGet feed:
https://www.myget.org/feed/wiremock-net/package/nuget/dotnet-WireMock

[code]

[2021-03-10 07:39] samiransaha commented on #589
Can we add Faults like no response at all?
Thanks @StefH, sorry I missed that in myget link.

[2021-03-11 21:48] orik007 commented on #590
Another small one :-)

https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.0.13.0#/default/post___admin_mappings

All POST requests return correctly 201 http status, but according to API, its 200.

Detail, but im generating client layer from API, and 201 is unexpected result throwing exception.

[2021-03-11 23:31] orik007 commented on #590
Aaand there is no DELETE status in /mappings
And no /reset route
in API

[2021-03-12 17:00] StefH commented on #589
@samiransaha Did you have time to test it ?

[2021-03-15 12:35] DarthXerox opened #592 "Proxy all requests - even a repeated one"
Hey,
hopefully I didn't miss some hidden feature or a different way to solve this problem:

**Repeated request problem**
I'm sending a sequence of requests from a client to my webapi, some of these requests repeat.
The problem occurs when the same request is received the second time - it is NOT sent to the `Url`, only the previously saved response is sent back.
I do not need to record the request

[2021-03-17 18:35] StefH commented on #589
@samiransaha Did you have to test?

[2021-03-18 09:58] ZenwalkerD opened #593 "WithBody delegate is null"
### Describe the bug
The Func<object,bool> for WithBody function is null for object parameter. Usage example as shown below.
I am using below code:
[code]
Postman request sent as shown in below image
![image](https://user-images.githubusercontent.com/869964/111607202-09282180-87fe-11eb-98fe-e35620dff1b5.png)

The path is matching, breakpoint hits the delegate method; but object is always null.

##

[2021-03-18 11:33] StefH commented on #593
Hello @ZenwalkerD,

If you use `.WithBody((xmlData)`, it's assumed that this is JSON data.

If you want to get your example XML data (which is string), you need this code:
![image](https://user-images.githubusercontent.com/249938/111617565-91e59400-87e3-11eb-81dd-21de4b321c38.png)

[2021-03-19 13:17] StefH commented on #593
@ZenwalkerD : did this answer help you?

[2021-03-19 13:18] StefH commented on #592
Hello @DarthXerox,
So you want to save only the **first** proxied mapping to the internal mapping + file?

[2021-03-19 14:15] ZenwalkerD commented on #593
As far as i understand, WithBody(parameter) should have any data format which is being sent from the client, right?
So weather its XML or Json or something. WithBody should give it to parameter.

Either ways, kindly please add a documentation for this.
Also for my task, i took a different approach via RegexMatcher
Thanks

[2021-03-19 14:19] StefH commented on #593
To add flexibility, I updated to code to also support IBodyData, which contains more info about the body.

https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/RequestBuilders/IBodyRequestBuilder.cs#L78

A new version containing this fix will be released soon.

[2021-03-19 14:19] #593 closed

[2021-03-19 14:21] ZenwalkerD commented on #593
Thanks, also documentation would be of much help to newbies like me.
Not only w.r.t to this, but also with XMLmatchers i was struggling alot.

[2021-03-20 07:11] ZenwalkerD opened #596 "Request for an API for WaitOnExit in StandAlone scenario[Solved]"
**Is your feature request related to a problem? Please describe.**
In my integration tests, i am using Standalone style of using Wiremock. And i am following below example https://github.com/WireMock-Net/WireMock.Net/blob/master/examples/WireMock.Net.StandAlone.NETCoreApp/Program.cs as a template to start with.
I do not want to make it a Windows Service because in my pipeline; i do not have Admin

[2021-03-20 08:57] StefH commented on #596
Do you mean this scenario?

# 1.
You start the WireMock.Net using a console app, just like WireMock.Net.StandAlone.NETCoreApp

# 2.
You removed the code which handles `Ctrl+C`

# 3.
But what next ? How can you stop the console-app ?
Do you want to post a Stop-command to the Admin interface to stop WireMock.Net?

or

Do you just want to use `WaitForExit(timeout)` -> this is already possible ?

[2021-03-20 10:37] ZenwalkerD commented on #596
Let me explain with the code below...
I created a windows form App (without form) with Main Function as shown:
`
//MockServer.exe
private static void Main(string[] args)
        {
            server = WireMockServer.Start(new WireMockServerSettings()
            {
                Port = 9500,
                Urls = new[] { "http://+:9500/" },
                StartAdminInterface = true,

[2021-03-20 17:10] StefH commented on #596
I'm trying to understand your request....

Quick question : why don't you use WireMock.Net in a unit-testing scenario (https://github.com/WireMock-Net/WireMock.Net/wiki/Using-WireMock-in-UnitTests) ?

[2021-03-21 05:25] benagain commented on #554
I am seeing the same problem - the first request to WireMock from a `HttpClient` takes ~2 seconds.  Subsequent requests from the same `HttpClient` object are fast, but the first request from a new `HttpClient` again takes about 2 seconds.  This adds up to a fairly dramatic time cost when running our entire test suite.

I am also on Win10, and am using .NetCore 3.1 and 5.0.

I went digging into it,

[2021-03-22 04:21] ZenwalkerD commented on #596
Ok let me explain my scenario here.
I am doing Integration Testing.
I have a DotNET Core WebAPI application.

I run my WebAPI on localhost. The integration test cases call my APIs exposed in WebAPI app using HttpClient (localhost/api/xxxx).
The WebAPI internally calls external API services (assume weather API).
So in my integration tests shown code in my previous post; the mockserver is used to mo

[2021-03-22 06:45] StefH commented on #596
Another possibility is that you just keep the always WireMock.Net server running and just reset all mappings (via the admin interface) before you start your test.

Or you can also run the WireMock.Net server as a docker image and just kill/stop the container after the test?

[2021-03-22 07:31] ZenwalkerD commented on #596
I can not do the reset map and again map as i am suppose to run the wiremock as an independent process.
So once the process starts, i wont be able to reset before every tests otherwise i will have to implement IPC. Which is a huge task.

Btw, not allowed to use Docket in pipeline. Hence using as a process.

But i wish to know how to close the process without killing it. I do not want to use Thread

[2021-03-22 08:05] StefH commented on #596
### 1.
IPC is not needed.
When the WireMock.Net server starts, you can call the admin API (via post/get rest commands) to add or reset the mappings. (https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference#__adminmappings) that's the whole idea, you can start the server once, and before each test, just add the mappings you need.

### 2.

What do you mean by close the process? Why can

[2021-03-22 11:29] ZenwalkerD commented on #596
Killing is bad ;)
Any way, i came up with a simple way to safely close the application rather than killing. Its working without much hassle. ;)
I am using ManualResetEvent. In Main func, i make ManualResetEvent to wait.
Then in one of the API request; i just notify it to close. ;)

Console App:
[code]

Process starter:
[code]

Thanks for your time. :)

[2021-03-22 19:10] #596 closed

[2021-03-23 10:03] StefH commented on #589
@samiransaha Can you please test this?

[2021-03-23 12:01] samiransaha commented on #589
@StefH , Hey sorry for delay, I got sick, and was not able to catch up my emails. I will test this today, and let you know.

[2021-03-23 15:57] samiransaha commented on #589
Hi @StefH,

I used following rule it didn't work for me looks like.
I got the response, but the webhook request generation failed.
And I see following error is console. Any Idea?
[code]

[code]

[2021-03-23 17:12] StefH commented on #589
Very strange, according to WIKI it looks fine. (https://github.com/WireMock-Net/WireMock.Net/wiki/Webhook)

See also this unit tests (https://github.com/WireMock-Net/WireMock.Net/blob/819629125ce3f34e71a31ba6a8825a13b0b8adb1/test/WireMock.Net.Tests/WireMockServer.WebhookTests.cs)

Did you try another address?

[2021-03-24 13:17] samiransaha commented on #589
Hey it worked now, there was issue in network issue with that port for that time being.

[2021-03-24 15:16] StefH commented on #589
@samiransaha Thanks for testing.
I'll merge the PR and create a new official NuGet version today or at most tomorrow.

[2021-03-24 15:16] #589 closed

[2021-03-25 13:59] #588 closed

[2021-03-25 14:00] StefH commented on #567
@xamadev Any update?

[2021-03-26 15:54] Korporal opened #598 "Timeouts"
Hi,

I went to the suggested example repo for basic unit test examples but the demo tests timeout, I did some basic looking around at network settings etc. and updated the demo to use latest version of WireMock but it still times out,

I put an [issue for the author here](https://github.com/bredah/csharp-wiremock/issues/1) but this slow going so can anyone suggest anything?

Thx

[2021-03-29 16:16] jthomas2021 opened #599 "Cause Delay in server responding"
How can I make the server delay in responding so that the application calling my mockservice will timeout.

[2021-03-29 16:46] StefH commented on #599
Hello @jthomas2021,

Does this help?
https://github.com/WireMock-Net/WireMock.Net/wiki/Stubbing#simulating-delays

[2021-03-29 17:53] jthomas2021 commented on #599
Hi @StefH ,

Is it possible to add the delay in the json stubs?

[2021-03-29 17:58] StefH commented on #599
Sure.

See example: https://github.com/WireMock-Net/WireMock.Net/wiki/Admin-API-Reference#get----__adminmappings

[2021-03-30 05:53] StefH commented on #599
See also Swagger : https://app.swaggerhub.com/apis/StefHeyenrath/WireMock/1.4.7

[code]

[2021-03-30 05:53] #599 closed

[2021-03-31 19:34] jthomas2021 commented on #599
Thank you @StefH .This worked.

[2021-04-03 01:00] eli-darkly commented on #437
@StefH Just FYI, I never did manage to figure this out. Changing the project to .NET Core is not an option, because these are tests that run _in Xamarin_; the target framework has to be either MonoAndroid or XamarinIOs. So it is using the .NET Standard target of WireMock.Net. Unfortunately, while https://github.com/WireMock-Net/WireMock.Net/issues/534 looks like an extremely similar assembly loadi

[2021-04-03 07:59] StefH commented on #437
Hello @eli-darkly,

Sorry that you could not get it working with WireMock.Net

Can you maybe provide a sample project which shows the error ? Then maybe I can debug it on my system ?

[2021-04-05 23:34] eli-darkly commented on #437
@StefH I'll try to put together a minimal example if I have time, but it wouldn't be practical for me to send you the actual project I'm working on.

[2021-04-12 15:36] Archomeda opened #601 "Exact byte array request matching fails on specific byte arrays"
### Describe the bug
Exact matching on byte arrays sometimes fails, depending on the byte array contents.

### Expected behavior:
Exact matching should succeed, no matter what the byte array contents are, as long as it's the same.

### Test to reproduce
The following code reproduces the bug:
[code]

The output:
[code]

### Other related info
From my limited debugging, I've noticed that the request

[2021-04-15 12:07] GrantGHub opened #602 "Header not being returned when set in WithCallback"
Upgraded from 1.2.14 to 1.4.9.  Was setting the header in WithCallback.  This was correctly coming through.  Now no headers are returned.

Taking the example tests and adjusting it (removing .WithHeader(header, "Stef");), should return the header set within WithCallback:
[code]
Headers are coming back empty.

`response.Message.Headers.Count == 0`
true

[2021-04-15 16:50] StefH commented on #602
@GrantGHub Thanks for finding this.

[2021-04-15 17:42] StefH commented on #602
https://github.com/WireMock-Net/WireMock.Net/pull/603

New version will be released shorty.

[2021-04-15 17:42] #602 closed

[2021-04-16 00:03] GrantGHub commented on #602
Thank you for such a fast turn around.  I have retrieved the latest and confirm the issue has been resolved.

Thanks again for the responsiveness to this request.  Appreciate it.

[2021-04-16 19:42] StefH commented on #601
The different DetectedBodyType should not cause this error I think.

I'll take a look what's the root cause.

Thank you for noticing this issue.

[2021-04-18 19:30] StefH commented on #601
New version will be released soon.

[2021-04-18 19:30] #601 closed

[2021-04-18 22:28] Archomeda commented on #601
Cool, thanks! 👍

[2021-04-22 09:30] phojnacki opened #608 "Import from OpenApi generates model with path parameter narrowed in range (example value=42 instead of '*')"
I cannot generate pattern with wildcard like:
[code]

I can only generate one with
[code]
It's too narrow since I cannot emulate fully mocked API (only request with 42 is working and the rest of requests answer with "No matching mapping found")

I'd like it to be possible to generate patterns with wildcards having following OpenApi definition:
[code]

We may think of an optional import parameter U

[2021-04-23 15:48] StefH commented on #608
@phojnacki Can you please provide a full working openapi document which has this issue?

[2021-04-24 06:47] StefH commented on #608
@phojnacki / @kusza6
Can you try preview version : 1.4.12-ci-14936 (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2021-04-26 07:26] StefH commented on #598
@Korporal , see my answer at the original issue.

[2021-04-26 07:26] #598 closed

[2021-04-26 12:19] phojnacki commented on #608
@StefH Yey, it works as charm. Thanks a lot for adding this feature.

[2021-04-26 12:44] #608 closed

[2021-05-15 21:14] JasonLandbridge opened #613 "How to mock a download limit when downloading a file?"
Given the following code:
[code]
File downloads fine but It goes extremely fast as it is read from SSD into a memory stream. How can I make the download go slower as to mimic real life scenario?

Thanks in advance!

[2021-05-16 08:10] StefH commented on #613
Hello @JasonLandbridge,

As workaround, you can implement your own version from `IFileSystemHandler`.

See https://github.com/WireMock-Net/WireMock.Net/wiki/Settings#filesystemhandler for details.

[2021-05-16 11:53] JasonLandbridge commented on #613
@StefH, thanks for the answer!

I went a different route, I implemented a download limiter stream as explained here: [stackoverflow](https://stackoverflow.com/questions/32723561/bandwidth-throttling/32724000#32724000)

And now I can use that in my unit tests, which works perfectly with WireMock!

Also, thank you very much for all your work on WireMock.Net!

(Lekker bezig pik 💯 )

[2021-05-16 11:53] #613 closed

[2021-05-18 13:58] ShaunJahn opened #614 "Is it possible to some how send multiple webhooks?"
When setting up a mock endpoint and using:
`WithWebhook` for single works perfectly.

Would be possible to use the same logic but provide a list of `Webhook` and send multiple webhooks at a time?

[2021-05-18 16:31] StefH commented on #614
@ShaunJahn Do you mean multiple webhooks? Or sending the same webhook to multiple urls?

[2021-05-18 16:59] ShaunJahn commented on #614
Trigger multiple webhooks on the same request.

[2021-05-18 17:48] StefH commented on #614
Can you try MyGet preview version:
1.4.14-ci-15092

[2021-05-19 08:10] ShaunJahn commented on #614
Do you mean update `WireMock.Net` to that version? I tried but can't be found.

[2021-05-19 10:09] StefH commented on #614
@ShaunJahn
Correct, I mean updating the NuGet to that version. But this version is not defined on nuget.org, but on myget.

See this wiki link for details:
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2021-05-19 10:35] ShaunJahn commented on #614
Thank you for this,
I changed the code and both webhooks went through,
![image](https://user-images.githubusercontent.com/35134264/118799093-a35c2280-b89e-11eb-9794-73279d7a4452.png)

but the body seems to come back as null
![image](https://user-images.githubusercontent.com/35134264/118798939-7c055580-b89e-11eb-8b76-20ae596eb0f6.png)

[2021-05-19 10:56] StefH commented on #614
I think in your case you need `DetectedBodyType = BodyType.String`

See also:
https://github.com/WireMock-Net/WireMock.Net/wiki/Webhook#c

[2021-05-19 11:01] ShaunJahn commented on #614
Can confirm that it's working perfectly after that change.
Thank you @StefH

[2021-05-19 11:05] StefH commented on #614
OK. Thank you for verifying.

I'll merge this PR and release a official new NuGet shorty.

[2021-05-19 11:08] #614 closed

[2021-05-19 11:11] ShaunJahn commented on #614
Awesome, thank you so much for this and the great work.

[2021-07-09 05:10] msutar021 opened #618 "Trying to use attribute of the request object while creating response while mocking a soap service"
I want to create a mock response for SOAP service which accepts XML request . I'm using XPathMatcher for request matching. Request is matching is done successfully. I need to read one attribute of request.body and create the response using that.
My XML request is like this. I need the token id to create the response body.

[Request.txt](https://github.com/WireMock-Net/WireMock.Net/files/6788936/Re

[2021-07-09 05:53] StefH commented on #618
@msutar021

Take a look at:
https://stackoverflow.com/questions/56933756/how-to-create-xpath-for-soap-header-and-body

In your case, I think you can use:
[code]

[2021-07-09 06:34] msutar021 commented on #618
I have tried this, it is not working; Response is null.

[2021-07-10 09:47] StefH commented on #618
The issue was related to `<?xml version='1.0' standalone='no'?>`

A new version will be released shorty.

See also
https://github.com/WireMock-Net/WireMock.Net/blob/master/test/WireMock.Net.Tests/ResponseBuilders/ResponseWithHandlebarsXPathTests.cs#L124

[2021-07-10 09:47] #618 closed

[2021-07-12 04:50] msutar021 commented on #618
Thank you so much for the reply. Please keep posted on the new version.

[2021-07-12 06:05] StefH commented on #618
It was released as version 1.4.18
https://github.com/WireMock-Net/WireMock.Net/blob/master/CHANGELOG.md

[2021-07-14 07:01] msutar021 commented on #618
Thank you. Its working now.

[2021-07-14 11:26] msutar021 commented on #618
I have one more question. I am getting the request attribute. I have to generate soap response based on the number of tokenids.  for each tokenid , i need to create node with few attributes for which i have to create random numbers using regex.
for example

<TokenGegevens>
				<TokenId>0000083259</TokenId>
				<Test1>1</Test1>
				<Test2>123234324</Test2>
				<Test3>1</Test4>
				<Test4>ACC0707202

[2021-07-14 12:44] msutar021 opened #620 "Extend responsetemplate to to get a customised response"
@StefH , This in continuation to the issue #619
Now i can get the request Tokenlist Node in response. I have to generate soap response based on the number of tokenids. for each tokenid , i need to create node with few attributes. If i can read each token id , i can generate response xml for that.

So my requirement is to generate customized response. I have attached my response.
[Response.txt](htt

[2021-07-17 13:32] danspark opened #621 "Fluent API for RestClient MappingModel creation"
**Is your feature request related to a problem? Please describe.**
I'm thinking about using WireMock as a container to run alongside my application during tests, and as far as I searched, looks like I have to create a mapping by instantiating a new `MappingModel` directly.

**Describe the solution you'd like**
I think it would be really useful for users to have an experience similar to the fluent

[2021-07-19 08:50] StefH commented on #621
I can build a standard FluentBuilder for all the client model objects, however this builder will be only a simple version.

Like
[code]

Will this be what you need?

[2021-07-19 11:20] msutar021 commented on #620
Any suggestion on this. Waiting for your response.

[2021-07-20 08:36] StefH commented on #621
@danspark

See preview version on MyGet https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

`WireMock.Net.RestClient.1.4.19-preview-01-ci-15231.nupkg`

[2021-07-20 15:56] danspark commented on #621
Yes! That would make the experience similar to the fluent API, I'll take a look soon. Thank you!

[2021-07-23 06:36] StefH commented on #620
With Handlebars.Net , a lot is possible. However I don't have a example for that.

[2021-07-23 06:36] #620 closed

[2021-07-27 18:36] sethsouthern opened #623 "NullRef using JsonPath.SelectToken"
### Describe the bug
When using the JsonPath.SelectToken feature in the handlebar transformer, I get a null ref exception. The exception occurs in HandlebarsDotNet.Helpers.JsonPathHelpers.SelectToken(object, string). Decompiling shows that the value of the string parameter is `"name\"` including the backslash. If I remove the backslash then everything works but the backslash is just the escape cha

[2021-07-30 06:01] StefH commented on #623
Hello @sethsouthern.

WireMock.Net uses HandlebarsDotNet.Helpers.JsonPathHelpers to handle JsonPath. This project is located here:
https://github.com/Handlebars-Net/Handlebars.Net.Helpers

I did move the issue.

And can you please create a failing unit test ?
I want to check if this is an issue in JsonPath, JsonPathHelpers or Handlebars.Net

[2021-07-30 06:02] #623 closed

[2021-08-04 05:36] StefH commented on #621
@danspark
Did you have time to take a look yet ?

[2021-08-04 11:51] FSatmar opened #624 "Post request with "BodyAsBytes" is not matched by RegexMatcher"
### Describe the bug
When a mapping is in place for a Post request with Body RegexMatcher = ".*" and a request with "BodyAsBytes" is made, the mapping is not returned.

### Expected behavior:
The mapping should be returned since the RegexMatcher  should match any body content.

### Test to reproduce
- 1 create Post mapping with RegexMatcher = ".*"
- 2 make request with "BodyAsBytes"

### Other rel

[2021-08-04 12:15] StefH commented on #624
Hello @FSatmar ,

I understand your point, however when the body is just bytes, a RegExMatcher/WildcardMatcher (= StringMatcher) cannot be used because I never know if the bytes area actually a string (and which encoding is used).

So I think what could be a solution for you is that a new matcher like `AnyBytesMatcher` will be added, which can be used to detect if the body contains any bytes.

Ano

[2021-08-04 12:35] FSatmar commented on #624
Is there an option to define a matcher that would match any type of body and any content? as in this case I don't care about the body content. otherwise, it seems I'll need to create 2 mappings, one for each body type.

[2021-08-04 12:49] danspark commented on #621
Apologies for taking so long, I've been a bit busy. I took a look at the most recent version of the CI build, the API looks a little different, I don't know if it made a lot of difference. My simplest setup looked like this:

[code]

With the modification, it looks like this:

[code]

Maybe the MappingModelBuilder `WithRequest` and `WithResponse` methods could have an overload that asks for an `Ac

[2021-08-04 13:28] StefH commented on #624
I've added a `NotNullOrEmptyMatcher` which should be possible to use for string, json and bytes.

Try the MyGet preview version: `1.4.19-ci-15242`.

https://github.com/WireMock-Net/WireMock.Net/pull/625

[2021-08-04 13:40] #621 closed

[2021-08-04 13:45] FSatmar commented on #624
This works great, thank you very much!

[2021-08-04 13:51] StefH commented on #624
@FSatmar OK

I'll merge the PR and create a new official version in some time.

[2021-08-04 13:51] #624 closed

[2021-08-05 15:32] tuananh-le opened #626 "version 1.4.19 throws a lot of analyzer errors related to the BaseBuilder.cs"
### Describe the bug
Received the following analyzer errors and can't even find the BaseBuilder.cs file. Not sure why this version has caused these errors thou.
[code]

### Expected behavior:
These errors shouldn't occur

### Other related info
- .NET 5 project

[2021-08-05 19:22] StefH commented on #626
@tuananh-le
Thanks for creating this issue.

This is related to https://github.com/StefH/FluentBuilder which I added to make it possible to use to build the models in a fliuent way.

I'll investigate and fix this.

[2021-08-05 21:30] StefH commented on #626
@tuananh-le
Can you try preview version `WireMock.1.4.20-ci-15262` ?

[2021-08-06 06:05] StefH commented on #626
See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions for details

[2021-08-06 09:08] tuananh-le commented on #626
@StefH : We decided to revert back to 1.14.18 for now. It works fine in that version.

[2021-08-06 10:17] StefH commented on #626
I'll release official WireMock.1.4.20 in a few minutes, please try that one.

[2021-08-06 10:17] #626 closed

[2021-08-20 13:27] Glen-Moonpig opened #629 "BodyParser Newtonsoft.Json.JsonReaderException"
### Describe the bug

I keep getting a JsonReaderException when Wiremock is trying to parse a request body.
It works on my build server (linux dotnet image), not on my local machine (Windows 10, .NET Core 3.1).
I managed to get it working temporarily by deleting the bin folder and rebuilding, but that is no longer working.

![image](https://user-images.githubusercontent.com/45943914/130240305-588c

[2021-08-20 13:50] Glen-Moonpig commented on #629
I have changed my code to read the JSON file using System.IO.File and still getting the same error...

[code]

![image](https://user-images.githubusercontent.com/45943914/130243338-3e1c4c63-3a00-4dfe-bce9-c9839a9b00c7.png)

[2021-08-20 15:07] StefH commented on #629
Can you also post the file?

[2021-08-20 15:22] Glen-Moonpig commented on #629
Hello @StefH I have updated the issue description since I first created it. I think the exception is happening when Wiremock is trying to parse the body of the incoming request rather than the response body JSON. Is that what `BodyParser.Parse` is doing?

[2021-08-20 15:23] StefH commented on #629
In that case, can you post the complete request message you send?

[2021-08-20 15:26] Glen-Moonpig commented on #629
It is a GET request, there is no body to parse. The config for the request is

[code]

I expect `BodyParser.ShouldParseBody` is returning true when it should be returning false.

[2021-08-20 15:28] Glen-Moonpig commented on #629
[code]

Should probably be

[code]

See [here](https://github.com/WireMock-Net/WireMock.Net/blob/dc078b57ea463e2c9c7da7f6579af34000596446/src/WireMock.Net/Owin/Mappers/OwinRequestMapper.cs#L57)

[2021-08-20 15:32] StefH commented on #629
Do you have only 1 mapping defined? That "GET" mapping?

And what kind of request do you send to WireMock.Net ?
(It looks like you send a POST request with an empty body, but with content-type json?)
So can you provide the request you send (maybe you send it via postman?)

[2021-08-20 15:36] Glen-Moonpig commented on #629
Only the one mapping for that path. I have other mapping on different paths.

The request is sent using [commercetools-dotnet-core-sdk-v2](https://github.com/commercetools/commercetools-dotnet-core-sdk-v2).
It has HttpClient logging and I can see in the logs

[code]

[2021-08-20 15:44] Glen-Moonpig commented on #629
Here is the HttpRequestMessage that is sent

![image](https://user-images.githubusercontent.com/45943914/130258957-64c09ac7-c6f9-4251-b8f9-6f99b4dc0cce.png)

[2021-08-20 15:52] StefH commented on #629
And WireMock is running at http://localhost:46871 ?

And what happens if you remove all other mappings, and just keep this 1 GET mapping?

[2021-08-20 15:56] Glen-Moonpig commented on #629
Yes that is the correct base URL for wiremock.
I have removed all other mappings and it still errors on that request.

The fact that this works on my linux build server but fails on my Windows machine makes me suspect that there is some difference in how .NET or Wiremock is behaving.
I'm wondering if it is to do with the `USE_ASPNETCORE` preprocessor directives in Wiremock, but that only seems to

[2021-08-20 16:05] StefH commented on #629
Interesting.
Are you able to create a console-app which uses that  commercetools-dotnet-core-sdk-v2 to send the request ? Then I can debug WireMock.

[2021-08-20 16:15] Glen-Moonpig commented on #629
I have managed to debug by Visual Studio decompiling the source. I can see that within the SDK I am using it is first sending a request to a token endpoint to fetch an auth token. The body it is sending is not JSON. The content type is `application/x-www-form-urlencoded` and the body is:

[code]

![image](https://user-images.githubusercontent.com/45943914/130263041-0eeb09a1-d531-441e-a734-6237238d

[2021-08-20 16:21] Glen-Moonpig commented on #629
I think the problem may be that the content type matcher does not include a wildcard at the end

[code]

and my content type header has charset included

`Content-Type: application/x-www-form-urlencoded; charset=utf-8`

[2021-08-20 16:32] Glen-Moonpig commented on #629
Actually, it looks like `MediaTypeHeaderValue.TryParse` should have extracted only the media type. I am not sure why it is using the JSON parser here.

[2021-08-20 16:41] Glen-Moonpig commented on #629
...I think this may have all been a waste of time. Wiremock attempts to deserialize as JSON and catch the JsonReaderException and ignore it. Because I am debugging and have CLR exceptions on it appeared to be a failure, but is actually expected.

Thanks for your time and patience.

[2021-08-20 16:41] #629 closed

[2021-08-20 16:44] StefH commented on #629
No worries.
I am glad your issue is solved.

[2021-08-26 15:15] lillo42 opened #630 "Remove prefix from route before proxing?"
Hi,

Is there any way where I can remove an prefix from route before proxy it?

Wiremock: https://github.com/tomakehurst/wiremock/issues/745
Workaround: https://gist.github.com/pavetok/62f7f0e315fcadeeae9bfcb1f8de54ad

[2021-08-31 17:05] rodrigoramos commented on #491
Hi there! I have same problem here. We're creating a project which contains more than .NET technology (Python and Java) and it has been difficult to share those mappings across the projects.

Actually, that might invalidate the use of this marvelous tool at all.

Is it possible to help to create some kind of "importer" or something like the converter that you mentioned above?

[2021-08-31 19:34] StefH commented on #491
@Ppiwow and @rodrigoramos
Can you help me by providing the model (Java) and the JSON file which the current wiremock.org uses?

And what would preferred?
- a separate tool to convert the json from wiremock.org to this one?
- an import / read wiremock.org mapping file capability?

(Note that a 100% match will never be possible...)

[2021-09-09 00:15] rodrigoramos commented on #491
Hi @StefH! Thanks for your answer. IMO, I'd preferred an "import/read" capability.

I cannot share exactly the models that I'm working on (company's policy) but I can share some samples that I created in order to understand the Playback/Recording functionality.

GET Sample
[code]

POST Sample
[code]

[2021-09-12 14:02] StefH commented on #491
@rodrigoramos
Something like `ImportWireMockOrg(string path)` as public method on WireMockServer?

[2021-09-12 19:40] StefH commented on #491
@rodrigoramos & @Ppiwow
I've create a preview version `WireMock.1.4.21-preview-04-ci-15384` which has an extra method to import 1 json file.

https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

In the next days, I'll add more logic and unittests. And if you encounter issues, please write tehse here.

[2021-09-16 12:27] StefH commented on #491
https://github.com/WireMock-Net/WireMock.Net/pull/631

[2021-09-16 12:36] StefH commented on #491
Some compatibility has been added.

You can now post Create a new single WireMock.org stub mapping or an array from  WireMock.org mappings to `/__admin/mappings/wiremock.org`

Please try this functionality and create a new issue in case you miss something.

A new version will be released shortly.

[2021-09-16 12:36] #491 closed

[2021-09-16 15:46] rodrigoramos commented on #491
Thank you so much.

Em qui., 16 de set. de 2021 09:37, Stef Heyenrath ***@***.***>
escreveu:

[2021-09-17 16:51] julien-azouz-beezup opened #632 "Record all request even when identical + Expect request sequences when replaying"
I have a case where I want to test my actions on a Rest API I do not have control on.

This API is stateful so for example this sequence is possible :
- Request A (GET method) -> Responds X
- Request B (POST method)
- Request A (GET method) -> Responds Y

With the static mapping, Request A and its response will only be recorded the first time.

I would like to :
1. Save ALL requests even identical

[2021-09-19 20:14] StefH commented on #632
@julien-azouz-beezup

Would [Scenarios-and-States](https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States) be a solution for your issue?

[2021-09-25 15:29] julien-azouz-beezup commented on #632
Hello.
Sorry for the delay.

I can achieve part of what I want with scenarios and states as I've mentioned but there are not very convenient.
The main issue remains with the static mapping where one request cannot be mapped to multiple responses depending on a state.
Or I have to stop a restart separate records for every possible states... and then I have to sort and import them in a single mappin

[2021-09-27 14:56] phelm1-landolakes opened #634 "Upgrade to latest FluentAssertions"
When test project references FluentAssertions 6.1.0

[code]
Throws   System.MissingMethodException

[code]

[2021-09-27 19:04] StefH commented on #634
@phelm1-landolakes
A new version will be released, please test it.

[2021-09-27 19:04] #634 closed

[2021-09-29 03:22] devmariodiaz opened #636 "Wiremock authentication and Authorization - Azure AD"
Is there any way to implement authentication and authorization with Wiremock? Something like Azure AD, JWT, etc.

[2021-09-29 05:40] StefH commented on #636
@devmariodiaz
You mean authentication for the REST admin interface?

[2021-09-29 14:54] devmariodiaz commented on #636
@StefH we need to verify if the person that is invoking the service mocked is authorized to do that using Azure Active Directory

[2021-09-29 17:22] StefH commented on #636
@devmariodiaz

I've created a preview version : `1.4.24-ci-15439.` on MyGet :
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

This version should support AzureAD authentication which needs an "Tenant" and "Audience".

use it like:
[code]

[2021-09-30 06:47] StefH commented on #636
https://github.com/WireMock-Net/WireMock.Net/pull/637

[2021-09-30 08:13] julien-azouz-beezup commented on #632
Yes, this PlaybackOrder property will useful for `1. Save ALL requests even identicals during a session and ensure the order in which they are called remains.
`

I don't understand the issue with the  json file support. I am not familiar with the code.
I naively think that we could rely on the index of the element in the file ?

[2021-09-30 09:11] StefH commented on #632
For me it's easier to check the PlaybackOrder (nullable int) property in case multiple matches are found.

One thing remains is that I need to keep track of which match was returned last time. And I guess there should also be a way to reset this back to the first option.

[2021-09-30 09:34] StefH commented on #636
@devmariodiaz
Did you have time yet to test this?

[2021-09-30 09:59] julien-azouz-beezup commented on #632
Can you leverage the existing scenarios and state feature for that ?

You could create a sort of scenario generator that will :
1. Automatically append the PlaybackOrder property when recording
2. Update the state as it receives requests

But maybe that appending that managed scenario generator will be confusing when existing along regular "unmanaged" ones.
Or maybe this should belong in a specifi

[2021-09-30 10:04] julien-azouz-beezup commented on #632
Another suggested change, more trivial I think :
An **option** to record all requests even the identical ones in a "static" mapping.
The default behavior of request matching for this will simply fetch the first matching request.

Then I could leverage the scenarios and states feature to achieve this `1. Save ALL requests even identicals during a session and ensure the order in which they are calle

[2021-09-30 16:57] devmariodiaz commented on #636
Oh great, my friend,  I will test and I will tell you how was it, thanks a lot

[2021-10-04 10:33] tvytrykush opened #638 "Provide exact type values for the response when using OpenApi parser."
I'm using `WithMappingFromOpenApiFile(path, settings, out var diag);` and it adds mapping from my file just fine, but I'm stuck with generic type values (42 for int, "example-string" for string) when getting a response. In what way can I adjust these values?

[2021-10-04 10:59] StefH commented on #638
You can provide your own example values to the settings object:
[code]

[2021-10-04 10:59] #638 closed

[2021-10-04 11:37] tvytrykush commented on #638
@StefH, is it also possible to specify this values per mapping path?

[2021-10-05 08:28] StefH commented on #638
@tvytrykush
No sorry that's not possible.

However. maybe when you add an example in the openapi file, these values are used.

[2021-10-05 15:12] devmariodiaz opened #639 "Response Templating examples"
Hello Stef,

I hope that is doing well.

I am trying to use Response Templating features from this amazing library, but for me is not working, I don't know if my code is bad, is possible that you could provide me some examples to do that?

This is my example:

[code]

Getting this result:

shorturl.at/yRVW1

[2021-10-05 15:55] StefH commented on #639
The shorturl is invalid?
And can you please add the request ?

[2021-10-05 15:55] StefH commented on #636
Did you have time yet to verify ?

[2021-10-05 16:13] devmariodiaz commented on #639
Sure Stef, thanks for your fast answer, the request is:

this is using Postman
{
    "name": "Mario"
}

Getting this result:

{
    "Status": "Value cannot be null. (Parameter 'value')"
}

[2021-10-05 16:18] StefH commented on #639
`.UsingGet()` should be `.UsingPost()`

This works:
![image](https://user-images.githubusercontent.com/249938/136062519-9203d998-dcbf-4a83-b9b6-092e1bb881e1.png)

[2021-10-05 16:51] devmariodiaz commented on #639
Thanks a lot, Stef.
I appreciate it. I checked it and it works. Could you please provide some examples using this feature?
In my case, I want to replace static variables in the canned data, and other use cases.

Also, could you please let me know, which version of RAML, is supported by WireMock.NET, I check the RAML version 1.0, JSON schema version 3.0, and it worked, my question is regarding othe

[2021-10-05 17:06] StefH commented on #639
For templates, read all the text + follow links on : https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templating

About RAML : I use some standard libraries from Microsoft:
<PackageReference Include="Microsoft.OpenApi.Readers" Version="1.2.3" />

If have more questions on RAML/Openapi : create a new issue.

[2021-10-05 22:48] devmariodiaz opened #640 "Conditionals for templating"
Mr Stef,

I hope that everything is doing well.

I have a question: Is there any way to use conditional in templating response?

[2021-10-05 22:50] devmariodiaz opened #641 "More than a request/response in a unique canned data"
Mr Stef,

I hope that everything is doing well.

Could you please let us know if there is a way to have more than one (request and response) in the same canned data?

different request and response for each CRUD operation (GET,PUT,PATCH,DELETE,POST)

[2021-10-05 22:53] devmariodiaz opened #642 "Using RAML"
Good afternoon Mr. Stef,

Could you please let me know, which version of RAML, is supported by WireMock.NET, I check the RAML version 1.0, JSON schema version 3.0, and it worked, my question is regarding other versions and other formats available.
I also tried to create an array and use this out-of-the-box setting feature "settings.NumberOfArrayItems = 5;",
but I was not able to create an array in

[2021-10-06 05:46] #639 closed

[2021-10-06 05:49] StefH commented on #640
Hello Mario.

WireMock.Net uses Handlebars.Net which follows the same logic as handlebars.js

See this page on how to use `if` : https://handlebarsjs.com/guide/builtin-helpers.html#if

[2021-10-06 05:49] #640 closed

[2021-10-06 13:58] devmariodiaz commented on #640
Hello Mr. Stef,  That's great, big thanks for your valuable help.

[2021-10-07 05:07] vfongmala-willowinc opened #645 "How to using WireMock.NET with Appium to mock mobile app response"
I have a mobile app which is pointing to real URL (with HTTPS).
I run an automation test on the app by using Appium framework.

I want to intercept the response from real URL with the mock data without changing the URL on the app.
What would be the correct configuration to start the server?

What I've tried.
1) I set Android emulator proxy to my local machine IP address with port 7777
2) I setup t

[2021-10-07 21:20] devmariodiaz opened #646 "Escape characters inside Matcher pattern"
Hello Stef,

I hope everything is doing well.

Could you please let me know if there is a way to replace "Pattern" parameter in post request with a filename i.e "request.xml" or variable?
I really appreciate it
i.e "PatternAsFile": "requestbody.xml"  such as Request Templating.

[SOAPconfiguration.json.zip](https://github.com/WireMock-Net/WireMock.Net/files/7306987/SOAPconfiguration.json.zip)

[2021-10-09 14:30] StefH commented on #646
Hello @devmariodiaz,

I think that `"PatternAsFile": "requestbody.xml"` is the most logical option. Do you agree?

[2021-10-09 15:20] The-Futurist opened #647 "Package download"
I just cloned the repo and attempted to build the solution. However I see a huge number of nuget timeout errors, e.g.

![image](https://user-images.githubusercontent.com/12262952/136664114-a1964816-0fe3-4160-ab4f-319a0e59e1f2.png)

I am restricted to a DSL internet connection but have never seen this before, I can see that this solution does seem to consume a very large number of packages though.

[2021-10-09 15:52] Korporal commented on #647
Hi, I retried and think it has restored everything, I ran the build in VS 2022.

I think all packages are now eventually installed, but this puzzles me, I can't tell if this is a problem in the solution itself or a side-effect of my problematic restores:

![image](https://user-images.githubusercontent.com/12262952/136665452-c288e36e-fcd1-4856-bd2c-73ac1cd2d006.png)

I'm assuming that package is pu

[2021-10-09 16:25] #647 closed, assigned to nobody

[2021-10-09 17:47] Korporal commented on #647
@StefH  - Thanks, I pulled the changes and the solution builds, now for another question - about my problem and how WireMock can help...

[2021-10-09 17:58] The-Futurist opened #648 "How to best leverage WireMock"
We use this REST service - [Valence](https://docs.valence.desire2learn.com/reference.html), here's a typical [endpoint ](https://docs.valence.desire2learn.com/res/course.html#get--d2l-api-lp-(version)-courses-(orgUnitId))we use.

To do this I created (several years ago) a T4 based solution, with this I can define an endpoint in XML and the T4 code generator generates classes and methods that expos

[2021-10-10 08:54] StefH commented on #648
Good morning @Korporal ,

I've trying to understand what you want.

It is something like:
- RestClient (RestSharp) using C# classes to get/post to Valence

And now you want something like?
[code]

(If possible provide an example project or make a picture of the flow.)

[2021-10-10 16:42] Korporal commented on #648
@StefH - To soon for an code as such, also I'm a bit of a novice with respect to mocking which is part of the reason for the question.

I'd like to modify the Valence API so it can run against the "real" internet as it does now, but also against a "simulation" or "mock" of the service, so that we can issues data requests but have the data pulled from a log.

So instead of HTTP requests going to th

[2021-10-10 16:57] Korporal commented on #648
Here's a crude representation of what I thinking:

![Untitled Document](https://user-images.githubusercontent.com/12262952/136705764-e95ac5ff-c03b-42b3-b66b-d51fa1c6192a.png)

[2021-10-10 17:06] Korporal commented on #648
The Valence class library is our code, a .Net standard library, it uses RestSharp. I envisage some mechanism that can intercept the traffic and log to a file, invisible to the class library to all intents and purposes.

Then I envisage being able to run the same app which calls into the Valence class library as before but this time the class library (perhaps via Wiremock) is not interacting with r

[2021-10-11 06:45] StefH commented on #648
Hello @Korporal ,

This is possible, I've change you picture to make it more compliant to the terms used within WireMock.Net:
![image](https://user-images.githubusercontent.com/249938/136744350-40283993-9291-470e-897a-833023c44276.png)

Switching between the two modes (1 and 2) is just a matter of using a different endpoint or port.

[2021-10-11 20:18] devmariodiaz commented on #646
I got it 👍

[2021-10-12 08:13] StefH commented on #646
https://github.com/WireMock-Net/WireMock.Net/pull/651

[2021-10-14 17:17] devmariodiaz opened #652 "Temporary cache data using POST method"
Hello Stef,

Hoping that everything is doing well.

I have a question: WireMock is able to store temporary cache when we are using POST or any operation?

[2021-10-14 20:08] devmariodiaz opened #653 "WireMock published in a VM not working with SOAP (Timeout)"
Hello Stef,

Good afternoon Stef,

I hope you are doing well;

I am trying to send the xml-soap body request as a pattern, when I am running in localhost:8080 its working perfectly, after deploying in azure devOps pipeline URL:8080 when the pattern in body request contains "<soap:envelope>" it is not working, and keep processing (Timeout), could you please let me know if you have any recommendatio

[2021-10-15 00:22] devmariodiaz commented on #646
Hello Stef,

I was testing this solution and it's working fine, would you please incorporate this feature in the next version.

Thanks a lot for your time.

[2021-10-16 04:55] bettyybei opened #655 "JsonPathMatcher filter does not work with non array JSON"
### Describe the bug
`JsonPathMatcher` does not allow the usage of filters with non array JSON.
In the example provided in the [wiki](https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching-JsonPathMatcher), the first matching example listed `{ "things": { "name": "RequiredThing" } }` does not actually request match with the body matcher pattern `"$.things[?(@.name == 'RequiredThing')]"

[2021-10-19 15:33] StefH commented on #652
Hello Mario,
I'm not sure I fully understand your request.

Can you provide an example / use-case scenario?

[2021-10-19 16:58] devmariodiaz commented on #652
Hello Stef, Thanks for always your quick answers.

For example, I will send some data using POST/PUT or another HTTP method, I want that this data can be stored in a kind of cache for a determined time inside a based WireMock solution.

i. e:

I will send the data as follows:
{
    "firstName": "Mario",
    "birthDate": "01-01-2000",
   .
   .
   .
   "insertedAt": "01-01-2020"
}

To for example t

[2021-10-19 20:27] devmariodiaz opened #656 "Using --WireMockLogger in command line"
Hello Stef,

I hope that you are doing well.

As you know, I'm using the standalone way to build a based WireMock solution

I want you to ask about the option --WireMockLogger. What are the possible values that this option could be taken?

[2021-10-19 20:33] StefH commented on #656
I think that two values are supported.

Described here:
https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-commandline-parameters

[2021-10-19 20:35] devmariodiaz opened #657 "How to run an standalone app in HTTPS passing a certificate path through command-line"
Hello Stef,

I want to ask you if is there any way to run a standalone app passing through the command-line a kind of flag where we could send the HTTPS certificate path?

Thanks for all :)

[2021-10-20 06:05] StefH commented on #652
Hello Mario,

In that case, there should be an option to provide the start-time, end-time or expiration-time.

Proposal:
In the Mapping you can provide the start-time and end-time when this mapping should be used

[code]

- If "Start" is omitted, the current DateTime is used
- If "End" is omitted, there is no end-time

And you can also only provide the TTL / TimeToLive

[code]

Would this work for

[2021-10-20 12:56] andresendava opened #658 "How to filter in BodyAsFile JsonPath.SelectToken"
Similar as Body As Json:

[code]

How to use in Body As File ??

[code]

This feature is supported?

Thanks in Advance

[2021-10-20 13:08] AndresGMD opened #659 "How to pass attributes in JsonPath"
Hello.

In this example I would like to get ID using Cleaning Path

I've defined my path like /path/* And I use the attribute request.PathSegments.1 to get the (*) value

How to pass this attribute in JsonPAth like this?
[code]
Thanks in Advance!

[2021-10-20 13:52] andresendava opened #660 "How to create a implement¡ a JsonMatcher or JsonPartialMatcher With Regex?"
Hello every one!!

In the case I would like to implement a Json Matcher just for detect Json Keys for any Value.

[code]
How can this be implemented? Thanks in advance

[2021-10-20 14:42] StefH commented on #659
Hello @andresendava ,

Did you try `request.PathSegments.2` ?

[2021-10-20 15:04] andresendava commented on #659
I know that is attribute splitting path and I would like to use a clean path to pass parameters.

[2021-10-20 16:18] StefH commented on #659
Sorry, I don't understand what you want. Can you please provide a full example what you're trying to achieve?

[2021-10-21 06:24] StefH commented on #652
@devmariodiaz
To make sure you have the correct version, there is a new vetrsion : `1.4.24-ci-15516`. Please try that.

In your example, when you add that mapping and send a POST request, WireMock.Net will return a 404 because now (2021 21 oktober) does not fall in the Start and End range.

[2021-10-21 11:00] StefH commented on #658
Hello @andresendava,

For your scenario, you need to set UseTransformer to true to also transform the filename.

More details how to use it are found herE:
- https://github.com/WireMock-Net/WireMock.Net/blob/dc078b57ea463e2c9c7da7f6579af34000596446/test/WireMock.Net.Tests/ResponseBuilders/ResponseWithTransformerTests.cs#L417
- https://github.com/WireMock-Net/WireMock.Net/blob/dc078b57ea463e2c9c7da

[2021-10-21 11:00] #658 closed

[2021-10-21 11:05] #657 closed

[2021-10-23 08:33] #659 closed, assigned to nobody

[2021-10-25 13:55] devmariodiaz opened #665 "Session Tracking"
Hello Stef,

Greetings.

I have a quick question.

In WireMock is there any way to manage session tracking?

Ref: https://stackoverflow.com/questions/1740860/http-session-tracking/1740900

[2021-10-25 21:34] devmariodiaz opened #666 "Example is not working as expected"
Hello Stef,

Thanks for all your help.

I want to report to you, that this example that you provide me some days ago is not working, is not taking the launchsettings.json parameters, is taking default parameters.

https://github.com/WireMock-Net/WireMock.Net/tree/dc078b57ea463e2c9c7da7f6579af34000596446/examples/WireMock.Net.StandAlone.NETCoreApp

![Screen Shot 2021-10-25 at 4 25 47 PM](https://us

[2021-10-26 18:55] #656 closed, assigned to nobody

[2021-10-27 17:27] #648 closed, assigned to nobody

[2021-10-27 19:50] andresendava opened #671 "Help with implementing tracking http session in WireMock.NET"
Hi Stef,

is there anyway to implement following task, using static mappings.

**Narrative:** Session tracking requires that a session ID is maintained across multiple request to the server. This means that each time a given client makes a request to the server it passes the same session ID. The server can use this ID to lookup the session information it maintains. [How works ](https://help.sap.co

[2021-10-27 21:50] mcheguini opened #672 "Question regarding raml structure"
Hello Stef,

I would like to say thank you for this amazing framework, and your support (:
I am trying to use raml file in WireMock and I am not able to use some capabilities inside the WireMock.NET
I understand you implemented “RamlToOpenApiConverter. and  “ConvertToOpenApiDocument” is used to convert raml to OpenAPI
I tried to use “ConvertToOpenApiDocument” and “ConvertToFile” for following exam

[2021-10-29 18:13] emygg84 opened #674 "Performance issues working with App Center"
In my company we are using WireMock.Net + SpecFlow to do automated E2E tests for Android & iOS devices, everything works fine with a small quantity of configuration files (wiremock) and when the tests are executed from the PC of the developers individually but... When AppCenter executes the tests then sometime the server fails to upload some configuration files that are sets dynamically for each s

[2021-11-02 20:18] andresendava commented on #671
Hi @StefH Stef

Regarding [Scenarios & States](https://github.com/WireMock-Net/WireMock.Net/wiki/Scenarios-and-States).

##POINT 1
I could defining states manually. Is there a way to generate this states numerically and  incrementally?. Example:

Request...
 Scenario: 1
Response...

Request...
 Scenario: 2
Response...

....

Request...
 Scenario: n
Response...

Or using Url rewriting

/link/1

Req

[2021-11-03 19:36] devmariodiaz commented on #665
Thanks a lot for all @StefH,

I would like to ask you if you could provide me with any examples, how to use Scenarios and States to simulate a session tracking with WireMock.NET? I cannot to find any way doing that using Scenarios and States :(

[2021-11-03 21:17] StefH commented on #671
https://github.com/WireMock-Net/WireMock.Net/issues/665

[2021-11-03 21:18] StefH commented on #665
Related to https://github.com/WireMock-Net/WireMock.Net/issues/671 it seems....

Your approach is currently the only one.

I need some time to think of something else..

[2021-11-04 12:15] grzegorz-wolszczak opened #677 "Obsolete documentation (FluentMockServer used in examples is not available any more)"
Page https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-as-a-standalone-process#option-3--coding-yourself uses FluentMockServer in examples, but as far as I understand , it is not available from version 1.3.0, when current version is 1.4.26

Please update code examples with WireMockServer class and related classes

[2021-11-04 12:18] StefH commented on #677
Thanks.

It's fixed.

[2021-11-04 12:18] #677 closed

[2021-11-04 12:25] grzegorz-wolszczak commented on #677
Thanks for fast response

[2021-11-04 14:15] andresendava commented on #671
Hi @StefH

Because filtering by body does not work correctly for parameters other than **path**. I was thinking in another option could be to implement a capability that allows me to filter cookies using the URL Rewriting method:

In general can looks like the following:

__admin/requests/cookie/(Name)/(Value)
or
__admin/requests/find/cookie/(Name)/(Value)

i.e. Given:

<img width="986" alt="image

[2021-11-04 15:28] andresendava commented on #671
@StefH ,

 I have found the solution by filtering with Body

I Found that Cookie is a collection. I  make a prove sending a request with session_id=123 And 2 request with session_id = 456

I check the requests _http://localhost:8080/__admin/requests_

[code]

###Filter
And I apply the filter inn the following way (I check in detail de CookieModel):

[code]
And the result was:

[
    {
        "Gui

[2021-11-04 15:28] #671 closed

[2021-11-06 07:50] StefH commented on #674
How many mappings do you have when WireMock.Net throws errors?

[2021-11-09 14:11] andresendava opened #682 "TTL of Posting request"
Hi @StefH

I have the following question.

How long time remains the posting request in WireMock server? ¿Is this time configurable?

Thanks in advance.

[2021-11-09 15:11] StefH commented on #682
You mean the mapping ?

Or the request itself (logging) ?

[2021-11-09 15:46] andresendava commented on #682
Thanks @StefH Stef for your quick answer again

I talking about the post request the is fetching with the next pattern __admin/request

I my review I found the next command line parameter

MaxRequestLogCount
RequestLogExpirationDuration

[WireMock-commandline-parameters](https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-commandline-parameters)

Thanks in advance.

[2021-11-09 15:53] andresendava commented on #682
This Issue could be close. Thanks in advance

[2021-11-09 15:53] #682 closed

[2021-11-09 17:10] devmariodiaz opened #683 "Error compiling WireMock.NET"
Hello Stef,

Hoping that you are doing well.

I have a question.

I'm trying to compile WireMock Solution, to do a debug adding this project as a reference in my project, but I'm getting these errors:

 /Users/xxx/Projects/WireMock.Net/src/WireMock.Net/Http/HttpClientBuilder.cs(17,17): Error CS0117: 'HttpClientHandler' does not contain a definition for 'ServerCertificateCustomValidationCallback' (

[2021-11-09 20:03] devmariodiaz commented on #683
Please forget this,
I solved it.

I only left this tag as follows:
`<TargetFrameworks>net5.0</TargetFrameworks>`

Instead of:
        `<TargetFrameworks>net5.0;net451;net452;net46;net461;netstandard1.3;netstandard2.0;netstandard2.1;netcoreapp3.1</TargetFrameworks>
`

[2021-11-09 20:03] #683 closed

[2021-11-13 07:13] gpetrou opened #684 "How to use with GitHubClient?"
I would like to use WireMock.net with [Octokit](https://github.com/octokit/octokit.net).
If I use the following code and UseWireMock is false, I get the expected number of repositories.
If it is true and therefore it will use WireMock.net localhost URL, I get a NotFoundException.
Since this is my first time using WireMock.net, I suspect I might be doing a rookie mistake with the options.
Any idea

[2021-11-15 18:07] gpetrou commented on #684
Looks like this was an issue with the GitHubClient constructor that I was using. If I use the following instead it works:

[code]

[2021-11-15 18:07] #684 closed

[2021-11-17 06:47] brogdogg opened #685 "GuidWildcardMatcher to match on GUIDs"
**Is your feature request related to a problem? Please describe.**

I have been using the `RegexMatcher` to do matches for paths with GUIDs, but after a while the `Pattern` in the JSON mappings becomes unwieldly long in length when a few GUIDs are used.

**Describe the solution you'd like**

Would like a matcher to allow for matching a GUID (mostly in the `Path`). For example:

- `Path` -  `http:/

[2021-11-17 09:46] StefH commented on #685
It would also be an option to update the wildcard matcher.
Currently the wildcard matcher supports a `*`. Maybe when adding logic to understand also `GUID(D)` could be an option...

Just thinking....

[2021-11-17 17:56] brogdogg commented on #685
True, I mean would it be a more general matcher available in JSON as well?  I forked and trying to play with it to see.

[2021-11-17 21:30] brogdogg commented on #685
OK, after playing I see what you mean by updating the wildcard matcher, since it extends `RegexMatcher`.  I was trying something like this:

[code]

and was able to get things working.

My only thought about putting it in the `WildcardMatcher` is I would not think to look there for a GUID matcher.  But I'm honestly having a difficult time thinking of a better solution.  Creating a new `GuidMatcher

[2021-11-17 22:23] StefH commented on #685
What we also could do is 'extending' the RegEx specification by adding GUID, GUIDN or GUIDP.

So like `\D` matches a digit, the `\GUID` should match a Guid.

So maybe new logic should be moved to a separate helper NuGet / project / class and then replace all logic in WireMock.Net which uses Regex, by this new "RegexExtended".

?

[2021-11-18 05:58] brogdogg commented on #685
I like the idea. I took a look at the [RegexParser. ScanBackslash](https://github.com/dotnet/runtime/blob/f6e2377da05888fda0fda18ee0959683e830d8d9/src/libraries/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs#L1156) method and it is quite involved and isn't really built for extensibility, which would result in divergent code paths.  So doesn't feel like a longterm

[2021-11-18 13:36] StefH commented on #685
I just meant that we don't need to write parser code, just use your replace logic, like:
[code]

![image](https://user-images.githubusercontent.com/249938/142425176-8f0ecaa3-db46-45a7-9b4b-c31f8895d4a8.png)

[2021-11-18 15:18] brogdogg commented on #685
I see what you mean.

[2021-11-18 19:59] brogdogg commented on #685
OK, I got a library where I have most of the work done.  Will try to package into a nuget later and publish.

[2021-11-18 20:07] StefH commented on #685
Cool.

However, if it's only a single class file, maybe it's better to just include it in this project first.

[2021-11-18 20:24] brogdogg commented on #685
Meh... it could be useful for others too I suppose.

[2021-11-18 20:38] brogdogg commented on #685
I could try to integrate it on my fork as a single class integrated and put up a PR.  Would that be helpful?

[2021-11-18 21:08] devmariodiaz opened #687 "Trying to compile WireMock.NET in VS for Windows issue"
Hello Stef,
Hoping that you are doing well.

I'm trying to compile WireMock.NET on Windows, but, I'm getting an error related to FluentBuilder [FluentBuilder.AutoGenerateBuilder] in the BodyModel.cs cs
![Screenshot_217](https://user-images.githubusercontent.com/54611419/142496985-e8a79d62-2a96-42de-8b7a-ee8b90a162f7.png)

dotnet --version
5.0.402

Any idea about this?

[2021-11-18 21:33] StefH commented on #687
This is Fluentbuilder is using source generation.

Did you try restarting VS2022/ VS2019 and reloading the project.

[2021-11-19 09:37] #672 closed

[2021-11-19 09:37] #652 closed

[2021-11-22 22:51] JanuszRybinski opened #692 "Case insensitive and ignoring optional path and header parameters in OpenApiPathsMapper"
Hello @StefH and @leolplex,

related to (#691) but I decided to start a new discussion. While I testing OpenApi Parser, I encountered an interesting behavior of HttpRequestMessage, I will show on an example.

Assuming I have this definition of request:
[code]

And I want to define a request for this:
[code]

I did not check why exactly, but a header called "X-Correlation-ID" will be added to the r

[2021-11-23 00:57] leolplex commented on #692
Hello @JanuszRybinski / @StefH ,

It all makes sense to me, I also would add the required parameters in request body.

https://github.com/WireMock-Net/WireMock.Net/blob/8865543bf117bbf7cfcd90bb43714715ed0238ee/src/WireMock.Net.OpenApiParser/Mappers/OpenApiPathsMapper.cs#L64

` if (operation.RequestBody != null && operation.RequestBody.Content != null && operation.RequestBody.Required)`

[2021-11-23 07:13] StefH commented on #692
You can create a new PR.

[2021-11-23 11:22] StefH commented on #687
Hello @devmariodiaz, did you fix this issue on your system?

[2021-11-25 00:12] wirtual11 opened #693 "Does WireMock support mocking HTTPS requests?"
From I can see is that proxy catches a request BUT it's a CONNECT HTTP method which later results in a response to a client "No mapping found".

[2021-11-26 10:11] suszi88 commented on #693
Same question. My example:
I have WebApi which from inside the code calls external url which is https.
My WebAPI is setup to proxy all requests to wiremock server.
So wiremock will catch the request but it will return "No mapping found". If I will remove all mapping criteria, I can see in RequestMessage that it's CONNECT.

[2021-11-28 11:31] StefH commented on #687
@devmariodiaz I'm closing this issue.
Please reply if you still have issues.

[2021-11-28 11:31] #687 closed

[2021-11-28 11:32] StefH commented on #685
Hello @brogdogg;

Did you achieve any progress on this?

[2021-11-28 11:32] StefH commented on #666
Closing...

[2021-11-28 11:32] #666 closed

[2021-11-29 00:21] brogdogg commented on #685
@StefH I had it done and then realized my line endings got jacked... and then Thanksgiving happened, so took a break. Will try to figure out my line endings and get it ready.

[2021-11-29 07:25] #692 closed

[2021-12-01 17:46] jagudelo2us opened #697 "Are there plans to update WireMock.Net to latest .NET 5.0, .NET Core 3.1 or .NET Core 2.1 to fix security vulnerability?"
Fix install the latest version of .NET 5.0, .NET Core 3.1 or .NET Core 2.1

Currently, you are using
 System.Text.Encodings.Web 	4.5.0 	  	NVD CVE-2021-26701 	  and
Microsoft.AspNetCore 	2.2.0 	  	NVD CVE-2019-0548 	  CWE-19 Data Processing Errors

See the following link:
https://github.com/dotnet/announcements/issues/178

[2021-12-01 17:55] StefH commented on #697
Hello @jagudelo2us,

The `System.Text.Encodings.Web` is fixed and new NuGet packages will be released today.

About `Microsoft.AspNetCore` ; I've to review that.

[2021-12-01 22:37] jagudelo2us commented on #697
Still seeing the same vulnerability even with WireMock.Net version 1.4.28. Do a search on your Visual Studio Solution Explorer for  System.Text.Encodings.Web  and Microsoft.AspNetCore.
See screenshot
![SystemTextEncodingsWeb](https://user-images.githubusercontent.com/34318214/144323897-2c86cfe6-53f3-4822-a01f-3d2e47aefd3b.PNG)

[2021-12-08 15:08] jantanis opened #698 "PostWireMockMiddlewareInit not invoked"
### Describe the bug
PostWireMockMiddlewareInit in registered, but not invoked.

### Expected behavior:
app.Run from PostWireMockMiddlewareInit is triggered AFTER WireMock has processed.

### Test to reproduce
See sample solution: Run and go to http://localhost/test.
[WM.Middleware.zip](https://github.com/WireMock-Net/WireMock.Net/files/7676933/WM.Middleware.zip)

[2021-12-13 14:57] brogdogg commented on #685
Thanks @StefH , I was able to pull the latest version and use this feature.  Thanks again for being so open to my feature suggestion.

[2021-12-20 13:17] antero-lukkonen opened #701 "Allow to create MappingModel from c# to be able to configure local and remote mocks similarly"
**Is your feature request related to a problem? Please describe.**
I am proposing an API extension, where i could use the fluent syntax of defining Mappings, so that i can work with within unit-test and remote server mocks the same way.  I would define the mappings with fluent syntax and could share them.

**Describe the solution you'd like**
See additional context for rough examples.

**Describe

[2021-12-20 19:06] LevYas opened #702 "Logging failed mappings"
I'm developing an app that works with several other APIs, and the typical scenario is to record some interactions and use these records later as test data. Sometimes I need to edit a third-party response to a specific request, and I ofter run into trouble "no specific matching found". I thought it would be ideal to save the data about failed matching to analyze it. How can I do it?

I use wiremock

[2021-12-20 21:16] StefH commented on #702
Hello @LevYas,

Can you try version: `1.4.29-ci-15687`?

I did add a new config setting : `SaveUnmatchedRequests` which should be set to true,

https://github.com/WireMock-Net/WireMock.Net/pull/703

[2021-12-20 21:32] #685 closed

[2021-12-20 21:45] StefH commented on #567
@xamadev

Can you please try preview version `1.4.29-ci-15689` ?

Info : https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2021-12-20 21:45] StefH commented on #534
@DellaMoraWalter

Can you try preview: `1.4.29-ci-15689` ?

Info : https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2021-12-21 17:12] LevYas commented on #702
Wow, that was fast, thank you!

I love the API! I was able to set the `SaveUnmatchedRequests` to true and to override `WriteUnmatchedRequest` and it logged the failed requests.

But I found it very useful to have all the information about mapping and the closest match, like in the `LogEntry`, so I can see the closest match and what check(s) failed - headers or body or maybe URL. Can the same data

[2021-12-21 18:35] StefH commented on #702
Can you try `1.4.29-ci-15699`?

About your question about the folder, I don't know. Can you take a look at the source code? Maybe I made a mistake?
https://github.com/WireMock-Net/WireMock.Net/blob/stef-702-log-failed-requests/src/WireMock.Net/Handlers/LocalFileSystemHandler.cs

And indeed, currently this class has no virtual methods yet, I'll think about this...
#703

[2021-12-21 22:53] dschmittwilken opened #705 "wiremock as dotnet tool no ssl possible"
From the Wiki I could not find out how to enable SSL when using wiremock as .net tool.

I already tried.

dotnet tool run dotnet-wiremock arguments=" --Port 9091 --UseSSL true --ReadStaticMappings true"
and
dotnet tool run dotnet-wiremock arguments=" --Port 9091 --ssl true --ReadStaticMappings true"

[2021-12-22 09:20] StefH commented on #705
Hello @dschmittwilken

The `--UseSSL` does not exists.

You can just provide the url(s) as https:
[code]

See https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock-commandline-parameters

[2021-12-22 17:37] LevYas commented on #702
Thank you!

The logged file contains the data I wanted, cool, thanks!

I think I found the reason: For writing the mappings in Proxy you use `WriteMappingFile` and you provide the full path as an argument. The proxy uses the interface, so it finds the interface implementation in my class.
On the other hand, for unmatched requests `WriteUnmatchedRequest` performs a "local" call to `GetUnmatchedRequ

[2021-12-23 09:42] StefH commented on #702
I've added virtual to all methods.

Now, If you just override the `GetUnmatchedRequestsFolder`, all should work fine?

New version = 1.4.29-ci-15701;

[2021-12-23 17:54] LevYas commented on #702
Thank you!
Just checked, that worked, and the code was simplified significantly, well done! 👍

    public class MyLocalFileSystemHandler : LocalFileSystemHandler
    {
        private readonly string _mappingFolder;
        public MyLocalFileSystemHandler(string mappingFolder) => _mappingFolder = mappingFolder;

        public override string GetMappingFolder() => _mappingFolder;
        public ov

[2021-12-24 08:33] StefH commented on #702
OK. I'll merge this PR and create a new official version in some time.

[2021-12-24 08:33] #702 closed

[2021-12-24 12:55] StefH commented on #534
@DellaMoraWalter

I've added `ConfigureAwait(false)` to all `await` calls, so maybe this will solve your issue.

I'm closing this issue now, a new official version will be released in some days.

https://github.com/WireMock-Net/WireMock.Net/pull/704

[2021-12-24 12:55] #534 closed

[2021-12-24 12:56] StefH commented on #567
@xamadev

I've added `ConfigureAwait(false)` to all `await` calls, so maybe this will solve your issue.

I'm closing this issue now, a new official version will be released in some days.

https://github.com/WireMock-Net/WireMock.Net/pull/704

[2021-12-24 12:56] #567 closed

[2021-12-25 10:16] StefH commented on #701
@antero-lukkonen
Do you mean code like this?

https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Serialization/MappingConverter.cs

[2021-12-28 14:10] dschmittwilken commented on #705
Works like a charm with SSL using "dotnet tool run dotnet-wiremock arguments=" --Urls https://localhost:9091 --ReadStaticMappings true", thank you very much!

[2021-12-28 14:10] #705 closed

[2021-12-29 07:09] Yedidyah27 opened #708 "Unable to mock requests to specified url"
### Describe the bug
I am trying to set up wiremock for substituting responses for http requests made during testing. When I start the wiremock server I initialize it with a specific url it should intercept. I can see in debug that the wiremock server ignores the url I provided and connects to a random localhost port.

Very simple code snippet:
[code]

I am expecting the wiremock server to interce

[2021-12-29 07:14] StefH commented on #708
Hello @Yedidyah27,

WireMock.Net cannot just listen to that URL.

You need to start WireMock.Net on https://localhost:80443 for example.

And then you need to make sure that you connect from your client application to that https://localhost:80443 url.

[2021-12-29 07:14] #708 closed

[2021-12-29 07:18] Yedidyah27 commented on #708
Got it thanks

[2021-12-30 13:40] v1le opened #709 "Type conversion when using bodyAsJson"
### **Description:**
Wiremock changes data types in response fields.

**For example:**
I have following response template:
[code]
If I am making request with field that containts text then wiremock send my text back as string type as it should be:
`"text": "abc"` - > `"text": "abc"`
but if I am making request with field that contains string but it is a number then wiremock responses with the **Int

[2021-12-31 08:27] StefH commented on #709
Hello @v1le thank you for this issue.
I'll investigate.

(Note that I first thought that this could be related to Handlebars: https://dotnetfiddle.net/b3WCwx, but I think that's ok.)

[2022-01-03 16:03] StefH commented on #709
https://github.com/WireMock-Net/WireMock.Net/pull/710

[2022-01-03 17:26] StefH commented on #709
@v1le

Try preview version `1.4.30-ci-15745`.

(https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-01-03 20:01] StefH commented on #698
Hello @jantanis

The callbacks are **executed**, the breakpoint is triggered.

![image](https://user-images.githubusercontent.com/249938/147974334-6cdcd396-504c-43b2-84dc-82d50590952d.png)

However, I normally use code like this:
![image](https://user-images.githubusercontent.com/249938/147974581-1c757aaf-c69d-4a52-9937-502ec05cdd0c.png)

[2022-01-04 17:29] v1le commented on #709
@StefH
Hello, just tested it.
Tried some cases:
- Number in string - **OK**:
`"text": "1"` -> `"text": "1"`
- Just string - **OK**:
`"text": "sometext"` -> `"text": "sometext"`
- Number - **Not OK**:
`"text": 1` -> `"text": "1"` (expected `"text": 1`)

Well, bug is fixed, but I think would be good if these 3 cases would pass.

[2022-01-04 20:32] StefH commented on #709
@v1le
Thanks for testing.

However, I need to revert this fix because it's not correct.

The problem is that when `{{request.bodyAsJson.text}}` is transformed, the result is always a string. It does not matter if the the source was a string or an integer.
Then the string value `"1"` is parsed using `JToken.Parse`, and the result is an integer.
So the string `"1"` becomes an integer `1`.

The only

[2022-01-05 04:22] v1le commented on #709
Thank you for providing workaround - did not think about adding extra quotes.
I will use extra quotes on places where I am expecting string and will not where I am not.

[2022-01-05 07:14] StefH commented on #709
Closing this question.

https://github.com/WireMock-Net/WireMock.Net/pull/710

[2022-01-05 07:14] #709 closed

[2022-01-05 20:43] devmariodiaz opened #711 "CORS error trying to consume __admin/mappings"
Hello Stef,

Happy new year and hoping that you are doing well.

I'm trying to consume __admin/mappings to create new mappings using the method/verb POST and an application developed on React, but I'm getting an error when I send any request. CORS error.

![Screen Shot 2022-01-05 at 3 34 44 PM](https://user-images.githubusercontent.com/54611419/148286539-8ea7daa0-d9b6-4740-8a65-d68cc995fa0f.png)

[2022-01-06 09:48] StefH commented on #711
Hello @devmariodiaz,

CORS support is not enabled by default, you can enable it yourself when configuring WireMock Server, like:
[code]

See also https://github.com/WireMock-Net/WireMock.Net/blob/cors/examples/WireMock.Net.StandAlone.NETCoreApp/Program.cs#L38

[2022-01-06 12:08] devmariodiaz commented on #711
Thank you, Stef for your quick answer.

I tried to apply this configuration that you provided, but, it's still sending me the same error related to the CORS error.

We are using our app as a Standalone and as a Service, may be this be the problem?

<img width="825" alt="Screen Shot 2022-01-06 at 7 05 41 AM" src="https://user-images.githubusercontent.com/54611419/148380816-e940662d-e29b-4597-a944-e

[2022-01-06 13:21] StefH commented on #711
I forgot some code.

You need to use the same policy-name:

[code]

This works for me:
https://www.w3schools.com/xml/tryit.asp?filename=tryajax_get2
![image](https://user-images.githubusercontent.com/249938/148388805-99a22094-2fd5-4e8f-9399-431eec039ece.png)

-->

![image](https://user-images.githubusercontent.com/249938/148388833-8b93ad1c-d638-482e-a019-fe32be78552a.png)

calling `__amdin/mapping

[2022-01-06 14:14] devmariodiaz commented on #711
Thanks a lot for your help, Stef,

Now is working fine for me.

[2022-01-06 14:14] #711 closed

[2022-01-06 14:43] StefH commented on #711
https://github.com/WireMock-Net/WireMock.Net/wiki/Cors

[2022-01-06 14:45] StefH commented on #437
Hello @eli-darkly,

Is this issue still relevant, or can it be closed?

[2022-01-06 20:29] StefH commented on #709
@v1le

I see that Scriban does have the method `Evaluate` which will return the real value, so an int stays an int.

See this example:
https://dotnetfiddle.net/sZGbaX

However, currently I'm using the `Render` method, also for Scriban.

So in order to get this working, I need to add a new setting which can switch between Evaluate or Render and then you need to choose Scriban instead of Handlebars.

[2022-01-12 18:23] StefH commented on #711
@devmariodiaz
I decided to add Cors support in WireMock.Net server by using a setting `CorsPolicyOptions`.

Can you try preview (1.4.31-ci-15770) ?

[code]

[2022-01-12 18:28] devmariodiaz commented on #711
Thanks a lot Stef,

I will test this preview ASAP, I believe this is a great decision.

[2022-01-15 09:46] StefH commented on #711
@devmariodiaz
Did you have time to verify?

[2022-01-24 11:26] StefH commented on #711
https://github.com/WireMock-Net/WireMock.Net/pull/714

[2022-01-24 15:45] tjpeel opened #715 "Record request mapping outputs JsonMatcher with Patterns instead of Pattern"
Hi,

I collated the following example https://github.com/tjpeel/wiremock-question-jsonmatcher/blob/main/Program.cs#L23-L46

Please run the Program to see the issue.

The issue might be a misconfiguration on my part or be by design, or be a bug, which is why the example was made.

**_TLDR; when a request is recorded with a request body, the mapping includes a JsonMatcher with a Patterns property, y

[2022-01-24 18:57] StefH commented on #715
@tjpeel
Thank you for this issue with extended description.

I think I found some issues in the JsonMatcher, this cannot handle `Patterns` (yet).

For now I'll just change the **Save** code to output `pattern` instead of patterns`.

Can you try preview version 1.4.33-ci-15809 ?
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-01-24 21:09] tjpeel commented on #715
Thanks, sounds good. I’ll give it a try in the morning but I’m sure all
will be good if it defaults to save as Pattern 👍

On Mon, 24 Jan 2022 at 18:58, Stef Heyenrath ***@***.***>
wrote:

--
timpeel.com <http://www.timpeel.com> - freelance web developer
skype: tjpeel

[2022-01-25 21:18] matgenois opened #717 "Wiki JsonPartialWildcardMatcher is wrong spelled"
### Describe the bug
In the wiki, JsonPartialWildcardMatcher is badly spelled and leads to error. Wiki refer to JsonPartialWilcardMatcher (missing a d in Wildcard)

### Expected behavior:
Wiki should refer to JsonPartialWildcardMatcher as stated in code

### Test to reproduce
- 1 Try to use a json with JsonPartialWilcardMatcher and it won't work

Thanks

[2022-01-26 07:24] StefH commented on #717
Fixed

[2022-01-26 07:24] #717 closed

[2022-01-26 11:08] gpetrounrt opened #718 "Incorrect return value when using WireMock.Net with web service"
Clone https://github.com/gpetrounrt/WireMockWithVies and check https://github.com/gpetrounrt/WireMockWithVies/blob/main/WireMockWithVies/WireMockWithViesTest.cs
If I use "http://ec.europa.eu/taxation_customs/vies/services/checkVatService" as parameter in checkVatPortTypeClient to communicate with the corresponding WebService, I get back the expected exception message since the checkVatRequest inpu

[2022-01-26 13:52] matgenois commented on #717
Thank you!

[2022-01-26 15:26] StefH commented on #718
@gpetrounrt

The code should be like:
[code]

1. When calling using wiremock as a proxy, make sure that your client calls wiremock (and then wiremock will call the real URL)
2. And only provide the hostname, not the full url
2. In Unit tests, do not assign a fixed url to wiremock, you are not 100% sure that that url+port is free, better to let wiremock create a dynamic port.

[2022-01-27 06:09] gpetrounrt commented on #718
Thank you very much for the reply and the best practices information. I completely forgot that the Url should have the hostname. I have applied your suggestions and it works as expected.

[2022-01-27 06:09] #718 closed

[2022-01-27 10:35] StefH commented on #715
@tjpeel
Did you have time to verify ?

[2022-01-27 11:12] tjpeel commented on #715
Please forgive me @StefH I was offline for the past couple of days. I have just checked now and all looks good. Thanks!

[2022-01-27 11:33] StefH commented on #715
Hello @tjpeel, thanks for testing.

A new official NuGet version will be released shorty.

https://github.com/WireMock-Net/WireMock.Net/pull/716

[2022-01-27 11:33] #715 closed

[2022-02-04 17:50] MikeOnTea opened #719 "WireMock 1.4.34 does not work in a .net Framework project once AspNetCore.SignalR.Client is added as dependency"
Steps to reproduce:
Create an empty .net Framework 4.8 console app that just starts a WireMock Server and Thread.Sleep()s after that. You can connect to WireMock's Kestrel server via telnet fine.
Now add AspNetCore.SignalR.Client 6.0.1 as a new dependency to the project. After rebuilding and restarting, WireMock's Kestrel does not respond anymore.
This example works fine when done in .net 6.0, the

[2022-02-06 10:09] StefH commented on #701
@antero-lukkonen
is this what you mean?

[2022-02-07 02:04] bangush opened #720 "Response Header Content-Length not available when call HEAD Method"
Refer to the Previous Bug #136 and Bug #137. When call HEAD Method the Cotent-Length is not available.

[code]

[2022-02-07 07:45] antero-lukkonen commented on #701
I am so sorry for disappearing.
Yes indeed something like this. I found this in the codebase but it is internal.

Because i had been using WireMock previously in unit-testing context and had a use-case where i wanted it to run as a stand-alone server, i naturally started to describe my mock responses in the fluent syntax and then found that there is no way to configure a remote server using admin

[2022-02-07 08:21] bangush commented on #720
Hint: I randomly check multiple versions, and up-to WireMock.Net Ver 1.0.4.19 work with header contents and return the values as expected. but after that the process is broken.

{
var headers = new Dictionary<string, string>
        {
            { "Accept", "text/html" }, // OK
            { "Connection", "keep-alive" }, // OK
            { "Content-Length", responseBody.Length.ToString() }, // O

[2022-02-07 16:39] StefH commented on #720
@bangush
According to the specs, Head does not have a body.
So also not a content-length.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD

![image](https://user-images.githubusercontent.com/249938/152831601-b6d17260-6346-42a5-a0f0-e268642265d0.png)

[2022-02-08 19:09] MarwaAloui opened #721 "Response BodyAsJson with array does not work"
Hello, i want to configure the response of WirMock as BodyAsJson and inside i have an array of object
[code]

when i execute i have an error :
`{
    "Status": "Object serialized to Array. JObject instance expected."
}`

is it a bug?

[2022-02-09 07:08] StefH commented on #721
@MarwaAloui
I tried to reproduce your error:
[code]

However this works fine?
![image](https://user-images.githubusercontent.com/249938/153139302-0892498f-f9b0-4695-901e-ef57aeca04b7.png)

[2022-02-09 14:14] MarwaAloui commented on #721
Thank you for your quick response
i retried without  "UseTransformer": true, and it works well.

[2022-02-09 16:23] StefH commented on #721
I see.

I'll check the code.

[2022-02-09 18:13] StefH commented on #721
It's fixed.

A new version will be released soon.

[2022-02-09 18:13] #721 closed

[2022-02-10 16:20] Loydik opened #723 "Is there a way to store a HTTP Request Body as a file?"
Hi,

I am wondering how to store HTTP request body as a file using wiremock.net, and cannot figure it out. I have a service which uses another service to upload a file to Azure Datalake, lets call it FileUploader. It receives file contents in HTTP request body, and then it uploads it to Datalake. I would like to mock FileUploader, and instead of sending stuff to Datalake, the mock should take http

[2022-02-11 07:26] StefH commented on #723
@Loydik

A possible solution would be to run WireMock.Net in proxy mode https://github.com/WireMock-Net/WireMock.Net/wiki/Proxying

Another option would be to view the requests which are made to WireMock:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Server/WireMockServer.LogEntries.cs#L40

Notice that WireMock.Net is internally not the same as WireMock

[2022-02-11 10:44] ZenwalkerD opened #724 "Adding request-response logging to a file"
I am using wiremock.net in my .NET CORE 5 project as shown:

[code]

I want to have a log written to a file; whenever /hello path is hit by any client. How to do this? I searched wiki and also library; i could not find.

Thanks

[2022-02-11 11:39] StefH commented on #724
@ZenwalkerD
Currently there is no logic or callback functionality implemented which allows this.

BTW: your question looks a lot like this one: #723

[2022-02-13 19:01] robertmircea opened #725 "How to match number with JsonPartialWildcardMatcher"
I have the following body matcher in json mapping file and I would like to match any number for `price` field.

[code]
The file loading crashes with `File xyz.json could not be read. This file will be skipped.` probably because it is not a valid json file. If I specify:
[code]
no matching happens (`No matching mapping found`). Using `AllowPartialMapping=false`

[2022-02-14 10:02] Loydik commented on #723
@StefH thank you, that was helpful :)

[2022-02-14 19:57] StefH commented on #725
@robertmircea
No sorry.

This matcher can only match (at least for now) on string-values. I don't know yet how to implement this logic.

In the meantime, you could try to use the **csharp-code-csharpcodematcher**
[AutoGenerateBuilderSyntaxReceiver](https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching#csharp-code-csharpcodematcher)

[2022-02-17 21:28] jucamo8311 opened #726 "Wiremock - WatchStaticMappings only works until the first request is made"
### Describe the bug
I created a standalone console app to mock requests using WireMock.Net.StandAlone library , the configuration of the server is like below
[code]

### Expected behavior:
I believe the correct behavior is to detect changes on  **MappingsFolder** an update the mapping accordingly. In some way it seems to work before is made the first request, after that it’s not able to detect ch

[2022-02-18 14:20] StefH commented on #726
@jucamo8311
I see you have a custom logger : CustomLocalLogger, can you please check this logging and copy-past that here in this issue?

(A possible reason that it does not work is an invalid json file.)

See
- https://github.com/WireMock-Net/WireMock.Net/blob/ccd433b2025f19c4e586310c02f8d6128ae5974a/src/WireMock.Net/Server/WireMockServer.Admin.cs#L142
- https://github.com/WireMock-Net/WireMock.N

[2022-02-18 17:18] jucamo8311 commented on #726
I use **serilog** for the log (the serilog MinimumLevel is set to dedug in order to print everything ) , checking this log what I can see is

[code]
Here I change the  response in the mapping file **SalesforceCRM.json**, from this
[code]

- to this (the  only change is the value on  the paramater **BodyAsFile** from Test_Resp_OK_1.json to Test_Resp_OK__2.json )

[code]
After that I can see in the

[2022-02-18 21:52] StefH commented on #726
It's very strange.

In .NET old (4.5.2) and .NETCore 3.1, it works / worked fine.

For .NET 5.0, is does not always work correct.

I did a small fix, can you try preview:

1.4.35-ci-15874

https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-02-19 00:17] bfrggit opened #727 "Is this compatible with WireMock?"
Is this compatible with WireMock (https://wiremock.org/)? Briefly, I just replaced my Docker Compose's ref to the latter's image to this image and it does not pick up the mapping files I mounted to container.

My team has a cluster that uses this (WireMock.Net), however my service is Java and was using WireMock (org) and its Java SDK. If this is not compatible, does this have a Java SDK?

[2022-02-19 08:27] StefH commented on #727
Hello @bfrggit,

There is some limited support for the mapping from WireMock.org

See also these links:
- https://github.com/WireMock-Net/WireMock.Net/wiki/WireMock.Org
- #491

However it could be that your mapping does not work yet.

Please post the full mapping file here.

[2022-02-19 16:47] bfrggit commented on #727
@StefH The examples you show in the links look promising. However, before testing with the actual payload, we'd like to know if the following features are there or if WireMock.Net plans to stay consistent with WireMock.org --

- Auto loading mapping stubs from filesystem and using JSON files as response body. Also, if the directory structure of these are consistent with that of WireMock.org.
- Jav

[2022-02-19 16:47] bfrggit commented on #727
No longer urgent since we got a green light to also deploy WireMock.org in test cluster.

[2022-02-20 08:40] StefH commented on #727
If you still have time, can you please provide a mapping which you use now for wiremock.org ?
So that I can check if this works and fix the code from wiremock.net to also support that mapping.

[2022-02-20 08:41] StefH commented on #719
@MikeOnTea
Can you provide a full working example app?

[2022-02-20 12:22] StefH commented on #653
Hello @devmariodiaz

Did you find a solution for this?

[2022-02-20 12:23] StefH commented on #510
Hello @xadvfh,

Did you try the latest version yet?

[2022-02-20 12:24] StefH commented on #655
@bettyybei
Did you have time to verify this? Else I will close this question.

[2022-02-21 10:28] StefH commented on #697
https://github.com/WireMock-Net/WireMock.Net/pull/728

[2022-02-21 10:28] #697 closed

[2022-02-21 19:44] StefH commented on #726
Maybe related to?
https://github.com/WireMock-Net/WireMock.Net/pull/729

[2022-02-22 00:17] jucamo8311 commented on #726
I checked that build but it behaves the same, I starting to think that maybe it is not a problem of the library, more of .net core framework itself, because testing I noticed something even weirder. On Windows 10 if I execute my application on a console and end the application it is necessary to close the windwos console itself in order to take the changes I made on the mapping file, which made no

[2022-02-23 16:52] MikeOnTea commented on #719
[SignalRWireMock.zip](https://github.com/WireMock-Net/WireMock.Net/files/8126205/SignalRWireMock.zip)
Yep, here's a minimal zipped project. Notice that i don't actually set up wiremock because it's not required to reproduce the problem. Kestrel just hangs on connection with signalr present, while it responds just fine to telnet requests if you remove the signalR reference and rebuild.

[2022-02-23 17:14] bfrggit commented on #727
@StefH The truth is that it may or may not be related to mapping itself... Could be just location of the files but I did not spend much time digging into it. I will quickly check it today.

[2022-02-23 17:31] bfrggit commented on #727
@StefH However, we'd still like to know if the following features are supported or on the roadmap --

- Auto loading mapping stubs from filesystem and using JSON files as response body. Also, if the directory structure of these are consistent with that of WireMock.org.
- Java SDK, or if it is compatible with the WireMock.org Java SDK, which means the APIs must be consistent.
- Global response temp

[2022-02-23 19:18] bfrggit commented on #727
First of all, according to https://github.com/WireMock-Net/WireMock.Net/wiki/Request-Matching, the JSON payload seems to use UpperCamelCase for property naming but I think WireMock.org uses snake_case?

[2022-02-23 19:46] bfrggit commented on #727
Well I tried today but could not figure out where I should put the `mappings` folder and `__files` folder in the container (Linux) to let it pick them up automatically. Will stop trying until I hear from you about the features above.

[2022-02-25 16:07] StefH commented on #726
New version (x.x.x.36) will be available on NuGet within some hours.

Maybe can you retest that version.

And maybe did you try this:
https://github.com/WireMock-Net/WireMock.Net/blob/master/src/WireMock.Net/Settings/WireMockServerSettings.cs#L44

[2022-02-26 09:32] StefH commented on #727
## Should work / same
- Auto loading mapping stubs from filesystem and using JSON files as response body.
- Also, if the directory structure of these are consistent with that of WireMock.org.
- Global response templating, so we can have template fields in the JSON file used for responses. --> https://github.com/WireMock-Net/WireMock.Net/wiki/Response-Templating
- Multi-stubbing (e.g., general vs.

[2022-02-27 19:21] StefH commented on #719
@MikeOnTea
I noticed that when I run WireMock.Net on port 12345, it fails to respond. So I usually use 9091 or 9090 or something like that.

And I checked signalr, if I use version 5.0.14, it seems to work fine.

But I don't think I can solve your issue.

I would suggest to upgrade your project to .net 6 instead of full 4,8 or just include signalr version 5.0.14

[2022-02-27 19:22] #698 closed

[2022-02-27 19:22] StefH commented on #698
Dear @jantanis, I'm closing this now.
Please reply if you still need help.

[2022-02-27 19:23] StefH commented on #693
@wirtual11 and @suszi88
It is possible to run WireMock.Net at `https`.

Did you check this page?
https://github.com/WireMock-Net/WireMock.Net/wiki/Using-HTTPS-%28SSL%29

[2022-02-27 19:24] StefH commented on #510
@xadvfh : can you please check the latest version ?

[2022-02-27 19:32] MikeOnTea commented on #719
I thought that maybe it could be easy to solve by upgrading some dependencies, but i guess we will be able to work around this issue by better splitting up our projects until we can fully migrate to .net 6.
Thanks for looking into it!

[2022-02-27 19:32] #719 closed

[2022-02-27 19:38] StefH commented on #674
@emygg84 Did you have time yet to get some more details on this?

[2022-02-28 07:43] xamadev commented on #510
Hi @StefH, sorry for my late reply. I will try it this week and tell you the results

[2022-02-28 08:09] arihantjain0894 opened #731 "No password for custom certificate"
Hi,
I have a scenario where my custom certificate has no password. I am not able to use it, i guess because of the below code.

[code]
Any suggestion?

[2022-02-28 08:37] StefH commented on #731
Hi @arihantjain0894,

Good point.

I think that a simple solution would be to change it to:
[code]
But also I need to add some logic to detect empty pwd.

Which means that if you provide an empty string `""` as X509CertificatePassword, this `IsDefined ` will return `true`.

OR

I could remove the check for X509CertificatePassword here, But also I need to add some logic to detect empty pwd.

[2022-02-28 09:04] StefH commented on #731
@arihantjain0894
Can you try preview version `1.4.36-ci-15933`? (https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions)

[2022-02-28 21:36] jucamo8311 commented on #726
I checked it, but nothing change. It doesn't take the mapping files update. Also I made a test with Framework 4.7.2 and like you said It works.  So my conclucion is that something related to .net core framework doesnt work as expected

[2022-02-28 21:46] StefH commented on #726
Maybe related to this?

https://www.c-sharpcorner.com/blogs/using-filesystemwatcher-with-net-core-30

[2022-03-01 00:37] arihantjain0894 commented on #731
@StefH , thanks for the fix. Its working.
Should we remove entire "!string.IsNullOrEmpty(X509CertificatePassword)" or change the X509CertificatePassword != null as suggested earlier?
https://github.com/WireMock-Net/WireMock.Net/pull/732/commits/7f57d0ddbe0d8aa14cd499092f38dce2bd795f57

[2022-03-01 07:54] StefH commented on #726
@jucamo8311
I think I found it.

Can you try preview:
1.4.36-ci-15935

[2022-03-01 07:57] StefH commented on #731
The exception will be like:
`"X509StoreName and X509StoreLocation OR X509CertificateFilePath are mandatory. Note that X509CertificatePassword is optional.`

I think this fine?

[2022-03-01 08:58] arihantjain0894 commented on #731
My initial thought was to let "X509CertificatePassword" still be mandatory, but including string.Empty as one of the valid password. If we are making Password as optional altogether then we are good.

[2022-03-01 17:49] jucamo8311 commented on #726
Yes , that does it ,

Tested with .Net core 6.0 win 10 x64.
Tested with .Net core 6.0 win 2012 R2 x64.

[2022-03-01 18:45] StefH commented on #726
This bug has been present for some time now.

Thanks for finding this!

[2022-03-01 18:45] #726 closed

[2022-03-01 18:46] StefH commented on #731
OK

A new version will be released tomorrow.

[2022-03-01 18:46] StefH commented on #731
https://github.com/WireMock-Net/WireMock.Net/pull/732

[2022-03-01 18:46] #731 closed

[2022-03-02 17:23] #727 closed

[2022-03-03 14:44] StefH commented on #503
@cezarypiatekGC
I close this issue.

In case you still have questions, just create a new issue.

[2022-03-03 14:44] #503 closed

[2022-03-03 14:44] #526 closed

[2022-03-04 19:38] RomanPoschl opened #734 "Change static mappings location"
Hello, I have integrated WireMock.Net in my Xamarin UI tests. I wanna ask if it is possible to tell for example LoadStaticMapping from this folder. Or way how to efficiently transfer from JSON files to c# methods.

Thank you

[2022-03-09 13:39] PrzemekScott opened #735 "How to load 'ProxyAndRecordSettings' from 'appsettings.json' ?"
I've experimented with WM stand alone version locally, with such settings:

![image](https://user-images.githubusercontent.com/88881374/157453286-17eb7542-3862-4950-86fa-14dd0decdaba.png)

Now wanted to experiment with WM as web app and then set it on Azure, but not sure how to implement 'ProxyAndRecordSetting' in appsettings file. When I have it like below:
![image](https://user-images.githubuser

[2022-03-09 15:21] StefH commented on #735
@PrzemekScott
I don't think this is possible.

- https://stackoverflow.com/questions/70830418/configuration-interface-inside-an-inteface-in-appsettings-json
- https://stackoverflow.com/questions/59124184/options-pattern-interface-abstract-property

I'll investigate why I decided to use an interface instead of a class, and see if I can remove the interface.

[2022-03-09 17:12] StefH commented on #735
Only workaround for now is to split the settings in two sections:

[code]

And then do two calls:
1. GetSection as you have now on WireMockServerSettings
2. GetSection on ProxyAndRecordSettings
3. Combine the outcome from step 2 in the resolved object from step 1

[2022-03-09 19:50] StefH commented on #735
@PrzemekScott

I've created a preview version which only has classes for settings; no interfaces anymore.

Preview version = `1.4.37-ci-15956`.

See https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

https://github.com/WireMock-Net/WireMock.Net/pull/736